@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 1222px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 1.3rem;
	text-align: center;
  //----------------------------------------------
  @include respond-to(767) {
    min-width: 100%;
    font-size: 1.2rem;
  }
  //----------------------------------------------
}

/*------------------------------------------------
  layout container
------------------------------------------------*/
.l-container {
  display: block;
  width: 1170px;
  height: auto;
  margin: 0 auto;
  position: relative;
  @include respond-to(767) { width: 100%; }
}

/*------------------------------------------------
  layout menu
------------------------------------------------*/
.l-menu {
  position: relative;
  //----------------------------------------------
  &__top {
    margin-top: 15px;
    //--------------------------------------------
    li{
      //------------------------------------------
      &:first-child {
        a { padding: 5px 34px; }
      }
      //------------------------------------------
      a {
        padding: 5px 27px;
      }
      //------------------------------------------
    }
    //--------------------------------------------
  }
  //----------------------------------------------
}

/*------------------------------------------------
  layout banner
------------------------------------------------*/
.l-banner1 {
  //---------------------------------------------
  &__top1 {
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
    //-------------------------------------------
    @include respond-to(767) { top: 13%; }
    //-------------------------------------------
  }
  //---------------------------------------------
  .c-banner1__img2 {
    margin-top: 31px;
    //-------------------------------------------
    @include respond-to(767) { margin-top: 12px; }
    //-------------------------------------------
  }
  //---------------------------------------------
}

/*------------------------------------------------
  layout main
------------------------------------------------*/
.l-main {
  display: block;
  position: relative;
}

/*------------------------------------------------
  layout list1
------------------------------------------------*/
.l-list1 {
  //----------------------------------------------
  &__top {
    //--------------------------------------------
    .c-list1__card1 {
      margin-bottom: 37px;
      //------------------------------------------
      @include respond-to(767) {margin-bottom: 20px;}
      //------------------------------------------
    }
    //--------------------------------------------
  }
  //----------------------------------------------
}

/*------------------------------------------------
  layout sidebar
------------------------------------------------*/
.l-sidebar {
  position: relative;
  //-------------------------------------------
  .c-sidebar__box2 { margin-top: 28px; }
  //-------------------------------------------
}

@keyframes borderEffect {
  0% { height: 0; }
  100% { height: 100%; }
}