@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.c-btn1 {
  position: relative;
  display: block;
  //------------------------------------------
  a { display: block; }
  //------------------------------------------
}

/*--------------------------------------------------
  Component show following divice size.
--------------------------------------------------*/
//show on pc-------------------------------------
.showPC {
  //-------------------------------------------
  @include respond-to(768) { display: none; }
  //-------------------------------------------
}

//show on smartphone---------------------------
.showSP {
  display: none;
  //-----------------------------------
  @include respond-to(768) { display: block; }
  //---------------------------------------
  &--inline {
    display: none;
    //-----------------------------------
    @include respond-to(768) { display: inline-block; }
  }
  //---------------------------------------
}

/*-----------------------------------------
  menu Smartphone
-----------------------------------------*/
.c {
  //---------------------------------------
  &-menuSP {
    box-sizing: border-box;
    position: relative;
    width: 64px;
    padding-top: 4px;
    cursor: pointer;
    background: #3b3737;
    border-right: 1px solid #9a9898;
    //-------------------------------------
    &__1, &__2, &__3 {
      width: 34px;
      height: 2px;
      background: #fff;
      margin: 9px auto auto;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
    //-------------------------------------
  }
  //---------------------------------------
  &-menulistSP {
    top: 74px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    display: none;
    background: rgba(144, 140, 134, 0.94);
    z-index: 999;
    //-------------------------------------
    li {
      position: relative;
      border-top: 1px solid #ccc;
      //-----------------------------------
      &:first-child { border-top: none; }
      //-----------------------------------
    }
    //-------------------------------------
    a {
      position: relative;
      text-decoration: none;
      display: block;
      padding: 15px 0;
      text-align: left;
      color: #000;
      font-size: 1.4rem;
      //-----------------------------------
      .fa-chevron-down {
        position: absolute;
        top: 20px;
        right: 7px;
        font-size: 1.1rem;
        color: $white;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
      }
      //------------------------------------
      .offSub { transform: rotate(-180deg); }
      //-----------------------------------
    }
    //-------------------------------------
    .form-box1 {
      position: relative;
      //------------------------------------
      .sub-box1 {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 8px;
      }
      //------------------------------------
      .list-icon {
        display: block;
        position: relative;
        //----------------------------------
        ul {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        //----------------------------------
        a {
          color: #ccc;
          font-size: 1.4rem;
          display: block;
          margin-right: 30px;
        }
        //----------------------------------
        li{
          border-top: none;
          //--------------------------------
          :last-child {
            a {margin-right: 39px;}
          }
          //--------------------------------
        }
        //----------------------------------
        .icon-gog {
          img {vertical-align: middle;}
        }
        //----------------------------------
      }
      //------------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
}


/*-----------------------------------------
  menu responsive
-----------------------------------------*/
.is-open {
  transition: all 0.5s;
  .c-menuSP__1 {transform: rotate(45deg) translate(8px, 9px);}
  .c-menuSP__2 {opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(6px, -8px);}
}

/*------------------------------------------
  header component
------------------------------------------*/
.c-header {
  position: relative;
  display: block;
  //----------------------------------------
  &__pastry1 {
    display: block;
    position: relative;
    background: #c7b299;
    font-size: 1.2rem;
    color: #867566;
    //--------------------------------------
    .pastry__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    //--------------------------------------
    .pastry-box1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      //------------------------------------
      @include respond-to(767) { padding: 5px 5px; }
      //------------------------------------
      .pastry-obj1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        //----------------------------------
        .pastry-link1 {
          //--------------------------------
          a {
            display: block;
            padding: 9px 2px 9px 15px;
            color: #928170;
            text-align: left;
            text-decoration: none;
          }
          //--------------------------------
          .fas { padding: 0 10px; }
          //--------------------------------
        }
        //----------------------------------
      }
      //------------------------------------
      .pastry-title1 {
        margin-right: 21px;
        //----------------------------------
        @include respond-to(767) {
          margin-right: 0;
          font-size: 1.1rem;
        }
        //----------------------------------
      }
      //------------------------------------
    }
    //--------------------------------------
  }
  //----------------------------------------
  &__pastry2 {
    display: block;
    position: relative;
    padding: 7px 0 28px;
    //--------------------------------------
    @include respond-to(767) { padding: 10px 0 20px; }
    //--------------------------------------
    .pastry2__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    //--------------------------------------
    .logo-box {
      display: block;
      position: relative;
      margin-left: 5px;
      //------------------------------------
      @include respond-to(767) {margin: 0 auto;}
      //------------------------------------
      .logo-text {
        padding: 4px 0;
        color: #fff;
        font-weight: bold;
        background: #60cfc6;
        margin-top: 8px;
      }
      //------------------------------------
      .logo-img {
        display: block;
        //----------------------------------
        img {
          @include respond-to(767) {width: 250px;}
        }
        //----------------------------------
      }
      //------------------------------------
    }
    //--------------------------------------
    .pastry2-box1 {
      position: relative;
      width: 68%;
      //------------------------------------
      .sub-box1 {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 29px;
        border-bottom: 1px solid #ebebeb;
      }
      //------------------------------------
      .list-icon {
        display: block;
        position: relative;
        top: 29px;
        //----------------------------------
        ul {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        //----------------------------------
        a {
          color: #ccc;
          font-size: 1.4rem;
          display: block;
          margin-right: 56px;
        }
        //----------------------------------
        li:last-child {
          a {margin-right: 39px;}
        }
        //----------------------------------
        .icon-gog {
          img {vertical-align: middle;}
        }
        //----------------------------------
      }
      //------------------------------------
      .search-box {
        position: relative;
        top: 15px;
        //----------------------------------
        input[type="text"] {
          box-sizing: border-box;
          width: 300px;
          height: 36px;
          padding: 8px 35px 8px 8px;
          border: 1px solid #ebebeb;
          color: $black;
          background: url(../img/search-icon.png) no-repeat right 13px top 9px;
          &::placeholder { color: #dbdbdb; }
        }
        //----------------------------------
      }
      //------------------------------------
    }
    //--------------------------------------
  }
  //----------------------------------------
}

/*------------------------------------------
  items component
------------------------------------------*/
.c-pastry__items1 {
  //------------------------------------
  .pastry-title1 {
    position: relative;
    left: 6px;
    //----------------------------------
    @include respond-to(768) { left: 0; }
    //----------------------------------
    .icon-basket {
      position: relative;
      top: -1px;
      margin-right: 3px;
      @include respond-to(767) { top: 1px; }
    }
    //----------------------------------
    a {
      text-align: left;
      color: #806f61;
      text-decoration: none;   
      @include respond-to(768) { color: #603b1c; }     
    }
    //----------------------------------
    .item {
      position: relative;
      left: 15px;
      color: #fff;
      text-align: left;
      text-transform: uppercase;
      @include respond-to(767) { left: 0; }
      //--------------------------------
      .fas {
        margin-left: 10px;
        color: #736357;
      }
      //--------------------------------
    }
    //----------------------------------
  }
  //------------------------------------
}

/*------------------------------------------
  header component (show the section header in SP)
------------------------------------------*/
.c-headerSP {
  //-------------------------------------
  .inner {
    display: flex;
    justify-content: space-between;
    background: #3b3737;
  }
  //-------------------------------------
  .list-action {
    display: flex;
    justify-content: flex-start;
    //-----------------------------------
    .basket {
      position: relative;
      //---------------------------------
      img {
        width: 40px;
        height: 40px;
      }
      //---------------------------------
      p {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        padding: 0px;
        font-size: 1.4rem;
        margin: 0 auto 13px;
        text-align: center;
        font-weight: bold;
        color: #fff;
        background: #434343;
        border-radius: 33px;
        //-------------------------------
      }
      //---------------------------------
    }
    //-----------------------------------
    .btn-search {
      background: #3b3737;
      box-sizing: border-box;
      cursor: pointer;
      transition: opacity 0.1s ease;
      background-position: right 10px top 10px;
      //-------------------------------
      &:hover { opacity: 0.8; }
      //-------------------------------
      .fa-search {
        font-size: 3.0rem;
        color: $white;
        //-----------------------------
      }
      //-------------------------------
    }
    //-----------------------------------
    .list-sub1 {
      padding: 10px 16px;
      border-left: 1px solid #9a9898;
      cursor: pointer;
    }
    //-----------------------------------
  }
  //-------------------------------------
  .logo1 {
    width: 73%;
    margin: 35px auto 20px;
    img {width: 100%;}
  }
  //-------------------------------------
  .form-search {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 20px 20px;
    display: none;
    z-index: 999;
    background: rgba(144, 140, 134, 0.94);
    // .form-box1 {
    //   position: relative;
    //   //------------------------------------
    //   .sub-box1 {
    //     display: flex;
    //     justify-content: flex-start;
    //     padding-bottom: 8px;
    //   }
    //   //------------------------------------
    //   .list-icon {
    //     display: block;
    //     position: relative;
    //     //----------------------------------
    //     ul {
    //       display: flex;
    //       justify-content: flex-start;
    //       align-items: center;
    //     }
    //     //----------------------------------
    //     a {
    //       color: #ccc;
    //       font-size: 1.4rem;
    //       display: block;
    //       margin-right: 30px;
    //     }
    //     //----------------------------------
    //     li:last-child {
    //       a {margin-right: 39px;}
    //     }
    //     //----------------------------------
    //     .icon-gog {
    //       img {vertical-align: middle;}
    //     }
    //     //----------------------------------
    //   }
    //   //------------------------------------
    // }
    //-----------------------------------
    .form-box2 { display: flex; }
    //-----------------------------------
    input {
      width: 90%;
      padding: 10px 5px;
      font-size: 1.3rem;
    }
    //-----------------------------------
    .btn-search {
      width: 10%;
      min-width: 50px;
      background: #4e9574;
      color: #fff;
    }
    //-----------------------------------
  }
  //-------------------------------------
}

/*------------------------------------------
  Menu component
------------------------------------------*/
.c-menu {
  display: block;
  position: relative;
  //----------------------------------------
  ul {
    display: flex;
    justify-content: flex-start;
  }
  //----------------------------------------
  li{
    //--------------------------------------
    a {
      position: relative;
      display: block;
      font-size: 1.3rem;
      text-align: center;
      text-decoration: none;
      color: #000;
      //------------------------------------
      &:after {
        content: "";
        width: 1px;
        height: 8px;
        display: block;
        position: absolute;
        background: #ebebeb;
        top: 43%;
        right: 0;
      }
      //------------------------------------
    }
    //--------------------------------------
    &:hover {
      //------------------------------------
      a {
        color: #c7b299;
        //----------------------------------
        &:after {
          top: 0!important;
          height: 100%;
          background: #c7b299!important;
          animation: borderEffect ease 1s;
        }
        //----------------------------------
        &:before {
          content: "";
          width: 1px;
          height: 100%;
          display: block;
          position: absolute;
          background: #c7b299;
          top: 0;
          left: -1px;
          animation: borderEffect ease 1s;
        }
        //----------------------------------
      }
      //------------------------------------
    }
    //--------------------------------------
  }
  //----------------------------------------
  .active {
    //----------------------------------------
    a {
      color: #c7b299;
      //--------------------------------------
      &:before {
        content: "";
        width: 1px;
        height: 100%;
        display: block;
        position: absolute;
        background: #c7b299;
        top: 0;
        left: 0;
      }
      //--------------------------------------
      &:after {
        content: "";
        width: 1px;
        height: 100%!important;
        top: 0!important;
        display: block;
        position: absolute;
        right: 0;
        background: #c7b299!important;
      }
      //--------------------------------------
    }
    //----------------------------------------
  }
  //----------------------------------------
}

/*------------------------------------------
  MainVisual component
------------------------------------------*/
.mainVisual {
  position: relative;
  display: block;
}

/*------------------------------------------
  slider component
------------------------------------------*/
.c-slider1 {
  display: block;
  position: relative;
  //----------------------------------------
  &__img1 {
    img {
      width: 100%;
      height: 100%;
    }
  }
  //----------------------------------------
  .slick-prev {
    position: absolute;
    left: 8%;
    top: 50%;
    cursor: pointer;
    background: none;
    z-index: 1;
    //--------------------------------------
    img { @include respond-to(767) { width: 12px } }
    //--------------------------------------
  }
  //----------------------------------------
  .slick-next {
    position: absolute;
    right: 8%;
    top: 50%;
    cursor: pointer;
    background: none;
    z-index: 1;
    //--------------------------------------
    img { @include respond-to(767) { width: 12px } }
    //--------------------------------------
  }
  //----------------------------------------
  .slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    //--------------------------------------
    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      //------------------------------------
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        //----------------------------------
        &:before {
          font-size: 6px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 5px;
          content: '';
          background: none;
          text-align: center;
          border: 1px solid #fff;
          border-radius: 25px;
        }
        //----------------------------------
      }
      //------------------------------------
    }
    //--------------------------------------
    .slick-active {
      button:before {
        font-family: "Font Awesome 5 Free";
        content: "\f118";
        font-size: 1.3rem;
        color: #fff;
        border: none;
        top: -6px;
      }
    }
    //--------------------------------------
  }
  //----------------------------------------
  .slick-track {
    height: 410px;
    //--------------------------------------
    @include respond-to(767) {height: 165px;}
    //--------------------------------------
  }
  //----------------------------------------
}

/*------------------------------------------
  banner component
------------------------------------------*/
.c-banner1 {
  display: block;
  position: relative;
  //----------------------------------------
  &__img1 {
    //--------------------------------------
    @include respond-to(767) {
      width: 89%;
      max-width: 283px;
      margin: 0 auto;
    }
    //--------------------------------------
    img {
      //--------------------------------------
      @include respond-to(767) { width: 100%; }
      //--------------------------------------
    }
    //--------------------------------------
  }
  //----------------------------------------
  &__img2 {
    //--------------------------------------
    @include respond-to(767) {
      width: 66%;
      margin: 0 auto;
      max-width: 228px;
    }
    //--------------------------------------
    img {
      //------------------------------------
      @include respond-to(767) { width: 100%; }
      //------------------------------------
    }
    //--------------------------------------
  }
  //----------------------------------------
}

/*------------------------------------------
  list1 component
------------------------------------------*/
/*-------------------------------------------
 list1
-------------------------------------------*/
.c-list1 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  //------------------------------------------
  &__card1 {
    box-sizing: border-box;
    width: 272px;
    height: auto;
    margin-left: 28px;
    cursor: pointer;
    transition: all ease 0.5s;
    //----------------------------------------
    @include respond-to(767) {
      width: 50%;
      min-width: 260px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 10px;
    }
    //----------------------------------------
    &:nth-child(3n + 1) {
      margin-left: 0;
      //--------------------------------------
      @include respond-to(767) { margin-left: auto; }
      //--------------------------------------
    }
    //----------------------------------------
    &:hover {opacity: 0.7;}
    //----------------------------------------
  }
  //------------------------------------------
  &__img1 {
    position: relative;
    //----------------------------------------
    img { width: 100%; }
    //----------------------------------------
  }
  //------------------------------------------
  &__info1 {
    padding: 20px 0;
    text-align: center;
    line-height: 1.6;
    //----------------------------------------
    @include respond-to(767) {
      padding: 12px 0;
      line-height: 1.5;
    }
    //----------------------------------------
    h1, h2, h3, h4, h5, h6 {
      margin-top: 5px;
      color: #c7b299;
      font-size: 1.6rem;
      //--------------------------------------
      @include respond-to(767) { font-size: 1.4rem; }
      //--------------------------------------
    }
    //----------------------------------------
    .line-text1 {
      font-weight: 500;
      text-decoration: line-through;
    }
    //----------------------------------------
    .price-text1 {
      font-weight: 500;
      font-size: 1.2rem;
      //--------------------------------------
      @include respond-to(767) { font-size: 1.0rem; }
      //--------------------------------------
    }
    //----------------------------------------
  }
  //------------------------------------------
  .hidden { display: none; }
  //------------------------------------------
}

/*-------------------------------------------
 list2
-------------------------------------------*/
.c-list2 {
  display: flex;
  justify-content: space-between;
  //------------------------------------------
  @include respond-to(767) { display: block; }
  //------------------------------------------
  &__card {
    box-sizing: border-box;
    width: 370px;
    height: auto;
    //----------------------------------------
    @include respond-to(767) { width: auto; }
    //----------------------------------------
  }
  //------------------------------------------
  &__img1 {
    display: block;
    transition: all ease-in-out 0.5s;
    //----------------------------------------
    &:hover { opacity: 0.8; }
    //----------------------------------------
    img { width: 100%; }
    //----------------------------------------
  }
  //------------------------------------------
  &__info1 {
    display: block;
    position: relative;
    text-align: left;
    padding: 21px 0 15px;
    //----------------------------------------
    @include respond-to(767) { padding: 14px 0 10px; }
    //----------------------------------------
    .title1 {
      //--------------------------------------
      h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
      }
      //--------------------------------------
    }
    //----------------------------------------
    .text1 {
      padding: 7px 0 16px;
      color: #ded3c6;
      word-spacing: 2px;
      //--------------------------------------
      .img-icon1 {
        position: relative;
        top: 4px;
      }
      //--------------------------------------
      .text1-mr1 {
        margin-left: 9px;
        //------------------------------------
        @include respond-to(767) { margin-left: 2px; }
        //------------------------------------
      }
      //--------------------------------------
      .text1-mr2 { margin-left: 9px; }
      //--------------------------------------
      .text1-mr3 {
        margin-left: 15px;
        //------------------------------------
        @include respond-to(767) { margin-left: 2px; }
        //------------------------------------
      }
      //--------------------------------------
      span { color: #c4c4c4; }
      //--------------------------------------
    }
    //----------------------------------------
    .text2 {
      padding-bottom: 20px;
      //--------------------------------------
      @include respond-to(767) {padding-bottom: 15px;}
      //--------------------------------------
    }
    //----------------------------------------
    .read-more {
      display: inline-block;
      transition: all ease-in-out 0.5s;
      //--------------------------------------
      &:hover { opacity: 0.6; }
      //--------------------------------------
    }
    //----------------------------------------
  }
  //------------------------------------------
}

/*--------------------------------------------
  sidebar
--------------------------------------------*/
.c-sidebar {
  display: block;
  position: relative;
  //-------------------------------------------
  &__box1 {
    position: relative;
    display: block;
    text-align: left;
    border: 1px solid #ebebeb;
    border-bottom: none;
    //-----------------------------------------
    .box1__title1 {
      display: block;
      padding: 26px 30px;
      background: #362f2d;
      //---------------------------------------
      @include respond-to(767) { padding: 15px 15px; }
      //---------------------------------------
      h2 {
        color: #fff;
        font-size: 1.8rem;
        font-weight: 500;
        //-------------------------------------
        @include respond-to(767) { font-size: 1.5rem; }
        //-------------------------------------
      }
      //---------------------------------------
    }
    //-----------------------------------------
    .box1__content {
      display: block;
      position: relative;
    }
    //-----------------------------------------
    .box1__obj1 {
      position: relative;
      border-bottom: 1px solid #ebebeb;
      //---------------------------------------
      .title1 {
        position: relative;
        padding: 23px 30px 23px;
        cursor: pointer;
        //-------------------------------------
        @include respond-to(767) {
          padding: 14px 18px;
        }
        //-------------------------------------
        h3 {
          font-size: 1.3rem;
          font-weight: 500;
        }
        //-------------------------------------
        .fa-chevron-down {
          position: absolute;
          right: 26px;
          top: 41%;
          font-size: 0.9rem;
        }
        //-------------------------------------
      }
      //---------------------------------------
      .list1 {
        position: relative;
        display: none;
        padding: 0 0 28px 50px;
        //-------------------------------------
        @include respond-to(767) {
          padding: 0 0 18px 35px;
        }
        //-------------------------------------
        a {
          text-align: left;
          text-decoration: none;
          color: #c4c4c4;
          display: block;
        }
        //-------------------------------------
        li:not(:last-child) {
          margin-bottom: 3px;
        }
        //-------------------------------------
        li:hover {
          a { color: #000; }
        }
        //-------------------------------------
      }
      //---------------------------------------
    }
    //-----------------------------------------
  }
  //-------------------------------------------
  &__box2 {
    display: block;
    position: relative;
    //-----------------------------------------
    .img { img { width: 100%; } }
    //-----------------------------------------
    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 38%;
      text-align: center;
      //---------------------------------------
      &__img1 {
        img { @include respond-to(767) { width: 180px; } }
      }
      //---------------------------------------
      &__btn1 {
        display: inline-block;
        cursor: pointer;
        margin-top: 12px;
        transition: all ease 0.5s;
        //-------------------------------------
        &:hover {opacity: 0.8;}
        //-------------------------------------
        img { @include respond-to(767) { width: 170px; } }
        //-------------------------------------
      }
      //---------------------------------------
    }
    //-----------------------------------------
  }
  //-------------------------------------------
}

/*--------------------------------------------
  footer
--------------------------------------------*/
.c-footer {
  position: relative;
  display: block;
  //------------------------------------------
  &__list1 {
    display: flex;
    justify-content: flex-start;
    //----------------------------------------
    @include respond-to(767) { display: block; }
    //----------------------------------------
    .list1__card1 {
      display: block;
      box-sizing: border-box;
      width: 25%;
      text-align: left;
      color: #948171;
      //----------------------------------------
      @include respond-to(767) {
        width: auto;
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: 1px solid #948171;
      }
      //--------------------------------------
      &:last-child {
        @include respond-to(767) { margin-bottom: 0; }
      }
      //--------------------------------------
      .sub__list1 {
        //------------------------------------
        li { margin-bottom: 8px; }
        //------------------------------------
        a {
          text-align: left;
          text-decoration: none;
          color: #948171;
          //----------------------------------
          &:hover {text-decoration: underline;}
          //----------------------------------
          @include respond-to(767) { display: block; }
          //----------------------------------
        }
        //------------------------------------
      }
      //--------------------------------------
    }
    //----------------------------------------
    .list1__title1 {
      position: relative;
      margin-bottom: 35px;
      //--------------------------------------
      @include respond-to(767) { margin-bottom: 15px; }
      //--------------------------------------
      h2 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        padding: 9px 14px 9px;
        border-left: 1px solid #c7b299;
        //------------------------------------
        @include respond-to(767) { padding: 5px 10px 5px; }
        //------------------------------------
      }
      //--------------------------------------
    }
    //----------------------------------------
    .list1__content1 {
      line-height: 1.7;
      //--------------------------------------
      @include respond-to(767) { line-height: 1.5; }
      //--------------------------------------
      p:not(:last-child) {
        margin-bottom: 19px;
        //------------------------------------
        @include respond-to(767) { margin-bottom: 8px; }
        //------------------------------------
      }
      //--------------------------------------
    }
    //----------------------------------------
    .content-pl1 {
      padding-right: 21px;
      //--------------------------------------
      @include respond-to(767) { padding: 0 0 15px; }
    }
    //----------------------------------------
    .card1-pl1 {
      padding-left: 7px;
      //----------------------------------------
      @include respond-to(767) { padding-left: 0; }
      //--------------------------------------
    }
    //----------------------------------------
    .card1-pl2 {
      padding-left: 15px;
      //----------------------------------------
      @include respond-to(767) { padding-left: 0; }
      //--------------------------------------
    }
    //----------------------------------------
    .card1-pl3 {
      padding-left: 22px;
      //----------------------------------------
      @include respond-to(767) { padding-left: 0; }
      //--------------------------------------
    }
    //----------------------------------------
    .form-email {
      display: block;
      position: relative;
      margin-top: 22px;
      //--------------------------------------
      @include respond-to(767) { margin-top: 18px; }
      //--------------------------------------
      button {
        width: 100%;
        height: 37px;
        box-sizing: border-box;
        text-align: left;
        padding: 14px 23px;
        background: url(../img/icon.png) no-repeat top 12px right 15px;
        background-color: #534741;
        cursor: pointer;
        //------------------------------------
        &:hover {opacity: 0.8;}
        //------------------------------------
      }
      //--------------------------------------
    }
    //----------------------------------------
  }
  //------------------------------------------
  &__box1 {
    position: relative;
    display: block;
    background: #362f2d;
    padding: 73px 0 106px;
    //----------------------------------------
    @include respond-to(767) { padding: 40px 20px; }
    //----------------------------------------
  }
  //------------------------------------------
  &__box2 {
    position: relative;
    display: block;
    background: #534741;
  }
  //------------------------------------------
  &__plus {
    width: 10px;
    height: 10px;
    top: 2px;
    right: 0;
    cursor: pointer;
    position: absolute;
    transition: all 0.5s;
    //------------------------------------
    .plus__1, .plus__2 {
      width: 100%;
      height: 2px;
      background: #fff;
      margin: 6px auto;
      backface-visibility: hidden;
      transition: all ease 0.5s;
    }
    //-------------------------------------
    .plus__1 { transform: rotate(90deg); }
    //-------------------------------------
    .plus__2 { margin-top: -79%; }
    //-------------------------------------
  }
  //---------------------------------------
  .is-open {
    //-------------------------------------
    .plus__1 { transform: rotate(0); }
    //-------------------------------------
    .plus__2 { width: 0; }
    //-------------------------------------
  }
  //------------------------------------------
}

/*--------------------------------------------
  copyright
--------------------------------------------*/
.c-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 67px 0 65px;
  color: #baa68f;
  font-size: 1.2rem;
  //------------------------------------------
  @include respond-to(767) {
    display: block;
    padding: 40px 20px;
    text-align: center;
    font-size: 1.1rem;
  }
  //------------------------------------------
  .icons {
    @include respond-to(767) { margin-top: 20px; }
  }
  //------------------------------------------
}

//////////////////////////////////////////////
//private component
//////////////////////////////////////////////
.c-top2 {
  //------------------------------------------
  &__inner {
    display: flex;
    justify-content: space-between;
    //----------------------------------------
    @include respond-to(767) { display: block; }
    //----------------------------------------
  }
  //------------------------------------------
  &__box1 {
    position: relative;
    width: 873px;
    height: auto;
    //----------------------------------------
    @include respond-to(767) { width: auto; }
    //----------------------------------------
  }
  //------------------------------------------
  &__box2 {
    width: 270px;
    height: auto;
    box-sizing: border-box;
    position: relative;
    //----------------------------------------
    @include respond-to(767) { width: auto; }
    //---------------------------------------- 
  }
  //------------------------------------------
  &__show {
    position: relative;
    top: 13px;
    float: right;
    //----------------------------------------
    @include respond-to(767) {
      float: none;
      display: inline-block;
      top: 0;
      margin: 0 auto;
    }
    //----------------------------------------
    a {
      display: block;
      box-sizing: border-box;
      width: 129px;
      height: 129px;
      padding: 18px;
      color: #c7b299;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid #c7b299;
      //--------------------------------------
      @include respond-to(767) {
        width: 100px;
        height: 100px;
        padding: 17px;
        color: #c7b299;
      }
      //--------------------------------------
    }
    //----------------------------------------
    .plus {
      margin-bottom: 20px;
      @include respond-to(767) { margin-bottom: 8px; }
      //--------------------------------------
      img { @include respond-to(767) { width: 30px } }
      //--------------------------------------
    }
    //----------------------------------------
  }
  //------------------------------------------
}
