@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
/*----------------------------------------
* top-1
----------------------------------------*/
.p-top1 {
  position: relative;
  padding: 73px 0;
  background: #f1eae3;
  //---------------------------------------
  @include respond-to(767) {padding: 40px 20px 20px;}
  //---------------------------------------
  &__inner {
    display: flex;
    justify-content: space-between;
    //-------------------------------------
    @include respond-to(767) { display: block; }
    //-------------------------------------
  }
  //---------------------------------------
  .block1 {
    position: relative;
    width: 370px;
    transition: all ease-in-out 0.5s;
    //-------------------------------------
    @include respond-to(767) {
      width: auto;
      margin-bottom: 20px;
    }
    //-------------------------------------
    &:hover {opacity: 0.8;}
    //-------------------------------------
    &__img {
      img { width: 100%; }
    }
    //-------------------------------------
    &__info1 {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 20px 0;
      background: rgba(37, 28, 33, 0.79);
      //-----------------------------------
      @include respond-to(767) {
        padding: 9px 0;
        img { width: 200px; }
      }
      //-----------------------------------
    }
    //-------------------------------------
    &__info2 {
      position: absolute;
      top: 37%;
      left: 18px;
    }
    //-------------------------------------
    &__info3 {
      position: absolute;
      left: 0;
      right: 0;
      top: 36%;
    }
    //-------------------------------------
  }
  //---------------------------------------
}

/*----------------------------------------
* top-2
----------------------------------------*/
.p-top2 {
  display: block;
  position: relative;
  padding: 72px 0;
  //---------------------------------------
  @include respond-to(767) {
    padding: 40px 20px 40px;
  }
  //---------------------------------------
  .c-top2__box1 {
    //-------------------------------------
    @include respond-to(767) {
      margin-bottom: 40px;
    }
    //-------------------------------------
  }
  //---------------------------------------
}

/*----------------------------------------
* top-3
----------------------------------------*/
.p-top3 {
  display: block;
  position: relative;
  padding-bottom: 46px;
  //---------------------------------------
  @include respond-to(767) { padding: 0 20px 40px; }
  //---------------------------------------
  .line {
    margin-top: 73px;
    width: 100%;
    height: 1px;
    background: #f1eae3;
    //-------------------------------------
    @include respond-to(767) {
      margin-top: 30px;
    }
    //-------------------------------------
  }
  //---------------------------------------
  .c-list2__card:not(:last-child) {
    @include respond-to(767) { margin-bottom: 20px; }
  }
  //---------------------------------------
}

/*-----------------------------------------
 p-top4
-----------------------------------------*/
.p-top4 {
  display: block;
  position: relative;
  padding: 73px 0 69px;
  background: url(../img/bg2.jpg) no-repeat left top;
  background-size: cover;
  background-attachment: fixed;
  //------------------------------------------
  @include respond-to(767) { padding: 40px 20px; }
  //------------------------------------------
  &__inner {
    display: flex;
    justify-content: space-between;
    //----------------------------------------
    @include respond-to(767) {
      display: block;
    }
    //----------------------------------------
  }
  //------------------------------------------
  &__box1 {
    width: 869px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 48px 35px;
    background: #fff;
    //----------------------------------------
    @include respond-to(767) {
      width: auto;
      padding: 24px 24px;
      margin-bottom: 30px;
    }
    //----------------------------------------
    .box1__title1 {
      position: relative;
      //--------------------------------------
      h2 {
        display: inline-block;
        padding-bottom: 30px;
        border-bottom: 1px solid #c7b299;
        font-size: 1.8rem;
        font-weight: 500;
        color: #362f2d;
        //----------------------------------------
        @include respond-to(767) {
          padding-bottom: 13px;
          font-size: 1.6rem;
        }
        //----------------------------------------
      }
      //--------------------------------------
    }
    //----------------------------------------
  }
  //------------------------------------------
  &__box2 {
    position: relative;
    display: block;
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-bottom: none;
    //----------------------------------------
    .box2-list1__card1 {
      display: flex;
      justify-content: space-between;
      text-align: left;
      align-items: center;
      width: 271px;
      box-sizing: border-box;
      padding: 24px 0;
      border-bottom: 1px solid #ebebeb;
      cursor: pointer;
      //--------------------------------------
      @include respond-to(767) {
        width: auto;
        padding: 14px 0;
      }
      //--------------------------------------
      .icon {
        box-sizing: border-box;
        width: 24%;
        text-align: center;
        //------------------------------------
        @include respond-to(767) {
          width: 15%;
        }
        //------------------------------------
        img {
          position: relative;
          top: -4px;
          left: 11px;
          vertical-align: middle;
          //----------------------------------
          @include respond-to(767) {
            top: -4px;
            left: 0;
          }
          //----------------------------------
        }
        //------------------------------------
      }
      //--------------------------------------
      .info {
        width: 73%;
        box-sizing: border-box;
        padding-right: 8px;
        //------------------------------------
        @include respond-to(767) { width: 85%; }
        //------------------------------------
      }
      //--------------------------------------
    }
    //----------------------------------------
  }
  //------------------------------------------
  &__slider1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    //----------------------------------------
    @include respond-to(767) {
      margin-top: 12px;
    }
    //----------------------------------------
    .slider1__img1 {
      box-sizing: border-box;
      width: 130px;
      height: 97px;
      margin: 10px 35px;
      padding: 25px 0;
      border: 1px solid #c7b299;
      //--------------------------------------
      img { margin: 0 auto; }
      //--------------------------------------
    }
    //----------------------------------------
    .slick-arrow {
      display: inline-block;
      background: no-repeat;
      height: auto;
      //--------------------------------------
      .fas {
        font-size: 3.0rem;
        color: #362f2d;
      }
      //--------------------------------------
    }
    //----------------------------------------
    .slick-prev {
      position: relative;
      left: -36px;
      //----------------------------------------
      @include respond-to(767) {
        left: -16px;
      }
      //----------------------------------------
    }
    //----------------------------------------
    .slick-next {
      position: relative;
      right: -34px;
      //--------------------------------------
      @include respond-to(767) {
        right: -16px;
      }
      //--------------------------------------
    }
    //----------------------------------------
  }
  //------------------------------------------
}
