@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 1280px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 1.4rem;
	text-align: center;
  @include respond-to(768) {
		min-width: 100%;
    font-size: 1.3rem;
    //font-size: 1.2rem;
	}
}
//-------------------------------
#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}
//-------------------------------
button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a { margin-right: 5px; }
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l {
  &--hidden { overflow: hidden; }
  //------------------------------
  &-flexbox {
    display: flex;
    justify-content: space-between;
    //----------------------------
    &--reverse { flex-direction: row-reverse; }
    //----------------------------
    &--spblock {
      @include respond-to(768) {display: block;}
    }
    //----------------------------
    &--acenter { align-items: center; }
    //----------------------------
    &--flexstart { justify-content: flex-start; }
  }
  //end flexbox------------------------------
  &-grid1 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 30px;
    grid-row-gap:  60px;
    //---------------------------------------
    @include ie() {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      //-------------------------------------
      .c-top1-boximg1 {
        margin-bottom: 60px;
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6) {
          margin-bottom: 0;
          //---------------------------------
          @include respond-to(768) {
            margin-bottom: 10px;
          }
          //---------------------------------
        }
        //-----------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &-grid2 {
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
    grid-column-gap: 20px;
    //--------------------------------------
    @include ie() {
      display: flex;
      justify-content: space-between;
    }
    //--------------------------------------
    @include respondBigPC(1281) {
      grid-template-columns: 444px 444px 444px 443px;
      grid-column-gap: 22px;
    }
  }
  //end grid2(transport)--------------------
}
