@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

.c-wrap {
  display: block;
  width: 961px;
  height: auto;
  margin: 0 auto;
  position: relative;
  @include respond-to(768) { width: 100%;}
  &--big1 {
    width: 1201px;
    @include respondBigPC(1281) { width: 1842px;}
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/*--------------------------------------------------
  Component show following divice size.
----------------------------------------------------*/
.c {
  &-bodybigsize {
    min-width: 1920px;
    @include respond-to(1280) {min-width: 1280px;}
  }
  //show on pc-------------------------------------
  &-pc {
    display: block!important;
    //---------------------------------------------
    @include respond-to(768) { display: none!important; }
    //---------------------------------------------
    &--inline {
        display: inline-block!important;
        @include respond-to(768) { display: none!important; }
    }
    //---------------------------------------------
  }
  //show on smartphone---------------------------
  &-sp {
    display: none!important;
    //-----------------------------------
    @include respond-to(768) { display: block!important; }
    //-----------------------------------
    &--inline {
        display: none!important;
        //-----------------------------------
        @include respond-to(768) { display: inline-block!important; }
    }
    //------------------------------------------
  }
  //-------------------------
  &-menuSP {
    position: fixed;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    top: 11px;
    right: 14px;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 4px;
    background: #ffffff;
    //--------------------
    &__1, &__2, &__3 {
      width: 15px;
      height: 2px;
      background: #0176a9;
      margin: 5px auto auto;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
    //---------------------------
  }
  //-------------------------
  &-menulistSP {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-left: 18px;
    overflow-x: hidden;
    box-sizing: border-box;
    z-index: 1;
    display: none;
    background: rgba(17, 26, 35, 0.79);
    .c-bgmenuSP {
      height: 100%;
      background: white;
    }
    //----------------------------
    ul {background: white;}
    //----------------------------
    h2 {
      text-align: left;
      padding: 20px;
      border-bottom: 1px solid #7998ce;
      img {width: 211px;}
    }
    //----------------------------
    a {
      text-decoration: none;
      display: block;
      text-align: left;
      color: #000000;
      font-size: 1.4rem;
      padding: 19px 56px;
      //---------------------------
    }
    //----------------------------
    &__img1 {
      width: 26px;
      vertical-align: middle;
      margin-right: 10px;
    }
    //---------------------------
    &-arrow1 {
      position: absolute;
      right: 24px;
      img {width: 20px;}
    }
    //---------------------------
    li {
      position: relative;
      //-------------------------
      i {
        position: absolute;
        position: absolute;
        top: 17px;
        left: 20px;
      }
      //-------------------------
    }
    //---------------------------
    &-arrow2 {
      position: absolute;
      right: 31px;
      img {vertical-align: middle;}
    }
    //---------------------------
    &--text1 {
      //-----------------------
      a {
        font-size: 1.5rem;
        color: #003567;
      }
      //-----------------------
    }
  }
  //------------------------------
}

/*---------------------------
  other
---------------------------*/
.c {
  &-body--bg1 {background: url(../img/body-bg.jpg) repeat;}
  //---------------------
  &-listlink {
    h2 {margin-bottom: 16px;}
    //-------------------
    li {margin-bottom: 5px;}
    //---------------------
    a {
      color: #000000;
      text-decoration: none;
    }
    //-------------------
    li:before {
      content: url(../img/i-arrow1.png);
      margin-right: 5px;
      margin-left: 4px;
    }
    //-------------------
    &--mb1 { margin-bottom: 38px; }
  }
  //end listlink----------------
  &-btn1 {
    display: inline-block;
    a { display: block; }
    &--color1 {
      a {color: white;}
    }
    //--------------------------
    &-type1 {
      height: 24px;
      border-radius: 5px;
      a {
        padding: 3px 19px 3px;
        text-decoration: none;
        font-size: 1.2rem;
        text-align: center;
      }
      //------------------------
    }
    //--------------------------
    &--bg1 {background: #32b16c;}
    &--bg2 {background: #7e6b5a;}
    &--bg3 {background: #8957a1;}
    &--bg4 {background: #0075a9;}
    &--bg5 {background: #f39800;}
  }
  //end btn1--------------------
  &-clock {
    img {
      vertical-align: inherit;
      margin-right: 8px;
    }
    //--------------------------
  }
  //end clock-------------------
  &-imgbox1 {
    position: relative;
    &__info {
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      text-align: left;
      padding: 21px 30px 18px;
      color: white;
      background: rgba(26, 30, 31, 0.59);
      border-radius: 0px 0px 5px 5px;
      //------------------------
      h3 {
        font-size: 1.6rem;
        @include respondBigPC(1281) {line-height: 1.6;}
      }
      //------------------------
      .c-btn1-type1 {margin-right: 5px;}
      //------------------------
      &:before {
        content: url(../img/i-scrossline1.png);
        position: absolute;
        top: -16px;
        left: 47%;
      }
      //------------------------
    }
    //--------------------------
    &__smtext1 {font-size: 1.2rem;}
  }
  //----------------------------
}

/*---------------------------
  header component
---------------------------*/
.c {
  //---------------------------
  &-h {
    position: relative;
    box-sizing: border-box;
    width: 1280px;
    height: 559px;
    margin: 0 auto;
    padding: 34px 40px;
    background: url(../img/h-bg1.jpg) no-repeat;
    background-size: cover;
    @include respond-to(768) {
      width: 100%;
      height: 420px;
      padding: 21px 20px;
      background: url(../img/sp-hbg.png) no-repeat top center;
      background-size: 100% 100%;
    }
    //------------------------
    @include respondBigPC(1281) {
      width: auto;
      height: 658px;
      background: url(../img/h-bigbg.jpg) no-repeat top center;
      background-size: cover;
    }
    //------------------------
    &-telimg1 {margin-top: 10px;}
    //------------------------
    &-mtit2 {
      position: absolute;
      left: 0;
      top: 180px;
      @include respond-to(768){
        top: 62px;
        img {width: 300px;}
      }
    }
    //-------------------------
    &__mimg1 {
      margin-top: -5px;
      @include respond-to(768) {
        img {width: 157px;}
      }
    }
    //-------------------------
    &--ml1 {margin-left: 21px;}
  }
  //---------------------------
}

/*---------------------------
  header component
---------------------------*/

/*------------------------------
 *l
------------------------------*/
.c {
  //----------------------------
  &-h1 {
    position: relative;
    box-sizing: border-box;
    width: 1280px;
    height: 640px;
    margin: 0 auto;
    padding: 34px 40px;
    background: url(../img/transport/h-bg1.jpg) no-repeat;
    background-size: cover;
    //------------------------
    @include respondBigPC(1281) {
      width: auto;
      height: 960px;
      background: url(../img/transport/h-bigbg1.jpg) no-repeat top center;
      background-size: 100% 100%;
    }
    //-------------------------
    .c-trans1__label1 {margin-top: 2px;}
    //-------------------------
  }
  //end c-h1(transport.html)----
  &-menuPC {
    //--------------------------
    &-type2 {
      margin-top: 426px;
      border: none!important;
      @include respondBigPC(1281) {
        margin-top: 743px;
      }
      //------------------------
      ul { border-left: none!important; }
      //------------------------
      li {
        padding: 26px 0 22px!important;
        border-right: none!important;
      }
      //------------------------
      a { p {margin-top: 10px!important;} }
    }
    //--------------------------
  }
  //end menuPC(transport.html)--
}

/*-----------------------------
  main title component
-----------------------------*/
.c {
  //---------------------------
  &-mtext1 {
    font-size:  1.0rem;
    padding: 3px 9px 3px;
    font-weight: bold;
    border-radius: 4px;
    //-------------------------
    &__type1 {
      width: 90px;
      height:  20px;
      box-sizing:  border-box;
      background: #ffcc00;
    }
    //-------------------------
    &__type2 {
      width:  140px;
      height:  20px;
      box-sizing:  border-box;
      background:  #0075a9;
      color: white;
    }
    //-------------------------
  }
  //---------------------------
}

/*-----------------------------
  menupc
-----------------------------*/
.c {
  //---------------------------
  &-menuPC {
    margin-bottom: 79px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #0075a9;
    &--bg1 { background: #ffffff; }
    //-----------------------------
    ul {border-left: 1px solid #e8e8e8;}
    //-----------------------------
    li {
      width: 161px;
      box-sizing: border-box;
      padding: 24px 0 18px;
      border-right: 1px solid #e8e8e8;
    }
    //-----------------------------
    a {
      display: block;
      color: black;
      font-size: 1.6rem;
      text-decoration: none;
      p {margin-top: 15px;}
    }
    //-------------------------
  }
  //---------------------------
}

/*-----------------------------
  top component(index.html)
-----------------------------*/
.c {
  //---------------------------
  &-top1 {
    &__info1 {
      position: relative;
      height: 124px;
      padding: 30px 0;
      color: #fff;
      box-sizing: border-box;
      background: rgba(64, 152, 191, 0.94);
      border-radius: 0px 0px 6px 6px;
      //-----------------------------
      h3 {
        font-size: 1.6rem;
        margin-bottom: 10px;
      }
      //-----------------------------
      &:before {
        content: url(../img/i-scrossline1.png);
        position: absolute;
        top: -16px;
        left: 140px;
      }
      //------------------------------
    }
    //end info1----------------------
    &__info2 {
      padding: 18px 0;
      //-------------------------------
      h3 {
        margin-bottom: 12px;
        color: #0068b7;
        font-size: 1.6rem;
        font-weight: 500;
      }
      //-------------------------------
    }
    //-------------------------------
    &__img1 {
      @include respond-to(768) {
        img { width: 280px; }
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //end top1-------------------
  &-top2 {
    //-------------------------
    &-info1 {
      text-align: left;
      font-size: 1.6rem;
      @include respond-to(768) {font-size: 1.3rem;}
      //-----------------------
      h4 {
        margin-bottom: 10px;
        color: #0068b7;
        font-size: 1.4rem;
        @include respond-to(768) {font-size: 1.1rem;}
        //---------------------
        span {color: #7f7f7f;}
        //---------------------
      }
      //-----------------------
    }
    //-------------------------
    &--mb1 {margin-bottom: 33px;}
    //-------------------------
    &--mb2 {margin-bottom: 30px;}
    //-------------------------
    &__img1 {
      margin-right: 15px;
      @include respond-to(768) {
        margin-right: 11px;
        img {width: 60px;}
      }
      //-----------------------
    }
    //-------------------------
    &__bgSP {
      //-----------------------
      @include respond-to(768) {
        background: white;
        border: 1px solid #d6d6d6;
        border-radius: 6px;
      }
      //-----------------------
    }
    //-------------------------
    &-arrowSP1 {
      display: none;
      //-----------------------
      @include respond-to(768) {
        display: block;
        position: absolute;
        right: 7%;
        top: 47%;
      }
      //-----------------------
    }
    //-------------------------
  }
  //end top2-------------------
}

/*------------------------------
 Transport component
------------------------------*/
.c {
  //----------------------------
  &-trans1 {
    //--------------------------
    &__mtit1 {
      font-size: 2.4rem;
      text-align: left;
      //--------------------------
      &:before {
        content: url(../img/i-scrossline2.png);
        margin-right: 16px;
        position: relative;
        top: 10px;
      }
    //--------------------------
    }
    //--------------------------
    &__label1 {
      display: block;
      width: 100%;
      height: 21px;
      box-sizing: border-box;
      padding: 3px 0;
      font-size: 1.0rem;
      text-align: center;
      color: #ffffff;
      background: #0075a9;
      border-radius: 2px;
    }
    //--------------------------
  }
  //end component1--------------
  &-trans2 {
    &--mtb1 { margin: 16px 0 11px; }
    &--mt1 { margin-top: 5px; }
    &--lineheight1 { line-height: 1.7; }
  }
  //---------------------------
}

/*-----------------------------
  footer component
-----------------------------*/
.c {
  //---------------------------
  &-f {
    position: relative;
    background: #003567;
    padding-top: 60px;
    @extend %cf;
    @include respond-to(768){
      padding-top: 30px;
      &-arrow1 {
        width: 20px!important;
        position: absolute;
        top: 2px;
        right: 0;
      }
      //-----------------------
    }
    //-------------------------
    &--color1 {
      color: #ffffff;
    }
    //---------------------------
    &__linkSP1 {
      text-decoration: none;
      font-weight: bold;
      color: #333333;
    }
    //---------------------------
    &__linelink{
      @include respond-to(768) {
        display: inline-block;
        position: relative;
        margin-bottom: 5px;
        //------------------------
        &::before {
          content: '';
          width: 52px;
          height: 1px;
          background: #fff;
          display: inline-block;
          position: absolute;
          bottom: -2px;
          left: 13px;
        }
        //------------------------
      }
    }
    //---------------------------
    &__logo1 {
      @include respond-to(768) {
        padding: 30px 0 30px;
        border-top: 1px solid #26537e;
        img {width: 160px;}
      }
    }
    //---------------------------
    &__contact1 {
      .c-btn1 {
        margin-right: 20px;
        @include respond-to(768) {
          width: 280px;
          margin: 0 auto;
          img {width: 280px;}
        }
      }
    }
    //---------------------------
    &__text1 {
      position: relative;
      width: 319px;
      text-align: left;
      @include respond-to(768) {
        width: 280px;
        margin: 0 auto 23px!important;
        &:last-child {margin-bottom: 0 !important;}
      }
      //-------------------------
      h2 {
        margin-bottom: 11px;
        @include respond-to(768) {
          text-align: center;
          padding: 10px 0;
          border: 1px solid;
          border-radius: 5px;
        }
        //-----------------------
      }
      //-------------------------
      p {
        color: #95a6ba;
        font-size: 1.2rem;
        @include respond-to(768) {font-size: 1.1rem;}
      }
      //-------------------------
    }
    //end text1-------------------------
    &__line1 {
      //-------------------------
      &:after {
        content: '';
        width: 1px;
        height: 69px;
        background: #325d85;
        position: absolute;
        transform: rotate(27deg);
        right: -28px;
        top: -4px;
        @include respond-to(768) {
          width: 0;
          height: 0;
          display: none;
        }
      }
      //-------------------------
    }
    //end line1-------------------------
    &__logo2 {
      position: relative;
      top: -4px;
      @include respond-to(768) {
        top: 26px;
        img {width: 60px;}
      }
      //-------------------------
    }
    //---------------------------
    &--mt1 {
      margin-top: 44px;
      @include respond-to(768) {margin-top: 30px;}
    }
    //---------------------------
    &--ml1 {
      margin-left: 72px;
      @include respond-to(768) {margin-left: 0;}
    }
    //---------------------------
    &__img2 {
      margin-top: 3px;
      @include respond-to(768) {
        width: 280px;
        box-sizing: border-box;
        padding: 21px 20px;
        margin: 0 auto 10px;
        border: 2px solid white;
        border-radius: 5px;
      }
      .c-h-telimg1 {
        position: relative;
        margin-top: 7px;
        @include respond-to(768) {
          text-align: left;
          img {width: 208px;}
        }
        //------------------------
      }
      //------------------------
    }
    //---------------------------
  }
  //---------------------------
  &-copyright {
    margin-top: 56px;
    padding: 30px 0;
    font-size: 1.2rem;
    color: #9eaec0;
    border-top: 1px solid #26537e;
    @include respond-to(768) {
      padding: 20px 0;
      font-size: 1.0rem;
    }
  }
  //---------------------------
  &-btntop {
    position: fixed;
    bottom: 27px;
    right: 20px;
    @include respond-to(768) {
      position: absolute;
      right: 15px;
      bottom: 15px;
      img{ width: 40px; }
    }
    //---------------------------
  }
  //---------------------------
}


/*-----------------------------
  Table
------------------------------*/
.c {
  &-table1 {
    //-----------------------
    table {
      width:  100%;
      height:  auto;
      border-spacing: 0;
      border-bottom: 1px solid #d4d4d4;
      border-collapse:  collapse;
      tr {
        width: 100%;
        vertical-align: text-top;
        border: 1px solid #d4d4d4;
        &>th {
          width: 209px;
          background: #f6f6f6;
          font-weight: normal;
          border-right: 1px solid #d4d4d4;
        }
        &>th,td { padding: 19px 20px 18px; }
      }
    }
    //-----------------------
  }
  //-----------------------
}

/*---------------------------
  menu responsive
---------------------------*/
.is-open {
  transition: all 0.5s;
  .c-menuSP__1 {transform: rotate(45deg) translate(6px, 6px);}
  .c-menuSP__2 {opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(4px, -4px);}
}
