@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

a, button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 960px;
  max-width: 1920px;
  font-size: 14px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------------------
  Layout Shouwa project
------------------------------------------------------------*/
.l--left {
  float: left;
}

.l--right {
  float: right;
}

.l--posright0 {
  position: absolute;
  right: 0;
}

.l--posleft0 {
  position: absolute;
  left: 0;
}

.l--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.l--flex--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-content {
  display: grid;
  grid-template-columns: 220px auto;
  position: relative;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.l-leftmenu {
  display: block;
  background: #1085b0;
  height: 99.7%;
  position: relative;
  z-index: 9999;
}

.l-leftmenu--fullheight {
  height: auto;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-leftmenu {
    width: 220px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-main {
    -webkit-box-flex: 10;
        -ms-flex-positive: 10;
            flex-grow: 10;
  }
}

.l--ml1 {
  margin-left: 10px;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.c-wrap {
  display: block;
  width: 960px;
  height: auto;
  margin: 0 auto;
  z-index: 999;
  position: relative;
}

.c-wrap:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
  Component index
------------------------------------------------------------*/
.c-index__img {
  position: relative;
  left: -374px;
  top: -147px;
  float: left;
}

.c-index__img img {
  width: 919px;
}

.c-index-boxtext1 {
  position: absolute;
  right: 0;
  width: 415px;
  height: 370px;
  text-align: left;
  z-index: 1;
  line-height: 1.7;
}

.c-index-maintit {
  margin-bottom: -7px;
}

.c-index-maintit .l--flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 48px 0 20px;
}

.c-index-titletext {
  margin-left: 15px;
}

.c-index-boxtext1 p {
  color: #fff;
  font-size: 14px;
}

.c-index-boxtext1 .c-btnmore1 {
  display: inline-block;
  width: 212px;
  margin-top: 28px;
  padding: 10px 0;
}

.c-mbanner {
  background: url(../img/h-bg1.jpg) no-repeat;
  background-size: cover;
  height: 1036px;
}

.c-mbanner--bg {
  position: relative;
  width: 100%;
}

.c-mbanner-content h2 {
  padding-top: 280px;
}

.c-boxmenu1__bgwhite {
  background: #ffffff;
  padding: 18px 18px 20px;
}

.c-h_text1 {
  padding-bottom: 18px;
  margin-bottom: 18px;
  text-align: left;
  font-size: 11px;
  border-bottom: 1px solid #269eca;
}

.c-menu-list {
  padding-top: 31px;
  font-size: 17px;
}

.c-menu-list li {
  margin-bottom: 21px;
  display: block;
}

.c-menu-list li:last-child {
  margin-bottom: 0;
}

.c-menu-list a {
  color: #fff;
  text-decoration: none;
}

.c-menu-info {
  margin-top: 466px;
  background: #269eca;
  padding: 18px 0 16px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .c-menu-info {
    margin-top: 462px;
  }
}

.c-menu-info h3 {
  margin-bottom: 20px;
}

.c-menu-listimg li {
  margin-bottom: 9px;
}

.c-menu-listimg li:last-child {
  margin-bottom: 0;
}

.c-index3__boxtext {
  width: 216px;
  margin-left: 18px;
  padding-top: 7px;
  color: white;
  text-align: left;
  font-size: 14px;
}

.c-index3__boxtext h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.c-index3__boxtext h3 span {
  margin-left: -3px;
  font-size: 15px;
}

.c-index3__boxtext p {
  line-height: 1.7;
}

.c-btnmore1 {
  margin-top: 17px;
  padding: 6px 0;
  border: 1px solid white;
  text-align: center;
}

.c-btnmore1 a {
  display: block;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.c-btnmore1 a img {
  vertical-align: middle;
  margin-left: 5px;
}

.c-footer {
  color: #fff;
  background: #269eca;
  padding: 40px 0 22px;
  text-align: left;
}

.c-footer-boxtext p {
  margin-top: 21px;
  font-size: 12px;
}

.c-footer .c-menu-listimg {
  margin: 0 40px 0 43px;
}

.c-footer .c-menu-listimg li {
  margin-bottom: 5px;
}

.c-footer-list1 {
  margin-right: 28px;
  font-size: 13px;
}

.c-footer-list1 a {
  color: white;
  text-decoration: none;
}

.c-footer-list1 a img {
  vertical-align: middle;
  margin-right: 5px;
}

.c-copyright {
  font-size: 12px;
  color: #666666;
  padding: 15px 0 24px;
}

.c-btnscroll {
  position: absolute;
  bottom: -537px;
  left: 462px;
}

.c-btn1 a {
  display: block;
}

.c-banner {
  display: block;
  position: relative;
  height: 300px;
}

.c-title1 {
  padding-top: 73px;
}

.c-breadcrumb1 {
  padding: 30px 0 41px;
}

.c-breadcrumb1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-breadcrumb1 li {
  line-height: 1;
  font-size: 1.2rem;
}

.c-breadcrumb1 li:after {
  content: ">";
  display: inline-block;
  margin: 0 5px;
}

.c-breadcrumb1 li:last-child:after {
  content: "";
}

.c-breadcrumb1 li a {
  color: #1085b0;
}

.c-h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  position: relative;
}

.c-h2:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: relative;
  background: #269eca;
  margin: 0 auto;
  margin-bottom: 30px;
}

.c-imgtext1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-imgtext1__img {
  margin-right: 29px;
}

.c-imgtext1__text {
  font-size: 14px;
  text-align: left;
  line-height: 1.7;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-imgtext1__text h3 {
  font-size: 20px;
  font-weight: bold;
  color: #269eca;
  margin-bottom: 13px;
}

.c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-list1--col3 .c-list1__card:nth-child(4n+1) {
  margin-left: 30px;
}

.c-list1--col3 .c-list1__card:nth-child(3n+1) {
  margin-left: 0px;
}

.c-list1__card {
  margin-bottom: 30px;
  margin-left: 30px;
}

.c-list1:nth-child(4n+1) {
  margin-left: 0;
}

.c-list1__img1 {
  position: relative;
}

.c-list1--lookup {
  position: absolute;
  z-index: 1;
  bottom: 11px;
  right: 15px;
}

.c-list1__tit1 {
  padding: 15px 0;
  background: #269eca;
}

.c-list1__tit1 h3 {
  font-size: 20px;
  color: white;
}

.c-list1__text {
  padding: 14px 0;
  line-height: 1.7;
  color: #333333;
  background: #e0f4fc;
}

.c-boxflow1-tit1 {
  text-align: left;
  font-size: 20px;
  color: #269eca;
}

.c-boxflow1-tit1 h2 {
  margin-bottom: 6px;
}

.c-boxflow1-tit1 img {
  vertical-align: middle;
  margin-right: 10px;
}

.c-boxflow1-tit1:after {
  content: url(../img/flow/i-arrow.png);
  position: absolute;
  left: 15px;
  margin-top: 8px;
}

.c-boxflow1--relative {
  position: relative;
  left: 79px;
  width: 880px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-boxflow1__img1 {
  margin-right: 28px;
}

.c-boxflow1__text1 {
  text-align: left;
}

.c-commit3 {
  position: relative;
}

.c-commit3:after {
  display: block;
  clear: both;
  content: "";
}

.c-commit3__text1 {
  width: 400px;
  padding: 40px;
  top: 38px;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  background: #e0f4fc;
}

.c-commit3__text1 h4 {
  font-size: 20px;
  color: #269eca;
  margin-bottom: 25px;
  text-align: justify;
}

.c-commit3__text1 p {
  margin-bottom: 40px;
}

.c-commit3__text1 p:last-child {
  margin-bottom: 0;
}

.c-commit3--padbt1 {
  padding-bottom: 91px;
}

.c-commit3--padbt2 {
  padding-bottom: 117px;
}

.c-commit3--padbt3 {
  padding-bottom: 78px;
}

.c-input1--width1 {
  width: 150px !important;
}

/*-----------------------------------------------
Table
-----------------------------------------------*/
.c-table1 table {
  width: 100%;
  height: auto;
  border-spacing: 0;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

.c-table1 table tr {
  width: 100%;
  vertical-align: text-top;
  border-top: 1px solid #d4d4d4;
}

.c-table1 table tr > th {
  width: 159px;
  background: #e0f4fc;
  font-weight: normal;
  padding: 18px 0 20px 20px;
}

.c-table1 table tr td {
  padding-left: 21px;
  padding-bottom: 16px;
  line-height: 1.7;
}

/*-----------------------------------------------------
  form
-----------------------------------------------------*/
.c-form1 table {
  border-bottom: 1px solid #e5e5e5;
}

.c-form1 table tr {
  border-top: 1px solid #e5e5e5;
}

.c-form1 table tr > th {
  vertical-align: top;
  width: 210px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.c-form1 table td {
  padding: 21px 21px 14px 21px !important;
}

.c-form1 table td input[type="text"] {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 29px;
  padding: 9px 10px;
  font-size: 1.4rem;
  margin-bottom: 5px;
  border: 1px solid #dddddd;
}

.c-form1 table td select {
  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 29px;
  padding: 0 17px;
  font-size: 1.4rem;
  margin-bottom: 5px;
  border: none;
  background: url(../img/contact/arrow.png) no-repeat 134px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #a0a0a0;
  background-color: white;
  border: 1px solid #dddddd;
}

.c-form1 table td select::-ms-expand {
  display: none;
}

.c-form1 table textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  border: 1px solid #dddddd;
}

.c-btn2 {
  display: inline-block;
  background: #d66363;
  font-size: 11px;
  color: white;
  padding: 1px 5px;
  text-decoration: none;
}

.c-btn2--gray {
  background: #999999;
}

.c-btn3 {
  display: inline-block;
  text-align: center;
  margin: 50px auto 0;
}
