@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  transform: scale(1);
  background-size: cover;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p {
  &-top1 {
    position: relative;
    //---------------------------------
    &-mainbox1 {
      width: 100%;
      position: relative;
      padding: 60px 0 1044px 0;
      background: #f9f8f1;
      //-------------------------------
      @include respond-to(750) {
        box-sizing: border-box;
        padding: 50px 17px 97px 17px;
      }
      //-------------------------------
    }
    //---------------------------------
  }
  //-----------------------------------
  &-top2 {
    margin: 48px 0 159px;
    @include respond-to(750) {
      margin: 25px 0 15px;
      padding: 0 25px;
    }
    //---------------------------------
    &__list1 {
      @include respond-to(750) {
        max-width: 400px;
        margin: 0 auto;
      }
      //-------------------------------
      .c-list1 {
        justify-content: flex-start;
      }
      //-------------------------------
    }
    //---------------------------------
  }
  //-----------------------------------
  &-top3 {
    position: relative;
    @include respond-to(750) {
    }
    //---------------------------------
    &-mainbox1 {
      width: 100%;
      position: relative;
      padding: 60px 0 857px 0;
      background: #f9f8f1;
      @include respond-to(750) {
        box-sizing: border-box;
        padding: 10px 17px 177px 17px;
      }
    }
    //---------------------------------
  }
  //-----------------------------------
  &-top4 {
    margin: 50px 0 159px;
    @include respond-to(750) {
      margin: 25px 0 15px;
      padding: 0 25px;
    }
    //---------------------------------
    &__list1 {
      @include respond-to(750) {
        max-width: 400px;
        margin: 0 auto;
      }
      //-------------------------------
      .c-list1 {
        justify-content: flex-start;
      }
      //-------------------------------
    }
    //---------------------------------
  }
  //-----------------------------------
  &-top5 {
    position: relative;
    //---------------------------------
    &-mainbox1 {
      width: 100%;
      position: relative;
      padding: 60px 0 880px 0;
      background: #f9f8f1;
      @include respond-to(750) {
        box-sizing: border-box;
        padding: 10px 17px 100px 17px;
      }
    }
    //---------------------------------
  }
  //-----------------------------------
  &-top6 {
    margin: 50px 0 76px;
    @include respond-to(750) {
      margin: 25px 0 15px;
      padding: 0 25px;
    }
    //---------------------------------
    &__list1 {
      @include respond-to(750) {
        max-width: 400px;
        margin: 0 auto;
      }
      //-------------------------------
      .c-list1 {
        justify-content: flex-start;
      }
      //-------------------------------
      .c-listtop2__info {
        h2 {
          margin: 33px 0 17px;
          //---------------------------
          @include respond-to(750) {
            margin: 17px 0 21px;
          }
          //---------------------------
        }
      }
      //-------------------------------
    }
    //---------------------------------
  }
  //-----------------------------------
  &-top7 {
    padding: 64px 0 57px;
    background: #f9f8f1;
    @include respond-to(750) {
      padding: 16px 25px 32px;
    }
    //---------------------------------
    &__text1 {
      position: relative;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      @include respond-to(750) {
        display: inline-block;
        font-size: 13px;
      }
      //-------------------------------
      &:before {
        content: '';
        width: 1px;
        height: 30px;
        background: #393C45;
        position: absolute;
        transform: rotate(-16deg);
        left: -11px;
        bottom: 0;
        @include respond-to(750) {
          left: -6px;
          height: 22px;
          top: 0;
          bottom: 0;
          margin: 0 auto;
        }
      }
      //-------------------------------
      &:after {
        content: '';
        width: 1px;
        height: 30px;
        background: #393C45;
        position: absolute;
        transform: rotate(21deg);
        right: 4px;
        bottom: 0;
        //-----------------------------
        @include respond-to(750) {
          right: -4px;
          height: 22px;
          top: 0;
          bottom: 0;
          margin: 0 auto;
        }
        //-----------------------------
      }
      //-------------------------------
    }
    //---------------------------------
    &__list1 {
      align-items: center;
      //-------------------------------
      @include respond-to(750) {
        align-items: baseline;
      }
      //-------------------------------
    }
    //---------------------------------
    .p-obj1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include respond-to(750) {
        display: block;
        width: 70%;
      }
      //-------------------------------
      &__list1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        //-----------------------------
        @include respond-to(750) {
          align-items: flex-end;
        }
        //-----------------------------
      }
      //-------------------------------
    }
    //---------------------------------
    &__btn1 {
      box-sizing: border-box;
      display: inline-block;
      background: #B18021;
      margin-top: 11px;
      @include respond-to(750) {
        display: block;
        max-width: 400px;
        margin: 0 auto;
        &>.c-btn1 { display: block; }
      }
      //-------------------------------
      a {
        width: 466px;
        padding: 27px 0;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        //-----------------------------
        @include respond-to(750) {
          width: 100%;
          padding: 19px 0;
          font-size: 15px;
        }
        //-----------------------------
      }
      //-------------------------------
    }
    //---------------------------------
    &__btnbox1 {
      margin-bottom: 30px;
    }
    //---------------------------------
    &__contact1 {
      width: 520px;
      box-sizing: border-box;
      margin: 0 auto;
      @include respond-to(750) {
        width: 100%;
        max-width: 400px;
      }
    }
    //---------------------------------
    &__text1SP {
      @include respond-to(750) {
        text-align: left;
        font-size: 12px;
      }
    }
    //---------------------------------
    &__img1 {
      @include respond-to(750) {
        width: 27%;
        margin-right: 8px;
        //-----------------------------
        @include ie() {
          position: relative;
          top: 9px;
        }
        //-----------------------------
      }
      //-------------------------------
      img {
        width: 98px;
        height: 34px;
        //-----------------------------
        @include respond-to(750) {
          width: 100%;
          height: 100%;
        }
        //-----------------------------
      }
      //-------------------------------
    }
    //---------------------------------
    &__img2 {
      margin-left: 11px;
      @include respond-to(750) {
        width: 17%;
        margin-left: 0;
      }
      //-------------------------------
      img {
        width: 48px;
        height: 30px;
        @include respond-to(750) {
          width: 100%;
          height: 100%;
        }
      }
      //-------------------------------
    }
    //---------------------------------
    &__img3 {
      position: relative;
      top: -9px;
      margin-left: 9px;
      @include respond-to(750) {
        top: -1px;
        width: 82%;
        margin-left: 6px;
      }
      //-------------------------------
      img {
        width: 224px;
        height: 46px;
        @include respond-to(750) {
          width: 100%;
          height: 100%;
        }
      }
      //-------------------------------
    }
    //---------------------------------
    &__img4 {
      margin-left: 9px;
      //-----------------------------
      @include ie() {
        position: relative;
        left: 9px;
      }
      //-----------------------------
      @include respond-to(750) {
        margin-left: 0;
        margin-top: 6px;
        //---------------------------
        @include ie() {
          position: relative;
          left: 0;
        }
        //---------------------------
      }
      //-------------------------------
      img {
        width: 130px;
        height: 35px;
      }
      //-------------------------------
    }
    //---------------------------------
  }
  //-----------------------------------
}
