@charset "UTF-8";
header:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Japanese", 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u-smtext18 {
  font-size: 18px;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 940px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  font-size: 14px;
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*-----------------------------------------------
  header
-----------------------------------------------*/
header {
  position: relative;
  display: block;
  height: auto;
  padding: 21px 0 13px;
  z-index: 999;
}

/*-----------------------------------------------
  footer
-----------------------------------------------*/
footer {
  position: relative;
  color: white;
  font-size: 1.5rem;
}

footer img {
  width: 100%;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l--hidden {
  overflow: hidden;
}

.l--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-grid {
  display: grid;
  grid-template-columns: 460px 460px;
  grid-column-gap: 20px;
  grid-row-gap: 35px;
}

.l-grid .l-item2 h2 {
  margin: 24px 0 19px !important;
}

.l-grid .l-item3 {
  margin-top: 22px;
}

.l-grid .l-item3 h2 {
  margin: 23px 0 20px !important;
}

.l-grid .l-item4 {
  margin-top: 1px;
}

.l-grid .l-item4 h2 {
  margin: 36px 0 19px 11px !important;
}

.l-grid .l-item4 .c-box1__text1 {
  margin-bottom: 17px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-grid .c-box1 {
    width: 460px;
    margin-bottom: 20px;
  }
}

.l-grid2 {
  display: grid;
  grid-template-columns: 465px 220px 220px;
  grid-column-gap: 14px;
}

.l-grid2-item3 {
  margin-left: 5px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-grid2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.l-nav1--p10 {
  padding-bottom: 20px;
}

.l--left {
  float: left;
}

.l--right {
  float: right;
}

.l-grid3 {
  margin-top: -3px;
  display: grid;
  grid-template-columns: 219px 220px 220px 219px;
  grid-column-gap: 20px;
  grid-row-gap: 18px;
}

.l-grid3-item8 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.l-grid3-item9 {
  grid-column-start: 3;
  grid-column-end: 5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-grid3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-grid3 .c-boxi1 {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .l-grid3 .c-boxi1:nth-child(4n+1) {
    margin-left: 0px;
  }
}

.l-grid4 {
  display: grid;
  grid-template-columns: 460px 460px;
  grid-column-gap: 19px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-grid4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-grid4 .p-top2-box1 {
    width: 460px;
  }
}

.l-grid5 {
  display: grid;
  grid-template-columns: 220px 220px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.l-grid5-item1 {
  margin-top: -1px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-grid5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-grid5 .c-boxi1 {
    margin-bottom: 20px;
  }
}

.l-bg--white {
  background: white;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.btn-top {
  position: absolute;
  right: -11%;
  top: 76px;
}

.btn-top img {
  width: 100px;
  height: 100px;
}

/*--------------------------------------------------
  Component index
----------------------------------------------------*/
/*-----------------------------------------------
Table
-----------------------------------------------*/
.c-nav1 {
  padding-top: 6px;
}

.c-nav1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../img/line-menu.png) no-repeat top right;
}

.c-nav1 ul li {
  width: 188px;
  font-size: 1.4rem;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/line-menu.png) no-repeat;
}

.c-nav1 ul a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.c-table1-rowhead th {
  background: #dddddd;
  padding: 13px 0 !important;
  border: none;
  text-align: center;
}

.c-table1 table {
  width: 100%;
  height: auto;
  color: #3c3c3c;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
}

.c-banner {
  background: url(../img/i-bg1.jpg) no-repeat left top;
  background-size: 100% 100%;
  height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 92px;
}

.c-banner h1 {
  margin-left: 3px;
  letter-spacing: 5px;
  font-size: 3.0rem;
  color: white;
}

.c-box1 h2 {
  display: inline-block;
  font-size: 2.0rem;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 9px;
}

.c-box1__text1 {
  position: relative;
  text-align: center;
  border: 2px solid #006633;
  padding: 5px 0;
}

.c-box1__text1 p {
  position: relative;
  line-height: 25px;
  letter-spacing: 4px;
  z-index: 1;
  font-size: 18px;
  color: #00634b;
}

.c-box1__text2 {
  text-align: left;
  letter-spacing: 3px;
}

.c-box1--bg1 {
  background: -webkit-gradient(linear, left top, right top, from(#f8f1e3), to(#fdf5e6));
  background: -webkit-linear-gradient(left, #f8f1e3, #fdf5e6);
  background: linear-gradient(to right, #f8f1e3, #fdf5e6);
  width: 97%;
  height: 124%;
  position: absolute;
  left: 2%;
  top: -15%;
  z-index: 0;
}

.c-box2__img1 {
  margin-bottom: 18px;
  border-radius: 8px;
}

.c-map iframe {
  width: 100%;
  height: 294px;
}

.c-boxmedia {
  background: url(../img/i-bgmedia.jpg) repeat;
  padding: 55px 0 73px;
}

.c-event1 {
  padding: 56px 0 20px;
  display: block;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#f8f1e3), to(#fdf5e6));
  background: -webkit-linear-gradient(left, #f8f1e3, #fdf5e6);
  background: linear-gradient(to right, #f8f1e3, #fdf5e6);
}

.c-event1 h1 {
  margin-bottom: 36px;
  margin-left: 10px;
  font-size: 30px;
  display: inline-block;
  color: #00634b;
  border-bottom: 3px solid #00634b;
  padding-bottom: 12px;
  letter-spacing: 6px;
}

.c-event1-box1 {
  padding-left: 18px;
  text-align: left;
}

.c-event1-box1 p {
  margin-bottom: 20px;
  letter-spacing: 2px;
  line-height: 22px;
}

.c-event1-box1 p:last-child {
  margin-bottom: 0;
  text-align: justify;
}

.c-event1-box1 a {
  text-decoration: none;
  color: #000000;
}

.c-event1-box1 span {
  position: relative;
  top: -4px;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
  margin-left: 9px;
}

.c-btncheck1 {
  background: black;
  display: inline-block;
  padding: 7px 30px;
  border-radius: 5px;
}

.c-btncheck1--color1 {
  background: #00634b;
}

.c-btncheck1 a {
  display: block;
  color: white;
  text-decoration: none;
}

.c-top {
  background: url(../img/top/h-bg1.jpg) no-repeat;
  height: 610px;
  background-size: 100% 100%;
}

.c-top p {
  padding-top: 213px;
  padding-bottom: 18px;
}

.c-gnavi {
  padding: 36px 0 50px;
  background: url(../img/top/i-bgcolor1.jpg) repeat;
}

.c-gnavi li {
  font-size: 16px !important;
}

.c-bgtop {
  background: url(../img/top/i-bgcolor1.jpg) repeat;
}

.c-line1 {
  border-top: 1px solid #cccccc;
  position: relative;
}

.c-line1 h2 {
  display: inline-block;
  position: relative;
  font-size: 30px;
  color: #333333;
  top: -31px;
  letter-spacing: 3px;
  padding: 10px 22px 10px 39px;
  background: url(../img/top/i-bgcolor1.jpg) repeat;
}

.c-line1-sm1 {
  font-size: 18px;
}

.c-line1--type2 {
  margin-top: 11px;
}

.c-line1--type2 h2 {
  background: url(../img/top/i-bgcolor2.jpg) repeat;
  padding: 10px 12px;
  font-size: 22px;
  top: -22px;
  letter-spacing: 2px;
}

.c-boxi1__text1 {
  padding: 21px 32px 14px;
  background: #00634b;
  color: #fff;
  border-radius: 0px 0px 5px 5px;
}

.c-boxi1__text1 h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.c-boxi1-btn1 {
  width: 128px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  font-size: 12px;
  padding: 9px 10px;
  background: #004534;
  border-radius: 5px;
}

.c-boxi1-btn1 a {
  color: #fff;
  text-decoration: none;
}

.c-boxi1__img1 {
  position: relative;
}

.c-boxi1__img1 img {
  border-radius: 4px 0 0 0px;
}

.c-boxi1__label1 {
  background: #fab445;
  padding: 4px 0;
  width: 105px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.c-ad1 {
  background: url(../img/top/i-eng1.jpg) no-repeat;
}

.c-ad2 {
  background: url(../img/top/i-eng2.jpg) no-repeat;
}

.c-banbr {
  border: 5px solid #ddd;
  padding: 35px 104px 35px 63px;
  background: #fff;
}

.c-banbr h2 {
  font-size: 20px;
  letter-spacing: 4px;
}

.c-list2 li:before {
  content: '※';
  float: left;
  margin-bottom: 1px;
}

.c-box4 {
  background: #e5f5e9;
}

.c-classbg {
  background: url(../img/class/i-classbg.jpg) repeat left top;
}

.c-box3__text {
  color: white;
  background: #00634b;
  padding: 52px 45px 0;
}

.c-box3__text h2 {
  font-size: 30px;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 18px;
  margin-bottom: 26px;
  letter-spacing: 5px;
}

.c-box3__text p {
  text-align: justify;
  letter-spacing: 3px;
}

.c-box4 h2 {
  text-align: center;
  font-size: 18px;
  color: #00634b;
  letter-spacing: 3px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.c-box4 p {
  text-align: justify;
  letter-spacing: 3px;
  line-height: 1.6;
}

.c-table--mb34 {
  margin-top: -2px;
  margin-bottom: 35px;
  background: white;
}

.c-list1 li {
  list-style-type: disc;
  margin-bottom: 1px;
  letter-spacing: 2px;
}

.c--marlist1 {
  margin-left: 33px;
}

.c--marlist2 {
  margin-left: 30px;
}

.c--space3 {
  letter-spacing: 3px;
}

.c-boxtalk1 {
  background: #000;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.c-boxtalk1 .c-boxi1-btn1 {
  width: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0px;
  font-size: 16px;
  background-color: #fab445;
}

.c-boxtalk1 .c-boxi1-btn1 a {
  color: black;
}

.c-talk1 {
  width: 170px;
  position: relative;
  background: #00634b;
  padding: 4px 0;
  margin: 4px auto 0;
}

.c-talk1:after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 78px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #00634b;
}

.c-talk2 {
  margin: 15px 0 7px;
  font-size: 24px;
}

.bx-wrapper {
  width: 700px;
  margin: 0 auto 0 111px;
  border: none;
  background: none;
}

.bx-viewport {
  height: auto !important;
}

.bx-wrapper .bx-controls-direction a {
  width: 42px;
  height: 43px;
}

.bx-wrapper .bx-prev {
  left: -80px;
  background: url(../img/arrow.png) no-repeat 0 2px;
}

.bx-wrapper .bx-next {
  right: -80px;
  background: url(../img/arrow.png) no-repeat -45px 1px;
}

.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
  background-position: 0 2px;
}

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
  background-position: -45px 1px;
}

.bx-wrapper .bx-controls-direction a {
  top: 46%;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: -40px;
  left: -8px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 8px;
  background: #b6c2b9;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #00634b;
}
