%tb {
  &-flex {
    display: flex;
    &-center {
      align-items: center;
      justify-content: center;
    }
    &-between {
      @extend %tb-flex;
      justify-content: space-between;
    }
  }
}
%bold { font-weight: bold;}
%pos {
  &-relative {
    position: relative;
  }
  &-absolute {
    position: absolute;
  }
}

%txt {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}
%clear:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
