@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}

@function calc-img($target) {
  @return ($target / 2) + px;
}

@mixin respond-to($media) {
  @media only screen and (max-width: $media + 'px') {
    @content;
  }
}

@mixin f-sp() {
  display: inline-block;
  width: 100%;
  text-align:  center;
  li {
    display:  inline-block;
    padding: 0 10px;
    margin-bottom: 10px;
  }
}
