@charset "UTF-8";
.c-tabs__link:after, .c-main-menu1:after {
  display: block;
  clear: both;
  content: "";
}

.l-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1000px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 100%;
  }
}

/*------------------------------------------------
  layout
------------------------------------------------*/
/*------------------------------------------------
  layout main
------------------------------------------------*/
.l-main {
  display: block;
  position: relative;
  padding-bottom: 200px;
}

/*----------------------------------------------
	Headline
----------------------------------------------*/
.l-wrap {
  display: block;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

/*---------------------------------------------
  Component show following divice size.
---------------------------------------------*/
@media only screen and (max-width: 768px) {
  .c-pc {
    display: none;
  }
}

.c-sp {
  display: none;
}

@media only screen and (max-width: 768px) {
  .c-sp {
    display: block;
  }
}

.c-sp--inline {
  display: none;
}

@media only screen and (max-width: 768px) {
  .c-sp--inline {
    display: inline-block;
  }
}

/*-----------------------------------------
  menu Smartphone
-----------------------------------------*/
.c-menuSP {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 11px;
  right: 14px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  cursor: pointer;
  z-index: 9999;
  background: #4471c6;
  border-radius: 4px;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 15px;
  height: 2px;
  background: #fff;
  margin: 5px auto auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menulistSP {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  display: none;
  background: rgba(68, 113, 198, 0.65);
}

.c-menulistSP li {
  position: relative;
  border-top: 1px solid #7998ce;
}

.c-menulistSP a {
  text-decoration: none;
  display: block;
  text-align: left;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 19px 15px;
}

@media only screen and (max-width: 768px) {
  .c-menulistSP a {
    font-size: 1.5rem;
  }
}

/*-----------------------------------------
  menu responsive
-----------------------------------------*/
.is-open {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
}

/*-----------------------------------------------
  Table
-----------------------------------------------*/
.c-table1 table {
  width: 100%;
  height: auto;
  border-spacing: 0;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

.c-table1 table tr {
  width: 100%;
  vertical-align: text-top;
  border: 1px solid #d4d4d4;
}

.c-table1 table tr > th {
  width: 209px;
  background: #f6f6f6;
  font-weight: normal;
  border-right: 1px solid #d4d4d4;
}

.c-table1 table tr > th, .c-table1 table tr td {
  padding: 19px 20px 18px;
}

/*-----------------------------------
*@header
-----------------------------------*/
.c-header {
  position: relative;
  display: block;
  padding: 30px 0 68px;
}

.c-header__inner {
  display: block;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.c-header h1 {
  padding: 40px 0;
  font-size: 3.8rem;
}

/*-----------------------------------
*@tab link
-----------------------------------*/
.c-tabs__link {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #999;
}

.c-tabs__link li {
  float: left;
  border-bottom: none;
}

.c-tabs__link li a {
  position: relative;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.c-tabs__link li a:hover {
  background: #fff;
}

.c-tabs__link .active {
  font-weight: bold;
  background: #fff;
  border: 1px solid #999;
  border-bottom: none;
}

.c-tabs__link .active a:hover {
  font-weight: bold;
  background: #fff;
  border: 1px solid #999;
  border-bottom: none;
}

.c-tabs__link .active a:after {
  content: '';
  position: absolute;
  background-color: #fff;
  display: block;
  width: 100%;
  height: 9px;
  bottom: -3%;
  left: 0;
}

/*-----------------------------------
@Menu
-----------------------------------*/
.c-main-menu1 li {
  float: left;
}

.c-main-menu1 li a {
  display: block;
  padding: 5px 10px 10px;
  font-size: 1.6rem;
  color: #000;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.c-main-menu1 li a:hover {
  border-bottom: 1px solid #000;
}

.c-main-menu1 .link-active {
  border-bottom: 1px solid #000;
}

/*-----------------------------------
@Content
-----------------------------------*/
.c-tabs__content .c-ele1 {
  position: relative;
  padding: 20px 0 40px;
}

/*-----------------------------------
@List
-----------------------------------*/
.c-tabs__list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-tabs__list1 .c-tabs__card1 {
  width: 30%;
  margin: 0 16px 20px;
  cursor: pointer;
}

.c-tabs__list1 .c-tabs__card1 .c-img1 img {
  width: 100%;
}

.c-tabs__list1 .c-tabs__card1 .c-content1 {
  text-align: justify;
  padding: 10px 10px;
}

.c-tabs__list1 .c-tabs__card1 .c-content1 p {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  height: 67.2;
  font-size: 14;
  line-height: 1.6;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.c-tabs__list1 .c-tabs__card1 .c-tag {
  padding: 5px 0;
  background: #ccc;
  font-size: 1.5rem;
}

.c-tabs__list1 .c-tabs__card1 .c-lug .fa-tag {
  color: #922310;
  margin-right: 6px;
  font-size: 1.6rem;
}

/*-----------------------------------
@Select box
-----------------------------------*/
.c-main-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-main-select select {
  position: relative;
  width: 200px;
  margin-right: 20px;
  padding: 7px 20px;
  background-image: none;
  background: #fafafa no-repeat 90% 50%;
}

/*-----------------------------------
*@Modal
-----------------------------------*/
.show-modal {
  display: none;
  position: fixed;
  overflow-x: hidden;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.74);
  cursor: initial !important;
  -webkit-animation-name: modalbox;
          animation-name: modalbox;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.3, 1.6);
          animation-timing-function: cubic-bezier(0, 0, 0.3, 1.6);
}

.show-modal .modal-content {
  position: relative;
  top: 50%;
  width: 65%;
  max-width: 600px;
  margin: 100px 0;
  left: 50%;
  -webkit-transform: translate(-50%, -43%);
          transform: translate(-50%, -43%);
  background-color: white;
}

.show-modal .modal-prev {
  display: inline-block;
  height: 85px;
  position: absolute;
  top: 67%;
  bottom: 0;
  cursor: pointer;
  background: none;
  right: 75%;
}

.show-modal .modal-prev .fa-chevron-left {
  font-size: 8.8rem;
  color: #fff;
}

.show-modal .modal-next {
  display: inline-block;
  height: 85px;
  position: absolute;
  top: 67%;
  bottom: 0;
  cursor: pointer;
  background: none;
  left: 75%;
}

.show-modal .modal-next .fa-chevron-right {
  font-size: 8.8rem;
  color: #fff;
}

.show-modal .close-button {
  position: absolute;
  display: inline-block;
  top: -54px;
  right: -1px;
  font-size: 39px;
  line-height: 1.0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background: lightgray;
}

.show-modal .close-button:hover {
  background-color: darkgray;
}

.show-modal .c-img1 {
  display: block;
  width: 100%;
  height: 450px;
}

.show-modal .c-img1 img {
  width: 100%;
  height: 100%;
}

.show-modal .c-content1 {
  text-align: justify;
  padding: 10px 10px;
}

.show-modal .c-content1 p {
  margin-bottom: 10px;
}

.show-modal .c-tag {
  padding: 5px 0;
  background: #ccc;
  font-size: 1.5rem;
}

.show-modal .c-lug .fa-tag {
  color: #922310;
  margin-right: 6px;
  font-size: 1.6rem;
}

.modal-active {
  display: block;
}

/*------------------------------------
*----------animation CSS3-------------
------------------------------------*/
@-webkit-keyframes modalbox {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes modalbox {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
