.p-infil5-content:after, .p-dannetu5-content:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p-top1 {
  margin: 45px 0 78px;
}

@media only screen and (max-width: 768px) {
  .p-top1 {
    margin: 25px 0 31px;
  }
  .p-top1__imgSPIcon {
    width: 40px;
  }
}

.p-top1 h2 {
  position: relative;
  margin-bottom: 21px;
}

.p-top1-listBox1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
}

.p-top1-listBox1 a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  .p-top1-listBox1 {
    width: auto;
    padding: 0 23px;
  }
}

.p-top1-adsinfo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .p-top1-adsinfo1 {
    display: block;
  }
}

.p-top1-adsinfo1 .p-item1 {
  margin-right: 50px;
}

@media only screen and (max-width: 768px) {
  .p-top1-adsinfo1 .p-item1 {
    margin-right: 0;
  }
}

.p-top1-adsinfo1 .p-item2 {
  margin-right: 33px;
}

@media only screen and (max-width: 768px) {
  .p-top1-adsinfo1 .p-item2 {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .p-top1-adsinfo1 .c-box1 {
    margin-bottom: 30px;
    text-align: center;
  }
}

.p-top1-adsinfo1 .c-box1 > .l-flexbox {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .p-top1-adsinfo1 .c-box1 > .l-flexbox {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.p-top1-adsinfo1 .c--ml1 {
  margin-left: 50px;
}

@media only screen and (max-width: 768px) {
  .p-top1-adsinfo1 .c--ml1 {
    margin-left: 8px;
  }
}

.p-top1-adsBox1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 90px;
  padding: 21px 28px 76px;
  border: 1px solid #bcbcbc;
  text-align: left;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  margin-bottom: 18px;
}

.p-top1-adsBox1:hover {
  color: white;
  background: #73C6C7;
}

.p-top1-adsBox1:hover .p-top1-adsicon1--bg1 {
  background-image: url(../img/icon1-hover.svg);
}

.p-top1-adsBox1:hover .p-top1-adsicon1--bg2 {
  background-image: url(../img/icon2-hover.svg);
}

.p-top1-adsBox1:hover .p-top1-adsicon1--bg3 {
  background-image: url(../img/icon3-hover.svg);
}

.p-top1-adsBox1:hover .p-top1-adstitle1--bg1 {
  background-image: url(../img/i-title1-hover.svg);
}

.p-top1-adsBox1:hover .p-top1-adstitle2--bg1 {
  background-image: url(../img/i-title2-hover.svg);
}

.p-top1-adsBox1:hover .p-top1-adstitle3--bg1 {
  background-image: url(../img/i-title3-hover.svg);
}

@media only screen and (max-width: 768px) {
  .p-top1-adsBox1 {
    max-width: 330px;
    height: auto;
    margin: 0 auto 18px;
    padding: 40px 30px 55px;
  }
  .p-top1-adsBox1__textBoxSP {
    margin-bottom: 30px;
    text-align: center;
  }
  .p-top1-adsBox1__textBoxSP > .l-flexbox {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.p-top1-adsBox1__txt {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 426px;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .p-top1-adsBox1__txt {
    width: auto;
    font-size: 16px;
  }
}

.p-top1-adsicon1 {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .p-top1-adsicon1 {
    width: 36px;
    height: 33px;
  }
}

.p-top1-adsicon1--bg1 {
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  background: url(../img/icon1.svg) no-repeat;
  background-size: 100% 100%;
}

.p-top1-adsicon1--bg2 {
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  background: url(../img/icon2.svg) no-repeat;
  background-size: 100% 100%;
}

.p-top1-adsicon1--bg3 {
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  background: url(../img/icon3.svg) no-repeat;
  background-size: 100% 100%;
}

.p-top1-adstitle1 {
  width: 143px;
  height: 24px;
}

@media only screen and (max-width: 768px) {
  .p-top1-adstitle1 {
    width: 112px;
    height: 19px;
    margin-top: 3px;
  }
}

.p-top1-adstitle1--bg1 {
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  background: url(../img/i-title1.svg) no-repeat left;
}

.p-top1-adstitle2 {
  width: 143px;
  height: 24px;
}

@media only screen and (max-width: 768px) {
  .p-top1-adstitle2 {
    width: 43px;
    height: 20px;
    margin-top: 4px;
  }
}

.p-top1-adstitle2--bg1 {
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  background: url(../img/i-title2.svg) no-repeat left;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .p-top1-adstitle2--bg1 {
    background: url(../img/i-title2.svg) no-repeat -40px 0;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 768px), only screen and (-ms-high-contrast: none) and (max-width: 768px) {
  .p-top1-adstitle2--bg1 {
    background-position-x: 0;
  }
}

.p-top1-adstitle3 {
  width: 158px;
  height: 25px;
}

@media only screen and (max-width: 768px) {
  .p-top1-adstitle3 {
    width: 124px;
    height: 20px;
    margin-top: 3px;
  }
}

.p-top1-adstitle3--bg1 {
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  background: url(../img/i-title3.svg) no-repeat left;
}

.p-top1__text1 {
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 32px;
}

@media only screen and (max-width: 768px) {
  .p-top1__text1 {
    padding: 0 23px;
  }
}

.p-top1__mainText1 {
  margin-bottom: 13px;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 3px;
}

@media only screen and (max-width: 768px) {
  .p-top1__mainText1 {
    line-height: 1.4;
    font-size: 16px;
  }
}

.p-top2 {
  margin-bottom: 75px;
}

@media only screen and (max-width: 768px) {
  .p-top2 {
    margin-bottom: 34px;
  }
}

.p-top2-box2__text1 {
  text-align: center;
  line-height: 26px;
}

.p-top2-box2__text1 h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 14px;
  letter-spacing: 3px;
}

@media only screen and (max-width: 768px) {
  .p-top2-box2__text1 h2 {
    font-size: 20px;
  }
}

.p-top2-list1 .c-list1__card {
  position: relative;
  width: 24.85%;
  margin-bottom: 0.2%;
}

@media only screen and (max-width: 768px) {
  .p-top2-list1 .c-list1__card {
    width: 49.7%;
    margin-bottom: 0.6%;
  }
}

.p-top2-list1 .c-list1__card > img {
  width: 100%;
}

.p-top2__btn1 {
  position: relative;
  margin: 50px 0 58px;
}

@media only screen and (max-width: 768px) {
  .p-top2__btn1 {
    margin: 30px 0;
  }
}

.p-top2__listerbox {
  padding: 60px 0 32px;
  background: url(../img/i-listerbg.gif) repeat;
}

@media only screen and (max-width: 768px) {
  .p-top2__listerbox {
    padding: 60px 23px 32px;
  }
}

.p-top2__talkImg {
  margin-top: -84px;
  margin-bottom: 11px;
}

@media only screen and (max-width: 768px) {
  .p-top2__talkImg {
    margin-top: -75px;
  }
}

.p-top2__talkImg img {
  width: 444px;
  height: 77px;
}

@media only screen and (max-width: 768px) {
  .p-top2__talkImg img {
    width: 260px;
    height: 45px;
  }
}

.p-top2__listerImg {
  margin-top: 17px;
}

.p-top2__listerImg img {
  width: 730px;
  height: 125px;
}

@media only screen and (max-width: 768px) {
  .p-top2__listerImg img {
    width: 274px;
    height: 47px;
  }
}

.p-top2__smicon1 {
  position: absolute;
  bottom: 12px;
  right: 17px;
  width: 28%;
}

@media only screen and (max-width: 768px) {
  .p-top2__smicon1 {
    bottom: 3%;
    right: 9px;
  }
}

.p-top2__smicon1 img {
  width: 100%;
}

.p-top2__ads {
  margin-bottom: 74px;
}

@media only screen and (max-width: 768px) {
  .p-top2__ads {
    margin: 0 auto 43px !important;
  }
}

.p-top3 {
  margin-bottom: 72px;
}

@media only screen and (max-width: 768px) {
  .p-top3 {
    margin-bottom: 45px;
  }
}

.p-top3-box1 {
  padding: 0 10px;
}

@media only screen and (max-width: 768px) {
  .p-top3-box1 {
    padding: 0 23px;
  }
}

/*--------------------------------------------------
 concept_taishin
--------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .p-taishin__imgSP1 {
    width: 214px;
  }
  .p-taishin__imgSP2 {
    width: 223px;
  }
}

.p-taishin1 {
  margin: 70px 0 70px;
}

@media only screen and (max-width: 768px) {
  .p-taishin1 {
    margin: 25px 0 25px;
    padding: 0 23px;
  }
}

.p-taishin1__imgText1 {
  margin-bottom: 37px;
}

@media only screen and (max-width: 768px) {
  .p-taishin1__imgText1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 310px;
    margin: 0 auto 18px;
  }
}

.p-taishin1__imgText1 img {
  width: 614px;
}

@media only screen and (max-width: 768px) {
  .p-taishin1__imgText1 img {
    width: 100%;
  }
}

.p-taishin1__imgText2 {
  position: relative;
  margin-left: -108px;
}

@media only screen and (max-width: 768px) {
  .p-taishin1__imgText2 {
    max-width: 304px;
    margin: 0 auto;
  }
}

.p-taishin1__imgText2 img {
  width: 709px;
}

@media only screen and (max-width: 768px) {
  .p-taishin1__imgText2 img {
    width: 100%;
  }
}

.p-taishin1__text1 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.65;
  margin-bottom: 83px;
}

@media only screen and (max-width: 768px) {
  .p-taishin1__text1 {
    font-size: 12px;
    text-align: center;
    margin-bottom: 35px;
  }
}

.p-taishin1__linebot {
  position: relative;
}

.p-taishin1__linebot:after {
  content: '';
  height: 8px;
  background: url(../img/taishin/i-line0.png) repeat-x;
  position: absolute;
  left: 0;
  bottom: 4px;
  z-index: -1;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .p-taishin1__linebot:after {
    bottom: 1px;
  }
}

.p-taishin2 {
  margin-bottom: 73px;
}

@media only screen and (max-width: 768px) {
  .p-taishin2 {
    margin-bottom: 32px;
    padding: 0 23px;
  }
  .p-taishin2-box1 {
    max-width: 330px;
    margin: 0 auto;
  }
}

.p-taishin2 .c-taishin2-mainbox {
  margin-bottom: 59px;
}

@media only screen and (max-width: 768px) {
  .p-taishin2 .c-taishin2-mainbox {
    margin-bottom: 32px;
  }
}

.p-taishin2__img1 {
  width: 32%;
}

.p-taishin2__img1 img {
  width: 100%;
}

.p-taishin2__img2 {
  width: 62%;
}

.p-taishin2__img2 img {
  width: 100%;
}

.p-taishin2__btn1 {
  margin-top: 84px;
}

@media only screen and (max-width: 768px) {
  .p-taishin2__btn1 {
    margin-top: 32px;
  }
}

.p-taishin3 {
  margin-bottom: 95px;
}

@media only screen and (max-width: 768px) {
  .p-taishin3 {
    margin-bottom: 32px;
  }
}

.p-taishin4 {
  margin-bottom: 65px;
}

@media only screen and (max-width: 768px) {
  .p-taishin4 {
    padding: 0 23px;
    margin-bottom: 30px;
  }
}

.p-taishin4-box1 {
  padding: 32px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/taishin/bg1.png) no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .p-taishin4-box1 {
    max-width: 330px;
    height: auto;
    margin: 0 auto;
    padding: 12px 12px;
  }
}

.p-taishin4-box1__type1 {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  padding: 37px 30px;
}

@media only screen and (max-width: 768px) {
  .p-taishin4-box1__type1 {
    padding: 24px 17px;
  }
}

.p-taishin4-titleBox {
  display: inline-block;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 191px;
  padding: 7px 0;
  font-weight: bold;
  font-size: 27px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 3px solid #73C6C7;
}

@media only screen and (max-width: 768px) {
  .p-taishin4-titleBox {
    top: -9px;
    width: 91px;
    padding: 2px 0;
    font-size: 14px;
    border: 2px solid #73C6C7;
  }
}

.p-taishin4__text {
  font-size: 27px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .p-taishin4__text {
    font-size: 13px;
  }
}

.p-taishin4__linebot {
  position: relative;
}

.p-taishin4__linebot:after {
  content: '';
  height: 8px;
  background: url(../img/taishin/i-linetext.png) repeat-x;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .p-taishin4__linebot:after {
    content: none;
  }
}

.p-taishin5 {
  margin-bottom: 72px;
}

@media only screen and (max-width: 768px) {
  .p-taishin5 {
    margin-bottom: 27px;
  }
}

.p-taishin5-box1 {
  padding: 0 10px;
}

@media only screen and (max-width: 768px) {
  .p-taishin5-box1 {
    padding: 0 23px;
  }
}

/*--------------------------------------------------
 concept_infil
--------------------------------------------------*/
.p-infil1 {
  margin: 69px 0 60px;
}

@media only screen and (max-width: 768px) {
  .p-infil1 {
    margin: 31px 0 31px;
    padding: 0 23px;
  }
  .p-infil1-listbox1 {
    max-width: 322px;
    margin: 0 auto;
  }
}

.p-infil1-textbox1 {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  margin-top: 92px;
}

@media only screen and (max-width: 768px) {
  .p-infil1-textbox1 {
    margin-top: 37px;
    font-size: 14px;
  }
}

.p-infil1-textbox1--bg {
  position: absolute;
  top: -41px;
  left: 0;
  right: 0;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .p-infil1-textbox1--bg {
    top: -22px;
  }
  .p-infil1-textbox1--bg img {
    width: 155px;
  }
}

@media only screen and (max-width: 768px) {
  .p-infil1__imgText1 {
    max-width: 300px;
    margin: 0 auto;
  }
  .p-infil1__imgText1 img {
    width: 100%;
  }
}

.p-infil1__imgText1--mb1 {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .p-infil1__imgText1--mb1 {
    margin-bottom: 19px;
  }
}

.p-infil1__card img {
  width: 236px;
  height: 236px;
}

@media only screen and (max-width: 768px) {
  .p-infil1__card {
    margin: 0 auto 6px;
  }
  .p-infil1__card img {
    width: 158px;
    height: 158px;
  }
}

.p-infil2 {
  margin-bottom: 75px;
}

@media only screen and (max-width: 768px) {
  .p-infil2 {
    margin-bottom: 38px;
    padding: 0 22px;
  }
}

.p-infil3 {
  margin-bottom: 76px;
}

@media only screen and (max-width: 768px) {
  .p-infil3 {
    margin-bottom: 24px;
    padding: 0 23px;
  }
  .p-infil3__img img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .p-infil3-list1 {
    margin: 0 auto;
  }
  .p-infil3-list1 .c-list1 {
    display: block;
  }
}

.p-infil3__mainTitle1 {
  margin-bottom: 9px;
}

@media only screen and (max-width: 768px) {
  .p-infil3__mainTitle1 {
    margin-bottom: 2px;
  }
}

.p-infil3__mainTitle1 h2 {
  font-size: 27px;
  text-align: left;
  letter-spacing: 3px;
}

@media only screen and (max-width: 768px) {
  .p-infil3__mainTitle1 h2 {
    font-size: 15px;
  }
}

.p-infil3__mainTitle1 h2:after {
  content: '';
  background: url(../img/infil/i-styleln.svg) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 20px;
  margin-top: 15px;
  display: block;
}

@media only screen and (max-width: 768px) {
  .p-infil3__mainTitle1 h2:after {
    height: 10px;
    background: url(../img/infil/i-styleln.svg) no-repeat;
    margin-top: 8px;
  }
}

.p-infil3__text1 {
  font-size: 20px;
  line-height: 2.0;
  text-align: justify;
  padding: 0 5px;
}

@media only screen and (max-width: 768px) {
  .p-infil3__text1 {
    font-size: 12px;
    line-height: 1.6;
    padding: 0;
  }
}

.p-infil3__text1--mb1 {
  margin-bottom: 18px;
}

@media only screen and (max-width: 768px) {
  .p-infil3__text1--mb1 {
    margin-bottom: 16px;
  }
}

.p-infil3__card {
  width: 302px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .p-infil3__card {
    width: auto;
    max-width: 302px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .p-infil3__card--mb1SP {
    margin-bottom: 10px;
  }
}

.p-infil3__info {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  padding: 10px 3px;
  background: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 768px) {
  .p-infil3__info {
    font-size: 15px;
  }
}

.p-infil4 {
  margin-bottom: 80px;
}

@media only screen and (max-width: 768px) {
  .p-infil4 {
    margin-bottom: 25px;
  }
}

.p-infil5 {
  margin-bottom: 62px;
}

@media only screen and (max-width: 768px) {
  .p-infil5 {
    margin-bottom: 30px;
    padding: 0 23px;
  }
}

.p-infil5-content {
  font-size: 18px;
  text-align: justify;
  padding: 52px 52px 81px;
  background: #F9F1E7;
  line-height: 2.1;
}

@media only screen and (max-width: 768px) {
  .p-infil5-content {
    padding: 20px 15px 0;
    font-size: 12px;
    line-height: 1.7;
    max-width: 330px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
  }
}

.p-infil5-h2--mb1 {
  margin-bottom: 14px;
}

@media only screen and (max-width: 768px) {
  .p-infil5-h2--mb1 {
    margin-bottom: 7px;
  }
}

.p-infil5-h2--mb1 {
  margin-left: -18px;
}

@media only screen and (max-width: 768px) {
  .p-infil5-h2--mb1 {
    margin-left: -7px;
  }
}

.p-infil5-h2--size1 img {
  width: 691px;
}

@media only screen and (max-width: 768px) {
  .p-infil5-h2--size1 img {
    width: 226px;
  }
}

.p-infil5__text--mb1 {
  margin-bottom: 45px;
}

@media only screen and (max-width: 768px) {
  .p-infil5__text--mb1 {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .p-infil5__specialbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .p-infil5__specialbox--mb1SP {
    margin-bottom: 15px;
  }
}

.p-infil5__specialbox p {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.p-infil5__person {
  position: absolute;
  bottom: -3px;
  right: 54px;
}

@media only screen and (max-width: 768px) {
  .p-infil5__person {
    position: relative;
  }
  .p-infil5__person img {
    width: 163px;
  }
}

.p-infil5__imgperson1 {
  width: 249px;
}

@media only screen and (max-width: 768px) {
  .p-infil5__imgperson1 {
    width: 125px;
    float: right;
  }
  .p-infil5__imgperson1--mr1 {
    margin: 0 -6px 0 10px;
  }
}

.p-infil6 .c-infoBox__btn1 {
  margin-bottom: 78px;
}

@media only screen and (max-width: 768px) {
  .p-infil6 .c-infoBox__btn1 {
    margin-bottom: 26px;
  }
}

/*--------------------------------------------------
 concept_dannetu
--------------------------------------------------*/
.p-dannetu1 {
  margin: 69px 0 180px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1 {
    margin: 30px 0 60px;
    padding: 0 23px;
  }
}

.p-dannetu1-smbox1 {
  width: 702px;
  margin: 0 auto 0 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 31px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1-smbox1 {
    width: auto;
    max-width: 330px;
    margin: 0 auto;
    font-size: 15px;
  }
}

.p-dannetu1-obj1 {
  width: 292px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 32px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1-obj1 {
    padding: 0;
    width: auto;
    margin: 0 auto;
  }
  .p-dannetu1-obj1__line1 {
    padding: 0 15px;
  }
}

.p-dannetu1-obj1--bg1, .p-dannetu1-obj1--bg2 {
  position: absolute;
  top: -248px;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1-obj1--bg1, .p-dannetu1-obj1--bg2 {
    top: -98px;
    width: 116px;
    z-index: -1;
  }
}

.p-dannetu1-obj1--bg1 img, .p-dannetu1-obj1--bg2 img {
  width: 292px;
  height: 423px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1-obj1--bg1 img, .p-dannetu1-obj1--bg2 img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .p-dannetu1-obj1--bg1 {
    left: -12px;
  }
}

@media only screen and (max-width: 768px) {
  .p-dannetu1-obj1--bg2 {
    left: -12px;
  }
}

.p-dannetu1-obj1__line1 {
  position: relative;
}

.p-dannetu1-obj1__line1:after {
  content: '';
  height: 8px;
  background: url(../img/dannetu/i-boxline.svg) repeat-x;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: -1;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1-obj1__line1:after {
    height: 2px;
    bottom: -3px;
    background: url(../img/dannetu/sp-boxline.svg) repeat-x;
  }
}

.p-dannetu1-obj2 {
  position: relative;
  top: 14px;
}

.p-dannetu1-obj2 img {
  width: 58px;
  height: 33px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1-obj2 img {
    width: 23px;
    height: 13px;
  }
}

.p-dannetu1--mb1 {
  margin-bottom: 52px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1--mb1 {
    margin-bottom: 33px;
  }
}

.p-dannetu1--mb2 {
  margin-bottom: 135px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1--mb2 {
    margin-bottom: 64px;
  }
}

@media only screen and (max-width: 768px) {
  .p-dannetu1__imgText1 {
    max-width: 300px;
    margin: 0 auto;
  }
}

.p-dannetu1__imgText1 img {
  width: 762px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1__imgText1 img {
    width: 100%;
  }
}

.p-dannetu1__imgText1--mb1 {
  margin-bottom: 36px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1__imgText1--mb1 {
    margin-bottom: 27px;
  }
}

.p-dannetu1__text1 {
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.65;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1__text1 {
    font-size: 13px;
    line-height: 1.5;
  }
}

.p-dannetu1__text2 {
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-dannetu1__text2 {
    padding: 0 23px;
    font-size: 13px;
    line-height: 1.5;
  }
}

.p-dannetu1__linebot {
  position: relative;
}

.p-dannetu1__linebot:after {
  content: '';
  height: 8px;
  background: url(../img/dannetu/i-line1.png) repeat-x;
  position: absolute;
  left: 0;
  bottom: 4px;
  z-index: -1;
  width: 100%;
}

.p-dannetu2 {
  margin-bottom: 76px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu2 {
    margin-bottom: 32px;
    padding: 0 23px;
  }
  .p-dannetu2-box1 {
    max-width: 330px;
    margin: 0 auto;
  }
}

.p-dannetu2__img1 {
  width: 48%;
}

.p-dannetu2__img1 img {
  width: 100%;
}

.p-dannetu3 {
  margin-bottom: 119px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu3 {
    margin-bottom: 32px;
  }
}

.p-dannetu4 {
  margin-bottom: 113px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu4 {
    padding: 0 23px;
    margin-bottom: 30px;
  }
}

.p-dannetu4-box1 {
  padding: 32px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/taishin/bg1.png) no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .p-dannetu4-box1 {
    max-width: 330px;
    height: auto;
    margin: 0 auto;
    padding: 12px 12px;
  }
}

.p-dannetu4-box1__type1 {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  padding: 53px 30px 40px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu4-box1__type1 {
    padding: 24px 10px;
  }
}

.p-dannetu4-titleBox {
  display: inline-block;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 191px;
  padding: 7px 0;
  font-weight: bold;
  font-size: 27px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 3px solid #73C6C7;
}

@media only screen and (max-width: 768px) {
  .p-dannetu4-titleBox {
    top: -9px;
    width: 91px;
    padding: 2px 0;
    font-size: 14px;
    border: 2px solid #73C6C7;
  }
}

.p-dannetu4__text {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu4__text {
    font-size: 13px;
  }
}

.p-dannetu4__linebot {
  position: relative;
}

.p-dannetu4__linebot:after {
  content: '';
  height: 8px;
  background: url(../img/taishin/i-linetext.png) repeat-x;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .p-dannetu4__linebot:after {
    content: none;
  }
}

.p-dannetu5 {
  margin-bottom: 85px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu5 {
    margin-bottom: 30px;
    padding: 0 23px;
  }
}

.p-dannetu5-content {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  text-align: justify;
  padding: 43px 46px 0;
  background: #F9F1E7;
  line-height: 2.1;
}

@media only screen and (max-width: 768px) {
  .p-dannetu5-content {
    max-width: 330px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 15px 0;
    font-size: 12px;
    line-height: 1.7;
  }
}

.p-dannetu5-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-dannetu5-h2--mb1 {
  margin-bottom: 18px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu5-h2--mb1 {
    margin-bottom: 7px;
  }
}

.p-dannetu5-h2--ml1 {
  margin-left: -18px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu5-h2--ml1 {
    margin-left: -6px;
  }
}

.p-dannetu5-h2--size1 img {
  width: 506px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu5-h2--size1 img {
    width: 222px;
  }
}

.p-dannetu5__text--mb1 {
  margin-bottom: 45px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu5__text--mb1 {
    margin-bottom: 25px;
  }
}

.p-dannetu5__person {
  margin-top: -18px;
  width: calc(100% - 611px);
}

@media only screen and (max-width: 768px) {
  .p-dannetu5__person {
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .p-dannetu5__person img {
    width: 153px;
  }
}

.p-dannetu5__text1 {
  width: 611px;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .p-dannetu5__text1 {
    width: auto;
    white-space: normal;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .p-dannetu5__text1 p:last-child {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .p-dannetu5__imgperson1 {
    width: 139px;
    float: right;
  }
  .p-dannetu5__imgperson1--mr1 {
    margin: 0 -5px 0 10px;
  }
}

.p-dannetu6 {
  margin-bottom: 65px;
}

@media only screen and (max-width: 768px) {
  .p-dannetu6 {
    margin-bottom: 27px;
  }
}
