/*
*container
*/
/*
*flex between css
*/
/*
*select-box
*/
/*
*previous button and next button(Type One)
*/
/*
*Custom scrollbar
*/
/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p-top1 {
  position: relative;
  display: block;
  padding: 30px 0 22px;
}

@media only screen and (max-width: 767px) {
  .p-top1 {
    padding: 20px 20px 30px;
  }
}

.p-top1 .title1 {
  position: relative;
  padding-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .p-top1 .title1 {
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top1 .title1 p {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .p-top1 .title1 p img {
    width: 100%;
  }
}

.p-top1 .title1__logo {
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 767px) {
  .p-top1 .title1__logo {
    display: none;
  }
}

.p-top1__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .p-top1__inner {
    display: block;
  }
}

.p-top1__inner .box1 {
  position: relative;
  width: 48%;
}

@media only screen and (max-width: 767px) {
  .p-top1__inner .box1 {
    width: auto;
    margin-bottom: 15px;
  }
}

.p-top1__inner .box1 .slick-list {
  z-index: -1;
}

.p-top1__inner .box1 .c-slider1__ele1 img {
  width: 100%;
}

.p-top1__inner .box1 .c-prev {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 37px;
  height: 37px;
  margin: 0 auto;
  padding: 7px;
  background: rgba(120, 115, 115, 0.788235);
  top: 46%;
  display: block;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .p-top1__inner .box1 .c-prev {
    width: 25px;
    height: 25px;
    left: 0;
  }
}

.p-top1__inner .box1 .c-next {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 37px;
  height: 37px;
  margin: 0 auto;
  padding: 7px;
  background: rgba(120, 115, 115, 0.788235);
  top: 46%;
  display: block;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  right: 0px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .p-top1__inner .box1 .c-next {
    width: 25px;
    height: 25px;
  }
}

.p-top1__inner .box2 {
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .p-top1__inner .box2 {
    width: auto;
  }
}

.p-top1__inner .box2 .c-list1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-top1__inner .box2 .c-list1__card {
  position: relative;
  width: 343px;
  height: 220px;
  margin-bottom: 25px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.p-top1__inner .box2 .c-list1__card:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media only screen and (max-width: 767px) {
  .p-top1__inner .box2 .c-list1__card {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 49%;
    min-width: 240px;
    height: auto;
    padding: 0 5px;
    margin: 0 auto 15px;
  }
}

.p-top1__inner .box2 .c-list1__card:nth-child(2n + 1) {
  margin-right: 24px;
}

@media only screen and (max-width: 767px) {
  .p-top1__inner .box2 .c-list1__card:nth-child(2n + 1) {
    margin-right: auto;
  }
}

.p-top1__inner .box2 .c-list1__img img {
  width: 100%;
}

.p-top1__inner .box2 .c-list1__text1 {
  position: absolute;
  top: 6px;
  left: 7px;
  padding-right: 7px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .p-top1__inner .box2 .c-list1__text1 {
    padding-right: 4px;
  }
}

.p-top1__inner .box2 .c-list1__text1 img {
  width: 100%;
}

.p-top1__inner .box2 .c-list1__title1 {
  position: absolute;
  bottom: 12px;
  left: 13px;
}

@media only screen and (max-width: 767px) {
  .p-top1__inner .box2 .c-list1__title1 h2 img {
    width: 63px;
  }
}

.p-top1__inner .box2 .c-list1__icon1 {
  position: absolute;
  bottom: 11px;
  right: 9px;
}

@media only screen and (max-width: 767px) {
  .p-top1__inner .box2 .c-list1__icon1 {
    right: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top1__inner .box2 .c-list1__icon1 img {
    width: 20px;
  }
}

.p-top2 {
  position: relative;
  display: block;
  padding-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  .p-top2 {
    padding: 0 20px 20px;
  }
}

.p-top3 {
  position: relative;
  display: block;
  padding-bottom: 80px;
}

@media only screen and (max-width: 767px) {
  .p-top3 {
    padding: 0 20px 40px;
  }
}

.p-top3__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .p-top3__inner {
    display: block;
  }
}

.p-top3__inner .box1 {
  position: relative;
  width: 814px;
  padding-bottom: 30px;
  border-bottom: 7px solid #663333;
}

@media only screen and (max-width: 767px) {
  .p-top3__inner .box1 {
    width: auto;
    border-bottom: 4px solid #663333;
  }
}

.p-top3__inner .box2 {
  position: relative;
  width: 570px;
  padding-bottom: 30px;
  border-bottom: 7px solid #663333;
}

@media only screen and (max-width: 767px) {
  .p-top3__inner .box2 {
    width: auto;
    margin-top: 50px;
    border-bottom: 4px solid #663333;
  }
}

.p-top3__list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  overflow-y: scroll;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-top3__list1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #969696;
}

.p-top3__list1::-webkit-scrollbar {
  width: 7px;
  background-color: #663333;
}

.p-top3__list1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #663333;
}

.p-top3__list1 .p-list1__card1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 382px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 20px;
  margin-right: 15px;
  border-bottom: 2px solid #663333;
}

@media only screen and (max-width: 767px) {
  .p-top3__list1 .p-list1__card1 {
    width: 100%;
    padding: 10px 0;
  }
}

@media only screen and (max-width: 767px) {
  .p-top3__list1 .p-list1__card1 .p-img1__ad1 {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .p-top3__list1 .p-list1__card1 .p-img1__ad1 img {
    width: 100%;
  }
}

.p-top3__list1 .p-list1__card1 .p-img1 {
  margin-right: 8px;
}

@media only screen and (max-width: 767px) {
  .p-top3__list1 .p-list1__card1 .p-img1 img {
    width: 100px;
  }
}

.p-top3__list1 .p-list1__card1 .p-content {
  text-align: left;
  line-height: 1.7;
}

.p-top3__list1 .p-list1__card1 .p-content h3 {
  color: #663333;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.p-top3__list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  overflow-y: scroll;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
  .p-top3__list2 {
    display: block;
  }
}

.p-top3__list2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #969696;
}

.p-top3__list2::-webkit-scrollbar {
  width: 7px;
  background-color: #663333;
}

.p-top3__list2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #663333;
}

.p-top3__list2 .p-list2__card1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 21px 0;
  margin-right: 15px;
  border-bottom: 2px solid #663333;
}

@media only screen and (max-width: 767px) {
  .p-top3__list2 .p-list2__card1 {
    width: auto;
  }
}

.p-top3__list2 .p-list2__card1 .p-img1 {
  margin-right: 8px;
}

.p-top3__list2 .p-list2__card1 .p-content {
  text-align: left;
  line-height: 1.6;
}

.p-top3__list2 .p-list2__card1 .p-content h3 {
  color: #663333;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.p-top4 {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 600px;
  margin-bottom: 80px;
  padding: 90px 0 67px;
  background: url(../img/bg-banner.jpg) no-repeat left top;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 767px) {
  .p-top4 {
    height: auto;
    margin-bottom: 40px;
    padding: 45px 0 43px;
  }
}

.p-top4 .box1 {
  display: block;
  position: relative;
  text-align: left;
}

.p-top4 .box1 .title1 {
  display: block;
  margin: 0 0 52px 14px;
}

@media only screen and (max-width: 767px) {
  .p-top4 .box1 .title1 {
    margin-bottom: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top4 .box1 .title1 h2 {
    width: 70%;
  }
  .p-top4 .box1 .title1 h2 img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .p-top4 .box1 .img-text1 {
    width: 78%;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top4 .box1 .img-text1 img {
    width: 100%;
  }
}

.p-top4__btn1 {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  height: 70px;
  margin-top: 68px;
  text-align: center;
  background: #8fc43d;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

@media only screen and (max-width: 767px) {
  .p-top4__btn1 {
    width: 125px;
    height: auto;
    margin: 34px auto 0 12px;
  }
}

.p-top4__btn1:hover {
  opacity: 0.8;
}

.p-top4__btn1 a {
  display: block;
  color: #fff;
  padding: 19px;
  text-decoration: none;
  font-size: 2.2rem;
}

@media only screen and (max-width: 767px) {
  .p-top4__btn1 a {
    padding: 9px;
    font-size: 1.2rem;
  }
}

.p-top5 {
  display: block;
  padding-bottom: 100px;
}

@media only screen and (max-width: 767px) {
  .p-top5 {
    padding: 0 20px 50px;
  }
}

.p-top5 .p-many__text1 {
  padding-bottom: 36px;
}

@media only screen and (max-width: 767px) {
  .p-top5 .p-many__text1 {
    padding-bottom: 18px;
  }
}
