@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/*------------------------------------------------------------
  Component index
------------------------------------------------------------*/
.c {
  &-box {
    @extend %tb-flex;
    &--reverse { flex-direction: row-reverse; }
    @include respond-to(736) { display: block; }
  }
}

/*------------------------------------------------------------
  Component index
------------------------------------------------------------*/
.c {
  //----------------------------------------------------------
  &-head {
    //----------------------------------------------------------
    &__text1 {
      color: white;
      text-align:  left;
      padding: 9px 0;
      font-size: 1.3rem;
      float:  left;
    }
  }
  //----------------------------------------------------------
  &-contact {
    padding-top: 4px;
    text-align: left;
    color: white;
    font-size: 1.12rem;
    @extend %cf;
    //----------------------------------------------------------
    li {
      padding-left: 7px;
      display: inline-block;
      vertical-align: middle;
      &:first-child {
        padding-top: 1px;
        padding-left: 0;
      }
      &:last-child { padding-left: 16px; }
    }
  }
  //menu--------------------------------------------------------
  &-menu {
    padding: 15px 0 8px;
    background: #ffffff;
    @extend %cf;
  }
  //nav---------------------------------------------------------
  &-nav1 {
    float:  right;
    padding-top: 6px;
    //----------------------------------------------------------
    ul {
      height: 43px;
      background: url(../img/line-menu.png) no-repeat right 1px;
       //----------------------------------------------------------
      li {
        float: left;
        padding: 0 1px;
        background: url(../img/line-menu.png) no-repeat left top;
        &:first-child { padding-left: 3px; }
      }
       //----------------------------------------------------------
      a {
        display: block;
      }
       //menu hover----------------------------------------------------------
      .menu1-hover:hover a{
        background: url(../img/menu1-hover.png) no-repeat left top;
      }
      .menu2-hover:hover a{
        background: url(../img/menu2-hover.png) no-repeat left top;
      }
      .menu3-hover:hover a{
        background: url(../img/menu3-hover.png) no-repeat left top;
      }
      .menu4-hover:hover a{
        background: url(../img/menu4-hover.png) no-repeat left top;
      }
      .menu5-hover:hover a{
        background: url(../img/menu5-hover.png) no-repeat left top;
      }
      .menu6-hover:hover a{
        background: url(../img/menu6-hover.png) no-repeat left top;
      }
    }
  }
  &-banner {
    background: url(../img/slide.jpg) no-repeat left top;
    background-size: 100% 100%;
    height: 757px;
    box-sizing: border-box;
    padding-top: 76px;
    h1 {
      margin-left: 590px;
    }
  }

  //news-------------------------------------------------------
  &-news {
    display: flex;
    justify-content: start;
    margin: 115px 0 0;
    padding: 29px 0;

    &-col1 {
      padding: 0 34px 0 0;
      text-align: center;
      h2 {
        margin-top: 6px;
        margin-bottom: 20px;
        font-size: 19px;
        color: black;
        text-align:  center;
      }
      h3 {
        margin: 12px 0;
        font-size: 11px;
        color: #4677a9;
      }
    }

    //col2-----------------------------------------------------
    &-col2 {
      padding-left: 39px;
      dl {
        display: flex;
        font-size: 1.4rem;
        padding-bottom: 24px;
        dt { color: #0361a7; }
        dd {
          margin-left: 47px;
          padding-bottom:  0px;
          font-weight: 500;
          border-collapse:  collapse;
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  //box1--------------------------------------------------------
  &-box1 {
    width: 478px;
    font-size: 14px;
    text-align:  left;
    letter-spacing: 1px;
    &__text1 {
      margin-top: 19px;
      margin-bottom: 37px; //58px
    }
    &--right { float: right; }
    h2 { margin-bottom: 17px;}
    &--auto { width: auto!important; }
    //&__img1 { opacity: 0.8; }
  }

  //box2--------------------------------------------------------
  &-box2 {
    width: 761px;
    float: right;
    transform: translate(0, -100%);
    &--left { float: left; }
    &--trans0 { transform: none }
  }

  //footer------------------------------------------------------
  &-fbanner img { width: 100%; }
  //----------------------------------------------------------
  &-footer {
    display:  flex;
    justify-content:  space-between;
    text-align:  left;
    color: white;
    font-size: 12px;
    //----------------------------------------------------------
    &-box1 {
      p { margin-top: 13px; }
      img {
        width:  342px;
        height: 64px;
      }
    }

    //----------------------------------------------------------
    &-box2 {
      border-left: 1px solid #608fbf;
      padding-left: 27px;
      margin-left: -44px;
    }
    .c-list a {
      text-decoration: none;
      color: white;
    }
  }
}


/*------------------------------------------------------------
  Component table
------------------------------------------------------------*/
.c-list1 {
  text-align: center;
  display:  flex;
  justify-content:  space-between;
}
//-----------------------------------------------
.c-company__text {
  text-align: left;
  font-size: 1.4rem;
}

/*-----------------------------------------------
Table
-----------------------------------------------*/
.c {
  &-table1 {
    table {
      width:  100%;
      height:  auto;
      border-spacing: 0;
      border-bottom: 1px solid #d4d4d4;
      border-collapse:  collapse;
      tr {
        width: 100%;
        vertical-align: text-top;
        border-top: 1px solid #d4d4d4;
        &>th {
          width: 179px;
          color: #0361a7;
          background: #e7f5ff;
          padding: 22px 0 22px 41px;
        }
        td { padding-left: 40px; }
      }
    }
  }
}

/*------------------------------------------------------------
  Component banner2
------------------------------------------------------------*/
.c-banner2 {
  height: 277px;
  box-sizing: border-box;
  padding-top: 76px;
  //-----------------------------------------------
  h1 { margin: 34px auto 0 4px; }
}

/*------------------------------------------------------------
  Component business
------------------------------------------------------------*/
.c-business1 {
  text-align: left;
  font-size: 1.4rem;
  padding: 39px 40px 32px;
  border: 1px solid #009fbb;
  //-----------------------------------------------
  &__text {
    width: 523px;
    //-----------------------------------------------
    h2 {
      font-size:  2.2rem;
      color: #025995;
      margin-bottom: 13px;
      //-----------------------------------------------
      &>.smallbox {
        position: relative;
        width: 18px;
        height: 18px;
        background: #009fbb;
        margin-right: 5px;
        margin-top: 0;
        display: inline-block;
        top: 1px;
      }
    }
    //-----------------------------------------------
    p {
      margin-bottom: 19px;
      //-----------------------------------------------
      &:last-child { margin-bottom: 0; }
    }
  }
}

/*-----------------------------------------------------
  form
-----------------------------------------------------*/
.c {
  &-form1 {
    //------------------------------------------------
    table {
      border-bottom: none;
      //------------------------------------------------
      tr {
        border-top: none;
        //------------------------------------------------
        &>th {
          background: none;
          width: 157px;
          padding: 22px 0 22px 2px;
        }
      }
      //------------------------------------------------
      td {
        padding-left: 0px !important;
        &:nth-of-type(1) {
          width: 42px;
          padding-right: 34px;
        }
        //------------------------------------------------
        input[type="text"] {
          width:  100%;
          box-sizing:  border-box;
          height:  55px;
          padding: 0 20px;
          font-size: 1.4rem;
          margin-bottom: 5px;
          border: none;
        }
        //----------------------------------------------
        input.u-contact1__input1 {
          width: 133px;
          margin: 0 8px 0;
        }
        //----------------------------------------------
        select {
          width: 177px;
          box-sizing:  border-box;
          height:  46px;
          padding: 0 17px;
          font-size: 1.4rem;
          margin-bottom: 5px;
          border: none;
          background: url(../img/contact/arrow.png) no-repeat 147px 16px;
          appearance: none;
          background-color: white;
        }
        //----------------------------------------------
        &:last-child { padding-left: 0 !important; }
      }
      //------------------------------------------------
      textarea {
        width: 100%;
        box-sizing:  border-box;
        margin-top: 15px;
        resize: none;
        border: none;
      }
    }
  }
}
//-----------------------------------------------------
.c-btn2 {
  background: #0362a8;
  color: white;
  padding: 2px 7px;
  text-decoration: none;
  &--gray { background: #8c8b8b; }
}
