@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
	transform: scale(1);
	background-size: cover;
	-webkit-background-size: cover;
	display: flex;
}

.wrap {
  display:  block;
  width: 1082px;
  height: auto;
  margin: 0 auto;
  z-index: 999;
  @extend %pos-relative;
}

header {
    width: 100%;
    background: #015294;
    padding: 4px 0 6px;
    @extend %cf;
}

footer {
  position:  relative;
  font-size: 12px;
}

//footer------------------------------------------------------
.copy-right {
  text-align: left;
  color: #608fbf;
  font-size: 1.4rem;
  background-color: #002f64;
  padding: 13px 0;
}
// btn top----------------------------------------------------
.btn-top {
  position:  absolute;
  right: 91px;
  top: 164px;
}



/*------------------------------------------------------------
	private element
------------------------------------------------------------*/
/*------------------------------------------------------------
  index.html
------------------------------------------------------------*/
.p {
  &-index1 {
    margin-bottom: 131px;
    //----------------------------------------------------------
    .c-box1 {
      //h2 { margin-bottom: -1px; }
      p {
        line-height: 1.9rem;
        margin-bottom: 91px;
      }
      h2 { margin-bottom: 21px; }
    }
    //----------------------------------------------------------
    .c-box2 { transform: translate(0, -100%); }
  }
  //-------------------------------------------------------------
  &-index2 {
    .c-box1 h2 { margin-left: 5px; }
    .c-box1 p { margin-left: 8px; }
    .c-btn1 { margin-left: 7px; }
    &__box1 {
      width: 736px;
      position: absolute;
    }
  }
}

/*------------------------------------------------------------
  news
------------------------------------------------------------*/
.p {
  //----------------------------------------------------------
  &-news1 {
    //----------------------------------------------------------
    .c-banner {
      height: 277px;
      margin-bottom: 118px;
      background: url(../img/news/slide.jpg) no-repeat left top;
      background-size: 100% 100%;
      //--------------------------------------------------------
      h1 {
        margin: 34px auto 0 4px;
      }
      //--------------------------------------------------------
    }
    //----------------------------------------------------------
  }
  //----------------------------------------------------------
  &-news2 {
    //----------------------------------------------------------
    &-tit1 {
      display:  block;
      text-align: left;
      margin-bottom: 26px;
      //----------------------------------------------------------
      p {
        font-size: 1.7rem;
        color: #009fbb;
        font-weight: bold;
        &>img {
          vertical-align: top;
          width:  24px;
          height: 24px;
          margin-right: 10px;
        }
      }

    }
    //----------------------------------------------------------
    h2 {
      margin-bottom: 9px;
      font-size: 2.0rem;
      color: #025995;
      padding-bottom: 7px;
      border-bottom: 1px solid #025995;
    }
    //----------------------------------------------------------
    .l--flex { margin-bottom: 0; }
    //----------------------------------------------------------
    .c-box1__text1 {
      width:  590px;
      height:  auto;
      font-size: 1.4rem;
      text-align:  left;
      margin: 0;
    }
    //----------------------------------------------------------
    .c-box1__text1 p { margin-bottom: 16px; }
    //----------------------------------------------------------
    .c-box1__text1 p:last-child { margin-bottom: 0; }
    //----------------------------------------------------------
  }
}

/*------------------------------------------------------------
  company
------------------------------------------------------------*/
.p {
  &-company1 {
    .c-banner {
      height: 277px;
      margin-bottom: 118px;
      background: url(../img/company/slide.jpg) no-repeat left top;
      background-size: 100% 100%;
      //--------------------------------------------------------
      h1 { margin: 32px auto 0 4px; }
      //--------------------------------------------------------
    }
  }
  //----------------------------------------------------------
  &-company2 {
    margin-bottom: 80px;
    p { margin-bottom: 18px; }
    h1 { margin-bottom: 38px; }
    &__img1 {
      text-align:  right;
      margin-top: 50px;
    }
  }
  //--------------------------------------------------------------
  &-company3 {
    padding: 78px 0;
    background: #f7f7f7;
    .c-table1 { margin-top: 24px; }
    .c-table1 table tr:nth-of-type(4) > td {
      padding-left: 37px;
      padding-bottom: 18px;
      line-height: 21px;
    }
  }
  //------------------------------------------------------------
  &-company4 {
    margin: 80px auto 74px;
    .c-list1 {
      margin-top: 30px;
      margin-bottom: 51px;
    }
    .c-list1__text { margin-top: 4px; }
    .c-list1:last-child { margin-bottom: 0; }
  }
  //------------------------------------------------------------
  &-company5 {
    padding: 80px 0 130px;
    background: #f7f7f7;
    #map { margin-top: 11px; }
    iframe {
      width: 100%;
      margin-top: 13px;
    }
  }
  //------------------------------------------------------------
  &-company2, &-company3, &-company4, &-company5 {
    h2 { margin-bottom: 18px; }
  }
  //------------------------------------------------------------
}

/*------------------------------------------------------------
  business
------------------------------------------------------------*/
.p {
  &-business1 {
    margin-bottom: 120px;
    .c-banner2 { 
      background: url(../img/business/slide.jpg) no-repeat left top;
      background-size: 100% 100%;
    }
  }
  &-business2 {
    margin-bottom: 80px;
    .l--flex { margin-bottom: 0; }
    &--mb1 { margin-bottom: 131px; }
  }
}

/*------------------------------------------------------------
  case
------------------------------------------------------------*/
.p {
  //-----------------------------------------------------
   &-case1 {
    margin-bottom: 120px;
    //-----------------------------------------------------
    .c-banner2 {
      background: url(../img/case/slide.jpg) no-repeat left top;
      background-size: 100% 100%;
    }
  }
  //-----------------------------------------------------
  &-case2 {
    margin-bottom: 78px;
    //----------------------------------------------------
    .c-list1 {
      list-style-type: none;
      justify-content: center;
       li { margin-top: -2px; }
    }
    //----------------------------------------------------
    .c-list1 li:nth-of-type(odd) {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  //-----------------------------------------------------
  &-case3 {
    margin-bottom: 80px;
    &--mb1 { margin-bottom: 122px; }
    //-----------------------------------------------------
    h1 {
      font-size:  23px;
      color: #025995;
      padding-bottom: 9px;
      margin-bottom: 59px;
      border-bottom: 1px solid #025995;  
    }
    //-----------------------------------------------------
    h2 {
      font-size: 23px;
      color: #025995;
      padding: 12px 18px;
      margin-bottom: 27px;
      text-align:  left;
      background: #e1f0fa;
    }
    //-----------------------------------------------------
    .c-table1 {
      text-align:  left;
      font-size: 1.4rem;
      width: 570px;
    }
    //-----------------------------------------------------
    table {
      border-bottom: 1px solid #d8d7d7;
      //-----------------------------------------------------
      tr {
        border-top: 1px solid #d8d7d7;
        //-----------------------------------------------------
        & > th {
          width:  105px;
          padding: 18px 0 16px 28px;
          background: none;
        }
        //-----------------------------------------------------
        & > td {
          padding-left: 25px;
        }
      }
    }
    //-----------------------------------------------------
    .l--flex {
      margin-bottom:  0;
    }
  }
}

/*------------------------------------------------------------
  recruit
------------------------------------------------------------*/
.p {
  //-------------------------------------------------
  &-recruit1 {
    margin-bottom: 120px;
    //-------------------------------------------------
    .c-banner2 { 
      background: url(../img/recruit/slide.jpg) no-repeat left top;
      background-size: 100% 100%;
    }
  }
  //---------------------------------------------------
  &-recruit2 {
    margin-bottom: 88px;
    text-align:  left;
    font-size: 1.4rem;
    //-------------------------------------------------
    .c-box1__text1 {
      margin: 0;
      width: 671px;
      p { margin-bottom: 18px; }
      h2 { margin-bottom: 17px; }
    }
  }
  //---------------------------------------------------
  &-recruit3 {
    margin-bottom: 87px;
    padding: 74px 0;
    background: #f7f7f7;
    //-------------------------------------------------
    table {
      //-------------------------------------------------
      td {
        padding-bottom: 20px;
        //-------------------------------------------------
        &>span {
          display:  block;
          margin-bottom: -2px;
        }
      }
    }
  }
  //---------------------------------------------------
  &-recruit4 {
    text-align: left;
    padding: 36px 41px;
    background: url(../img/recruit/i-img2.jpg) no-repeat top;
    margin-bottom: 58px;
    height: 243px;
    h1 { margin-bottom: 27px; }
    button { border-radius: 4px; }
  }
}

/*------------------------------------------------------------
  contact
------------------------------------------------------------*/
.p {
  //-------------------------------------------------
  &-contact1 {
    margin-bottom: 114px;
    //-------------------------------------------------
    .c-banner2 {
      background: url(../img/contact/slide.jpg) no-repeat left top;
      background-size: 100% 100%;
      //-----------------------------------------------
      h1 { margin-left: 9px; }
    }
  }
  //-------------------------------------------------
  &-contact2 {
    font-size:  1.4rem;
    text-align: left;
    margin-bottom: 80px;
    //-----------------------------------------------
    p { margin-bottom: 15px; }
    //-----------------------------------------------
    h2 {
      padding-left: 2px;
      margin-bottom: 8px;
    }
    //-----------------------------------------------
  }
  //-------------------------------------------------
  &-contact3 {
    padding: 72px 0 89px;
    text-align:  left;
    font-size: 1.4rem;
    background: #f7f7f7;
    h2 { padding-left: 1px; }
    .c-checkbox1 {
      display:  inline-block;
      margin-right: 58px;
    }
  }
  //---------------------------------------------------
  &-contact4 { margin: 50px 0 129px 43px; }
  //-----------------------------------------------
}
