@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 1416px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 1.4rem;
	text-align: center;
  @include respond-to(767) {
    min-width: 100%;
    font-size: 1.3rem;
  }
}

/*------------------------------------------------
  layout container
------------------------------------------------*/
.l-container {
  display: block;
  width: 1164px;
  height: auto;
  margin: 0 auto;
  position: relative;
  @include respond-to(768) { width: 100%; }
}

/*----------------------------------------------
  layout main header
----------------------------------------------*/
.l-header__main {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 51px;
  //--------------------------------------------
  @include respond-to(767) {
    position: relative;
    top: 0;
  }
  //--------------------------------------------
  &--news {
    position: relative;
    top: auto;
  }
  //--------------------------------------------
}

/*----------------------------------------------
  layout button
----------------------------------------------*/
.l-btn1 {
  position: relative;
  //--------------------------------------------
  @include respond-to(767) { margin: 0 10px; }
  //--------------------------------------------
}

/*----------------------------------------------
  layout banner
----------------------------------------------*/
.l-banner1 {
  display: block;
  //-----------------------------------------
  &__top {
    position: absolute;
    top: 55%;
    width: 100%;
    //---------------------------------------
    @include respond-to(767) {top: 51%;}
    //---------------------------------------
  }
  //-----------------------------------------
  &__company {
    position: absolute;
    top: 69%;
    width: 100%;
    //---------------------------------------
    @include respond-to(767) {top: 51%;}
    //---------------------------------------
  }
  //-----------------------------------------
  &__interview {
    position: absolute;
    top: 69%;
    width: 100%;
    //---------------------------------------
    @include respond-to(767) {top: 43%;}
    //---------------------------------------
  }
  //-----------------------------------------
  &__about {
    position: absolute;
    top: 69%;
    width: 100%;
    //---------------------------------------
    @include respond-to(767) {top: 43%;}
    //---------------------------------------
  }
  //-----------------------------------------
  &__contact {
    position: absolute;
    top: 69%;
    width: 100%;
    //---------------------------------------
    @include respond-to(767) {top: 43%;}
    //---------------------------------------
  }
  //-----------------------------------------
}

/*----------------------------------------------
  layout main
----------------------------------------------*/
.l-main {
  position: relative;
  display: block;
  z-index: 9999;
}

/*----------------------------------------------
  layout title
----------------------------------------------*/
.l-title1 {
  //---------------------------------------
  &--mb1 {
    margin-bottom: 29px;
  }
  //---------------------------------------
  .l-mb1 { margin-bottom: 11px; }
  //---------------------------------------
}

/*----------------------------------------------
  layout list
----------------------------------------------*/
.l-list1 {
  display: block;
  //--------------------------------------------
  &__company1 {
    //-------------------------------------
    .c-list1__link1 {
      width: 332px;
      margin-left: 84px;
      margin-bottom: 100px;
      //-------------------------------------
      @include respond-to(767) {
        width: 50%;
        min-width: 288px;
        padding: 10px;
        margin: 0 0;
      }
      //-------------------------------------
      @include respond-to(605) {
        margin: 0 auto 10px;
      }
      //-------------------------------------
      &:nth-child(3n + 1) {
        margin-left: 0;
        //-----------------------------------
        @include respond-to(767) { margin-left: auto; }
        //-----------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //--------------------------------------------
  &__comsingle1 {
    //-------------------------------------
    .c-list1__link1 {
      width: 332px;
      margin-left: 84px;
      //-------------------------------------
      @include respond-to(767) {
        width: 50%;
        min-width: 288px;
        padding: 0 10px;
        margin: 0 0 20px;
      }
      //-------------------------------------
      @include respond-to(605) {
        margin: 0 auto 20px;
      }
      //-------------------------------------
      &:nth-child(3n + 1) {
        margin-left: 0;
        //-----------------------------------
        @include respond-to(767) { margin-left: auto; }
        //-----------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //--------------------------------------------
}

//----------------------------------------
.l-list2 {
  display: block;
  //--------------------------------------
  .c-list2__link1 {
    width: 275px;
    margin-right: 21px;
    //-------------------------------------
    @include respond-to(767) {
      width: 50%;
      min-width: 288px;
      margin: 0 0 20px;
    }
    //-------------------------------------
    @include respond-to(605) {
      margin: 0 auto 20px;
    }
    //-------------------------------------
    &:last-child {
      margin-right: 0;
      //-----------------------------------
      @include respond-to(767) { margin-right: auto; }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
  .c-list2__card1 {
    @include respond-to(767) { padding: 0 10px; }
  }
  //---------------------------------------
}
