@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*----------------------------------------------------
	Headline
----------------------------------------------------*/

/*---------------------------------------------------
	Button
---------------------------------------------------*/
a, button { cursor: pointer; }

/*------------------------------------------
  Component show following divice size.
------------------------------------------*/
//show on pc---------------------------------
.showPC {
  //-------------------------------------------
  @include respond-to(768) { display: none; }
  //-------------------------------------------
}

//show on smartphone-------------------------
.showSP {
  display: none;
  //-----------------------------------
  @include respond-to(767) { display: block; }
  //---------------------------------------
  &--inline {
    display: none;
    //-----------------------------------
    @include respond-to(767) { display: inline-block; }
  }
  //---------------------------------------
}

/*-------------------------------------------
  menu Smartphone
-------------------------------------------*/
.c {
  //---------------------------------------
  &-menuSP {
    box-sizing: border-box;
    position: relative;
    padding: 7px 15px 7px;
    cursor: pointer;
    background: $black;
    //-------------------------------------
    &__1, &__2, &__3 {
      width: 30px;
      height: 2px;
      background: #fff;
      margin: 8px auto auto;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
    //-------------------------------------
    &__title1 {
      margin-top: 6px;
      font-size: 1.0rem;
      font-weight: bold;
      color: $white;
    }
    //-------------------------------------
  }
  //----------------------------------------
}

/*-------------------------------------------
  menu responsive
-------------------------------------------*/
.is-open {
  transition: all 0.5s;
  .c-menuSP__1 {transform: rotate(45deg) translate(6px, 6px);}
  .c-menuSP__2 {opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(8px, -9px);}
}

/*-------------------------------------------
@menu component
-------------------------------------------*/
.c-menu1 {
  position: relative;
  //-----------------------------------------
  @include respond-to(767) {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
    overflow-x: hidden;
    z-index: 99999;
    display: none;
    background: $green1;
  }
  //-----------------------------------------
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include respond-to(767) { display: block; }
  }
  //-----------------------------------------
  li {
    position: relative;
    //---------------------------------------
    &:hover {
      //-------------------------------------
      a {
        color: $white;
        background: $green1;
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .item1 {
    position: relative;
    //---------------------------------------
    a {
      margin-right: 20px;
      padding: 31px 25px 31px 33px;
      @include respond-to(767) {
        height: auto;
        margin-right: 0;
        padding: 0;
      }
    }
    //---------------------------------------
  }
  //-----------------------------------------
  a {
    box-sizing: border-box;
    display: block;
    height: 91px;
    padding: 31px 19px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
    text-align: left;
    text-decoration: none;
    transition: all ease .5s;
    @include respond-to(767) {
      display: block;
      height: auto;
      margin-bottom: 30px;
      padding: 0;
      text-decoration: none;
      text-align: center;
      color: #ffffff;
      font-weight: bold;
      font-size: 1.8rem;
    }
  }
  //-----------------------------------------
  .btn1 {
    display: block;
    box-sizing: border-box;
    height: 91px;
    padding: 31px 40px;
    font-size: 1.6rem;
    font-weight: bold;
    background: #00ada0;
    color: #fff;
    @include respond-to(767) {
      height: auto;
      padding: 0;
      font-size: 1.8rem;
      background: none;
    }
  }
  //-----------------------------------------
  .sp-mt1 {
    @include respond-to(767) { margin-top: 78px; }
  }
  //-----------------------------------------
  .c-menuSP {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 4px;
    background: #00aa9d;
  }
  //-------------------------------------
  .menu1__boxSP1 {
    position: relative;
    padding: 25px 15px;
    border-top: 1px solid #91d6d1;
    border-bottom: 1px solid #91d6d1;
    //-----------------------------------
    .box1__tel {
      position: relative;
      margin-bottom: 20px;
      color: $white;
      //---------------------------------
      h2 { font-size: 3.0rem;}
      //---------------------------------
      .sm-text1 { font-size: 1.8rem; }
      //---------------------------------
    }
    //-----------------------------------
    .box1__title1 {
      position: relative;
      box-sizing: border-box;
      width: auto;
      margin: 0 auto;
      padding: 4px 0;
      text-align: center;
      font-size: 1.6rem;
      color: $green1;
      background: #fff;
      //----------------------------------
    }
    //------------------------------------
  }
  //-------------------------------------
  .menu1__btnSP1 {
    margin: 25px 15px 30px;
    position: relative;
    //-----------------------------------
    .btn1__inner {
      position: relative;
      //---------------------------------
      a {
        padding: 5px 5px;
        font-size: 1.6rem;
        border: 2px solid #fff;
      }
      //---------------------------------
    }
  }
  //-------------------------------------
  .closeMenu {
    position: relative;
    //-----------------------------------
    .fa-times { margin-right: 10px; }
    //-----------------------------------
  }
  //-------------------------------------
  .showSP {
    display: none;
    //-----------------------------------
    @include respond-to(767) { display: block; }
    //-----------------------------------
  }
  //-------------------------------------
}

/*-----------------------------------------------
  Table
-----------------------------------------------*/
.c-table1 {
  //------------------------------------------
  table {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    border-spacing: 0;
    border-bottom: 1px solid #d4d4d4;
    border-collapse: collapse;
    @include respond-to(767) {
      font-size: 1.3rem;
    }
    //-----------------------------------------
    tr {
      width: 100%;
      vertical-align: text-top;
      text-align: left;
      line-height: 27px;
      border-top: 1px solid #d4d4d4;
      //--------------------------------------
      &>th {
        box-sizing: border-box;
        width: 160px;
        font-weight: bold;
        padding: 25px 0;
        @include respond-to(767) {
          width: 100px;
          padding: 15px 0;
        }
      }
      //--------------------------------------
      td {
        padding: 25px 0;
        @include respond-to(767) { padding: 15px 0; }
      }
    }
    //-----------------------------------------
    .tb-link1 {
      text-decoration: none;
      //---------------------------------------
      &:hover { text-decoration: underline; }
      //---------------------------------------
    }
    //-----------------------------------------
  }
  //-------------------------------------------
}

/*---------------------------------------------
*form
---------------------------------------------*/
.c-form1 {
  //-----------------------------------------
  table {
    border-bottom: 1px solid #c5c5c5;
    //---------------------------------------
    tr {
      border-top: 1px solid #c5c5c5;
      //-------------------------------------
      &>th {
        vertical-align: top;
        width: 210px;
        box-sizing: border-box;
        padding: 19px 0 38px;
        font-size: 1.6rem;
        @include respond-to(767) {
          width: 100px;
          padding: 15px 0 15px 0;
          line-height: 1.4;
          font-size: 1.3rem;
        }
      }
    }
    //---------------------------------------
    td {
      padding: 21px 0 14px 37px !important;
      @include respond-to(767) {
        padding: 15px 0 15px 0 !important;
      }
      //-------------------------------------
      input[type="text"] {
        width: 74%;
        box-sizing: border-box;
        height: 29px;
        padding: 22px 10px;
        font-size: 1.4rem;
        background: #f2f2f2;
        border: none;
        @include respond-to(767) {
          width: 80%;
          height: 20px;
          padding: 18px 10px;
        }
      }
      //-------------------------------------
      select {
        width: 150px;
        box-sizing:  border-box;
        height:  29px;
        padding: 0 17px;
        font-size: 1.4rem;
        margin-bottom: 5px;
        border: none;
        background: url(../img/contact/arrow.png) no-repeat 134px 10px;
        appearance: none;
        color: #a0a0a0;
        background-color: white;
        border: 1px solid #dddddd;
        //----------------------------------
        &::-ms-expand {display: none;}
        //----------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
    textarea {
      width: 100%;
      height: 211px;
      box-sizing: border-box;
      resize: none;
      border: none;
      background: #f2f2f2;
      @include respond-to(767) {
        height: 140px;
        padding: 10px;
      }
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .input__full { width: 100%!important; }
  //-----------------------------------------
  &__list1 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    //---------------------------------------
    .form1__checkbox1 {
      display: block;
      position: relative;
      padding-left: 30px;
      margin: 0 21px 12px 0;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.6rem;
      user-select: none;
      @include respond-to(767) {
        margin: 0 15px 10px 0;
        padding-left: 25px;
        font-size: 1.3rem;
      }
      //-------------------------------------
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      //-------------------------------------
      &:hover input ~ .checkmark { background-color: $white; }
      //-------------------------------------
      input:checked ~ .checkmark { background-color: #2196F3; }
      //-------------------------------------
      input:checked ~ .checkmark:after { display: block; }
      //-------------------------------------
      .checkmark:after {
        left: 4px;
        top: 0;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
      //-------------------------------------
    }
    //---------------------------------------
    .checkmark {
      position: absolute;
      top: 20%;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: $white;
      border: 1px solid #ccc;
      //-------------------------------------
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
      //-------------------------------------
    }
    //---------------------------------------
    .special__input {
      width: 84%;
      //-------------------------------------
      input[type="text"] { width: 100%; }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}

/*---------------------------------------------
*Header for all pages
---------------------------------------------*/
.c-header {
  position: relative;
  z-index: 99999;
  //-----------------------------------------
  &__top {
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 16px;
    //-----------------------------------------
    .link1 {
      position: relative;
      text-align: right;
      //---------------------------------------
      a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        //-------------------------------------
        &:hover { text-decoration: underline; }
        //-------------------------------------
      }
      //---------------------------------------
      .icon1 {
        //-------------------------------------
        img {
          margin-left: 10px;
          vertical-align: middle;
        }
        //-------------------------------------
      }
      //---------------------------------------
    }
    //-----------------------------------------
  }
  //-----------------------------------------
  &__main {
    display: block;
    position: relative;
    //-----------------------------------------
    a, button { &:hover { opacity: 0.8; } }
    //-----------------------------------------
    .main__box1 {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 21px;
      background: #fff;
      //---------------------------------------
      @include respond-to(767) { padding-left: 0; }
      //---------------------------------------
      .logo1 {
        position: relative;
        display: block;
        //-------------------------------------
        @include respond-to(767) { padding-left: 7px; }
        //-------------------------------------
        img { @include respond-to(767) { width: 165px; } }
        //-------------------------------------
      }
      //---------------------------------------
    }
    //-----------------------------------------
    .listSP1 {
      display: flex;
      justify-content: flex-start;
      //---------------------------------------
      .contact__link1 {
        box-sizing: border-box;
        padding: 14px 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: $white;
        transition: opacity 0.1s ease;
        background: $green1;
        //-------------------------------------
        .sp-title1 {
          margin-top: 8px;
          font-size: 1.0rem;
          font-weight: bold;
        }
        //-------------------------------------
        .sp-img1 {
          img {@include respond-to(767) {width: 30px;}} 
        }
        //-------------------------------------
      }
      //---------------------------------------
    }
    //-----------------------------------------
  }
  //-----------------------------------------
}
//-------------------------------------------

/*-------------------------------------------
@main Visual
-------------------------------------------*/
.c-mainVisual { position: relative; }

/*-------------------------------------------
@Component mainVisual for page News
--------------------------------------------*/
.c-mainVisual--news {
  position: relative;
  padding: 50px 0;
  background: #edf9f8;
  //-----------------------------------------
  @include respond-to(767) { padding: 35px 0; }
  //-----------------------------------------
}

/*-------------------------------------------
@Component mainVisual for page Interview
--------------------------------------------*/
.c-mainVisual--interview {
  position: relative;
  box-sizing: border-box;
  height: 400px;
  background: url(../img/interview/bg.jpg) no-repeat left top;
  background-size: cover;
  //-----------------------------------------
  @include respond-to(767) { height: 250px; }
  //-----------------------------------------
}

/*-------------------------------------------
@Component mainVisual for page Company
--------------------------------------------*/
.c-mainVisual--company {
  position: relative;
  box-sizing: border-box;
  height: 400px;
  background: url(../img/company/banner1.jpg) no-repeat left top;
  background-size: cover;
  //-----------------------------------------
  @include respond-to(767) { height: 250px; }
  //-----------------------------------------
}

/*-------------------------------------------
@Component mainVisual for page About
--------------------------------------------*/
.c-mainVisual--about {
  @include setHeaderChildPage();
  background: url(../img/about/Channel-Mixer-1.jpg) no-repeat left top;
  background-size: cover;
}

/*-------------------------------------------
@Component mainVisual for page Contact
--------------------------------------------*/
.c-mainVisual--contact {
  position: relative;
  box-sizing: border-box;
  height: 400px;
  background: url(../img/contact/Hue_Saturation-1.png) no-repeat left top;
  background-size: cover;
  //-----------------------------------------
  @include respond-to(767) { height: 250px; }
  //-----------------------------------------
}

/*-------------------------------------------
@footer component
-------------------------------------------*/
.c-footer {
  position: relative;
  display: block;
  //-----------------------------------------
  &__top {
    position: relative;
    display: block;
    padding: 30px 0;
    cursor: pointer;
    //---------------------------------------
    @include respond-to(767) {
      padding: 15px 0;
    }
    //---------------------------------------
    img { @include respond-to(767) { width: 35px; } }
    //---------------------------------------
  }
  //-----------------------------------------
  &__box1 {
    position: relative;
    display: block;
    background: #00ada0;
    //---------------------------------------
    @include respond-to(767) { padding: 35px 0; }
    //---------------------------------------
    .footer__inner1 {
      position: relative;
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
      //-------------------------------------
      @include respond-to(767) { display: block; }
      //-------------------------------------
    }
    //---------------------------------------
    .footer__flexbox {
      position: relative;
      display: flex;
      //-------------------------------------
      @include respond-to(767) { display: block; }
      //-------------------------------------
    }
    //---------------------------------------
    .footer__box1 {
      padding: 20px 15px 0 0;
      text-align: left;
      border-right: 1px solid #80d6d0;
      //-------------------------------------
      @include respond-to(767) {
        padding: 35px 15px 0;
        text-align: center;
        border-right: none;
      }
      //-------------------------------------
      .box1__logo {
        display: block;
        margin-bottom: 20px;
        //-----------------------------------
        @include respond-to(767) { margin-bottom: 31px; }
        //-----------------------------------
        img {
          @include respond-to(767) { width : 269px; }
        }
        //-----------------------------------
      }
      //-------------------------------------
      .box1__text1 {
        color: #fff;
        //-----------------------------------
        @include respond-to(767) { font-size: 1.2rem; }
        //-----------------------------------
        h3 {
          font-weight: bold;
          margin-bottom: 6px;
          //---------------------------------
          @include respond-to(767) { margin-bottom: 4px; }
          //---------------------------------
        }
        //-----------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
    .footer__box2 {
      padding: 15px 0 20px 20px;
      text-align: left;
      color: white;
      //-------------------------------------
      @include respond-to(767) {
        padding: 0px 15px 20px;
        text-align: center;
      }
      //-------------------------------------
      .box2__title1 {
        margin-bottom: 4px;
        font-size: 1.3rem;
        font-weight: 500;
        //-------------------------------------
        @include respond-to(767) { margin-bottom: 20px; }
        //-------------------------------------
      }
      //-------------------------------------
      .box2__tel {
        position: relative;
        margin-bottom: 20px;
        //-------------------------------------
        h2 {
          font-size: 4.1rem;
          font-weight: 500;
          //-----------------------------------
          @include respond-to(767) {
            font-size: 1.8rem;
          }
          //-----------------------------------
        }
        //-------------------------------------
        .sm-text1 {
          font-size: 2.6rem;
           //-----------------------------------
           @include respond-to(767) { font-size: 1.4rem; }
          //-----------------------------------
        }
        //-------------------------------------
      }
      //-------------------------------------
      .box2__title2 {
        position: relative;
        //-----------------------------------
        .title2__inner {
          box-sizing: border-box;
          width: 81%;
          padding: 3px 0;
          font-weight: bold;
          text-align: center;
          color: $green1;
          background: #fff;
          //---------------------------------
          @include respond-to(767) {
            width: auto;
            margin: 0 auto;
            padding: 3px 0;
          }
          //---------------------------------
        }
        //-----------------------------------
        .sm-text1 {
          margin-right: 18px;
          //---------------------------------
          @include respond-to(767) { margin-right: 11px; }
          //---------------------------------
        }
        //-----------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
    .footer__box3 {
      position: relative;
      display: block;
      padding: 20px 0 21px;
      margin-left: 28px;
      //-------------------------------------
      @include respond-to(767) {
        margin-left: 0; 
        padding: 20px 15px 20px;
        border-top: 1px solid #91d6d1;
        border-bottom: 1px solid #91d6d1;
      }
      //-------------------------------------
      .c-footer__btn1:first-child { margin-bottom: 17px; }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__btn1 {
    position: relative;
    display: block;
    border: 2px solid #fff;
    //---------------------------------------
    a {
      display: block;
      box-sizing: border-box;
      width: 298px;
      height: 45px;
      padding: 11px 0;
      font-weight: bold;
      text-align: center;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      transition: all ease 0.4s;
      //-------------------------------------
      @include respond-to(767) {
        width: auto;
        height: auto;
        padding: 7px 0;
      }
      //-------------------------------------
      &:hover {
        color: $green1;
        background: $white;
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}

/*-------------------------------------------
@slider
-------------------------------------------*/
.c-slider1 {
  position: relative;
  //-----------------------------------------
  img {
    width: 100%;
    height: 100%;
  }
  //-----------------------------------------
  &__img1 {
    .showPC {
      //-------------------------------------
      @include respond-to(767) { display: none !important; }
      //-------------------------------------
    }
    //---------------------------------------
    .showSP {
      display: none!important;
      //-------------------------------------
      @include respond-to(767) { display: block !important; }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .slick-track {
    height: 700px;
    @include respond-to(767) { height: auto; }
  }
  //-----------------------------------------
}

/*-------------------------------------------
@banner component
-------------------------------------------*/
.c-banner1 {
  display: block;
  //-----------------------------------------
  &__top {
    position: absolute;
    top: 55%;
    width: 100%;
    display: block;
    text-align: left;
    @include respond-to(767) {top: 51%;}
    //---------------------------------------
    .banner__box1 {
      position: relative;
      display: inline-block;
      //-------------------------------------
      @include respond-to(767) {
        display: block;
        padding: 0 20px;
      }
      //-------------------------------------
    }
    //---------------------------------------
    .banner1__img1 {
      position: relative;
      //-------------------------------------
      @include respond-to(767) {
        text-align: center;
        width: 96%;
        min-width: 279px;
        //-----------------------------------
        img { width: 100%; }
        //-----------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
    .banner1__text1 {
      text-align: center;
      font-size: 2.0rem;
      font-weight: bold;
      margin-top: 30px;
      padding: 3px 0;
      color: #fff;
      background: rgba(182, 185, 173, 0.33);
      //-------------------------------------
      @include respond-to(767) {
        margin-top: 25px;
        padding: 4px;
        font-size: 1.6rem;
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__news {
    position: relative;
    display: block;
    //---------------------------------------
    .banner__img1 {
      position: relative;
      //-------------------------------------
      img {
        @include respond-to (767) { width: 52px; }
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__company {
    position: relative;
    display: block;
    position: absolute;
    top: 69%;
    width: 100%;
    @include respond-to(767) {top: 51%;}
    //---------------------------------------
    .banner__img1 {
      position: relative;
      //-------------------------------------
      img {
        @include respond-to (767) { width: 280px; }
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__interview {
    display: block;
    position: absolute;
    top: 69%;
    width: 100%;
    @include respond-to(767) {top: 43%;}
    //---------------------------------------
    .banner__img1 {
      position: relative;
      //-------------------------------------
      img {
        @include respond-to (767) { width: 180px; }
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__about {
    position: relative;
    display: block;
    position: absolute;
    top: 69%;
    width: 100%;
    @include respond-to(767) {top: 43%;}
    //---------------------------------------
    .banner__img1 {
      position: relative;
      //-------------------------------------
      img {
        @include respond-to (767) { width: 130px; }
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__contact {
    position: relative;
    display: block;
    position: absolute;
    top: 69%;
    width: 100%;
    @include respond-to(767) {top: 43%;}
    //---------------------------------------
    .banner__img1 {
      position: relative;
      //-------------------------------------
      img {
        @include respond-to (767) { width: 130px; }
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}

/*-------------------------------------------
@card component
-------------------------------------------*/
.c-card1 {
  display: block;
  position: relative;
  background: #fff;
  //-----------------------------------------
  &__box1 {
    display: block;
    position: relative;
    //---------------------------------------
    .small-title1 {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 3px 6px;
      text-decoration: none;
      background: #fff;
      color: #42b9ae;
      font-size: 1.5rem;
      font-weight: bold;
      //-------------------------------------
      @include respond-to (767) {
        bottom: -1px;
        padding: 2px 10px;
        font-size: 1.2rem;
      }
      //-------------------------------------
      &:hover { text-decoration: underline; }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__img1 {
    display: block;
    position: relative;
    //---------------------------------------
    img {
      width: 100%;
      @include respond-to (767) {
        height: auto;
      }
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__text1 {
    text-align: left;
    padding: 10px 10px 13px;
    //---------------------------------------
    @include respond-to (767) { font-size: 1.1rem; }
    //---------------------------------------
    .card1__link1 {
      display: block;
      font-size: 1.6rem;
      text-decoration: none;
      color: $black;
      line-height: 1.5;
      font-weight: bold;
      margin-bottom: 15px;
      //-------------------------------------
      @include respond-to (767) {
        margin-bottom: 9px;
        font-size: 1.2rem;
      }
      //-------------------------------------
      &:hover { text-decoration: underline; }
      //-------------------------------------
    }
    //---------------------------------------
    .card1__title1 {
      position: relative;
      padding-right: 30px;
      //-------------------------------------
      .img-icon1 {
        position: absolute;
        top: 27%;
        right: 0;
        //---------------------------------
        img {
          @include respond-to(767) { width: 15px; }
        }
        //---------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}

/*-------------------------------------------
@button component
-------------------------------------------*/
.c-btn1 {
  position: relative;
  display: inline-block;
  //-----------------------------------------
  @include respond-to(767) {
    display: block;
  }
  //-----------------------------------------
  a {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 450px;
    height: 60px;
    padding: 18px;
    font-weight: bold;
    font-size: 1.6rem;
    color: $white;
    text-decoration: none;
    background: $green1;
    z-index: 1;
    transition: all ease 0.2s;
    //--------------------------------------
    @include respond-to(767) {
      width: auto;
      height: auto;
      padding: 10px 7px;
      font-size: 1.3rem;
    }
    //--------------------------------------
    &:hover {
      top: 4px;
      left: 4px;
    }
    //--------------------------------------
    &:after {
      content: url(../img/icon.png);
      position: absolute;
      top: 33%;
      right: 16px;
      //------------------------------------
      @include respond-to(767) {
        top: 35%;
        zoom: 65%;
        right: 50px;
      }
      //------------------------------------
    }
    //--------------------------------------
  }
  //-----------------------------------------
  &::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    background: $black;
    z-index: 0;
  }
  //-----------------------------------------
  &--prev {
    position: relative;
    //---------------------------------------
    a {
      //-------------------------------------
      &:before {
        content: url(../img/arow-prev.png);
        position: absolute;
        top: 33%;
        left: 16px;
        //------------------------------------
        @include respond-to(767) {
          top: 35%;
          zoom: 65%;
          left: 50px;
        }
        //------------------------------------
      }
      //--------------------------------------
      &:after { content: ""; }
      //--------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}
//-------------------------------------------
.c-btn2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  //-----------------------------------------
  @include respond-to(767) {
    display: block;
  }
  //-----------------------------------------
  a {
    display: block;
    box-sizing: border-box;
    width: 450px;
    height: 60px;
    padding: 15px;
    font-weight: bold;
    font-size: 1.6rem;
    color: $green1;
    text-decoration: none;
    background: $white;
    border: 2px solid $white;
    transition: all ease 0.5s;
    //--------------------------------------
    @include respond-to(767) {
      width: auto;
      height: auto;
      padding: 7px 0;
      font-size: 1.4rem;
    }
    //--------------------------------------
    &:hover { border: 2px solid $green1; }
    //--------------------------------------
    &:after {
      content: url(../img/icon1.png);
      position: absolute;
      top: 33%;
      right: 16px;
      //------------------------------------
      @include respond-to(767) {
        top: 27%;
        right: 39px;
        zoom: 78%;
      }
      //------------------------------------
    }
    //--------------------------------------
  }
  //----------------------------------------
}

/*-------------------------------------------
@title component
-------------------------------------------*/
.c-title1 {
  position: relative;
  display: block;
  //---------------------------------------
  h3 {
    font-size: 2.1rem;
    font-weight: bold;
    color: $green1;
    //--------------------------------------
    @include respond-to(767) { font-size: 1.4rem; }
    //--------------------------------------
  }
  //---------------------------------------
  h2 {
    font-size: 2.6rem;
    @include respond-to(767) { font-size: 1.6rem; }
  }
  //---------------------------------------
}
//-----------------------------------------
.c-title2 {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 40%;
  margin: 0 auto;
  @include respond-to(767) {
    width: 41%;
    min-width: 270px;
  }
  //---------------------------------------
  h2 {
    font-size: 2.6rem;
    //-------------------------------------
    @include respond-to(767) { font-size: 1.6rem; }
    //-------------------------------------
  }
  //---------------------------------------
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -35px;
    width: 100%;
    height: 31px;
    background: url(../img/about/quote.png) no-repeat;
    background-size: 100%;
    //-------------------------------------
    @include respond-to(767) {
      top: -20px;
      height: 14px;
      background-size: 100% 100%;
    }
    //-------------------------------------
  }
  //---------------------------------------
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -47px;
    height: 31px;
    background: url(../img/about/line1.png) no-repeat;
    background-size: 100%;
    @include respond-to(767) {
      bottom: -20px;
      height:14px;
      background-size: 100% 100%;
    }
  }
  //---------------------------------------
}

/*-------------------------------------------
@list post component
-------------------------------------------*/
.c-listpost {
  display: block;
  position: relative;
  //----------------------------------------
  &__item {
    display: flex;
    padding: 22px 0px;
    border-bottom: 1px solid $gray1;
    //--------------------------------------
    @include respond-to(767) {
      display: block;
      text-align: left;
      padding: 15px 0;
    }
    //--------------------------------------
    &:first-child { border-top: 1px solid $gray1; }
    //--------------------------------------
    .datepost {
      text-align: left;
      font-size: 1.4rem;
      color: #781111;
      //------------------------------------
      @include respond-to(767) { font-size: 1.2rem; }
      //------------------------------------
    }
    //--------------------------------------
  }
  //----------------------------------------
  &__title {
    margin-left: 28px;
    color: #0078d2;
    @include respond-to(767) {
      margin: 9px 0 0 0;
    }
    //--------------------------------------
    a {
      text-align: left;
      text-decoration: none;
      font-size: 1.6rem;
      color: #000;
      font-weight: 500;
      //------------------------------------
      @include respond-to(767) {
        line-height: 1.3;
        font-size: 1.3rem;
      }
      //------------------------------------
      &:hover { text-decoration: underline; }
      //------------------------------------
    }
    //--------------------------------------
  }
  //----------------------------------------
}

/*-------------------------------------------
@copyright component
-------------------------------------------*/
.c-copyright {
  padding: 17px 0;
  text-align: center;
  color: #fff;
  background: #33bdb3;
  font-size: 1.3rem;
  //-----------------------------------------
  @include respond-to(767) {
    padding: 15px 0;
    font-size: 1.1rem;
  }
  //-----------------------------------------
}

/*-------------------------------------------
@breadcrumb component
-------------------------------------------*/
.c-breadcrumb {
  padding: 25px 0 35px;
  text-align: left;
  font-size: 1.3rem;
  color: $black;
  border-bottom: 1px solid #ccc;
  //-----------------------------------------
  @include respond-to(767) {
    padding: 8px 15px 12px;
    font-size: 1.1rem;
    line-height: 25px;
  }
  //-----------------------------------------
  a {
    color: $green1;
    text-decoration: none;
    padding-bottom: 3px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #00aa9d;
    margin-right: 40px;
    //----------------------------------------
    @include respond-to(767) {
      margin-right: 20px;
      padding-bottom: 1px;
    }
    //---------------------------------------
    &:last-child { margin-right: 0; }
    //---------------------------------------
    & + a:before {
      content: ">";
      color: #000;
      font-weight: 400;
      padding: 0 10px;
      position: absolute;
      left: -36px;
      @include respond-to(767) {
        left: -24px;
      }
    }
    //--------------------------------------- 
  }
  //-----------------------------------------
  span {
    position: relative;
    //---------------------------------------
    &:before {
      content: ">";
      position: absolute;
      left: -37px;
      padding: 0 10px;
      @include respond-to(767) {
        left: -24px;
      }
    }
    //---------------------------------------
  }
  //-----------------------------------------
}

/*-------------------------------------------
  pagination component
-------------------------------------------*/
.c-pagination {
  text-align: center;
  padding: 47px 0 0;
  border-top: 1px solid #ccc;
  //-----------------------------------------
  @include respond-to(767) { padding: 24px 0 0; }
  //-----------------------------------------
  a {
    display: inline-block;
    box-sizing: border-box;
    width: 45px;
    line-height: 41px;
    margin: 0 4px;
    color: #000;
    text-decoration: none;
    background-color: #f8f8f8;
    border: 2px solid $black;
    cursor: pointer;
    //-----------------------------------------
    @include respond-to(767) {
      width: 31px;
      line-height: 27px;
    }
    //---------------------------------------
    &:hover {
      color: #fff;
      opacity: 1;
      background-color: $black;
      border: 2px solid $black;
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .active {
    color: #fff;
    background-color: $black;
    border: 2px solid $black;
  }
  //-----------------------------------------
  .current {
    display: inline-block;
    width: 45px;
    line-height: 41px;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    @include respond-to(767) {
      display: inline-block;
      width: 27px;
      line-height: 27px;
      color: #fff;
      background-color: #000;
      border: 2px solid #000;
    }
  }
  //-----------------------------------------
  .prev {
    background-color: $white;
    border: 2px solid transparent;
    //---------------------------------------
    @include respond-to(767) { font-size: 1.1rem; }
    //---------------------------------------
  }
  //-----------------------------------------
  .next {
    background-color: $white;
    border: 2px solid transparent;
    //---------------------------------------
    @include respond-to(767) { font-size: 1.1rem; }
    //---------------------------------------
  }
  //-----------------------------------------
}

/*-------------------------------------------
 list1 component
-------------------------------------------*/
.c-list1 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  //---------------------------------------
  &__card1 {
    position: relative;
    //-------------------------------------
    .card1__box1 {
      position: relative;
      //-----------------------------------
      @include respond-to(767) {
        //---------------------------------
        .card1__img1 {
          display: block;
          //-------------------------------
          img { width: 100%; }
          //-------------------------------
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    .card1__box2 {
      box-sizing: border-box;
      padding: 19px 0 0;
      //-----------------------------------
      @include respond-to(767) {
        background: #fff;
        padding: 15px 10px 10px;
      }
      //-----------------------------------
      h2 {
        font-size: 1.8rem;
        margin-bottom: 7px;
        //---------------------------------
        @include respond-to(767) {
          font-size: 1.4rem;
          letter-spacing: 0;
          line-height: 1.3;
        }
        //---------------------------------
      }
      //-----------------------------------
      .small-text1 {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 9px;
        //---------------------------------
        @include respond-to(767) {font-size: 1.1rem;}
        //---------------------------------
      }
      //-----------------------------------
      .tag1 {
        display: inline-block;
        text-decoration: none;
        color: $black;
        padding: 2px 11px;
        font-size: 1.2rem;
        background: #ccc;
        border-radius: 19px;
        margin-top: 27px;
        cursor: pointer;
        //---------------------------------
        @include respond-to(767) {
          margin-top: 15px;
          padding: 2px 8px 3px;
          font-size: 1.1rem;
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    .card1__text1 {
      position: relative;
      font-weight: bold;
      color: $green1;
      line-height: 1.5;
      //-----------------------------------
      @include respond-to(767) { font-size: 1.2rem; }
      //-----------------------------------
      .text1__inner { padding-right: 40px; }
      //-----------------------------------
      .img-icon1 {
        position: absolute;
        top: 5px;
        right: 0;
        //---------------------------------
        img {
          @include respond-to(767) { width: 15px; }
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
  &__link1 {
    box-sizing: border-box;
    position: relative;
    text-align: left;
    background: #fff;
    text-decoration: none;
    color: $black;
  }
  //---------------------------------------
  a, button {
    &:hover {opacity: 0.8;}
  }
  //---------------------------------------
}

/*-------------------------------------------
 list2 component
-------------------------------------------*/
.c-list2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  //---------------------------------------
  &__card1 {
    position: relative;
    //-------------------------------------
    .card1__box1 {
      position: relative;
      //-----------------------------------
      @include respond-to(767) {
        //---------------------------------
        .card1__img1 {
          display: block;
          //-------------------------------
          img {
            width: 100%;
            height: auto;
          }
          //-------------------------------
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    .card1__box2 {
      box-sizing: border-box;
      padding: 19px 0 0;
      //-----------------------------------
      @include respond-to(767) {
        background: #fff;
        padding: 15px 10px 10px;
      }
      //-----------------------------------
      h2 {
        font-size: 1.8rem;
        margin-bottom: 7px;
        //---------------------------------
        @include respond-to(767) {
          font-size: 1.4rem;
          letter-spacing: 0;
          line-height: 1.3;
        }
        //---------------------------------
      }
      //-----------------------------------
      .small-text1 {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 9px;
        //---------------------------------
        @include respond-to(767) {font-size: 1.1rem;}
        //---------------------------------
      }
      //-----------------------------------
      .tag1 {
        display: inline-block;
        text-decoration: none;
        color: $black;
        padding: 2px 11px;
        font-size: 1.2rem;
        background: #ccc;
        border-radius: 19px;
        margin-top: 27px;
        cursor: pointer;
        //---------------------------------
        @include respond-to(767) {
          margin-top: 15px;
          padding: 2px 8px 3px;
          font-size: 1.1rem;
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    .card1__text1 {
      position: relative;
      font-weight: bold;
      color: $green1;
      line-height: 1.5;
      //-----------------------------------
      @include respond-to(767) { font-size: 1.2rem; }
      //-----------------------------------
      .text1__inner { padding-right: 40px; }
      //-----------------------------------
      .img-icon1 {
        position: absolute;
        top: 5px;
        right: 0;
        //---------------------------------
        img {
          @include respond-to(767) { width: 15px; }
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
  &__link1 {
    box-sizing: border-box;
    position: relative;
    text-align: left;
    text-decoration: none;
    color: $black;
  }
  //---------------------------------------
  &__img1 {
    position: relative;
    display: block;
    //-----------------------------------
    img { 
      width: 100%;
      @include respond-to(767) { height: auto; }
    }
    //-----------------------------------
  }
  //---------------------------------------
  &__text1 {
    background: $white;
    padding: 11px 12px 28px;
    @include respond-to(767) { padding: 10px 9px; }
    //-------------------------------------
    h2 {
      font-size: 1.5rem;
      line-height: 1.4;
      margin-bottom: 14px;
      @include respond-to(767) {
        margin-bottom: 10px;
        font-size: 1.3rem;
      }
    }
    //-------------------------------------
    .company-name {
      @include respond-to(767) { font-size: 1.2rem; }
    }
    //-------------------------------------
  }
  //---------------------------------------
  a, button {
    &:hover {opacity: 0.8;}
  }
  //---------------------------------------
}
