@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 940px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  letter-spacing: 1px;
	text-align: center;
  font-size: 14px;
}
//-------------------------------
#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}
//-------------------------------
.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
}
//-------------------------------
button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a { margin-right: 5px; }
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}

/*-----------------------------------------------
  header
-----------------------------------------------*/
header {
  position: relative;
  display: block;
  height: auto;
  padding: 21px 0 13px;
  z-index: 999;
  @extend %cf;
}
/*-----------------------------------------------
  footer
-----------------------------------------------*/
footer {
  position: relative;
  color: white;
  font-size: 1.5rem;
  img { width: 100%; }
}
/*------------------------------------------------
  layout
------------------------------------------------*/
.l {
  //--------------------------------------
  &--hidden { overflow: hidden; }
  //-----------------------------------------
  &--flex {
    display: flex;
    justify-content: space-between;
  }
  //----------------------------------------
  &-grid {
    display: grid;
    grid-template-columns: 460px 460px;
    grid-column-gap:  20px;
    grid-row-gap: 35px;
    .l-item2 h2 {margin: 24px 0 19px !important;}

    .l-item3 {margin-top: 22px;}

    .l-item3 h2 {margin: 23px 0 20px !important;}

    .l-item4 {
      margin-top: 1px;
      h2 {
        margin: 36px 0 19px 11px !important;
      }
      .c-box1__text1 {margin-bottom: 17px;}
    }
    //--------------------------------------
    @include ie() {
      //------------------------------------
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      //------------------------------------
      .c-box1 {
        width: 460px;
        margin-bottom: 20px;
      }
      //------------------------------------
    }
    //--------------------------------------
  }
  //----------------------------------------
  &-grid2 {
    display: grid;
    grid-template-columns: 465px 220px 220px;
    grid-column-gap: 14px;
    &-item3 { margin-left: 5px; }
    //--------------------------------------
    @include ie() {
      display: flex;
      justify-content: space-between;
    }
    //--------------------------------------
  }
  //----------------------------------------
  &-nav1 {
    //--------------------------------------
    &--p10 { padding-bottom: 20px; }
    //--------------------------------------
  }
  //----------------------------------------
  &--left { float:  left; }
  //----------------------------------------
  &--right { float:  right; }
  //grid3-----------------------------------
  &-grid3 {
    margin-top: -3px;
    display: grid;
    grid-template-columns: 219px 220px 220px 219px;
    grid-column-gap: 20px;
    grid-row-gap: 18px;
    //------------------------
    &-item8 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    //------------------------
    &-item9 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    //--------------------------------------
    @include ie() {
      //------------------------------------
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .c-boxi1 {
        margin-bottom: 20px;
        margin-left: 20px;
        //----------------------------------
        &:nth-child(4n+1) {margin-left: 0px;}
        //----------------------------------
      }
      //------------------------------------
    }
    //--------------------------------------
  }
  //grid4--------------------------------
  &-grid4 {
    display:  grid;
    grid-template-columns: 460px 460px;
    grid-column-gap: 19px;
    //--------------------------------------
    @include ie() {
      //------------------------------------
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      //------------------------------------
      .p-top2-box1 { width: 460px; }
      //------------------------------------
    }
    //--------------------------------------
  }
  //grid5--------------------------------
  &-grid5 {
    display: grid;
    grid-template-columns: 220px 220px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    &-item1 { margin-top: -1px; }
    //--------------------------------------
    @include ie() {
      //------------------------------------
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      //------------------------------------
      .c-boxi1 {margin-bottom: 20px;}
      //------------------------------------
    }
    //--------------------------------------
  }
  //------------------------------
  &-bg--white { background: white; }
}
