@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.btn-top {
  position: absolute;
  right: -11%;
  top: 76px;
  //----------------------------------
  img {
    width: 100px;
    height: 100px;
    //----------------------------------
  }
  //----------------------------------
}
/*--------------------------------------------------
  Component index
----------------------------------------------------*/

/*-----------------------------------------------
Table
-----------------------------------------------*/
.c {
  &-nav1 {
    padding-top: 6px;
    //----------------------------------------------------------
    ul {
      display: flex;
      justify-content: space-between;
      background: url(../img/line-menu.png) no-repeat top right;
      //----------------------------------------------------------
      li {
        width: 188px;
        font-size: 1.4rem;
        padding: 5px 0;
        box-sizing: border-box;
        background: url(../img/line-menu.png) no-repeat;
      }
       //----------------------------------------------------------
      a {
        display: block;
        font-weight: bold;
        text-decoration: none;
        color: black;
      }
      //------------------------------------------
    }
    //------------------------------------------
  }
  //--------------------------------------------
  &-table1 {
    //-------------------------------------------
    &-rowhead th {
      background: #dddddd;
      padding: 13px 0 !important;
      border:  none;
      text-align: center;
      //---------------------------------------
    }
    //-------------------------------------------
    table {
      width:  100%;
      height:  auto;
      color:  #3c3c3c;
      font-size: 1.5rem;
      font-weight:  bold;
      text-align:  left;
      border-spacing: 0;
      border-collapse:  collapse;
      //-----------------------------------------
    }
    //-----------------------------------------
  }
  //-------------------------------------------
  &-banner {
    background: url(../img/i-bg1.jpg) no-repeat left top;
    background-size: 100% 100%;
    height: 200px;
    box-sizing: border-box;
    padding-top: 92px;
    //-----------------------------
    h1 {
      margin-left: 3px;
      letter-spacing: 5px;
      font-size: 3.0rem;
      color: white;
    }
    //-----------------------------
  }
  //-----------------------------
  &-box1 {
    //---------------------------------
    h2 {
      display: inline-block;
      font-size:  2.0rem;
      text-align: center;
      border-bottom: 2px solid black;
      padding-bottom: 9px;
    }
    //---------------------------------
    &__text1 {
      position:  relative;
      text-align: center;
      border: 2px solid #006633;
      padding: 5px 0;
      //---------------------------------
      p {
        position: relative;
        line-height: 25px;
        letter-spacing: 4px;
        z-index: 1;
        font-size: 18px;
        color: #00634b;
      }
      //---------------------------------
    }
    //---------------------------------
    &__text2 {
      text-align:  left;
      letter-spacing: 3px;
    }
    //---------------------------------
    &--bg1 {
      background: linear-gradient(to right, #f8f1e3 , #fdf5e6);
      width: 97%;
      height: 124%;
      position: absolute;
      left: 2%;
      top: -15%;
      z-index: 0;
    }
    //---------------------------------
  }
  //-----------------------------------
  &-box2 {
    //---------------------------------
    &__img1 {
      margin-bottom: 18px;
      border-radius: 8px;
    }
    //---------------------------------
  }
  //-----------------------------------
  &-map {
    //---------------------------------
    iframe {
    width: 100%;
    height: 294px;
    }
    //---------------------------------
  }
  //---------------------------------
  &-boxmedia {
    background: url(../img/i-bgmedia.jpg) repeat;
    //background: linear-gradient(to right, #f5edde , #f2e8d9);
    padding: 55px 0 73px;
  }
  //-------------------------
  &-event1 {
    padding: 56px 0 20px;
    display: block;
    position: relative;
    background: linear-gradient(to right, #f8f1e3 , #fdf5e6);
    h1 {
      margin-bottom: 36px;
      margin-left: 10px;
      font-size: 30px;
      display: inline-block;
      color: #00634b;
      border-bottom: 3px solid #00634b;
      padding-bottom: 12px;
      letter-spacing: 6px;
    }
    //-------------------------
    &-box1 {
      padding-left: 18px;
      text-align:  left;
      //--------------------------
      p {
        margin-bottom: 20px;
        letter-spacing: 2px;
        line-height: 22px;
        &:last-child {
          margin-bottom: 0;
          text-align: justify;
        }
      }
      //--------------------------
      a {
        text-decoration: none;
        color: #000000;
      }
      span {
        position: relative;
        top: -4px;
        padding-bottom: 3px;
        border-bottom:  1px solid black;
        margin-left: 9px;
      }
      //--------------------------
    }
    //--------------------------
  }
  //page top----------------------------
  &-btncheck1 {
    background:  black;
    display:  inline-block;
    padding: 7px 30px;
    border-radius: 5px;
    &--color1 { background: #00634b; }
    a {
      display: block;
      color: white;
      text-decoration: none;
    }
    //-------------------------
  }
  //-------------------------
  &-top {
    background: url(../img/top/h-bg1.jpg) no-repeat;
    height: 610px;
    background-size: 100% 100%;
    p {
      padding-top: 213px;
      padding-bottom: 18px;
    }
    //-----------------------
  }
  //-----------------------
  &-gnavi {
    padding: 36px 0 50px;
    background: url(../img/top/i-bgcolor1.jpg) repeat;
    li {font-size: 16px!important;}
  }
  //-----------------------
  &-bgtop { background: url(../img/top/i-bgcolor1.jpg) repeat; }
  //-----------------------
  &-line1 {
    border-top: 1px solid #cccccc;
    position:  relative;
    //-----------------------
    h2 {
      display:  inline-block;
      position: relative;
      font-size: 30px;
      color: #333333;
      top: -31px;
      letter-spacing: 3px;
      padding: 10px 22px 10px 39px;
      background: url(../img/top/i-bgcolor1.jpg) repeat;
    }
    //-----------------------
    &-sm1 { font-size: 18px; }
    &--type2 {
      margin-top: 11px;
      h2 {
        background: url(../img/top/i-bgcolor2.jpg) repeat;
        padding: 10px 12px;
        font-size: 22px;
        top: -22px;
        letter-spacing: 2px;
      }
    }
  }
  //-----------------------
  &-boxi1 {
    //---------------------------
    &__text1 {
      padding: 21px 32px 14px;
      background: #00634b;
      color: #fff;
      border-radius: 0px 0px 5px 5px;
      h2 {
        font-size: 20px;
        margin-bottom: 8px;
      }
    }
    //---------------------------
    &-btn1 {
      width: 128px;
      box-sizing: border-box;
      margin: 0 auto;
      font-size: 12px;
      padding: 9px 10px;
      background: #004534;
      border-radius: 5px;
      a {
        color:  #fff;
        text-decoration: none;
      }
      //----------------------
    }
    //----------------------
    &__img1 {
      position: relative;
      img {border-radius: 4px 0 0 0px;}
    }
    //-----------------------
    &__label1 {
      background: #fab445;
      padding: 4px 0;
      width: 105px;
      font-size:  12px;
      font-weight: bold;
      color:  white;
      position:  absolute;
      top: 0;
      left: 0;
    }
  }
  //---------------------------
  &-ad1 {background: url(../img/top/i-eng1.jpg) no-repeat;}
  &-ad2 {background: url(../img/top/i-eng2.jpg) no-repeat;}
  //banbr---------------------------
  &-banbr {
    border: 5px solid #ddd;
    padding: 35px 104px 35px 63px;
    background: #fff;
    //----------------------------
    h2 {
      font-size:  20px;
      letter-spacing: 4px;
    }
    //----------------------------
  }
  //c-list2------------------------------
  &-list2 li:before {
    content: '※';
    float: left;
    margin-bottom: 1px;
  }
  //-------------------------
  &-box4 { background: #e5f5e9; }
  //class bg-----------------------
  &-classbg { background: url(../img/class/i-classbg.jpg) repeat left top; }
  //c-box3---------------------------
  &-box3 {
    //-------------------------------
    &__text {
      color:  white;
      background: #00634b;
      padding: 52px 45px 0;
      //---------------------------
      h2 {
        font-size: 30px;
        border-bottom: 2px solid white;
        display: inline-block;
        padding-bottom: 18px;
        margin-bottom: 26px;
        letter-spacing: 5px;
      }
      //---------------------------
      p {
        text-align: justify;
        letter-spacing: 3px;
      }
      //---------------------------
    }
    //-------------------------------
  }
  //c-box4-------------------------------
  &-box4 {
    //----------------------------
    h2 {
      text-align: center;
      font-size:  18px;
      color: #00634b;
      letter-spacing: 3px;
      line-height: 1.2;
      margin-bottom: 25px;
    }
    //----------------------------
    p {
      text-align: justify;
      letter-spacing: 3px;
      line-height: 1.6;
    }
    //----------------------------
  }
  //----------------------------
  &-table--mb34 {
    margin-top: -2px;
    margin-bottom: 35px;
    background: white;
  }
  //--------------------------
  &-list1 {
    //-----------------------
    li {
      list-style-type:  disc;
      margin-bottom: 1px;
      letter-spacing: 2px;
    }
    //-----------------------
  }
  //-------------------------
  &--marlist1 { margin-left: 33px; }
  &--marlist2 { margin-left: 30px; }
  &--space3 { letter-spacing: 3px; }
  //box talk top-------------------------------
  &-boxtalk1 {
    background: #000;
    color:  white;
    padding:  20px;
    border-radius: 5px;
    //------------------------------
    .c-boxi1-btn1 {
      width: 180px;
      box-sizing: border-box;
      padding: 10px 0px;
      font-size: 16px;
      background-color: #fab445;
      a { color: black; }
    }
    //------------------------------
  }
  //---------------------------------
  &-talk1 {
    width: 170px;
    position: relative;
    background: #00634b;
    padding: 4px 0;
    margin: 4px auto 0;
    //-------------------------------
    &:after {
      content:  "";
      position: absolute;
      bottom: -8px;
      right: 78px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 10px solid #00634b;
    }
    //-------------------------------
  }
  //--------------------------------
  &-talk2 {
    margin: 15px 0 7px;
    font-size: 24px;
  }
  //---------------------------------
}


//slide-------------------------------------
.bx-wrapper {
  width: 700px;
  margin: 0 auto 0 111px;
  border: none;
  background: none;
}

.bx-viewport { height: auto !important; }

.bx-wrapper .bx-controls-direction a {
  width: 42px;
  height: 43px;
}

.bx-wrapper .bx-prev {
  left: -80px;
  background: url(../img/arrow.png) no-repeat 0 2px;
}
.bx-wrapper .bx-next {
  right: -80px;
  background: url(../img/arrow.png) no-repeat -45px 1px;
}

.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
  background-position: 0 2px;
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
  background-position: -45px 1px;
}

.bx-wrapper .bx-controls-direction a { top: 46%; }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: -40px;
  left: -8px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 8px;
  background: #b6c2b9;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #00634b;
}
