@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  transform: scale(1);
  background-size: cover;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p {
  &-top1 {
    margin: 45px 0 78px;
    @include respond-to(768) {
      margin: 25px 0 31px;
      //-----------------------------
      &__imgSPIcon { width: 40px; }
      //-----------------------------
    }
    //-------------------------------
    h2 {
      position: relative;
      margin-bottom: 21px;
    }
    //-------------------------------
    &-listBox1 {
      box-sizing: border-box;
      width: 800px;
      margin: 0 auto;
      a {
        text-decoration: none;
        color: black;
      }
      //-----------------------------
      @include respond-to(768) {
        width: auto;
        padding: 0 23px;
      }
      //-----------------------------
    }
    //-------------------------------
    &-adsinfo1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      //------------------------------
      @include respond-to(768) {
        display: block;
      }
      //-----------------------------
      .p-item1 {
        margin-right:50px;
        @include respond-to(768) {
          margin-right: 0;
        }
      }
      //-----------------------------
      .p-item2 {
        margin-right:33px;
        @include respond-to(768) {
          margin-right: 0;
        }
      }
      //-----------------------------
      .c-box1 {
        @include respond-to(768) {
          margin-bottom: 30px;
          text-align: center;
        }
        //---------------------------
        &>.l-flexbox {
          justify-content: flex-start;
          align-items: center;
          //-------------------------
          @include respond-to(768) {
            display: inline-flex;
          }
          //-------------------------
        }
        //---------------------------
      }
      //-----------------------------
      .c--ml1 {
        margin-left: 50px;
        //---------------------------
        @include respond-to(768) {
          margin-left: 8px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-adsBox1 {
      box-sizing: border-box;
      height: 90px;
      padding: 21px 28px 76px;
      border: 1px solid #bcbcbc;
      text-align: left;
      transition: all ease 0.7s;
      margin-bottom: 18px;
      //-----------------------------
      &:hover {
        color: white;
        background: #73C6C7;
        //---------------------------
        .p-top1-adsicon1--bg1 {
          background-image: url(../img/icon1-hover.svg);
        }
        //---------------------------
        .p-top1-adsicon1--bg2 {
          background-image: url(../img/icon2-hover.svg);
        }
        //---------------------------
        .p-top1-adsicon1--bg3 {
          background-image: url(../img/icon3-hover.svg);
        }
        //---------------------------
        .p-top1-adstitle1--bg1 {
          background-image: url(../img/i-title1-hover.svg);
        }
        //---------------------------
        .p-top1-adstitle2--bg1 {
          background-image: url(../img/i-title2-hover.svg);
        }
        //---------------------------
        .p-top1-adstitle3--bg1 {
          background-image: url(../img/i-title3-hover.svg);
        }
        //---------------------------
      }
      //-----------------------------
      @include respond-to(768) {
        max-width: 330px;
        height: auto;
        margin: 0 auto 18px;
        padding: 40px 30px 55px;
        //---------------------------
        &__textBoxSP {
          margin-bottom: 30px;
          text-align: center;
          //-------------------------
          &>.l-flexbox { display: inline-flex; }
          //-------------------------
        }
        //---------------------------
      }
      //-----------------------------
      &__txt {
        box-sizing: border-box;
        width: 426px;
        line-height: 1.7;
        //---------------------------
        @include respond-to(768) {
          width: auto;
          font-size: 16px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-adsicon1 {
      width: 50px;
      height: 50px;
      @include respond-to(768) {
        width: 36px;
        height: 33px;
      }
      //------------------------------------
      &--bg1 {
        transition: all ease 0.7s;
        background: url(../img/icon1.svg) no-repeat;
        background-size: 100% 100%;
      }
      //------------------------------------
      &--bg2 {
        transition: all ease 0.7s;
        background: url(../img/icon2.svg) no-repeat;
        background-size: 100% 100%;
      }
      //------------------------------------
      &--bg3 {
        transition: all ease 0.7s;
        background: url(../img/icon3.svg) no-repeat;
        background-size: 100% 100%;
      }
      //------------------------------------
    }
    //-------------------------------
    &-adstitle1 {
      width: 143px;
      height: 24px;
      @include respond-to(768) {
        width: 112px;
        height: 19px;
        margin-top: 3px;
      }
      &--bg1 {
        transition: all ease 0.7s;
        background: url(../img/i-title1.svg) no-repeat left;
      }
      // &--ml1 {
      //   margin-left: 50px;
      //   @include respond-to(768) {
      //     margin-left: 8px;
      //   }
      // }
    }
    //-------------------------------
    &-adstitle2 {
      width: 143px;
      height: 24px;
      @include respond-to(768) {
        width: 43px;
        height: 20px;
        margin-top: 4px;
      }
      &--bg1 {
        transition: all ease 0.7s;
        background: url(../img/i-title2.svg) no-repeat left;
        @include ie() {
          background: url(../img/i-title2.svg) no-repeat -40px 0;
          @include respond-to(768) {
            background-position-x: 0;
          }
        }
      }
    }
    //-------------------------------
    &-adstitle3 {
      width: 158px;
      height: 25px;
      @include respond-to(768) {
        width: 124px;
        height: 20px;
        margin-top: 3px;
      }
      //-----------------------------
      &--bg1 {
        transition: all ease 0.7s;
        background: url(../img/i-title3.svg) no-repeat left;
      }
      //-----------------------------
    }
    //-------------------------------
    &__text1 {
      font-weight: 500;
      line-height: 1.7;
      margin-bottom: 32px;
      //-----------------------------
      @include respond-to(768) {
        padding: 0 23px;
      }
      //-----------------------------
    }
    //-------------------------------
    &__mainText1 {
      margin-bottom: 13px;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 3px;
      //-----------------------------
      @include respond-to(768) {
        line-height: 1.4;
        font-size: 16px;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //end top1-------------------------
  &-top2 {
    margin-bottom: 75px;
    @include respond-to(768) {
      margin-bottom: 34px;
    }
    //-------------------------------
    &-box2 {
      &__text1 {
        text-align: center;
        line-height: 26px;
        //---------------------------
        h2 {
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 14px;
          letter-spacing: 3px;
          //-------------------------
          @include respond-to(768) {
            font-size: 20px;
          }
          //-------------------------
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-list1 {
      //-----------------------------
      .c-list1__card {
        position: relative;
        width: 24.85%;
        margin-bottom: 0.2%;
        //---------------------------
        @include respond-to(768) {
          width: 49.7%;
          margin-bottom: 0.6%;
        }
        //---------------------------
        &>img { width: 100%; }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &__btn1 {
      position: relative;
      margin: 50px 0 58px;
      //-----------------------------
      @include respond-to(768) { margin: 30px 0; }
      //-----------------------------
    }
    //-------------------------------
    &__listerbox {
      padding: 60px 0 32px;
      background: url(../img/i-listerbg.gif) repeat;
      //-----------------------------
      @include respond-to(768) { padding: 60px 23px 32px; }
      //-----------------------------
    }
    //-------------------------------
    &__talkImg {
      margin-top: -84px;
      margin-bottom: 11px;
      @include respond-to(768) {
        margin-top: -75px;
      }
      //-----------------------------
      img {
        width: 444px;
        height: 77px;
        @include respond-to(768) {
          width: 260px;
          height: 45px;
        }
      }
      //-----------------------------
    }
    //-------------------------------
    &__listerImg {
      margin-top: 17px;
      //-----------------------------
      img {
        width: 730px;
        height: 125px;
        @include respond-to(768) {
          width: 274px;
          height: 47px;
        }
      }
      //-----------------------------
    }
    //-------------------------------
    &__smicon1 {
      position: absolute;
      bottom: 12px;
      right: 17px;
      width: 28%;
      //-------------------------------
      @include respond-to(768) {
        bottom: 3%;
        right: 9px;
      }
      //-------------------------------
      img { width: 100%; }
      //-------------------------------
    }
    //-------------------------------
    &__ads {
      margin-bottom: 74px;
      //---------------------------------
      @include respond-to(768) {
        margin: 0 auto 43px!important;
      }
    }
    //-------------------------------
  }
  //end top2-------------------------
  &-top3 {
    margin-bottom: 72px;
    //-------------------------------
    @include respond-to(768) { margin-bottom: 45px; }
    //-------------------------------
    &-box1 {
      padding: 0 10px;
      @include respond-to(768) { padding: 0 23px; }
    }
    //-------------------------------
  }
  //end top3-------------------------
}

/*--------------------------------------------------
 concept_taishin
--------------------------------------------------*/
.p {
  &-taishin {
    //------------------------------
    @include respond-to(768) {
      &__imgSP1 { width: 214px; }
      &__imgSP2 { width: 223px; }
    }
    //------------------------------
  }
  //--------------------------------
  &-taishin1 {
    margin: 70px 0 70px;
    //------------------------------
    @include respond-to(768) {
      margin: 25px 0 25px;
      padding: 0 23px;
    }
    //------------------------------
    // &--mb1 {
    //   margin-bottom: 83px;
    //   //----------------------------
    //   @include respond-to(768) {
    //     margin-bottom: 35px;
    //   }
    //   //----------------------------
    // }
    //------------------------------
    &__imgText1 {
      margin-bottom: 37px;
      //----------------------------
      @include respond-to(768) {
        box-sizing: border-box;
        max-width: 310px;
        margin: 0 auto 18px;
      }
      //----------------------------
      img {
        width: 614px;
        @include respond-to(768) { width: 100%; }
      }
      //----------------------------
    }
    //------------------------------
    &__imgText2 {
      position: relative;
      margin-left: -108px;
      //----------------------------
      @include respond-to(768) {
        max-width: 304px;
        margin: 0 auto;
      }
      //----------------------------
      img {
        width: 709px;
        @include respond-to(768) { width: 100%; }
      }
      //----------------------------
    }
    //------------------------------
    &__text1 {
      font-size: 21px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 1px;
      line-height: 1.65;
      margin-bottom: 83px;
      //----------------------------
      @include respond-to(768) {
        font-size: 12px;
        text-align: center;
        margin-bottom: 35px;
      }
      //----------------------------
    }
    //------------------------------
    &__linebot {
      position: relative;
      //----------------------------
      &:after {
        content: '';
        height: 8px;
        background: url(../img/taishin/i-line0.png) repeat-x;
        position: absolute;
        left: 0;
        bottom: 4px;
        z-index: -1;
        width: 100%;
        //--------------------------
        @include respond-to(768) {
          bottom: 1px;
        }
        //--------------------------
      }
      //----------------------------
    }
    //------------------------------
  }
  //--------------------------------
  &-taishin2 {
    margin-bottom: 73px;
    //------------------------------
    @include respond-to(768) {
      margin-bottom: 32px;
      padding: 0 23px;
      //----------------------------
      &-box1 {
        max-width: 330px;
        margin: 0 auto;
      }
      //----------------------------
    }
    //------------------------------
    .c-taishin2-mainbox {
      margin-bottom: 59px;
      @include respond-to(768) { margin-bottom: 32px; }
    }
    //------------------------------
    &__img1 {
      width: 32%;
      //----------------------------
      img { width: 100% }
      //----------------------------
    }
    //------------------------------
    &__img2 {
      width: 62%;
      //----------------------------
      img { width: 100% }
      //----------------------------
    }
    //------------------------------
    &__btn1 {
      margin-top: 84px;
      @include respond-to(768) { margin-top: 32px; }
    }
    //------------------------------
  }
  //--------------------------------
  &-taishin3 {
    margin-bottom: 95px;
    //------------------------------
    @include respond-to(768) {
      margin-bottom: 32px;
    }
    //------------------------------
  }
  //--------------------------------
  &-taishin4 {
    //------------------------------
    margin-bottom: 65px;
    //------------------------------
    @include respond-to(768) {
      padding: 0 23px;
      margin-bottom: 30px;
    }
    //------------------------------
    &-box1 {
      padding: 32px 32px;
      box-sizing: border-box;
      background: url(../img/taishin/bg1.png) no-repeat;
      background-size: cover;
      //----------------------------
      @include respond-to(768) {
        max-width: 330px;
        height: auto;
        margin: 0 auto;
        padding: 12px 12px;
      }
      //----------------------------
      &__type1 {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: #fff;
        padding: 37px 30px;
        @include respond-to(768) {
          padding: 24px 17px;
        }
      }
      //----------------------------
    }
    //------------------------------
    &-titleBox {
      display: inline-block;
      position: absolute;
      top: -15px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 191px;
      padding: 7px 0;
      font-weight: bold;
      font-size: 27px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #fff;
      border: 3px solid #73C6C7;
      //-------------------------------
      @include respond-to(768) {
        top: -9px;
        width: 91px;
        padding: 2px 0;
        font-size: 14px;
        border: 2px solid #73C6C7;
      }
      //-------------------------------
    }
    //------------------------------
    &__text {
      font-size: 27px;
      font-weight: bold;
      //----------------------------
      @include respond-to(768) {
        font-size: 13px;
      }
      //----------------------------
    }
    //------------------------------
    &__linebot {
      position: relative;
      //----------------------------
      &:after {
        content: '';
        height: 8px;
        background: url(../img/taishin/i-linetext.png) repeat-x;
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        //--------------------------
        @include respond-to(768) {
          content: none;
        }
        //--------------------------
      }
      //----------------------------
    }
    //------------------------------
  }
  //--------------------------------
  &-taishin5 {
    margin-bottom: 72px;
    @include respond-to(768) { margin-bottom: 27px; }
    //------------------------------
    &-box1 {
      padding: 0 10px;
      //----------------------------
      @include respond-to(768) { padding: 0 23px; }
      //----------------------------
    }
    //------------------------------
  }
  //--------------------------------
}

/*--------------------------------------------------
 concept_infil
--------------------------------------------------*/
.p {
  //------------------------------------
  &-infil1 {
    margin: 69px 0 60px;
    //----------------------------------
    @include respond-to(768) {
      margin: 31px 0 31px;
      padding: 0 23px;
      //--------------------------------
      &-listbox1 {
        max-width: 322px;
        margin: 0 auto;
      }
      //--------------------------------
    }
    //----------------------------------
    &-textbox1 {
      position: relative;
      font-size: 30px;
      font-weight: bold;
      margin-top: 92px;
      @include respond-to(768) {
        margin-top: 37px;
        font-size: 14px;
      }
      //--------------------------------
      &--bg {
        position: absolute;
        top: -41px;
        left: 0;
        right: 0;
        z-index: -1;
        @include respond-to(768) {
          top: -22px;
          img { width: 155px; }
        }
      }
      //--------------------------------
    }
    //----------------------------------
    &__imgText1 {
      @include respond-to(768) {
        max-width: 300px;
        margin: 0 auto;
        img { width: 100%; }
      }
      //--------------------------------
      &--mb1 {
        margin-bottom: 50px;
        @include respond-to(768) {
          margin-bottom: 19px;
        }
      }
      //--------------------------------
    }
    //----------------------------------
    &__card {
      //--------------------------------
      img {
        width: 236px;
        height: 236px;
      }
      //--------------------------------
      @include respond-to(768) {
        margin: 0 auto 6px;
        //------------------------------
        img {
          width: 158px;
          height: 158px;
        }
        //------------------------------
      }
      //--------------------------------
    }
    //----------------------------------
  }
  //------------------------------------
  &-infil2 {
    margin-bottom: 75px;
    @include respond-to(768) {
      margin-bottom: 38px;
      padding: 0 22px;
    }
  }
  //------------------------------------
  &-infil3 {
    margin-bottom: 76px;
    @include respond-to(768) {
      margin-bottom: 24px;
      padding: 0 23px;
      &__img {
        img { width: 100%; }
      }
    }
    //----------------------------------
    &-list1 {
      @include respond-to(768) {
        margin: 0 auto;
        //------------------------------
        .c-list1 {
          display: block;
        }
        //------------------------------
      }
      //--------------------------------
    }
    //----------------------------------
    &__mainTitle1 {
      margin-bottom: 9px;
      @include respond-to(768) {
        margin-bottom: 2px;
      }
      //--------------------------------
      h2 {
        font-size: 27px;
        text-align: left;
        letter-spacing: 3px;
        @include respond-to(768) {
          font-size: 15px;
        }
        //------------------------------
        &:after {
          content: '';
          background: url(../img/infil/i-styleln.svg) no-repeat;
          background-size: 100%;
          width: 100%;
          height: 20px;
          margin-top: 15px;
          display: block;
          @include respond-to(768) {
            height: 10px;
            background: url(../img/infil/i-styleln.svg) no-repeat;
            margin-top: 8px;
          }
        }
        //------------------------------
      }
      //--------------------------------
    }
    //----------------------------------
    &__text1 {
      font-size: 20px;
      line-height: 2.0;
      text-align: justify;
      padding: 0 5px;
      @include respond-to(768) {
        font-size: 12px;
        line-height: 1.6;
        padding: 0;
      }
      //--------------------------------
      &--mb1 {
        margin-bottom: 18px;
        @include respond-to(768) {
          margin-bottom: 16px;
        }
      }
      //--------------------------------
    }
    //----------------------------------
    &__card {
      width: 302px;
      box-sizing: border-box;
      position: relative;
      @include respond-to(768) {
        width: auto;
        max-width: 302px;
        margin: 0 auto;
      }
      //--------------------------------
      &--mb1SP {
        @include respond-to(768) {
          margin-bottom: 10px;
        }
      }
      //--------------------------------
    }
    //----------------------------------
    &__info {
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      bottom: 0;
      padding: 10px 3px;
      background: rgba(255, 255, 255, 0.6);
      @include respond-to(768) {
        font-size: 15px;
      }
    }
    //----------------------------------
  }
  //------------------------------------
  &-infil4 {
    margin-bottom: 80px;
    @include respond-to(768) {
      margin-bottom: 25px;
    }
  }
  //------------------------------------
  &-infil5 {
    margin-bottom: 62px;
    @include respond-to(768) {
      margin-bottom: 30px;
      padding: 0 23px;
    }
    //----------------------------------
    &-content {
      font-size: 18px;
      text-align: justify;
      padding: 52px 52px 81px;
      background: #F9F1E7;
      line-height: 2.1;
      @extend %cf;
      //--------------------------------
      @include respond-to(768) {
        padding: 20px 15px 0;
        font-size: 12px;
        line-height: 1.7;
        max-width: 330px;
        box-sizing: border-box;
        margin: 0 auto;
      }
      //--------------------------------
    }
    //----------------------------------
    &-h2 {
      //--------------------------------
      &--mb1 {
        margin-bottom: 14px;
        @include respond-to(768) {
          margin-bottom: 7px;
        }
      }
      //--------------------------------
      &--mb1 {
        margin-left: -18px;
        @include respond-to(768) {
          margin-left: -7px;
        }
      }
      //--------------------------------
      &--size1 {
        img {
          width: 691px;
          //----------------------------
          @include respond-to(768) {
            width: 226px;
          }
          //----------------------------
        }
        // @include respond-to(768) {
        //   img {width: 226px;}
        // }
      }
      //--------------------------------
    }
    //----------------------------------
    &__text--mb1 {
      margin-bottom: 45px;
      @include respond-to(768) {
        margin-bottom: 25px;
      }
    }
    //----------------------------------
    &__specialbox {
      @include respond-to(768) {
        display: flex;
        justify-content: space-between;
        &--mb1SP { margin-bottom: 15px; }
      }
      p { flex-shrink: 1; }
    }
    //-----------------------------------
    &__person {
      position: absolute;
      bottom: -3px;
      right: 54px;
      @include respond-to(768) {
        position: relative;
        img {width: 163px;}
      }
    }
    //-----------------------------------
    &__imgperson1 {
      width: 249px;
      //---------------------------------
      @include respond-to(768) {
        width: 125px;
        float: right;
        &--mr1 { margin: 0 -6px 0 10px; }
      }
      //---------------------------------
    }
    //-----------------------------------
  }
  //------------------------------------
  &-infil6 {
    .c-infoBox__btn1 {
      margin-bottom: 78px;
      @include respond-to(768) {
        margin-bottom: 26px;
      }
    }
  }
  //------------------------------------
}

/*--------------------------------------------------
 concept_dannetu
--------------------------------------------------*/
.p {
  //------------------------------
  &-dannetu1 {
    margin: 69px 0 180px;
    @include respond-to(768) {
      margin: 30px 0 60px;
      padding: 0 23px;
    }
    //----------------------------
    &-smbox1 {
      width: 702px;
      margin: 0 auto 0 116px;
      display: flex;
      align-items: center;
      font-size: 31px;
      justify-content: space-between;
      @include respond-to(768) {
        width: auto;
        max-width: 330px;
        margin: 0 auto;
        font-size: 15px;
      }
    }
    //----------------------------
    &-obj1 {
      width: 292px;
      position: relative;
      box-sizing: border-box;
      padding: 0 32px;
      @include respond-to(768) {
        padding: 0;
        width: auto;
        margin: 0 auto;
        //------------------------
        &__line1 { padding: 0 15px; }
        //------------------------
      }
      //--------------------------
      &--bg1,
      &--bg2 {
        position: absolute;
        top: -248px;
        left: 0;
        @include respond-to(768) {
          top: -98px;
          width: 116px;
          z-index: -1;
        }
        //--------------------------
        img {
          width: 292px;
          height: 423px;
          @include respond-to(768) {
            width: 100%;
            height: auto;
          }
        }
        //--------------------------
      }
      //----------------------------
      &--bg1 {
        @include respond-to(768) {
          left: -12px;
        }
      }
      &--bg2 {
        @include respond-to(768) {
          left: -12px;
        }
      }
      //--------------------------
      &__line1 {
        position: relative;
        //------------------------
        &:after {
          content: '';
          height: 8px;
          background: url(../img/dannetu/i-boxline.svg) repeat-x;
          position: absolute;
          left: 0;
          bottom: -11px;
          z-index: -1;
          width: 100%;
          @include respond-to(768) {
            height: 2px;
            bottom: -3px;
            background: url(../img/dannetu/sp-boxline.svg) repeat-x;
          }
        }
        //------------------------
      }
      //--------------------------
    }
    //----------------------------
    &-obj2 {
      position: relative;
      top: 14px;
      //--------------------------
      img {
        width: 58px;
        height: 33px;
        @include respond-to(768) {
          width: 23px;
          height: 13px;
        }
      }
      //--------------------------
    }
    //----------------------------
    &--mb1 {
      margin-bottom: 52px;
      @include respond-to(768) {
        margin-bottom: 33px;
      }
    }
    //----------------------------
    &--mb2 {
      margin-bottom: 135px;
      @include respond-to(768) {
        margin-bottom: 64px;
      }
    }
    //----------------------------
    &__imgText1 {
      @include respond-to(768) {
        max-width: 300px;
        margin: 0 auto;
      }
      //--------------------------
      img {
        width: 762px;
        @include respond-to(768) {
          width: 100%;
        }
      }
      //--------------------------
      &--mb1 {
        margin-bottom: 36px;
        @include respond-to(768) {
          margin-bottom: 27px;
        }
      }
      //--------------------------
    }
    //----------------------------
    &__text1 {
      font-weight: bold;
      font-size: 21px;
      text-align: center;
      letter-spacing: 1px;
      line-height: 1.65;
      //--------------------------
      @include respond-to(768) {
        font-size: 13px;
        line-height: 1.5;
      }
      //--------------------------
    }
    //----------------------------
    &__text2 {
      font-size: 27px;
      letter-spacing: 1px;
      line-height: 1.5;
      text-align: center;
      @include respond-to(768) {
        padding: 0 23px;
        font-size: 13px;
        line-height: 1.5;
      }
    }
    //----------------------------
    &__linebot {
      position: relative;
      //--------------------------
      &:after {
        content: '';
        height: 8px;
        background: url(../img/dannetu/i-line1.png) repeat-x;
        position: absolute;
        left: 0;
        bottom: 4px;
        z-index: -1;
        width: 100%;
      }
      //--------------------------
    }
    //----------------------------
  }
  //------------------------------
  &-dannetu2 {
    margin-bottom: 76px;
    //------------------------------
    @include respond-to(768) {
      margin-bottom: 32px;
      padding: 0 23px;
      //----------------------------
      &-box1 {
        max-width: 330px;
        margin: 0 auto;
      }
      //----------------------------
    }
    &__img1 {
      width: 48%;
      //----------------------------
      img { width: 100% }
      //----------------------------
    }
    //------------------------------
  }
  //------------------------------
  &-dannetu3 {
    margin-bottom: 119px;
    @include respond-to(768) {
      margin-bottom: 32px;
    }
  }
  //------------------------------
  &-dannetu4 {
    //------------------------------
    margin-bottom: 113px;
    //------------------------------
    @include respond-to(768) {
      padding: 0 23px;
      margin-bottom: 30px;
    }
    //------------------------------
    &-box1 {
      padding: 32px 32px;
      box-sizing: border-box;
      background: url(../img/taishin/bg1.png) no-repeat;
      background-size: cover;
      //----------------------------
      @include respond-to(768) {
        max-width: 330px;
        height: auto;
        margin: 0 auto;
        padding: 12px 12px;
      }
      //----------------------------
      &__type1 {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: #fff;
        padding: 53px 30px 40px;
        @include respond-to(768) {
          padding: 24px 10px;
        }
      }
      //----------------------------
    }
    //------------------------------
    &-titleBox {
      display: inline-block;
      position: absolute;
      top: -15px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 191px;
      padding: 7px 0;
      font-weight: bold;
      font-size: 27px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #fff;
      border: 3px solid #73C6C7;
      //-------------------------------
      @include respond-to(768) {
        top: -9px;
        width: 91px;
        padding: 2px 0;
        font-size: 14px;
        border: 2px solid #73C6C7;
      }
      //-------------------------------
    }
    //------------------------------
    &__text {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.6;
      letter-spacing: 2px;
      //----------------------------
      @include respond-to(768) {
        font-size: 13px;
      }
      //----------------------------
    }
    //------------------------------
    &__linebot {
      position: relative;
      //----------------------------
      &:after {
        content: '';
        height: 8px;
        background: url(../img/taishin/i-linetext.png) repeat-x;
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        //--------------------------
        @include respond-to(768) {
          content: none;
        }
        //--------------------------
      }
      //----------------------------
    }
    //------------------------------
  }
  //------------------------------
  &-dannetu5 {
    margin-bottom: 85px;
    //----------------------------------
    @include respond-to(768) {
      margin-bottom: 30px;
      padding: 0 23px;
    }
    //----------------------------------
    &-content {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      font-size: 18px;
      text-align: justify;
      padding: 43px 46px 0;
      background: #F9F1E7;
      line-height: 2.1;
      @extend %cf;
      //--------------------------------
      @include respond-to(768) {
        max-width: 330px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 20px 15px 0;
        font-size: 12px;
        line-height: 1.7;
      }
      //--------------------------------
    }
    //-----------------------------------
    &-textbox {
      display: flex;
      justify-content: space-between;
    }
    //----------------------------------
    &-h2 {
      //--------------------------------
      &--mb1 {
        margin-bottom: 18px;
        @include respond-to(768) {
          margin-bottom: 7px;
        }
      }
      //--------------------------------
      &--ml1 {
        margin-left: -18px;
        @include respond-to(768) {
          margin-left: -6px;
        }
      }
      //--------------------------------
      &--size1 {
        //------------------------------
        img {
          width: 506px;
          @include respond-to(768) {
            width: 222px;
          }
        }
        //------------------------------
      }
      //--------------------------------
    }
    //----------------------------------
    &__text--mb1 {
      margin-bottom: 45px;
      @include respond-to(768) {
        margin-bottom: 25px;
      }
    }
    //----------------------------------
    &__person {
      margin-top: -18px;
      width: calc(100% - 611px);
      @include respond-to(768) {
        width: auto;
        position: absolute;
        right: 0;
        bottom: 0;
        img { width: 153px; }
      }
    }
    //-----------------------------------
    &__text1 {
      width: 611px;
      white-space: nowrap;
      @include respond-to(768) {
        width: auto;
        white-space: normal;
        flex-shrink: 1;
        p:last-child { margin-bottom: 10px; }
      }
    }
    //-----------------------------------
    &__imgperson1 {
      //----------------------------
      @include respond-to(768) {
        width: 139px;
        float: right;
        &--mr1 { margin: 0 -5px 0 10px; }
      }
      //----------------------------
    }
    //-----------------------------------
  }
  //-------------------------------------
  &-dannetu6 {
    margin-bottom: 65px;
    @include respond-to(768) { margin-bottom: 27px; }
  }
  //------------------------------
}
