/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-wrap {
  display: block;
  width: 1050px;
  height: 80px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .c-wrap {
    width: 100%;
    position: unset;
  }
}

.c-wrap__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p-service1 {
  background: #5D9CEC;
  color: #FFF;
}

@media only screen and (max-width: 767px) {
  .p-service1 {
    padding-top: 60px;
  }
}

.p-service2 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.p-service3 {
  margin-bottom: 40px;
}

.p-service3--mb20 {
  margin-bottom: 20px;
}

.p-service4 {
  margin-bottom: 40px;
}

.p-service4 .c-table1 {
  margin-bottom: 30px;
}

.p-service4 .l-btn1--center {
  margin-top: 30px;
}

.p-service5 .c-boximg1 {
  margin-bottom: 30px;
}

.p-service5 .c-title5 {
  margin-bottom: 10px;
}

.p-service5 p {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .p-company1 {
    padding-top: 60px;
  }
}

.p-company2 {
  margin-bottom: 40px;
}

.p-company2 p {
  margin-bottom: 20px;
}

.p-company3 {
  margin-bottom: 40px;
}

.p-company3 .c-table1 {
  margin-bottom: 30px;
}

.p-company4 p {
  margin-bottom: 10px;
}

.p-company4 .c-list4 {
  margin-bottom: 30px;
}

.p-company4 .c-list4 li {
  font-size: 1.6rem;
}

.p-company4__text1 {
  color: #8CC152;
}

.p-company4__text2 {
  color: #DA4453;
  font-size: 1.2rem;
}

.p-company4 .c-line1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.c-company5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.c-company5__img1 {
  width: 180px;
  margin-right: 15px;
}

@media only screen and (max-width: 767px) {
  .c-company5__img1 {
    width: 100px;
  }
  .c-company5__img1 img {
    max-width: 100%;
    height: auto;
  }
}

.c-company5__text1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
