@charset "UTF-8";
.l-list1--flex:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Japanese", 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/
.u-num1 {
  font-size: 3.5rem;
}

@media only screen and (max-width: 736px) {
  .u-num1 {
    font-size: 3rem;
  }
}

.u-num2 {
  font-size: 2.4rem;
}

@media only screen and (max-width: 736px) {
  .u-num2 {
    font-size: 1.95rem;
    font-weight: bold;
  }
}

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u-text1 {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.u-text1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid red;
  height: 45%;
  height: calc(50% - 1px);
  width: 100%;
  -webkit-transform: rotateZ(-4deg);
          transform: rotateZ(-4deg);
}

.u-text2 {
  color: #ff5078;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1440px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 100%;
  }
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*-----------------------------------------------
  header
-----------------------------------------------*/
header {
  position: relative;
  display: block;
  height: 800px;
  background: url(../img/i-slide.jpg) no-repeat top left;
  background-size: cover;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 0;
    background: none;
    height: auto;
    overflow: unset;
  }
}

/*-----------------------------------------------
  footer
-----------------------------------------------*/
footer {
  position: relative;
  background: #33c49d;
  color: white;
  font-size: 1.5rem;
  padding: 50px 0 60px;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 30px 0;
    font-size: 1.2rem;
  }
}

footer img {
  max-width: 100%;
  width: 1300px;
}

footer .c-farrows {
  display: inline-block;
  margin-bottom: 24px;
  margin-left: 7px;
}

@media only screen and (max-width: 768px) {
  footer .c-farrows {
    margin: 0 0 12px 0;
  }
}

footer p {
  width: 718px;
  margin: 0 auto;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  footer p {
    width: auto;
    margin: 0 10px;
  }
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l-menu {
  height: 95px;
}

.l--hidden {
  overflow: hidden;
}

.l-bg--gray {
  width: 100%;
  height: 100%;
  background: #cacaca;
  position: absolute;
  opacity: 0.3;
}

.l-list1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .l-list1--block {
    display: block;
  }
}

.l--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l--left {
  float: left;
  margin-bottom: 10px;
}

.l-box1--mt10 {
  margin-top: 36px;
}

.l-arrow2 {
  margin: 0 8px 0 13px;
}

.copyright {
  background: #3c3c3c;
  padding: 13px 0;
}

@media only screen and (max-width: 768px) {
  .copyright img {
    width: 280px;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.btn-top {
  position: absolute;
  right: -11%;
  top: 76px;
}

@media only screen and (max-width: 768px) {
  .btn-top {
    right: 16px;
    top: 69px;
  }
}

.btn-top img {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .btn-top img {
    width: 50px;
    height: 50px;
  }
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.is-open .c-menuSP__2 {
  width: 100%;
  margin-top: -25%;
}

/*--------------------------------------------------
  Component index
----------------------------------------------------*/
.c-pc {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc {
    display: none !important;
  }
}

.c-pc--inline {
  display: inline-block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc--inline {
    display: none !important;
  }
}

.c-sp {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp {
    display: block !important;
  }
}

.c-sp--inline {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp--inline {
    display: inline-block !important;
  }
}

.c-head__img1 {
  height: 1042px;
  position: absolute;
  left: -308px;
  top: -284px;
}

.c-head__img2 {
  position: relative;
  width: 933px;
  height: 344px;
  margin: 200px 0 0 621px;
  right: 0;
  top: 29px;
}

.c-menu {
  position: relative;
  right: -228px;
  top: -11px;
}

.c-menu ul li {
  float: right;
  padding: 46px 45px 46px 0;
}

.c-menu ul a {
  text-align: left;
  text-decoration: none;
  color: #3c3c3c;
  font-size: 1.8rem;
}

.c-menu ul .i-arrow {
  vertical-align: middle;
  margin-right: 10px;
}

.c-campaign1 {
  position: absolute;
  top: -210px;
  z-index: 1;
  left: -240px;
}

.c-campaign1 img {
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  .c-campaign1 {
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    margin-top: 10%;
  }
  .c-campaign1 img {
    width: 100%;
  }
}

.c-btn1 {
  display: inline-block;
}

.c-btn2 {
  text-decoration: none;
  padding: 5px 18px;
  font-weight: bold;
  color: white;
}

.c-btn2--green {
  background: #33c49d;
}

.c-btn2--blue {
  background: #0080ae;
}

.c-title1 {
  font-size: 5.6rem;
  font-weight: 100;
}

@media only screen and (max-width: 768px) {
  .c-title1 {
    font-size: 2.8rem;
  }
  .c-title1 img {
    width: 101px;
  }
}

.c-title1 img {
  margin-right: 21px;
}

.c-box1 {
  background: white;
}

.c-box1 h2 {
  background: #10222b;
  color: #dbdedf;
  font-size: 2.0rem;
  padding: 14px 0;
}

@media only screen and (max-width: 768px) {
  .c-box1 h2 {
    font-size: 1.6rem;
  }
}

.c-arrow1 {
  width: 192px;
  display: inline-block;
  font-size: 2.1rem;
  padding: 15px 0;
  color: #f5fbfa;
  text-align: center;
  vertical-align: middle;
  background: url(../img/i-arrow2.png) no-repeat;
}

.c-y1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .c-y1 {
    display: block;
  }
}

.c-y1__text1 {
  display: inline;
  margin-left: 5px;
}

@media only screen and (max-width: 768px) {
  .c-y1__text1 {
    display: block;
  }
}

.c-shin1-btn1 {
  font-size: 2.1rem;
  color: white;
  border: 1px solid white;
  background: url(../img/i-bgbtn1.png) repeat;
  border-radius: 100px;
}

.c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-list1__card1 {
  position: relative;
}

.c-list1__card1:hover .c-list1__info {
  opacity: 1;
}

.c-list1__info {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/i-bgpc.png) repeat;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.c-list1__info p {
  margin: 91px 0;
  color: red;
}

.c-contact2 {
  width: 780px;
  background: #10222b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 95px 0 95px 85px;
}

.c-farrows img {
  width: 489px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .c-farrows img {
    width: 245px;
  }
}

/*-----------------------------------------------
Table
-----------------------------------------------*/
.c-table1-rowhead th {
  background: #dddddd;
  padding: 13px 0 !important;
  border: none;
  text-align: center;
}

.c-table1-rowhead th:nth-of-type(1) {
  width: 264px;
}

.c-table1-rowhead th:nth-of-type(2) {
  width: 323px;
}

.c-table1-rowhead th:nth-of-type(3) {
  width: 284px;
}

.c-table1-rowhead th:nth-of-type(5) {
  width: 285px;
}

.c-table1 table {
  width: 100%;
  height: auto;
  color: #3c3c3c;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
}

.c-table1 table tr {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
}

.c-table1 table tr th, .c-table1 table tr td {
  padding: 12px 0 13px;
  line-height: 23px;
}

.c-table1 table tr th:nth-of-type(2), .c-table1 table tr th:nth-of-type(3), .c-table1 table tr th:nth-of-type(4), .c-table1 table tr td:nth-of-type(2), .c-table1 table tr td:nth-of-type(3), .c-table1 table tr td:nth-of-type(4) {
  text-align: center;
}

.c-table1 table tr td:nth-of-type(2), .c-table1 table tr td:nth-of-type(3), .c-table1 table tr td:nth-of-type(4) {
  border-left: 1px solid #ccc;
}

.c-table1 table tr th:first-child {
  padding-left: 30px;
}

@media only screen and (max-width: 768px) {
  .c-campaign1-sp img {
    width: 100%;
    position: relative;
    top: -28px;
  }
  .c-sphead__img3 {
    width: 100%;
    position: absolute;
    top: 0;
  }
  .c-sphead__img4 {
    width: 85%;
    margin: -54% auto 0;
    position: relative;
  }
  .c-sphead__img4 img {
    width: 100%;
  }
  .c-head__img1 {
    position: relative;
    width: 80%;
    height: 961px;
    margin: 0 auto;
  }
  .c-hbg99 {
    width: 100%;
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  .c-tab1 .wrap__inner1 {
    padding-top: 0;
  }
}

.c-tab1-btn1 {
  background: white;
  text-align: left;
  font-size: 1.8rem;
  padding: 22px 16px;
  position: relative;
  border: 0.5px solid #c8c8c8;
}

.c-tab1-info1 {
  margin: 30px 0;
}

.c-tab1-info1:last-child {
  margin-bottom: 0;
}

.c-tab1-info1 table {
  width: auto;
  margin: 0 auto;
  background: #ffffff;
}

.c-tab1-info1 table tr {
  border: 1px solid #ccc;
}

.c-tab1-info1 table tr th:first-child {
  padding-left: 0;
  width: 124px;
  font-size: 1.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 13px;
  border-right: 1px solid #ccc;
}

.c-tab1-info1 table tr td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 13px;
  width: 176px;
  font-size: 1.2rem;
  font-weight: 200;
}

.c-tab1__tit1 {
  font-size: 1.0rem;
  color: #ccc;
  vertical-align: middle;
  margin-left: 17px;
  width: 132px;
  display: inline-block;
}

.c-menuSP {
  width: 30px;
  height: 30px;
  top: 27px;
  right: 19px;
  cursor: pointer;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-menuSP__1, .c-menuSP__2 {
  width: 100%;
  height: 1px;
  background: #0080ae;
  margin: 6px auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-menuSP__2 {
  width: 0;
}
