@charset "UTF-8";
.c-nav ul, .c-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-nav ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-nav li {
  text-align: center;
}

/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/
.u-num1 {
  font-size: 3.5rem;
}

@media only screen and (max-width: 736px) {
  .u-num1 {
    font-size: 3rem;
  }
}

.u-num2 {
  font-size: 2.4rem;
}

@media only screen and (max-width: 736px) {
  .u-num2 {
    font-size: 1.95rem;
    font-weight: bold;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1201px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
}

@media only screen and (max-width: 736px) {
  body {
    min-width: 100%;
  }
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------------------
  Layout eon page
------------------------------------------------------------*/
.l-inner {
  display: block;
  width: 1103px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 736px) {
  .l-inner {
    width: 100%;
  }
}

.l-list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 9px;
}

@media only screen and (max-width: 736px) {
  .l-list-btn {
    display: block;
    margin: 0;
  }
}

.l-list-btn--ml7 {
  margin-left: 7px;
}

.l-btn1 {
  margin-right: 9px;
}

@media only screen and (max-width: 736px) {
  .l-btn1 {
    margin: 0 0 7px;
  }
}

@media only screen and (max-width: 736px) {
  .l-btn1 img, .l-btn2 img {
    width: 100%;
  }
}

.l-slide {
  width: 1200px;
}

.l-slide img {
  width: 100%;
}

@media only screen and (max-width: 736px) {
  .l-slide {
    width: 100%;
  }
}

.l-mb0 {
  margin-bottom: 0;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
  Component eon page
------------------------------------------------------------*/
.c-nav {
  max-width: 1201px;
  display: block;
  margin-bottom: 15px;
}

.c-nav li {
  border-left: 1px solid black;
}

.c-nav li a {
  display: block;
}

.c-nav li:last-child {
  border-right: 1px solid black;
}

.c-pc {
  display: block !important;
}

@media only screen and (max-width: 736px) {
  .c-pc {
    display: none !important;
  }
}

.c-pc--inline {
  display: inline-block !important;
}

@media only screen and (max-width: 736px) {
  .c-pc--inline {
    display: none !important;
  }
}

.c-sp {
  display: none !important;
}

@media only screen and (max-width: 736px) {
  .c-sp {
    display: block !important;
  }
}

.c-sp--inline {
  display: none !important;
}

@media only screen and (max-width: 736px) {
  .c-sp--inline {
    display: inline-block !important;
  }
}

.c-box--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 736px) {
  .c-box {
    display: block;
  }
}

.c-eon1-box1 {
  margin-left: 58px;
  text-align: left;
}

@media only screen and (max-width: 736px) {
  .c-eon1-box1, .c-eon1-box2 {
    width: 86% !important;
    max-width: 375px;
    margin: 0 auto;
  }
}

.c-eon1__text1 {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}

@media only screen and (max-width: 736px) {
  .c-eon1__text1 {
    font-weight: 500;
    font-size: 1.4rem;
  }
}

.c-eon1__text2 {
  font-size: 2.0rem;
  font-weight: bold;
}

@media only screen and (max-width: 736px) {
  .c-eon1__text2 {
    font-size: 1.6rem;
  }
}

.c-eon1__text3 {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

@media only screen and (max-width: 736px) {
  .c-eon1__text3 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
