.p-eon4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-eon4 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap {
  position: relative;
}

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  -webkit-background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  padding-bottom: 12px;
  padding-top: 4px;
  border-top: 5px solid #4e4e4e;
}

@media only screen and (max-width: 736px) {
  header {
    padding: 0;
    border-top: 10px solid #3d3d3d;
  }
  header img.c-sp {
    width: 100%;
  }
}

.wrap {
  display: block;
  width: 1201px;
  height: auto;
  margin: 0 auto;
  z-index: 999;
}

@media only screen and (max-width: 736px) {
  .wrap {
    width: 100%;
  }
}

/*------------------------------------------------------------
	private element
------------------------------------------------------------*/
.p-eon1-text1 {
  margin: 39px auto 97px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 28px;
  font-weight: bold;
  letter-spacing: 1.6px;
}

@media only screen and (max-width: 736px) {
  .p-eon1-text1 {
    margin: 23px auto 42px;
    padding: 0 44px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
  }
}

.p-eon2 {
  margin-bottom: 6px;
}

@media only screen and (max-width: 736px) {
  .p-eon2 {
    margin-bottom: 40px;
  }
}

.p-eon2-img1 img {
  height: 600px;
}

@media only screen and (max-width: 736px) {
  .p-eon2-img1 img {
    max-width: 375px;
    height: auto !important;
  }
}

@media only screen and (max-width: 736px) {
  .p-eon2-img1 {
    margin-bottom: 24px;
  }
}

.p-eon2-tit1 {
  margin-top: 2px;
  margin-bottom: 32px;
  margin-left: -1px;
}

.p-eon2-tit1 .img-col01 img {
  display: block;
}

@media only screen and (max-width: 736px) {
  .p-eon2-tit1 .img-col01 img:first-child {
    width: 146px;
  }
  .p-eon2-tit1 .img-col01 img:last-child {
    width: 171px;
  }
}

@media only screen and (max-width: 736px) {
  .p-eon2-tit1 {
    margin-bottom: 28.5px;
  }
}

.p-eon2-text0 {
  margin-bottom: 35px;
  margin-left: 7px;
  line-height: 24px;
}

@media only screen and (max-width: 736px) {
  .p-eon2-text0 {
    margin: 0 0 13px;
    line-height: 2.1rem;
  }
}

.p-eon2-text1 {
  margin: 28px 0 11px 8px;
}

@media only screen and (max-width: 736px) {
  .p-eon2-text1 {
    margin: 18px 0 9px 0;
  }
}

.p-eon2-text2 {
  padding-left: 9px;
  line-height: 2.5rem;
  letter-spacing: 1px;
}

.p-eon2-text2 img {
  vertical-align: bottom;
  margin-right: 11px;
}

@media only screen and (max-width: 736px) {
  .p-eon2-text2 {
    padding-left: 0;
  }
  .p-eon2-text2 img {
    width: 48px;
  }
}

.p-eon2-text3 {
  margin: 6px 0 11px 12px;
  font-size: 1.3rem;
}

@media only screen and (max-width: 736px) {
  .p-eon2-text3 {
    margin-left: 7px;
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
}

.p-eon2-btn1 {
  display: inline-block;
  margin: -2px 5px;
}

@media only screen and (max-width: 736px) {
  .p-eon2-btn1 {
    margin: 0;
  }
  .p-eon2-btn1 img {
    width: 100%;
  }
}

.p-eon3 {
  margin-bottom: 41px;
  background: #eef2f5;
  padding: 73px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 11px;
}

@media only screen and (max-width: 736px) {
  .p-eon3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto 2.55rem;
    padding: 17px 22px 22px;
  }
}

.p-eon3-box1 {
  width: 422px;
  padding-top: 18px;
}

@media only screen and (max-width: 736px) {
  .p-eon3-box1 {
    width: auto;
    padding-top: 0;
  }
}

.p-eon3-box1 h2 {
  margin-bottom: 4.1rem;
}

@media only screen and (max-width: 736px) {
  .p-eon3-box1 h2 {
    width: 135px;
    margin: 0 auto 3.3rem;
  }
}

.p-eon3-box1 h2 > img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -10px;
}

@media only screen and (max-width: 736px) {
  .p-eon3-box1 h2 > img {
    width: 135px;
  }
}

.p-eon3-box1 p {
  text-align: justify;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 33px;
  margin-bottom: 35px;
  letter-spacing: -1px;
}

@media only screen and (max-width: 736px) {
  .p-eon3-box1 p {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 1.95rem;
  }
}

.p-eon3-box2 {
  margin: 1px 2px 0 0;
}

@media only screen and (max-width: 736px) {
  .p-eon3-box2 .img-img2 {
    width: 100%;
  }
}

.p-eon3-label1 {
  margin-bottom: 92px;
}

@media only screen and (max-width: 736px) {
  .p-eon3-label1 {
    width: 86%;
    max-width: 375px;
    margin: 0 auto 4.6rem;
  }
}

.p-eon3-label1 .img-img3 {
  margin-left: -1px;
}

@media only screen and (max-width: 736px) {
  .p-eon3-label1 .img-img3 {
    margin-left: 0;
    width: 100%;
  }
}

.p-eon3-btn1 {
  display: inline-block;
  margin-right: 19px;
}

@media only screen and (max-width: 736px) {
  .p-eon3-btn1 {
    margin: 1.8rem auto 2.45rem;
  }
  .p-eon3-btn1 img {
    width: 100%;
  }
}

.p-eon3--mb0 {
  margin-bottom: 0;
}

.p-eon4 {
  margin-bottom: 62px;
}

@media only screen and (max-width: 736px) {
  .p-eon4 {
    display: block;
    margin-bottom: 80.5px;
  }
  .p-eon4 .l-list-btn--ml7 {
    margin: 0;
  }
}

.p-eon4-img1 img {
  height: 600px;
}

@media only screen and (max-width: 736px) {
  .p-eon4-img1 {
    margin-bottom: 24px;
  }
  .p-eon4-img1 img {
    max-width: 375px;
    height: auto !important;
  }
}

.p-eon4-box1 {
  width: 523px;
  text-align: left;
  margin-right: 58px;
}

@media only screen and (max-width: 736px) {
  .p-eon4-box1 {
    margin: 0 auto;
  }
}

.p-eon4-tit1 {
  margin: 2px auto 33px -2px;
}

.p-eon4-tit1 .img-col01 img {
  display: block;
}

@media only screen and (max-width: 736px) {
  .p-eon4-tit1 .img-col01 img:first-child {
    width: 143px;
  }
  .p-eon4-tit1 .img-col01 img:last-child {
    width: 270px;
  }
}

@media only screen and (max-width: 736px) {
  .p-eon4-tit1 {
    margin: 0 auto 27px 0;
  }
}

.p-eon4-text0 {
  padding: 0 0 0 5px;
}

.p-eon4-text1 {
  margin: 136px 0 4px 5px;
}

@media only screen and (max-width: 736px) {
  .p-eon4-text1 {
    margin-top: 21px;
  }
}

.p-eon4-text2 {
  padding-left: 4px;
  letter-spacing: 0.7px;
}

@media only screen and (max-width: 736px) {
  .p-eon4-text2 {
    margin-left: 4px;
    margin-bottom: 16px;
  }
}

.p-eon4-text2 img {
  vertical-align: bottom;
  margin-right: 13px;
}

.p-eon4-text3 {
  margin: -4px 0 12px 11px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 736px) {
  .p-eon4-text3 {
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
}

.p-eon5 {
  margin-bottom: 44px;
}

@media only screen and (max-width: 736px) {
  .p-eon5 {
    margin-bottom: 47.5px;
  }
}

.p-eon5-img1 img {
  height: 600px;
}

@media only screen and (max-width: 736px) {
  .p-eon5-img1 {
    margin-bottom: 24px;
  }
  .p-eon5-img1 img {
    max-width: 375px;
    height: auto !important;
    margin: 0 auto;
  }
}

.p-eon5-tit1 {
  margin: 4px auto 29px 0;
}

.p-eon5-tit1 .img-col01 img {
  display: block;
}

@media only screen and (max-width: 736px) {
  .p-eon5-tit1 .img-col01 img:first-child {
    width: 145px;
  }
  .p-eon5-tit1 .img-col01 img:last-child {
    width: 192px;
  }
}

@media only screen and (max-width: 736px) {
  .p-eon5-tit1 .img-col01 {
    width: 100%;
    max-width: 192px;
  }
}

.p-eon5-text0 {
  margin-left: 10px;
}

@media only screen and (max-width: 736px) {
  .p-eon5-text0 {
    margin-left: 0;
  }
}

.p-eon5-text1 {
  margin: 115px 0 3px 9px;
}

@media only screen and (max-width: 736px) {
  .p-eon5-text1 {
    margin-top: 21px;
    margin-left: 0;
  }
}

.p-eon5-text2 {
  padding-left: 8px;
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 736px) {
  .p-eon5-text2 {
    margin-bottom: 10px;
    padding-left: 1px;
  }
}

.p-eon5-text2 img {
  vertical-align: bottom;
  margin-right: 13px;
}

.p-eon5-text3 {
  margin: -1px 0 11px 14px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 736px) {
  .p-eon5-text3 {
    margin-left: 4px;
    font-size: 1.1rem;
  }
}

/*------------------------------------------------------------
  footer
------------------------------------------------------------*/
footer {
  position: relative;
  margin-top: 73px;
  background: #f2f2f2;
}

footer img {
  max-width: 100%;
  width: 1300px;
}

.btn-top {
  position: absolute;
  right: 5%;
  top: -35px;
}

.btn-top img {
  width: 51px;
  height: 51px;
}

/*------------------------------------------------------------
  slider
------------------------------------------------------------*/
.bx-wrapper {
  width: 520px;
  border: none;
  background: none;
}

@media only screen and (max-width: 736px) {
  .bx-wrapper {
    width: 86%;
    max-width: 375px !important;
    margin: 0 auto 60px;
  }
}

.bx-viewport {
  height: auto !important;
}

.bx-wrapper .bx-controls-direction a {
  height: 80px;
}

.bx-wrapper .bx-prev {
  left: 21px;
  background: url(../img/arrow.png) no-repeat 0 2px;
}

@media only screen and (max-width: 736px) {
  .bx-wrapper .bx-prev {
    background: url(../img/sp-arrow.png) no-repeat 15px 24px;
    background-size: 41px 40px;
    left: 1px;
  }
}

.bx-wrapper .bx-next {
  right: 18px;
  background: url(../img/arrow.png) no-repeat -37px 1px;
}

@media only screen and (max-width: 736px) {
  .bx-wrapper .bx-next {
    background: url(../img/sp-arrow.png) no-repeat -19px 24px;
    background-size: 41px 40px;
    right: 7px;
  }
}

.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
  background-position: 0 2px;
}

@media only screen and (max-width: 736px) {
  .bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
    background-position: 15px 24px;
  }
}

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
  background-position: -37px 1px;
}

@media only screen and (max-width: 736px) {
  .bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
    background-position: -19px 24px;
  }
}

.bx-wrapper .bx-controls-direction a {
  top: 46%;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: -25px;
  left: -6px;
}
