@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

.c-wrap {
  display: block;
  width: 1160px;
  height: auto;
  margin: 0 auto;
  position: relative;
  @include respond-to(768) { width: 100%;}
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/*--------------------------------------------------
  Component show following divice size.
----------------------------------------------------*/
.c {
  //show on pc-------------------------------------
  &-pc {
    display: block!important;
    //---------------------------------------------
    @include respond-to(768) { display: none!important; }
    //---------------------------------------------
    &--inline {
        display: inline-block!important;
        @include respond-to(768) { display: none!important; }
    }
    //-----------------------------------
  }
  //show on smartphone---------------------------
  &-sp {
    display: none!important;
    //-----------------------------------
    @include respond-to(768) { display: block!important; }
    //-----------------------------------
    &--inline {
        display: none!important;
        //-----------------------------------
        @include respond-to(768) { display: inline-block!important; }
    }
    //------------------------------------------
  }
  //-------------------
  &-menuSP {
    position: absolute;
    box-sizing: border-box;
    top: -10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    cursor: pointer;
    background: #616366;
    border-radius: 4px;
    //--------------------
    &__1, &__2, &__3 {
      width: 15px;
      height: 2px;
      background: #fff;
      margin: 5px auto auto;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
    //---------------------------
  }
  //---------------------------
  &-menulistSP {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    display: none;
    background: rgba(97, 99, 102, 0.7);
    //----------------------------
    li {
      position: relative;
      border-top: 1px solid #a9acb3;
    }
    //----------------------------
    a {
      text-decoration: none;
      display: block;
      text-align: left;
      color: #ffffff;
      font-size: 1.4rem;
      padding: 19px 15px;
      //---------------------------
      @include respond-to(768) {
        font-size: 1.3rem;
      }
      //---------------------------
    }
    //-----------------------------
    &-arrows {
      position: absolute;
      top: 36%;
      right: 26px;
      img {width: 15px;}
    }
    //-----------------------------
  }
  //-------------------------------
}

/*-----------------------------------------------
  Table
-----------------------------------------------*/
.c {
  &-table1 {
    //-----------------------
    table {
      width: 100%;
      height: auto;
      border-spacing: 0;
      border-bottom: 1px solid #d4d4d4;
      border-collapse: collapse;
      tr {
        width: 100%;
        vertical-align: middle;
        text-align: left;
        font-size: 13px;
        border: 1px solid #d4d4d4;
        &>th {
          box-sizing: border-box;
          width: 228px;
          background: #f6f6f6;
          font-weight: bold;
          border-right: 1px solid #d4d4d4;
        }
        &>th,td { padding: 2px 7px; }
        //-------------------------
        td {
          line-height: 1.7;
          color: #545454;
        }
        //-------------------------
      }
      //----------------------
    }
    //-------------------------
    &-smallcell1 {
      width: 141px !important;
      box-sizing: border-box;
    }
    //-------------------------
    &-smallcell2 {
      width: 48px!important;
      border-left: 1px solid #d4d4d4;
    }
    //-------------------------
    &-td--pb1 { padding-bottom: 112px!important; }
    //end padding bottom-------------
  }
  //---------------------------------
}

/*-----------------------------------
  header
-----------------------------------*/
.c {
  //---------------------------------
  &-h {
    position: relative;
    padding: 0 0 36px;
    @include respond-to(768) {
      padding: 0 0 18px;
      border-bottom: 1px solid #ccc;
      //-----------------------------
      &-logo1 {
        margin-left: 10px;
        img {width: 150px;}
      }
      //-----------------------------
    }
    //-------------------------------
    .c-h-boxSmallTitle {
      background: #f8f8f8;
      padding: 4px 0 4px;
      //-----------------------------
      @include respond-to(768) {padding: 2px 0;}
      //-----------------------------
    }
    //-------------------------------
    &-smallTitle {
      font-size: 12px;
      text-align: left;
      font-weight: bold;
      @include respond-to(768) {
        padding: 0 10px 3px;
        border-bottom: 1px solid #ccc;
      }
      //-----------------------------
      &--mb1 {
        margin-bottom: 28px;
        @include respond-to(768) {
          margin-bottom: 14px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  menu pc
-----------------------------------*/
.c {
  //---------------------------------
  &-menu1 {
    padding: 5px 4px 0 0;
    //-------------------------------
    &-list1 {
      position: relative;
      //-----------------------------
      a {
        display: block;
        text-decoration: none;
        padding: 0 0 5px;
        font-weight: bold;
        color:#000000;
      }
      //-----------------------------
      .span {
        background: #888888;
        height: 4px;
        display: block;
        position: absolute;
        width: 50px;
        left: 0;
        bottom: 0;
      }
      //-----------------------------
      li {
        margin-right: 22px;
        //transition-duration: 0.5s;
        &:last-of-type { margin-right: 0; }
      }
      //-----------------------------
    }
    //-------------------------------
    &--mr0 {margin-right: 0!important; }
    //-------------------------------
  }
  //end list1------------------------
}

/*-----------------------------------
  main title
-----------------------------------*/
.c {
  //---------------------------------
  &-mtitle1 {
    &--mb1 {
      margin-bottom: 49px;
      //-----------------------------
      @include respond-to(768) {
        margin-bottom: 25px;
      }
      //-----------------------------
    }
    //-------------------------------
    &-h2--mb2 {
      margin-bottom: 12px;
      //------------------------------
      @include respond-to(768) {
        margin-bottom: 8px;
      }
      //------------------------------
    }
    //--------------------------------
  }
  //----------------------------------
  &-mtitle2 {
    //--------------------------------
    h2 {
      font-size: 3.2rem;
      font-weight: 500;
      //------------------------------
      @include respond-to(768) {
        font-size: 2.4rem;
      }
      //------------------------------
    }
    //--------------------------------
    h3 {
      font-size: 1.6rem;
      font-weight: 500;
      color: #b6b6b6;
      //------------------------------
      @include respond-to(768) {
        font-size: 1.2rem;
      }
      //------------------------------
    }
    //--------------------------------
    &-h2--mb2 {
      margin-bottom: 5px;
      //-----------------------------
      @include respond-to(768) {
        margin-bottom: 4px;
      }
      //-----------------------------
    }
    //--------------------------------
    &--mb1 {
      margin-bottom: 48px;
      @include respond-to(768) {
        margin-bottom: 24px;
      }
    }
    //--------------------------------
  }
  //----------------------------------
  &-list1 {
    display: grid;
    grid-template-columns: 371px 371px 371px;
    grid-column-gap: 24px;
    @include ie() {
      display: flex;
      justify-content: space-between;
      &__card {width: 371px;}
      //-----------------------------
      @include respond-to(768) {
        display: block;
        &__card {width: auto;}
      }
    }
    //-------------------------------
    @include respond-to(768) {
      grid-template-columns: auto;
      //-----------------------------
      &__card {
        width: 320px;
        margin: 0 auto;
        &--mbSP1 { margin-bottom: 15px; }
      }
      //-----------------------------
      &__img1 img{
        width: 300px;
        margin: 0 auto;
      }
      //-----------------------------
      &__info {
        padding: 0 10px;
        font-size: 1.2rem;
      }
      //-----------------------------
    }
    //-------------------------------
    &__tit1 {
      padding: 16px 0 11px;
      text-align: left;
      letter-spacing: 2px;
      //-----------------------------
      @include respond-to(768) {
        padding: 10px 0 11px;
        font-size: 1.3rem;
      }
      //-----------------------------
    }
    //-------------------------------
    &__text {text-align: left;}
  }
  //---------------------------------
}

/*-----------------------------------
  top component
-----------------------------------*/
.c {
  //---------------------------------
  &-top5 {
    &-boximg1 {
      position: relative;
      display: block;
      padding: 29px 0 30px;
      @include respond-to(768) {
        //---------------------------
        padding: 15px 10px;
        //---------------------------
        .l-flexbox {flex-wrap: wrap;}
        //---------------------------
      }
      //-----------------------------
      &--linebottom { border-bottom: 1px solid #939393; }
    }
    //-------------------------------
    &__img {
      margin-right: 24px;
      //-----------------------------
      @include respond-to(768) {
        margin-right: 0;
        img {width: 300px;}
      }
      //-----------------------------
    }
    //-------------------------------
    &-link1 {
      text-decoration: none;
      text-align: left;
      display: block;
      //-----------------------------
      @include respond-to(768) {
        box-sizing: border-box;
        width: 320px;
        margin: 0 auto;
      }
      //-----------------------------
    }
    //-------------------------------
    &__text1 {
      //margin-top: 1px;
      color: #000000;
      @include respond-to(768) {
        margin-top: 10px;
      }
      //-----------------------------
      h2 {
        font-size: 1.8rem;
        //---------------------------
        @include respond-to(768) {
          font-size: 1.5rem;
          line-height: 1.5;
        }
        //---------------------------
      }
      //-----------------------------
      h5 {
        font-size: 1.3rem;
        color: #888888;
        //---------------------------
        @include respond-to(768) {
          font-size: 1.1rem;
        }
        //---------------------------
      }
      //-----------------------------
      p {
        line-height: 1.7;
        font-size: 1.6rem;
        //---------------------------
        @include respond-to(768) {
          font-size: 1.3rem;
        }
        //---------------------------
      }
      //-----------------------------
      &--mtb1 {
        margin: 14px 0 16px;
        //---------------------------
        @include respond-to(768) {
          margin: 7px 0 8px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-arrows1 {
      position: absolute;
      right: 4%;
      top: 47%;
      //-----------------------------
      @include respond-to(768) {
        display: none;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*------------------------------------
  about.html
------------------------------------*/
.c {
  //----------------------------------
  &-about1 {
    //--------------------------------
    &-mtitle2--mb1 {
      margin-bottom: 48px;
      @include respond-to(768) {
        margin-bottom: 24px;
      }
      //------------------------------
    }
    //--------------------------------
  }
  //----------------------------------
  &-about3 {
    //--------------------------------
    &__text1 {
      padding: 0 10px;
      line-height: 1.6;
      font-size: 1.8rem;
      text-align: left;
      //------------------------------
      @include respond-to(768) {
        font-size: 1.4rem;
      }
      //------------------------------
      h2 {
        margin-bottom: 17px;
        @include respond-to(768) {
          margin-bottom: 9px;
        }
      }
      //------------------------------
      &--mb1 {
        margin-bottom: 33px;
        //----------------------------
        @include respond-to(768) {
          margin-bottom: 16px;
        }
        //----------------------------
      }
      //------------------------------
    }
    //--------------------------------
  }
  //----------------------------------
  &-about4 {
    &-listInfo {
      li { margin-bottom: 1px; }
    }
    &-listInfo__special {
      li {
        text-indent: -.5em;
        margin-left: 32px;
        margin-bottom: 2px;
        //----------------------------
        @include respond-to(768) {margin-left: 17px;}
        //----------------------------
        &:before {
          content: '◇';
          margin-right: 5px;
          display: inline-block;
        }
        //----------------------------
      }
      //------------------------------
    }
    //--------------------------------
  }
  //----------------------------------
}

/*-----------------------------------
  community component
-----------------------------------*/
.c {
  //---------------------------------
  &-community1 {
    @include respond-to(768) {
      //-----------------------------
      &-box1 {
        .l-flexbox {display: block;}
      }
      //-----------------------------
    }
    //-------------------------------
    &__text1 {
      position: relative;
      text-align: left;
      line-height: 1.7;
      //---------------------------
        @include respond-to(768) {
          max-width: 560px;
          margin: 45px auto 0!important;
          padding: 0 10px;
        }
      //-----------------------------
      h2 {
        font-size: 1.6rem;
        //---------------------------
        @include respond-to(768) {
          font-size: 1.5rem;
        }
        //---------------------------
      }
      //-----------------------------
      &--ml1 {
        margin-left: 37px;
        //---------------------------
        @include respond-to(768) {
          margin-left: 0;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-h2 {
      &--mb1 { margin-bottom: 13px; }
      &--mtb1 { margin: 11px 0 12px; }
      &--mtb2 { margin: 25px 0 12px; }
    }
    //-------------------------------
    &-btn1 {
      width: 100%;
      //-----------------------------
      a {
        display: block;
        padding: 3px 0;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
      }
      //-----------------------------
      &--gray { background: #888888; }
      //-----------------------------
      &--orange { background: #e2750c; }
      //-----------------------------
      &--pos1 {
        position: absolute;
        bottom: 14%;
        //---------------------------
        @include respond-to(768) {
          margin-top: 15px;
          position: relative;
        }
        //---------------------------
      }
      //-----------------------------
      &--pos2 {
        position: absolute;
        bottom: 25%;
        //---------------------------
        @include respond-to(768) {
          position: relative;
          margin-top: 15px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //end community1-------------------
  &-community2 {
    &-btnlink1--pad1 { padding: 0 28px; }
  }
  //end community2-------------------
}

/*-------------------------------------
  workplace component
-------------------------------------*/
.c {
  //-----------------------------------
  &-workplace1 {
    //---------------------------------
    &__card {
      width: 270px;
      margin: 0 0 40px;
      position:  relative;
      //-------------------------------
      @include respond-to(768) {
        margin: 0 auto 25px;
        padding: 0 10px;
      }
      //-------------------------------
    }
    //end card-------------------------
    &__boximg { position: relative; }
    //---------------------------------
    &__info {
      text-align: left;
      padding-top: 15px;
    }
    //---------------------------------
    &__title1 {
      font-size: 1.6rem;
      &--mb1 { margin-bottom: 9px; }
    }
    //---------------------------------
  }
  //-----------------------------------
}

/*-----------------------------------
  member component
-----------------------------------*/
.c {
  //---------------------------------
  &-member1 {
    //-------------------------------
    &-table1 {
      th {text-align: left;}
      //-------------------------------
      @include respond-to(768) {
        max-width: 560px;
        margin: 45px auto 30px;
        padding: 0 10px;
        //-----------------------------
        .c-table1-td--pb1 { padding-bottom: 50px!important; }
        //-----------------------------
      }
    //---------------------------------
    }
    //-------------------------------
    &__mtitle1 {
      text-align: left;
      //-----------------------------
      @include respond-to(768) {
        text-align: center;
        //---------------------------
      }
      //-----------------------------
      h2 {
        font-size: 2.0rem;
        letter-spacing: 2px;
      }
      //-----------------------------
      h3 {
        font-size: 1.6rem;
        font-weight: 500;
        color: #bcbcbc;
      }
      //-----------------------------
      &-h2 {
        //---------------------------
        &--mt1 {
          margin-top: 8px;
        }
        //---------------------------
      }
      //end h2--mt1------------------
      &--mb1 {
        margin-bottom: 18px;
      }
      //-----------------------------
    }
    //end main title1----------------
    &-btnlink1--pad1 { padding: 0 20px; }
    //-------------------------------
    &__text1--ml1 {
      margin-left: 37px;
      @include respond-to(768) { margin-left: auto; }
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
recruitment component
-----------------------------------*/
.c {
  //---------------------------------
  &-recruit1 {
    //-------------------------------
    &-btn1--mlr1 {
      margin: 0 9px 0 13px;
    }
    //-------------------------------
  }
  //end recruit1---------------------
  &-recruit2 {
    margin-top: 97px;
    position: relative;
    @include respond-to(768) {
      margin-top: 47px;
      .l-flexbox {
        display: block;
      }
      //---------------------------
        .c-recruit2__img img {
          width: 300px;
        }
      //-----------------------------

    }
    //-------------------------------
    &__text1 {
      text-align: left;
      font-size: 1.5rem;
      //-----------------------------
      @include respond-to(768) {
        padding: 0 10px;
        font-size: 1.3rem;
        line-height: 1.6;
      }
      //-----------------------------
      &--mb1 { margin-bottom: 50px; }
      //-----------------------------
      &-h2--mb1 {
        font-size: 1.8rem;
        margin-bottom: 20px;
      }
      //-----------------------------
    }
    //-------------------------------
    &-btn1 {
      width: 100px;
      height: 22px;
      background: #555555;
      text-align: center;
      box-sizing: border-box;
      padding: 2px 10px;
      //-----------------------------
      a {
        font-size: 1.3rem;
        color: #ffffff;
      }
      //-----------------------------
    }
    //-------------------------------
    &-btn2 {
      //-----------------------------
      @include ie() {
        //---------------------------
        @include respond-to(768) {
          position: relative;
          top: 7px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-listbtn {
      //-----------------------------
      &-mt1 { margin-top: 26px; }
      //-----------------------------
    }
    //-------------------------------
    &-boximg1 { position: relative; }
    //-------------------------------
    &-table1 {
      width: 560px;
      @include respond-to(768) {
        width: 300px;
        margin:25px auto 0;
        padding: 0 10px;
      }
      //-----------------------------
      tr {
        border-bottom: 1px solid #737473!important;
        border-top: 1px solid #737473!important;
        border-left: none!important;
        border-right: none!important;
      }
      //-----------------------------
      th {
        width: 90px!important;
        border-right: none!important;
        background: #eaf1eb!important;
        padding: 13px 10px !important;
      }
      //-----------------------------
      &-td--ptb1 { padding: 30px 10px!important; }
      //-----------------------------
    }
    //-------------------------------
    &-box2 {
      @include respond-to(768) {
        max-width: 560px;
        margin: 0 auto;
        //---------------------------
        .c-recruit2__card {
          margin: 0 auto 20px auto;
        }
        //---------------------------
      }
      //-----------------------------
      &--mt1 {
        margin-top: 50px;
        //---------------------------
        @include respond-to(768) { margin-top: 25px; }
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //end recruit2---------------------
}

/*-----------------------------------
  sitemap component
-----------------------------------*/
.c {
  &-sitemap1 {
    //-------------------------------
    &-box1 {
      width: 550px;
      text-align: left;
      font-size: 1.6rem;
      //-----------------------------
      @include respond-to(768) {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10px;
        font-size: 1.3rem;
      }
      //-----------------------------
    }
    //-------------------------------
    &-title1 {
      //-----------------------------
      padding: 8px 0;
      cursor: pointer;
      //-----------------------------
      &--botline1 {
        border-bottom: 1px solid #ccc;
      }
      //-----------------------------
      a {
        font-size: 1.8rem;
        //---------------------------
        @include respond-to(768) {
          font-size: 1.5rem;
        }
        //---------------------------
      }
      //-----------------------------
      .c__link1 {
        //---------------------------
        img {
          width: 20px;
          margin-left: 10px;
          //---------------------------
          @include respond-to(768) {
            width: 15px;
          }
          //--------------------------
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-listlink1 {
      padding: 27px 0 0;
      //-----------------------------
      @include respond-to(768) {
        padding: 18px 0;
      }
      //-----------------------------
      a {
        text-decoration: none;
        color: #000000;
      }
      //-----------------------------
      li {
        margin-bottom: 10px;
        //---------------------------
        &:last-child { margin-bottom: 0; }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-sublink1 {
      //-----------------------------
      li {
        margin: 0 0 2px 29px;
      }
      //-----------------------------
      a {
        font-size: 1.4rem;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  topics component
-----------------------------------*/
.c {
  //---------------------------------
  &-topics1 {
    //-------------------------------
    &-mb1 {
      margin-bottom: 8px;
    }
    //-------------------------------
    &-h2 {
      //-----------------------------
      &--mb1 {
        margin-bottom: 15px;
      }
      //-----------------------------
    }
    //-------------------------------
    &__text1 {
      width: 555px;
      box-sizing: border-box;
      position: relative;
      //-----------------------------
      @include respond-to(768) {
        width: 100%;
        max-width: 560px;
        padding: 0 10px;
        margin: 45px auto 0;
      }
      //-----------------------------
    }
    //-------------------------------
    &__maintext {
      height: 22px;
      box-sizing: border-box;
      padding: 2px 17px;
      font-size: 1.3rem;
      color: #ffffff;
      background: #51c571;
      cursor: pointer;
      //-----------------------------
      &--color1 { background: #f78d6c; }
      //-----------------------------
    }
    //-------------------------------
    &__content1 {
      font-size: 1.3rem;
      line-height: 1.8;
      text-align: left;
      //-----------------------------
      &--pt1 {
        padding-top: 28px;
        @include respond-to(768) {
          padding-top: 14px;
        }
      }
      //-----------------------------
      h2 {
        font-size: 1.6rem;
      }
      //-----------------------------
    }
    //content1-----------------------
    &-box1 {
      //-----------------------------
      @include respond-to(768) {
        margin-top: 30px;
      }
      //-----------------------------
      &--mtb1 {
        margin: 102px 0 17px;
        //---------------------------
        @include respond-to(768) {
          margin-top: 50px;
        }
        //---------------------------
      }
      //-----------------------------
      &--mtb2 {
        margin: -3px 0 15px;
        @include respond-to(768) {
          margin: 10px 0 15px;
        }
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  brand component
-----------------------------------*/
//brand1.html------------------------
.c {
  &-brand1 {
    //-------------------------------
    &-btn1 {
      box-sizing:  border-box;
      width: 370px;
      padding: 9px 0;
      letter-spacing: 3px;
      background: #888888;
      @include respond-to(768) {
        width: 100%;
        max-width: 370px;
        margin-bottom: 10px;
      }
      //-----------------------------
      &--green { background: #51c571; }
      //-----------------------------
      a {
        color: #ffffff;
        font-weight: bold;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //end brand1-----------------------
  &-brand2 {
    //-------------------------------
    &-box1 {
      @include respond-to(768) {
        &--mb1, &--mb2,
        &--mb3, &--mb4,
        &--mb5, &--mb6 {
          margin-bottom: 36px!important;
        }
        //---------------------------
      }
      //-----------------------------
      &--mb1 {
        margin-bottom: 66px;
      }
      //-----------------------------
      &--mb2 {
        margin-bottom: 38px;
      }
      //-----------------------------
      &--mb3 {
        margin-bottom: 37px;
      }
      //-----------------------------
      &--mb4 {
        margin-bottom: 62px;
      }
      //-----------------------------
      &--mb5 {
        margin-bottom: 42px;
      }
      //-----------------------------
      &--mb6 {
        margin-bottom: 72px;
      }
      //-----------------------------
    }
    //-------------------------------
    &--font13 { font-size: 1.3rem; }
    //-------------------------------
    &__text1 {
      text-align: left;
      font-size: 1.5rem;
      line-height: 1.6;
      @include respond-to(768) {
        margin-top: 15px;
        padding: 10px;
        font-size: 1.4rem;
      }
      //-----------------------------
      &--mr1 {
        margin-right: 30px;
        @include respond-to(768) { margin-right: 0; }
      }
      //-----------------------------
    }
    //-------------------------------
    &__content1 {
      h2 {
        font-size: 1.6rem;
        @include respond-to(768) { font-size: 1.5rem; }
      }
      &--mt1 { margin-top: 10px; }
      &--mt2 { margin-top: 28px; }
      &--mt3 { margin-top: 21px; }
    }
    //-------------------------------
  }
  //end brand2-----------------------
}

//brand2.html------------------------
.c {
  &-brandSecond1 {
    //-------------------------------
    &__text1 {
      //-----------------------------
      &--mb1 {margin-bottom: 16px;}
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  photogallery1 component
-----------------------------------*/
.c {
  //---------------------------------
  &-galleryFirst1 {
    //-------------------------------
    &__img1 {
      //-----------------------------
      &>img { width: 265px; }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  recipe component
-----------------------------------*/
.c {
  //---------------------------------
  &-recipe1 {
    //-------------------------------
    &-table1 {
      width: 621px;
      //-----------------------------
      @include respond-to(768) {
        //width: 621px;
      }
      //-----------------------------
      &-tr {
        font-size: 1.4rem!important;
      }
      //-----------------------------
      &-th {
        //---------------------------
        &--width1 {
          width: 265px !important;
        }
        //---------------------------
        &--width2 {
          width: 160px !important;
        }
        //---------------------------
      }
      //-----------------------------
      &-td {
        line-height: 1.1!important;
        border-right: 1px solid #d4d4d4 !important;
      }
      //-----------------------------
      &-th, &-td {
        padding: 7px 5px 6px !important;
      }
      //-----------------------------
    }
    //-------------------------------
    &__mtitle1 {
      font-size: 1.6rem;
      padding: 12px 0;
      background: #f6f0d5;
      //-----------------------------
      &--mb1 {
        margin-bottom: 30px;
        //---------------------------
        @include respond-to(768) {
          margin-bottom: 15px;
        }
        //---------------------------
      }
      //-----------------------------
      &--mb2 {
        margin-bottom: 16px;
      }
      //-----------------------------
      &--mb3 {
        margin-bottom: 20px;
      }
      //-----------------------------
      &--mb4 {
        margin-bottom: 21px;
      }
      //-----------------------------
    }
    //-------------------------------
    &__step {
      text-align: justify;
      //-----------------------------
      h2 {
        font-size: 1.6rem;
        margin-bottom: 10px;
        @include respond-to(768) {
          font-size: 1.4rem;
          margin-bottom: 5px;
        }
      }
      //-----------------------------
    }
    //-------------------------------
    &__colortext1 { color: #e68b45; }
    //-------------------------------
  }
  //---------------------------------
  &-recipe2 {
    //-------------------------------
    &-list1 {
      @include respond-to(768) {
        &.c-list2 {
          max-width: 484px;
          padding: 0;
        }
      }
      //-----------------------------
      .c-list2__card {
        width: 221px;
        margin-bottom: 23px;
        //---------------------------
        @include respond-to(768) {
          width: 242px;
          padding: 0 10px;
          margin: 0 auto 18px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-box1 {
      &--mb1 {
        margin-bottom: 73px;
        //-----------------------------
        @include respond-to(768) {
          margin-bottom: 35px;
        }
        //-----------------------------
      }
      //-------------------------------
    }
    //-------------------------------
    &__thumb {
      cursor: pointer;
      border: 1px solid #e6e6e6;
    }
    //-------------------------------
    &__info {
      text-align: left;
      font-size: 1.3rem;
      padding: 10px 10px;
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  links component
-----------------------------------*/
.c {
  //---------------------------------
  &-links1 {
    //-------------------------------
    &-list1 {
      position: relative;
      width: 370px;
      box-sizing: border-box;
      text-align: left;
      //-----------------------------
      @include respond-to(768) {
        width: 100%;
        max-width: 370px;
        margin: 0 auto;
        padding: 0 10px;
      }
      //-----------------------------
      li {
        box-sizing: border-box;
        height: 30px;
        margin-bottom: 20px;
        background: #dddddd;
        @include respond-to(768) {
          height: auto;
          margin-bottom: 10px;
        }
      }
      //-----------------------------
      a {
        display: block;
        padding: 5px 12px;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  pagination component
-----------------------------------*/
.c {
  //---------------------------------
  &-pagi {
    //-------------------------------
    &-btn1 {
      border: 1px solid #888888;
      background: #888888;
      //-----------------------------
      &--mlr1 { margin: 0 7px; }
      //-----------------------------
      a { color: white; }
      //-----------------------------
      &--width1 {
        width: 35px;
        height: 35px;
        padding: 6px;
        box-sizing: border-box;
      }
      //-----------------------------
      &--width2 {
        width: 165px;
        box-sizing: border-box;
        padding: 5px 0;
      }
      //-----------------------------
      &--active {
        background: #ffffff;
        //---------------------------
        a { color: #000000; }
        //---------------------------
      }
      //-----------------------------
      &__maintext {
        //---------------------------
        &--color1 {
          background: #f78d6c;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
 button
-----------------------------------*/
.c {
  //---------------------------------
  &-btn {
    display: inline-block;
    //-------------------------------
    a {
      display: block;
      text-decoration: none;
    }
    //-------------------------------
    &-f1 {
      width: 159px;
      background: #888888;
      text-align: center;
      //-----------------------------
      a {
        padding: 10px 0;
        color: white;
        //---------------------------
        @include respond-to(768) {padding: 5px 0;}
        //---------------------------
      }
      //-----------------------------
      @include respond-to(768) {
        width: 132px;
        display: block;
        margin: 0 auto;
      }
      //-----------------------------
    }
    //end button footer--------------
  }
  //---------------------------------
  &-btnlink1 {
    background: #1d2088;
    color: #ffffff;
    text-decoration: none;
    padding: 4px 3px;
    //--------------------------------
    &--pos1 {
      position: absolute;
      top: 30px;
      left: 31px;
    }
    //--------------------------------
    &--pos2 {
      position: absolute;
      top: 137px;
      left: 31px;
    }
    //--------------------------------
    &--pos3 {
      position: absolute;
      top: 121px;
      right: 21px;
    }
    //--------------------------------
    &--pos4 {
      position: absolute;
      top: 33px;
      left: 32px;
    }
    //--------------------------------
    &--pos5 {
      position: absolute;
      top: 13px;
      left: 8px;
    }
    //--------------------------------
    &--pos6 {
      position: absolute;
      top: 18px;
      left: 14px;
    }
    //--------------------------------
    &--pos7 {
      position: absolute;
      top: 14px;
      right: 21px;
    }
    //--------------------------------
    &--pad1 { padding: 0 20px; }
    //use in recruit.html-------------
    &--pad2 { padding: 0 54px; }
    //use in brand1.html--------------
    &-type1 {
      border: 1px solid #ffffff;
      font-size: 1.6rem;
    }
    //--------------------------------
  }
  //----------------------------------
}

/*-----------------------------------
  footer component
-----------------------------------*/
.c {
  //---------------------------------
  &-f {
    padding: 20px 0 38px;
    letter-spacing: 1px;
    line-height: 1.7;
    border-top: 1px solid #555555;
    text-align: left;
    //-------------------------------
    @include respond-to(768) {
      padding: 10px 10px 16px;
      //-----------------------------
      .l-flexbox {flex-wrap: wrap;}
      //-----------------------------
      &-box1, &-box2 {
        margin: 0 auto;
        text-align: center;
      }
      //-----------------------------
      &-listlink1 {
        //---------------------------
        @include ie() {
          .l-flexbox {
            display: block;
          }
          //-------------------------
          li { display: inline-block; }
          //-------------------------
        }
        //---------------------------
        .l-flexbox { justify-content: center; }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-listbtn {
      margin-top: 14px;
      //-----------------------------
      @include respond-to(768) {
        margin-top: 8px;
        //---------------------------
      }
      //-----------------------------
      .c-btn-ml1 {
        margin-left: 16px;
        //---------------------------
        @include respond-to(768) {
          margin: 10px auto 10px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-listlink1 {
      //-----------------------------
      li:after {
        content: '|';
        margin: 0 4px 0 2px;
      }
      //-----------------------------
      a {
        color: #000000;
        text-decoration: none;
        font-weight: 600;
      }
      //-----------------------------
      li:last-child:after {
        content: '';
        margin: 0;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  other
-----------------------------------*/
.c {
  &-line1 {
    margin-bottom: 0;
    color: #939393;
  }
  //---------------------------------
  &-slider1 {
    //-------------------------------
    &--type1 {
      margin: 0 auto;
      overflow: hidden;
    }
    //-------------------------------
    &--ml1 {
      margin-left: -155px;
      @include respond-to(768) {
        margin-left: 0;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
  &-slider2 {
    //--------------------------------
    &-box1 {
      //----------------------------
      @include respond-to(768) {
        padding: 0 10px;
      }
      //----------------------------
      .bx-wrapper {
        width: 560px;
        //----------------------------
        @include respond-to(768) {
          //width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
        //----------------------------
      }
      //------------------------------
    }
    //--------------------------------
  }
  //----------------------------------
  &__link1 {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 1.4rem;
    //-------------------------------
    @include respond-to(768) {
      font-size: 1.2rem;
    }
    //------------------------------
    img {
      width: 15px;
      vertical-align: middle;
      margin-left: 5px;
    }
    //-------------------------------
  }
  //----------------------------------
  &__text1 {
    //--------------------------------
    &--font15 {
      text-align: left;
      font-size: 1.5rem;
      line-height: 1.7;
      //------------------------------
      @include respond-to(768) {
        padding: 0 10px;
        font-size: 1.3rem;
        line-height: 1.6;
      }
      //------------------------------
    }
    //--------------------------------
  }
  //----------------------------------
  &-listyear, &-listphoto {
    //------------------------------
    padding: 5px 5px;
    font-size: 1.6rem;
    font-weight: bold;
    border: 1px solid #777777;
    border-left: none;
    border-right: none;
    //------------------------------
    @include respond-to(768) {
      font-size: 1.3rem;
      .l-flexbox--flexstart { justify-content: center; }
    }
    //------------------------------
    a {
      color: #000000;
      text-decoration: none;
    }
    //------------------------------
    &-li {
      //----------------------------
      &--mlr1 {
        margin: 0 20px;
      }
      //----------------------------
      &--mlr2 {
        margin: 0 52px;
        //--------------------------
        @include respond-to(768) {
          margin: 0 15px;
        }
        //--------------------------
      }
      //----------------------------
    }
    //------------------------------
    &--active {
      color: #888888;
      a {
        color: #888888;
        text-decoration: none;
      }
    }
    //------------------------------
    &--mb1 {
      margin-bottom: 56px;
      //---------------------------
      @include respond-to(768) {
        margin-bottom: 28px;
      }
      //-----------------------------
    }
    //------------------------------
  }
  //--------------------------------
}

/*----------------------------------
  list
----------------------------------*/
.c {
  //--------------------------------
  &-list2 {
    position: relative;
    //------------------------------
    @include respond-to(768) {
      max-width: 550px;
      margin: 0 auto;
      padding: 0 10px;
    }
    //------------------------------
    &__card {
      width: 266px;
      box-sizing: border-box;
      margin-bottom: 30px;
      //----------------------------
      @include respond-to(768) {
        width: 48%;
        margin-bottom: 18px;
        //--------------------------
        .c-list2__img1 {
          &>img { width: 100%; }
        }
        //--------------------------
      }
      //----------------------------
    }
    //------------------------------
    &__info1 {
      padding: 15px 10px;
      text-align:  left;
      font-size: 1.3rem;
      background: #e6e6e6;
      //-----------------------------
      @include respond-to(768) {
        padding: 8px 5px;
        font-size: 1.1rem;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //--------------------------------
}

/*-----------------------------------
  Boximg component.
  Use for list component(it is content
  in each card).
-----------------------------------*/
.c {
  //---------------------------------
  &-boximg1 {
    padding: 5px;
    text-align: left;
    background: #a6ceff;
    &__text1 {
      font-size: 1.2rem;
      font-weight: 600;
      //-----------------------------
      h2 {
        padding-bottom: 2px;
        font-size: 1.7rem;
        border-bottom: 1px solid #333834;
        //---------------------------
        @include respond-to(768) {
          display: inline-block;
          font-size: 1.5rem;
        }
        //---------------------------
      }
      //-----------------------------
      &--ml1 {
        margin-left: 12px;
        @include respond-to(768) { margin-left: 6px; }
      }
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
The Modal
-----------------------------------*/
.c {
  //--------------------------------
  &-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    //------------------------------
    &-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      //----------------------------
      @include respond-to(768) {
        width: 90%;
      }
      //----------------------------
    }
    //------------------------------
  }
  //--------------------------------
  &-caption, &-modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  //end Animation - Zoom in the Modal
  &-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  //--------------------------------
  &-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    //------------------------------
    &:hover,
    &:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
    //------------------------------
  }
  //--------------------------------
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/*---------------------------
  menu responsive
---------------------------*/
.is-open {
  transition: all 0.5s;
  .c-menuSP__1 {transform: rotate(45deg) translate(6px, 6px);}
  .c-menuSP__2 {opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(4px, -4px);}
}
