@charset "UTF-8";
.header1-contact, .cons-box2, .also-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.header1-contact, .cons-box2, .also-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* justify-content: space-around; */
  margin: 0 0 12px 0;
}

.wrap {
  position: relative;
}

a.btn-nav {
  position: absolute;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

* {
  margin: 0;
  padding: 0;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
     -moz-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/**
*author: dang hoang tho
*file style.scss
*/

a {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

a:hover {
  opacity: 0.5;
}

body {
  width: 100%;
  min-width: 950px;
  font-size: 62.5%;
  font-weight: 500;
  font-family: "Meiryo", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro",
 "Hiragino Kaku Gothic Pro", "メイリオ", "Koburi", sans-serif;
  color: #7a7a7a;
  background: #ffffff;
}

.btn-pc {
  margin-left: 2px;
  display: block !important;
}

.btn-sp {
  display: none !important;
}

.show-pc {
  display: block !important;
}

.show-sp {
  display: none !important;
}

/* button show inline */
.btn-pc-in {
  display: inline !important;
}

.btn-sp-in {
  display: none !important;
}

.clear-fixed {
  content: "";
  clear: both;
  display: table;
}

.header {
  display: block;
  padding-top: 18px;
  border-top: 4px solid #0f5c9b;
}

.header1 {
  height: 77px;
  margin-bottom: 10px;
}

.header1-logo {
  float: left;
  width: 50%;
  max-width: 273px;
  margin-left: 7px;
  margin-top: 0px;
}

.header1-contact {
  float: right;
  width: 502px;
  padding-top: 18px;
}

.header2 {
    margin-top: 11px;
}

.header2-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../images/line-menu.png) no-repeat right 1px;
}

.header2-navbar li {
  padding: 0 1px;
  list-style-type: none;
  height: 63px;
  background: url(../images/line-menu.png) no-repeat left top;
}

.header2-navbar li a > img {
  width: 100%;
}

.wrap {
  display: block;
  width: 950px;
  height: auto;
  margin: 0 auto;
}

.banner {
  padding: 209px 0;
  text-align: center;
  background: url(../images/bg-slider.jpg) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.banner-text { margin: -49px 0; }

.banner-text h1 {
  display: inline-block;
  border: 2px solid white;
  padding: 18px 17px;
  color: white;
  font-weight: 500;
}

/* banner images */
img.img-banner-tit {
  display: none;
}

.news {
  margin: 79px 0;
  padding: 29px 0;
  border: 1px solid #dddddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.news-btn {
  text-align: center;
  margin-top: 24px;
}

.news-btn img {
  width: 130px;
  height: 30px;
}

.news-col1 {
  padding: 0 60px;
  border-right: 1px solid #dddddd;
  text-align: center;
}

.news-col1 h2 {
  margin-top: 13px;
  margin-bottom: 9px;
  font-size: 19px;
  color: black;
  text-align:  center;
}

.news-col1 h3 {
  margin: 12px 0;
  font-size: 11px;
  color: #4677a9;
}

.news-col2 {
  padding-top: 11px;
  padding-left: 39px;
}

.news-col2 dl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  padding-bottom: 12px;
}

.news-col2 dl > dt {
  color: #0e5b9a;
}

.news-col2 dl > dd {
  margin-left: 4px;
  color: black;
  padding-bottom:  0px;
  font-weight: 500;
  text-decoration-line: 5px;
  -webkit-text-decoration-line: 7px;
  -moz-text-decoration-line: 7px;
  text-decoration-line: 7px;
  border-bottom:  1px solid black;
  border-collapse:  collapse;
}

.news-col2 dl:last-child {
  padding-bottom: 0;
}

/* construction */
.cons {
  display: block;
  padding: 60px 0 64px;
  background: #eeeeee;
}

.cons-box1 {
  margin-bottom: 60px;
  text-align: center;
  color: black;
  /* end title */
}

.cons-box1-tit h3 {
  margin-top: 1px;
  margin-bottom: 32px;
  font-size: 20px;
}

.cons-box1-tit p {
  display:  inline-block;
  margin-left: -1px;
  padding: 12px 0 38px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: 600;
  color: #4273a6;
}

.cons-box1-text {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 21px;
  margin-left: 9px;
  display:  inline-block;
}

.cons-box2-col3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 218px;
  height: 226px;
  margin: 2px 37px 0;
  padding: 43px 0;
  text-align: center;
  background: url(../images/bg-box.png) no-repeat;
  background-size: 100% 100%;
}

.cons-box2-col3 h2 {
  padding: 14px 0 17px;
  line-height: 21px;
  color: #0f5c9b;
  font-size: 20px;
}

.cons-box2-col3:first-child h2 {
  padding: 14px 0 12px;
  line-height: 21px;
  color: #0f5c9b;
  font-size: 20px;
}

.cons-box2-col3:last-child {
  margin: 2px 42px 0 32px;
}

.cons-box2-col3 a img {
  vertical-align: middle;
}

img.home2 {
  margin-top: 4px;
}

img.home3 {
  margin: -8px 4px 0 0;
}

.also-row {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.also {
  padding-top: 19px;
  position: relative;
}

.also-col1 {
  position: relative;
  height: 383px;
  left: -56px;
  bottom: 2px;
}

.also-col2 {
  width: 430px;
  margin-top: 60px;
  margin-right: 8px;
}

.also-col2 h2 {
  color: black;
  margin-top: 1px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 27px;
  line-height: 31px;
}

.also-col2 p {
  margin-bottom: 28px;
  font-size: 16px;
  color: #636363;
  line-height: 22px;
}

.pagetop {
  position: absolute;
  right: 50px;
  bottom: 26px;
  cursor: pointer;
  border: none;
  background: none;
}

.address .img-contact {
  margin-left: 142px;
}

/* img contact */
.img-contact-sp {
  width: 221px;
  height: 43px;
  margin: 0 auto 20px;
}

.address {
  position: relative;
  margin-top: -11px;
  padding: 50px 0 56px;
  background: url(../images/foot-bg.jpg) no-repeat top;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.address-btn1 {
  max-width: 480px;
  margin: 11px auto 25px;
  text-align: center;
}

.address p {
  width: 442px;
  color: white;
  font-size: 16px;
  margin: 0 249px 0 auto;
  line-height: 23px;
}

.address-m {
  margin-top: 33px;
}

.yellow {
  color: #ffff4c !important;
}

.footer {
  padding: 42px 0 54px;
  background: #ccc;
}

.footer-l1 {
  display: inline-block;
  text-align: center;
  margin: -1px auto 7px 181px;
}

.footer-l1 li {
  float: left;
  font-size: 14px;
  height: 14px;
  list-style-type: none;
  margin-right: 0;
  vertical-align:  middle;
  border-left: 1px solid #898989;
}

.footer-l1 li a {
  display: inline;
  width: 100%;
  padding: 0px 22px 0 19px;
  color: #5e5e5e;
  text-decoration: none;
}

.footer-l1 li:last-child {
  border-right: 1px solid #898989;
}

.footer-l1 li:last-child a {
    padding-right: 22px;
}

.footer-l2 {
  margin: 0 auto 0 152px;
  text-align: center;
}

.footer-l2 li {
  float:  left;
  height: 14px;
  margin-bottom: 10px;
  list-style-type: none;
  border-left: 1px solid #898989;
}

.footer-l2 li a {
  display: block;
  padding: 0 19px 0 22px;
  font-size: 14px;
  text-decoration: none;
  color: #5e5e5e;
}

.footer-l2 li:last-child {
  border-right: 1px solid #898989;
}

.copyright {
  position: relative;
  left: -7px;
  top: -3px;
  display: block;
  font-size: 14px;
  padding: 24px 0;
  text-align: center;
  color: #212121;
  margin:  0 auto;
}

a.btn-nav {
  display: none;
  width: 14%;
  right: 0;
  height: 100%;
  max-width: 80px;
  min-width: 47px;
  min-height: 40px;
  max-height: 80px;
}

a.btn-nav img {
  width: 100%;
  height: 100%;
}

img.home1 {
    margin: 0px 2px 0 0;
}

.address-btn1 img {
    margin: 0 4px;
}

.img-email {float: right;margin-right: 136px;}


@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    min-width: 100%;
  }
  .wrap {
    width: 100%;
  }
  .btn-pc {
    display: none !important;
  }
  .btn-sp {
    display: block !important;
  }
  .show-pc {
    display: none !important;
  }

  .show-sp {
    display: block !important;
  }
  .btn-pc-in {
    display: none !important;
  }
  .btn-sp-in {
    display: inline !important;
  }
  .header {
    padding: 5px 20px 15px 5%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 100%;
    border-top: 10px solid #0f5c9b;
  }
  .header1 {
    height: auto;
  }
  .header1-logo img {
    width: 100%;
    max-width: 273px;
    min-width: 155px;
  }
  .header1-contact {
    display: none;
  }
  .header2-navbar {
    display: none;
  }
  .banner {
    padding: 112px 0;
    background: url(../images/sp-hbg.jpg) no-repeat;
    -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
         background-size: 100% 100%;
  }
  .banner-text {
    display: none;
  }
  img.img-banner-tit {
    display: block;
    width: 80%;
    max-width: 540px;
    min-width: 270px;
    margin: 0 auto;
  }
  .news {
    display: block;
    margin: 25px 18px 35px 18px;
  }
  .news-col1 {
    padding: 0;
    border-right: none;
  }
  .news-col2 {
    padding: 0 18px;
  }
  .news-col2 dl {
    display: block;
    padding: 10px 5px;
    border-bottom: 1px dotted #cccccc;
  }
  .news-col2 dl:first-child {
    border-top: 1px dotted #cccccc;
  }
  .news-col2 dl > dd {
    padding: 0;
    margin: 6px 0 0 0;
    display: inline-block;
  }
  .news-col2 dl:last-child {
    padding-bottom: 10px;
  }
  .cons {
    padding: 30px 15px;
  }
  .cons-box1 {
    margin-bottom: 24px;
  }
  .cons-box1-tit p {
    padding: 10px 0 18px;
    font-weight: bold;
  }
  .cons-box1-tit {
    font-size: 22px;
  }
  .cons-box1-text {
    margin-left: 3px;
    color: #555555;
  }
  .cons-box2 {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
  }
  .cons-box2-col3 {
    padding: 14px 0;
    width: 30%;
    height: auto;
    max-width: 179px;
    margin: 0;
    -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
         background-size: 100% 100%;
  }
  .cons-box2-col3 img {
    width: 100%;
    max-width: 36px;
  }
  .cons-box2-col3 a > img {
    width: 100%;
    max-width: 50px;
    max-height: 24px;
  }
  .cons-box2-col3 h2 {
    font-size: 12px;
    padding: 6px 0 !important;
  }
  .cons-box2-col3:last-child {
    margin: 0;
  }
  .also-row {
    display: block;
  }
  .also-col1 {
    left: -27px;
    height: 196px;
    text-align: center;
  }
  .also-col1 img {
    width: 275px;
    height: 201px;
  }
  .also-col2 {
    width: 100%;
    margin: 10px auto 0;
    text-align: center;
  }
  .also-col2 a {
    display: block;
    max-width: 269px;
    margin: 0 auto;
  }
  .also-col2 a img {
    width: 100%;
    max-width: 269px;
    height: 40px;
  }
  .also-col2 h2 {
    margin-bottom: 20px;
    font-size: 19px;
  }
  .also-col2 p {
    max-width: 288px;
    padding: 0 18px;
    margin: 0 auto 31px;
  }
  .address .img-contact {
    margin: 0 auto 20px;
  }
  .address {
    padding: 50px 15px 58px;
    background: url(../images/contact-bg-sp.jpg) no-repeat top;
    -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
         background-size: 100% 100%;
  }
  .address-p-sp {
    width: 251px;
    margin: 0 auto;
  }
  .address p {width: 100%;}
  .address-btn1 {
    width: 290px;
    height: auto;
    margin-bottom: 17px;
    padding: 0;
  }
  .address-btn1 img {
    width: 290px;
    height: 35px;
    margin: 0;
  }
  .address-m {
    margin-top: 30px;
  }
  .footer {
    padding: 21px 31px;
  }
  .footer-l1 {
    width: 100%;
    text-align: center;
    margin: -2px auto 4px 0;
  }
  .footer-l1 li {
    margin-bottom: 10px;
    float: none;
    display:  inline-block;
    height:  auto;
  }

  .footer-l1 li>a, .footer-l2 li>a {
    padding: 0 9px 0 10px;
  }

  .footer-l1 li:last-child a {
    padding-right: 9px;
  }

  .footer-l2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 auto 0 0;
  }
  .footer-l2 li {
    display: inline-block;
    float:  none;
    height:  auto;
  }
  .btn-nav {
    display: block!important;
  }
  .img-email {
     float: none;
     max-width: 290px;
     margin-right: 0
  }
}


.header2-navbar li>a:hover {
    background: url(../images/bg-hover.gif) no-repeat;
}

.header2-navbar li>a {
    display:  block;
}

.header2-navbar li>.menu3:hover {
    background: url(../images/bg-menu3.gif) no-repeat;
}

.header2-navbar li>.menu4:hover {
    background: url(../images/bg-menu4.gif) no-repeat;
}

.header2-navbar li>.menu5:hover {
    background: url(../images/bg-menu5.gif) no-repeat;
}
