body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

.c-wrap {
  position: relative;
  width: 950px;
  margin: 10px auto;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% { 
    left: 224px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}

@keyframes slide1 {
  0% {
    left: 488px;
    top: 0;
  }
  50% { 
    left: 224px;
    top: 100px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes slide2 {
  0% {
    left: 0;
    bottom: 0;
  }
  50% { 
    left: 224px;
    bottom: 100px;
  }
  100% {
    left: 488px;
    bottom: 0;
  }
}

@keyframes slide3 {
  0% {
    left: 488px;
    bottom: 0;
  }
  50% { 
    left: 224px;
    bottom: 100px;
  }
  100% {
    left: 0;
    bottom: 0;
  }
}

.stage, .stage1, .stage2, .stage3 {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}

/* .stage:hover .ball */
.stage .ball {
  animation: slide 2s ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.stage1 .ball {
  animation: slide1 2s ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.stage2 .ball {
  animation: slide2 2s ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.stage3 .ball {
  animation: slide3 2s ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}
