@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
/*
 *================================================================
 * ANCHOR | R E S E T
 *
 *		@reset
 *================================================================
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, button, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 2rem; }

html {
  font-size: 62.5%;
  position: relative; }

body, table, input, textarea, select, option, button, h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  line-height: 2.4rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table, input, textarea, select, option {
  line-height: 2.4rem; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

/*
 *================================================================
 * ANCHOR | PC  /  S P    O N L Y
 *
 *		@only
 *================================================================
 */
@media screen and (max-width: 768px) {
  .pc_only {
    display: none; } }

.sp_only {
  display: none; }
  @media screen and (max-width: 768px) {
    .sp_only {
      display: block; } }

/*
 *================================================================
 * ANCHOR | S C R O L L    B A R
 *
 *		@scrollbar
 *================================================================
 */
.nicescroll-rails {
  z-index: 89; }

.nicescroll-cursors {
  border: none;
  background: #ABADB0;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/*
 *================================================================
 * ANCHOR | S E L E C T I O N
 *
 *		@selection
 *================================================================
 */
::-moz-selection {
  background: #ABADB0;
  color: #F2F2F2; }
::selection {
  background: #ABADB0;
  color: #F2F2F2; }

/*
 *================================================================
 * ANCHOR | F L O A T
 *
 *		@float
 *================================================================
 */
.u-fl {
  float: left; }

.u-fr {
  float: right; }

/*
 *================================================================
 * ANCHOR | H I D E
 *
 *		@hide
 *================================================================
 */
.u-hide {
  display: none; }

/*
 *================================================================
 * ANCHOR | P R E L O A D
 *
 *		@preload
 *================================================================
 */
body.preload {
  overflow: hidden; }

.e-load {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  z-index: 999;
  background: #F2F2F2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .e-load div:nth-child(1) {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .e-load div:nth-child(1) img {
      width: 90px;
      height: auto;
      -webkit-animation: kf-preload 5s linear infinite;
      animation: kf-preload 5s linear infinite; }
  .e-load div:nth-child(2) {
    color: #000;
    letter-spacing: 2px;
    -webkit-animation: kf-preload_txt 1.2s linear infinite;
    animation: kf-preload_txt 1.2s linear infinite;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

body.loaded .e-load {
  opacity: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  pointer-events: none; }

/*
 *================================================================
 * ANCHOR | C U R S O R
 *
 *		@curosr
 *================================================================
 */
#js-cur {
  background: #F2F2F2;
  position: fixed;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  pointer-events: none; }

/*
 *================================================================
 * ANCHOR | E T C
 *
 *		@etc
 *================================================================
 */
a {
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

.e-goto_url a, .e-goto_url_a {
  cursor: pointer; }

/*
 *================================================================
 * ANCHOR | K E Y F R A M E
 *
 *		@keyframe    @kf
 *================================================================
 */
@-webkit-keyframes kf-preload {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  14% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  18% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  22% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  26% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  30% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes kf-preload {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  14% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  18% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  22% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  26% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  30% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes kf-preload_txt {
  0% {
    color: transparent; }
  50% {
    color: #ABADB0; }
  100% {
    color: transparent; } }

@keyframes kf-preload_txt {
  0% {
    color: transparent; }
  50% {
    color: #ABADB0; }
  100% {
    color: transparent; } }

@-webkit-keyframes kf-loaded {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes kf-loaded {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes kf-header {
  0% {
    top: -200px; }
  100% {
    top: 0px; } }

@keyframes kf-header {
  0% {
    top: -200px; }
  100% {
    top: 0px; } }

@-webkit-keyframes kf-header_x {
  0% {
    top: 0px;
    height: 80px;
    position: fixed; }
  70% {
    top: -200px;
    position: absolute; }
  100% {
    top: 0;
    height: 160px;
    position: absolute; } }

@keyframes kf-header_x {
  0% {
    top: 0px;
    height: 80px;
    position: fixed; }
  70% {
    top: -200px;
    position: absolute; }
  100% {
    top: 0;
    height: 160px;
    position: absolute; } }

/*
 *================================================================
 * ANCHOR | H E A D E R
 *
 *		@header
 *================================================================
 */
.l-header {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #F2F2F2;
  height: 160px;
  width: 100%;
  -webkit-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  z-index: 80;
  top: 0;
  left: 0; }
  .l-header .c-txt_logo {
    margin-top: 16px;
    margin-left: 64px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .l-header .c-gnavi {
    margin-top: 48px;
    margin-right: 64px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.l-header.js-sticky {
  position: fixed;
  height: 80px;
  -webkit-animation: kf-header 0.5s;
  animation: kf-header 0.5s; }
  .l-header.js-sticky .c-txt_logo {
    margin-top: -16px; }
  .l-header.js-sticky .c-gnavi {
    margin-top: 14px; }

.l-header.js-stable {
  -webkit-animation: kf-header_x 0.5s;
  animation: kf-header_x 0.5s; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .l-header .c-txt_logo a {
  color: #959A8F; }

.l-yellow .l-header .c-gnavi ul li a:hover {
  color: #BDBDB0; }

.l-yellow .l-header .c-gnavi ul li.is-active a {
  color: #959A8F; }

/*
 *================================================================
 * ANCHOR | B A N N E R
 *
 *		@banner
 *================================================================
 */
.c-banner {
  width: 100%;
  height: 550px;
  background: url("https://picsum.photos/1920/1080/?random");
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-top: 160px; }
  .c-banner h2 {
    display: none; }

/*
 *================================================================
 * ANCHOR | B R E A D C R U M B
 *
 *		@breadcrumb
 *================================================================
 */
.c-breadcrumb {
  list-style: none;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 16px; }
  .c-breadcrumb li {
    color: #ABADB0;
    font-size: 3.2rem;
    line-height: normal; }
    .c-breadcrumb li a {
      color: #ABADB0;
      text-decoration: none;
      font-size: 3.2rem;
      line-height: normal; }
      .c-breadcrumb li a::after {
        content: "\00A0>\00A0";
        color: #ABADB0;
        opacity: 0.5; }
      .c-breadcrumb li a:hover {
        color: #809EAD; }
    .c-breadcrumb li:last-child a {
      cursor: default; }
      .c-breadcrumb li:last-child a::after {
        content: ""; }
      .c-breadcrumb li:last-child a:hover {
        color: #ABADB0; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .c-breadcrumb li a:hover {
  color: #959A8F; }

.l-yellow .c-breadcrumb li:last-child a:hover {
  color: #ABADB0; }

/*
 *================================================================
 * ANCHOR | S I D E
 *
 *		@side
 *================================================================
 */
.l-sidebar {
  width: 250px;
  height: auto;
  background: #F2F2F2;
  padding: 32px 0; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .l-sidebar {
  background: #DAD7C5; }

.c-side {
  margin: 32px auto; }
  .c-side:first-child {
    margin: 0 auto 32px auto; }

/*
 *================================================================
 * ANCHOR | S E A R C H
 *
 *		@search
 *================================================================
 */
.c-search {
  position: relative;
  width: 200px;
  height: 40px;
  -webkit-box-shadow: 0 0 5px #333;
  box-shadow: 0 0 5px #333; }
  .c-search input[type='search'] {
    position: absolute;
    width: 160px;
    height: 40px;
    top: 0;
    left: 0;
    text-align: center;
    color: #809EAD;
    font-size: 2rem;
    border: none;
    background: #fff;
    padding: 0 8px; }
    .c-search input[type='search']::-webkit-input-placeholder {
      color: #ABADB0; }
    .c-search input[type='search']::-ms-input-placeholder {
      color: #ABADB0; }
    .c-search input[type='search']::placeholder {
      color: #ABADB0; }
  .c-search input[type='submit'] {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .c-search input[type='submit']:hover {
      -webkit-box-shadow: -1px 0 5px #333;
      box-shadow: -1px 0 5px #333; }
  .c-search i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    background: #809EAD;
    color: #F2F2F2; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .c-search input[type='search'] {
  color: #959A8F; }

.l-yellow .c-search i {
  background: #BDBDB0; }

/*
 *================================================================
 * ANCHOR | S O R T
 *
 *		@sort
 *================================================================
 */
.c-sort {
  position: relative;
  width: 200px;
  height: 40px;
  -webkit-box-shadow: 0 0 5px #333;
  box-shadow: 0 0 5px #333; }
  .c-sort select {
    position: relative;
    width: 200px;
    height: 40px;
    background: #fff;
    border: none;
    color: #809EAD;
    font-size: 1.6rem;
    text-align: center;
    padding: 0 6px;
    margin: 0;
    cursor: pointer; }
    .c-sort select option {
      color: #ABADB0; }
  .c-sort::after {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    position: absolute;
    content: "\25BC";
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    background: #809EAD;
    color: #F2F2F2;
    pointer-events: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .c-sort:hover::after {
    -webkit-box-shadow: -1px 0 5px #333;
    box-shadow: -1px 0 5px #333; }

/*
 *================================================================
 * ANCHOR | R E S U L T
 *
 *		@result
 *================================================================
 */
.c-result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 200px;
  height: 40px;
  -webkit-box-shadow: 0 0 5px #333;
  box-shadow: 0 0 5px #333;
  text-align: center;
  color: #809EAD;
  background: #fff;
  font-size: 1.6rem; }

/*
 *================================================================
 * ANCHOR | L I S T
 *
 *		@list
 *================================================================
 */
.c-list {
  width: 200px; }
  .c-list span {
    display: block;
    font-size: 3.2rem;
    color: #809EAD;
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px; }
  .c-list ul li a {
    display: block;
    text-decoration: none;
    color: #F2F2F2;
    background: #809EAD;
    text-align: center;
    padding: 8px 0;
    font-size: 1.8rem; }
    .c-list ul li a:hover {
      position: relative;
      -webkit-box-shadow: 0 0 5px #333;
      box-shadow: 0 0 5px #333; }
    .c-list ul li a span {
      color: #F2F2F2;
      font-size: 1.8rem;
      display: inline-block;
      margin: 0 0 0 8px;
      opacity: 0.5;
      font-weight: 400; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .c-list span {
  color: #959A8F; }

.l-yellow .c-list ul li a {
  background: #BDBDB0; }
  .l-yellow .c-list ul li a:hover {
    background: #959A8F; }
  .l-yellow .c-list ul li a span {
    color: #F2F2F2;
    opacity: 0.6; }

/*
 *================================================================
 * ANCHOR | A U T H O R
 *
 *		@author
 *================================================================
 */
.c-author {
  width: 200px; }
  .c-author h4 {
    color: #959A8F;
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px; }
  .c-author div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    background: #BDBDB0;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333; }
    .c-author div span {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      color: #F2F2F2;
      font-size: 1.8rem;
      width: 160px;
      height: 40px;
      line-height: 4rem; }

/*
 *================================================================
 * ANCHOR | S H O W    C O M M E N T S
 *
 *		@showcomments    @comments
 *================================================================
 */
.c-show_comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 200px;
  height: 40px;
  background: #BDBDB0;
  color: #F2F2F2;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .c-show_comment:hover {
    background: #959A8F;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333; }

/*
 *================================================================
 * ANCHOR | L A Y O U T
 *
 *		@layout
 *================================================================
 */
body {
  background: #fff; }

.l-wrapper {
  min-width: 1000px; }

.l-main {
  position: relative; }

.l-container {
  width: 1000px;
  margin: auto; }

.l-container_side {
  width: 700px;
  margin: 0 auto 192px auto; }

/*
 *================================================================
 * ANCHOR | F O O T E R
 *
 *		@footer
 *================================================================
 */
.l-footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background: #809EAD;
  width: 100%;
  height: 320px;
  -webkit-box-shadow: 0 0 5px #333;
  box-shadow: 0 0 5px #333;
  z-index: 99; }

.c-footer {
  font-size: 6.4rem;
  line-height: normal;
  color: #F2F2F2; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .l-btn_top .c-btn_top {
  color: #BDBDB0; }

.l-yellow .l-footer {
  background: #DAD7C5; }

.l-yellow .c-footer {
  color: #959A8F; }

/*
 *================================================================
 * ANCHOR | T I T L E  /  H E A D I N G
 *
 *		@title
 *================================================================
 */
.c-title {
  font-size: 6.4rem;
  line-height: normal;
  text-align: center;
  color: #809EAD;
  margin-top: 64px;
  text-transform: uppercase; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .c-title {
  color: #BDBDB0; }

/*
 *================================================================
 * ANCHOR | B U T T O N    O R D E R
 *
 *		@button    @btnorder
 *================================================================
 */
.c-btn_order {
  width: 100%;
  height: 128px;
  color: #F2F2F2;
  background: #ABADB0;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 128px;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .c-btn_order:hover {
    background: #333;
    letter-spacing: 10px; }
  .c-btn_order:active {
    letter-spacing: 3px;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }

/*
 *================================================================
 * ANCHOR | B U T T O N    S C R O L L    T O P
 *
 *		@top
 *================================================================
 */
.l-btn_top {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 90; }
  .l-btn_top:hover {
    z-index: 91; }

.c-btn_top {
  position: relative;
  width: 64px;
  height: 64px;
  background: #F2F2F2;
  color: #809EAD;
  font-size: 4.2rem;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .c-btn_top::after {
    position: absolute;
    content: "\25B2";
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .c-btn_top:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
    top: 2px; }
  .c-btn_top:active {
    top: 4px; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .l-btn_top .c-btn_top {
  color: #BDBDB0; }

/*
 *================================================================
 * ANCHOR | C A R T
 *
 *		@cart
 *================================================================
 */
.l-btn_shop {
  display: block;
  position: fixed;
  bottom: 0;
  right: 64px;
  z-index: 90; }
  .l-btn_shop:hover {
    z-index: 91; }

.c-btn_shop {
  position: relative;
  display: block;
  width: 64px;
  height: 64px;
  background: #F2F2F2;
  color: #809EAD;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .c-btn_shop:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
    top: 2px; }
  .c-btn_shop:active {
    top: 4px; }
  .c-btn_shop i {
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2.8rem;
    color: #809EAD; }
  .c-btn_shop span {
    position: absolute;
    top: -16%;
    left: -20%;
    display: inline-block;
    background: #809EAD;
    color: #F2F2F2;
    font-size: 1.8rem;
    border: 3px solid #F2F2F2;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0 6px;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }
  .c-btn_shop:hover span {
    border-color: #fff;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .l-btn_shop .c-btn_shop i {
  color: #BDBDB0; }

.l-yellow .l-btn_shop .c-btn_shop span {
  background: #BDBDB0; }

/*
 *================================================================
 * ANCHOR | P A G I N A T I O N
 *
 *		@pagination
 *================================================================
 */
.c-pagination {
  margin: 32px auto 0 auto; }
  .c-pagination .nav-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .c-pagination--page, .c-pagination .page-numbers {
    display: block;
    color: #F2F2F2;
    background: #ABADB0;
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding: 0 4px;
    min-width: 24px;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .c-pagination--page:hover, .c-pagination .page-numbers:hover {
      background: #809EAD; }
  .c-pagination--prev, .c-pagination .prev {
    display: block;
    width: 0;
    height: 0px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 24px solid #ABADB0;
    background: none;
    margin: 0 16px;
    min-width: auto;
    padding: 0; }
    .c-pagination--prev:hover, .c-pagination .prev:hover {
      background: none;
      border-right: 24px solid #809EAD; }
  .c-pagination--next, .c-pagination .next {
    display: block;
    width: 0;
    height: 0px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 24px solid #ABADB0;
    background: none;
    margin: 0 16px;
    min-width: auto;
    padding: 0; }
    .c-pagination--next:hover, .c-pagination .next:hover {
      background: none;
      border-left: 24px solid #809EAD; }
  .c-pagination--current, .c-pagination .current {
    cursor: default;
    background: #809EAD; }
  .c-pagination--dots, .c-pagination .dots {
    background: none;
    color: #ABADB0;
    font-size: 6.4rem;
    line-height: 0.4rem;
    cursor: default; }
    .c-pagination--dots:hover, .c-pagination .dots:hover {
      background: none; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .c-pagination--page, .l-yellow .c-pagination .page-numbers {
  background: #DAD7C5; }
  .l-yellow .c-pagination--page:hover, .l-yellow .c-pagination .page-numbers:hover {
    background: #BDBDB0; }

.l-yellow .c-pagination--prev, .l-yellow .c-pagination .prev {
  background: none;
  border-right: 24px solid #DAD7C5; }
  .l-yellow .c-pagination--prev:hover, .l-yellow .c-pagination .prev:hover {
    background: none;
    border-right: 24px solid #BDBDB0; }

.l-yellow .c-pagination--next, .l-yellow .c-pagination .next {
  background: none;
  border-left: 24px solid #DAD7C5; }
  .l-yellow .c-pagination--next:hover, .l-yellow .c-pagination .next:hover {
    background: none;
    border-left: 24px solid #BDBDB0; }

.l-yellow .c-pagination--current, .l-yellow .c-pagination .current {
  background: #BDBDB0; }

.l-yellow .c-pagination--dots, .l-yellow .c-pagination .dots {
  background: none;
  color: #DAD7C5; }
  .l-yellow .c-pagination--dots:hover, .l-yellow .c-pagination .dots:hover {
    background: none; }

/*
 *================================================================
 * ANCHOR | B U T T O N    C A R T
 *
 *		@btncart
 *================================================================
 */
.c-btn_cart {
  display: block;
  background: #809EAD;
  color: #F2F2F2;
  width: 100%;
  height: 64px;
  font-size: 2.6rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 64px; }
  .c-btn_cart:hover {
    position: relative;
    -webkit-box-shadow: 0px 0px 5px #333;
    box-shadow: 0px 0px 5px #333;
    letter-spacing: 1px; }

/*
 *================================================================
 * ANCHOR | G L O B A L    N A V I G A T I O N
 *
 *		@gnavi
 *================================================================
 */
.c-gnavi ul {
  list-style: none;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .c-gnavi ul li {
    position: relative;
    line-height: normal; }
    .c-gnavi ul li a {
      display: block;
      text-decoration: none;
      color: #ABADB0;
      padding: 0 16px;
      font-size: 3.2rem; }
      .c-gnavi ul li a:hover {
        color: #809EAD; }
    .c-gnavi ul li a[href='#'], .c-gnavi ul li a[href=''], .c-gnavi ul li a[href='/'], .c-gnavi ul li a:not([href]) {
      cursor: default; }
    .c-gnavi ul li ul {
      display: none;
      position: absolute;
      text-align: right;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: auto;
      top: 48px;
      right: 0;
      background: #F2F2F2;
      -webkit-box-shadow: 0 0 5px #333;
      box-shadow: 0 0 5px #333;
      padding: 16px; }
      .c-gnavi ul li ul li a {
        line-height: 4rem;
        padding: 8px 0; }
  .c-gnavi ul li:hover ul {
    display: block; }

.c-gnavi .is-active a {
  color: #809EAD; }

/*
 *================================================================
 * ANCHOR | T E X T    T H A N K Y O U
 *
 *		@txt
 *================================================================
 */
.c-txt_thanks {
  background: #809EAD;
  width: 100%;
  min-height: 64px;
  color: #F2F2F2;
  font-weight: 500;
  font-size: 3.2rem;
  text-align: center;
  line-height: 64px; }

/*
 *================================================================
 * ANCHOR | L O G O
 *
 *		@logo
 *================================================================
 */
.c-txt_logo a {
  text-decoration: none;
  font-size: 6.4rem;
  line-height: normal;
  color: #809EAD; }
  .c-txt_logo a:hover {
    opacity: 0.8; }

/*
 *================================================================
 * ANCHOR | I M A G E
 *
 *		@img
 *================================================================
 */
/*
 *================================================================
 * ANCHOR | B L O C K    C A R D
 *
 *		@card
 *================================================================
 */
.l-block_card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .l-block_card .c-card {
    position: relative;
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .l-block_card .c-card:hover {
      -webkit-box-shadow: 0 0 5px #333;
      box-shadow: 0 0 5px #333;
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
    .l-block_card .c-card--img {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
      .l-block_card .c-card--img img {
        width: 100%;
        height: auto; }
    .l-block_card .c-card--name {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #F2F2F2;
      text-align: center;
      width: 100%;
      padding: 4px 0;
      background: #809EAD;
      font-size: 2.4rem;
      line-height: normal; }
    .l-block_card .c-card--detail {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: -44px;
      color: #F2F2F2;
      width: 44px;
      height: 44px;
      background: #809EAD;
      text-decoration: none;
      z-index: 10; }
      .l-block_card .c-card--detail i {
        font-size: 2.8rem; }
      .l-block_card .c-card--detail:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
    .l-block_card .c-card--cart {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: -44px;
      color: #F2F2F2;
      width: 44px;
      height: 44px;
      background: #809EAD;
      -webkit-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s;
      cursor: pointer;
      z-index: 10; }
      .l-block_card .c-card--cart i {
        font-size: 2.8rem; }
      .l-block_card .c-card--cart:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      .l-block_card .c-card--cart a {
        position: absolute !important;
        display: block !important;
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
        background: none !important; }
    .l-block_card .c-card--price {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: -80px;
      color: #F2F2F2;
      background: #ABADB0;
      width: 80px;
      height: auto;
      padding: 4px 0;
      line-height: normal;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .l-block_card .c-card--price span {
        color: #F2F2F2; }
        .l-block_card .c-card--price span del, .l-block_card .c-card--price span del span {
          color: #809EAD; }
        .l-block_card .c-card--price span ins, .l-block_card .c-card--price span ins span {
          color: #F2F2F2; }
    .l-block_card .c-card--sale {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      color: #F2F2F2;
      background: #ABADB0;
      width: 80px;
      padding: 4px 0;
      line-height: normal;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .l-block_card .c-card--date {
      display: block;
      width: 100%;
      height: 34px;
      line-height: 3.4rem;
      background: #809EAD;
      position: absolute;
      color: #F2F2F2;
      font-size: 1.6rem;
      text-align: center;
      left: 0;
      top: -34px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      z-index: 10; }
      .l-block_card .c-card--date a {
        color: #F2F2F2;
        margin-left: 4px; }
    .l-block_card .c-card--link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }

.c-card:hover .c-card--detail, .c-card:hover .c-card--cart {
  right: 0; }

.c-card:hover .c-card--price {
  left: 0; }

.c-card:hover .c-card--sale {
  left: -80px; }

.c-card:hover .c-card--img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.c-card:hover .c-card--date {
  top: 0; }

.l-block_card--big .c-card {
  width: 300px;
  height: 300px;
  margin-bottom: 25px;
  }
  .l-block_card--big .c-card--name {
    font-size: 3.2rem;
    padding: 6.5px 0; }
  .l-block_card--big .c-card--detail {
    width: 60px;
    height: 60px;
    right: -60px; }
    .l-block_card--big .c-card--detail i {
      font-size: 4.2rem; }
  .l-block_card--big .c-card--cart {
    width: 60px;
    height: 60px;
    right: -60px;
    top: 120px; }
    .l-block_card--big .c-card--cart i {
      font-size: 3.8rem; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .l-block_card .c-card--name {
  background: #BDBDB0; }

.l-yellow .l-block_card .c-card--date {
  background: #BDBDB0; }

/*
 *================================================================
 * ANCHOR | B L O C K    C O M M E N T
 *
 *		@comment
 *================================================================
 */
.l-comment {
  display: block;
  overflow: hidden; }
  .l-comment .children {
    position: relative;
    padding-left: 96px; }
  .l-comment .c-comment:before, .l-comment .c-comment:after {
    position: absolute;
    display: block;
    background: #BDBDB0;
    content: ''; }
  .l-comment .c-comment:before {
    width: 2px;
    height: calc(100% + 34px);
    top: -34px;
    left: -48px; }
  .l-comment .c-comment:after {
    width: 48px;
    height: 2px;
    top: 50%;
    left: -48px; }
  .l-comment .c-comment:last-child:before {
    height: calc(50% + 34px); }
  .l-comment h2 {
    color: #959A8F;
    text-align: right;
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 32px; }

.c-comment {
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  margin: 32px 0;
  border: 2px solid #ABADB0; }
  .c-comment--row_1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .c-comment--row_2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .c-comment--row_2 div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .c-comment--img {
    margin: 16px 0px 16px 16px; }
    .c-comment--img img {
      width: 64px;
      height: 64px;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
  .c-comment--area {
    line-height: normal;
    color: #ABADB0;
    margin: 16px;
    background: #fff;
    padding: 16px;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
    word-break: break-word; }
  .c-comment--author {
    color: #F2F2F2;
    background: #ABADB0;
    font-size: 1.4rem;
    text-align: center;
    height: 24px;
    padding: 0 16px;
    margin-top: 7px; }
  .c-comment--date {
    position: relative;
    display: block;
    color: #F2F2F2;
    background: #809EAD;
    font-size: 1.4rem;
    text-align: center;
    height: 24px;
    padding: 0 16px;
    cursor: pointer;
    bottom: -7px; }
    .c-comment--date:hover {
      -webkit-box-shadow: 0 0 5px #333;
      box-shadow: 0 0 5px #333; }
  .c-comment--reply {
    display: block;
    cursor: pointer;
    width: 64px;
    height: 32px;
    line-height: 3.2rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    background: #959A8F;
    color: #F2F2F2;
    text-decoration: none; }
    .c-comment--reply:hover {
      position: relative;
      -webkit-box-shadow: 0 0 5px #333;
      box-shadow: 0 0 5px #333; }
  .c-comment--edit {
    display: block;
    cursor: pointer;
    width: 64px;
    height: 32px;
    line-height: 3.2rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    background: #959A8F;
    color: #F2F2F2; }
    .c-comment--edit:hover {
      position: relative;
      -webkit-box-shadow: 0 0 5px #333;
      box-shadow: 0 0 5px #333; }

.c-comment_auth {
  position: absolute;
  bottom: 5px;
  margin-top: 16px; }
  .c-comment_auth input {
    text-align: center;
    color: #809EAD;
    border: none;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
    font-size: 1.6rem;
    padding: 0px 8px;
    height: 32px;
    line-height: 32px;
    margin-right: 16px; }
    .c-comment_auth input::-webkit-input-placeholder {
      color: #ABADB0; }
    .c-comment_auth input::-ms-input-placeholder {
      color: #ABADB0; }
    .c-comment_auth input::placeholder {
      color: #ABADB0; }

/*
 *================================================================
 * ANCHOR | Y E L L O W    L A Y O U T
 *
 *		@yl
 *================================================================
 */
.l-yellow .l-comment {
  display: none; }

.l-yellow .c-comment {
  display: block;
  background: #F2F2F2;
  width: 100%;
  border: none; }
  .l-yellow .c-comment--area {
    color: #959A8F;
    background: #fff; }
  .l-yellow .c-comment--author {
    color: #F2F2F2;
    background: #BDBDB0; }
  .l-yellow .c-comment--date {
    color: #F2F2F2;
    background: #959A8F; }
  .l-yellow .c-comment--reply {
    background: #959A8F;
    color: #F2F2F2; }
    .l-yellow .c-comment--reply:hover {
      -webkit-box-shadow: 0 0 5px #333;
      box-shadow: 0 0 5px #333; }
  .l-yellow .c-comment--edit {
    background: #959A8F;
    color: #F2F2F2; }

.l-yellow .c-comment_auth input {
  color: #959A8F; }

/*
 *================================================================
 * ANCHOR | P O S T    C O M M E N T
 *
 *		@postcomment    @poc
 *================================================================
 */
.l-post_comment {
  position: relative;
  background: #F2F2F2;
  padding: 16px 16px 48px 16px; }
  .l-post_comment textarea {
    width: calc(100% - 16px);
    height: 185px;
    min-height: 185px;
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
    font-size: 1.4rem;
    color: #959A8F;
    padding: 8px;
    resize: vertical; }
    .l-post_comment textarea::-webkit-input-placeholder {
      display: block;
      text-align: center;
      line-height: 18.5rem;
      color: #ABADB0; }
    .l-post_comment textarea::-ms-input-placeholder {
      display: block;
      text-align: center;
      line-height: 18.5rem;
      color: #ABADB0; }
    .l-post_comment textarea::placeholder {
      display: block;
      text-align: center;
      line-height: 18.5rem;
      color: #ABADB0; }
  .l-post_comment .c-post_comment {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    bottom: 0;
    left: 0;
    width: 50%; }
    .l-post_comment .c-post_comment--area {
      position: relative;
      word-break: break-word; }
      .l-post_comment .c-post_comment--area a {
        position: absolute;
        bottom: 8px;
        right: 8px;
        color: #BDBDB0;
        font-size: 1.4rem;
        cursor: default; }
        .l-post_comment .c-post_comment--area a span {
          color: #ABADB0; }
          .l-post_comment .c-post_comment--area a span::-moz-selection {
            background: transparent;
            color: unset; }
          .l-post_comment .c-post_comment--area a span::selection {
            background: transparent;
            color: unset; }
        .l-post_comment .c-post_comment--area a::-moz-selection {
          background: transparent;
          color: unset; }
        .l-post_comment .c-post_comment--area a::selection {
          background: transparent;
          color: unset; }
    .l-post_comment .c-post_comment--logout {
      display: block;
      background: #959A8F;
      color: #F2F2F2;
      font-size: 1.4rem;
      text-align: center;
      width: 64px;
      height: 24px;
      text-decoration: none;
      cursor: pointer; }
      .l-post_comment .c-post_comment--logout:hover {
        -webkit-box-shadow: 0 0 5px #333;
        box-shadow: 0 0 5px #333; }
    .l-post_comment .c-post_comment--as {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background: #959A8F;
      color: #F2F2F2;
      text-decoration: none;
      text-align: center;
      height: 24px;
      padding: 0 16px;
      margin-right: -50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      cursor: pointer; }
      .l-post_comment .c-post_comment--as:hover {
        -webkit-box-shadow: 0 0 5px #333;
        box-shadow: 0 0 5px #333; }
      .l-post_comment .c-post_comment--as span {
        display: block;
        font-size: 1.4rem;
        line-height: 2.4rem; }
        .l-post_comment .c-post_comment--as span:first-child {
          margin-right: 8px;
          color: #DAD7C5; }
    .l-post_comment .c-post_comment--post {
      background: #959A8F;
      color: #F2F2F2;
      font-size: 1.8rem;
      width: 128px;
      height: 32px;
      border: none;
      cursor: pointer;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .l-post_comment .c-post_comment--post:hover {
        -webkit-box-shadow: 0 0 5px #333;
        box-shadow: 0 0 5px #333; }

/*
 *================================================================
 * ANCHOR | P R O D U C T    I N F O
 *
 *		@productinfo
 *================================================================
 */
.c-product_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #F2F2F2;
  width: 525px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-height: 400px;
  text-align: center;
  -webkit-box-shadow: 0 0 5px #333;
  box-shadow: 0 0 5px #333; }
  .c-product_info--name {
    margin-top: 16px;
    color: #809EAD;
    font-size: 4.8rem;
    line-height: normal;
    font-weight: 500; }
  .c-product_info--rating {
    position: relative;
    width: 166px;
    height: 70px;
    margin: auto; }
    .c-product_info--rating:before {
      position: absolute;
      content: '\02605\02605\02605\02605\02605';
      color: #ABADB0;
      font-size: 4rem;
      line-height: 4rem;
      left: 0; }
    .c-product_info--rating span {
      display: block;
      position: absolute;
      overflow: hidden;
      left: 0; }
      .c-product_info--rating span:before {
        content: '\02605\02605\02605\02605\02605';
        color: #809EAD;
        font-size: 4rem;
        line-height: 4rem; }
    .c-product_info--rating a {
      position: absolute;
      bottom: 0;
      font-size: 1.8rem;
      color: #ABADB0;
      text-align: center;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      white-space: pre; }
  .c-product_info--price {
    font-weight: 500;
    color: #809EAD;
    margin: 32px auto; }
    .c-product_info--price span {
      color: #809EAD;
      font-size: 3.2rem; }
    .c-product_info--price del, .c-product_info--price del span {
      color: #ABADB0;
      font-size: 3.2rem; }
    .c-product_info--price del {
      margin-right: 16px; }
    .c-product_info--price ins, .c-product_info--price ins span {
      color: #809EAD;
      font-size: 3.2rem; }
  .c-product_info--stock {
    background: #ABADB0;
    color: #F2F2F2;
    font-size: 3.2rem;
    font-weight: 500;
    height: 64px;
    line-height: 6.4rem; }
  .c-product_info--add {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .c-product_info--add input {
      display: inline-block;
      font-size: 3.2rem;
      color: #809EAD;
      font-weight: 500;
      background: #fff;
      border: none;
      width: 50%;
      text-align: center;
      height: 64px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .c-product_info--add input:hover {
        position: relative;
        -webkit-box-shadow: 0 0 5px #333;
        box-shadow: 0 0 5px #333; }
    .c-product_info--add button {
      display: inline-block;
      width: 50%;
      font-size: 3.2rem;
      line-height: 6.4rem;
      color: #F2F2F2;
      font-weight: 500;
      background: #809EAD;
      cursor: pointer;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .c-product_info--add button:hover {
        position: relative;
        -webkit-box-shadow: 0 0 5px #333;
        box-shadow: 0 0 5px #333; }
      .c-product_info--add button i {
        font-size: 3.2rem;
        line-height: 6.4rem;
        margin-right: 8px; }

/*
 *================================================================
 * ANCHOR | P R O D U C T    D E T A I L
 *
 *		@productdetail
 *================================================================
 */
.c-product_detail {
  width: 100%;
  margin: 64px auto; }
  .c-product_detail--header {
    background: #ABADB0;
    color: #F2F2F2;
    font-size: 1.8rem;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .c-product_detail--header span {
      opacity: 0.6; }
    .c-product_detail--header a {
      display: block;
      cursor: pointer;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: center;
      padding: 3.5px; }
      .c-product_detail--header a:hover {
        -webkit-box-shadow: 0px 0px 5px #333;
        box-shadow: 0px 0px 5px #333;
        background: #809EAD; }
    .c-product_detail--header .is-active {
      position: relative;
      background: #809EAD;
      -webkit-box-shadow: 0px 0px 5px #333;
      box-shadow: 0px 0px 5px #333; }
  .c-product_detail--detail {
    color: #ABADB0;
    background: #F2F2F2;
    padding: 32px;
    line-height: normal; }
  .c-product_detail--info {
    display: none;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    font-size: 1.8rem;
    line-height: normal; }
    .c-product_detail--info tr {
      vertical-align: top; }
      .c-product_detail--info tr th {
        text-align: right;
        font-weight: 500;
        width: 50%;
        padding-right: 8px; }
      .c-product_detail--info tr td {
        color: #809EAD;
        width: 50%;
        padding-left: 8px;
        font-weight: 500; }
        .c-product_detail--info tr td a {
          color: #809EAD;
          margin: 0 4px; }
  .c-product_detail--reviews {
    display: none; }

/*
 *================================================================
 * ANCHOR | B L O C K    C O U P O N
 *
 *		@blockcoupon
 *================================================================
 */
.c-block_coupon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .c-block_coupon input {
    border: 2px solid #809EAD;
    height: 58px;
    text-align: center;
    font-size: 2.6rem;
    color: #ABADB0;
    width: 100%;
    line-height: 58px; }
    .c-block_coupon input::-webkit-input-placeholder {
      color: #ABADB0;
      opacity: 0.5; }
    .c-block_coupon input::-ms-input-placeholder {
      color: #ABADB0;
      opacity: 0.5; }
    .c-block_coupon input::placeholder {
      color: #ABADB0;
      opacity: 0.5; }
  .c-block_coupon button {
    width: 256px;
    height: 64px;
    color: #F2F2F2;
    background: #809EAD;
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
    font-size: 2.6rem;
    font-weight: 500;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .c-block_coupon button:hover {
      position: relative;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 0px 5px #333;
      box-shadow: 0px 0px 5px #333; }

/*
 *================================================================
 * ANCHOR | B L O C K    S U B M I T
 *
 *		@blocksubmit
 *================================================================
 */
.c-block_submit:hover {
  position: relative;
  z-index: 10; }

.c-block_submit label {
  cursor: pointer; }

.c-block_submit--head {
  display: block;
  position: relative;
  background: #809EAD;
  color: #F2F2F2;
  min-height: 64px;
  height: auto;
  text-decoration: none;
  font-size: 3.2rem;
  line-height: 64px;
  font-weight: 500;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .c-block_submit--head:hover {
    -webkit-box-shadow: 0 0 10px #333;
    box-shadow: 0 0 10px #333; }

.c-block_submit span {
  position: absolute;
  width: 52px;
  height: 52px;
  background: #F2F2F2;
  bottom: 0;
  left: 0;
  border: 6px solid #809EAD; }
  .c-block_submit span:before {
    content: '';
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    background: #809EAD;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

.c-block_submit input {
  opacity: 0; }

.c-block_submit input:checked ~ span:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.c-block_submit--content {
  position: relative;
  display: block;
  background: #F2F2F2;
  font-size: 2.4rem;
  color: #ABADB0;
  font-weight: 400;
  text-align: center;
  padding: 32px;
  line-height: normal; }

.c-block_submit label.c-block_submit--content {
  padding: 0;
  height: 64px;
  line-height: 64px; }

/*
 *================================================================
 * ANCHOR | T A B L E    1
 *
 *		@table1
 *================================================================
 */
.c-table_1 {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  background: #F2F2F2; }
  .c-table_1 tr {
    text-align: center; }
    .c-table_1 tr th {
      background: #809EAD;
      color: #F2F2F2;
      height: 64px;
      font-size: 3.2rem;
      font-weight: 500; }
    .c-table_1 tr td {
      min-height: 130px;
      color: #809EAD;
      font-size: 2.4rem;
      padding: 16px;
      line-height: normal; }
    .c-table_1 tr .is-img {
      display: block;
      overflow: hidden;
      max-height: 166px; }
      .c-table_1 tr .is-img img {
        width: 100%;
        height: auto; }
    .c-table_1 tr .is-remove {
      display: block;
      background: #809EAD;
      color: #F2F2F2;
      width: 32px;
      height: 32px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      line-height: 32px;
      cursor: pointer;
      margin: auto;
      font-size: 1.8rem;
      font-weight: 500; }
      .c-table_1 tr .is-remove:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }
    .c-table_1 tr a {
      text-decoration: none;
      color: #809EAD; }
    .c-table_1 tr input {
      color: #809EAD;
      border: none;
      text-align: center;
      min-width: 64px;
      min-height: 32px;
      font-size: 2.4rem;
      -webkit-box-shadow: 0px 0px 5px #333;
      box-shadow: 0px 0px 5px #333; }
    .c-table_1 tr span {
      font-size: 2.4rem; }

/*
 *================================================================
 * ANCHOR | T A B L E    2
 *
 *		@table2
 *================================================================
 */
.c-table_2 {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  background: #F2F2F2; }
  .c-table_2 tr th {
    background: #809EAD;
    color: #F2F2F2;
    font-weight: 500;
    font-size: 3.2rem;
    height: 64px; }
  .c-table_2 tr td {
    font-size: 2.4rem;
    color: #809EAD;
    text-align: center; }

/*
 *================================================================
 * ANCHOR | F O R M    A D D R E S S
 *
 *		@formaddress
 *================================================================
 */
.c-form_input_address {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .c-form_input_address #billing_first_name, .c-form_input_address #billing_last_name {
    width: calc(50% - 96px); }
  .c-form_input_address input {
    width: 100%;
    border: none;
    background: #809EAD;
    color: #F2F2F2;
    font-size: 3.2rem;
    height: 64px;
    text-align: center;
    padding: 0 16px;
    line-height: 64px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-weight: 500;
    opacity: 1; }
    .c-form_input_address input::-webkit-input-placeholder {
      color: #F2F2F2;
      opacity: 0.7;
      font-style: italic;
      font-weight: 400; }
    .c-form_input_address input::-ms-input-placeholder {
      color: #F2F2F2;
      opacity: 0.7;
      font-style: italic;
      font-weight: 400; }
    .c-form_input_address input::placeholder {
      color: #F2F2F2;
      opacity: 0.7;
      font-style: italic;
      font-weight: 400; }
    .c-form_input_address input:hover {
      position: relative;
      -webkit-box-shadow: 0 0 10px #333;
      box-shadow: 0 0 10px #333; }
  .c-form_input_address input[required] {
    background-image: url("../img/required.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: right;
    padding-right: 80px; }
  .c-form_input_address--textarea {
    width: 100%;
    height: auto; }
    .c-form_input_address--textarea textarea {
      width: calc(100% - 32px);
      background: #F2F2F2;
      border: none;
      min-height: 352px;
      resize: vertical;
      padding: 0;
      margin: 0;
      color: #809EAD;
      font-size: 2.4rem;
      padding: 16px;
      line-height: normal;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .c-form_input_address--textarea textarea::-webkit-input-placeholder {
        text-align: center;
        line-height: 352px;
        color: #ABADB0; }
      .c-form_input_address--textarea textarea::-ms-input-placeholder {
        text-align: center;
        line-height: 352px;
        color: #ABADB0; }
      .c-form_input_address--textarea textarea::placeholder {
        text-align: center;
        line-height: 352px;
        color: #ABADB0; }
      .c-form_input_address--textarea textarea:hover {
        position: relative;
        -webkit-box-shadow: 0 0 10px #333;
        box-shadow: 0 0 10px #333; }
    .c-form_input_address--textarea p {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      background: #809EAD;
      color: #F2F2F2;
      font-size: 2.4rem;
      min-width: 100px;
      width: auto;
      height: 48px;
      text-align: center;
      line-height: 48px;
      padding: 0 8px;
      pointer-events: none; }
      .c-form_input_address--textarea p span:nth-child(1) {
        font-size: 3.2rem; }

/*
 *================================================================
 * ANCHOR | S L I D E R
 *
 *		@slider
 *================================================================
 */
.c-product_slide--container {
  width: 400px;
  height: 400px; }

.c-product_slide--page {
  position: relative !important;
  width: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  bottom: -10px !important; }
  .c-product_slide--page .swiper-pagination-bullet {
    width: 64px;
    height: 64px;
    -webkit-border-radius: 0;
    border-radius: 0;
    opacity: 0.65;
    margin: 10px 20px 10px 0 !important;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: inset 0 0 100px #809EAD;
    box-shadow: inset 0 0 100px #809EAD; }
    .c-product_slide--page .swiper-pagination-bullet:hover {
      opacity: 1;
      -webkit-box-shadow: inset 0 0 30px #809EAD;
      box-shadow: inset 0 0 30px #809EAD; }
    .c-product_slide--page .swiper-pagination-bullet:nth-child(5n) {
      margin-right: 0 !important; }
  .c-product_slide--page .swiper-pagination-bullet-active {
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none; }

/*
 *================================================================
 * ANCHOR | M I S C E L L A N E O U S
 *
 *		@msic
 *================================================================
 */
.c-misc_hr {
  display: block;
  border-top: 1px solid #BDBDB0;
  margin: 32px auto; }

/*
 *================================================================
 * ANCHOR | W P    C O M M E N T
 *
 *		@wpcomment
 *================================================================
 */
.form-submit {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0; }

/*
 *================================================================
 * ANCHOR | I N D E X
 *
 *		@index
 *================================================================
 */
.p-index * {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/*
 *================================================================
 * ANCHOR | S E C T I O N    1
 *
 *		@sec1
 *================================================================
 */
.p-index_1 {
  margin-bottom: 128px; }
  .p-index_1 .c-title {
    margin-bottom: 64px; }

/*
 *================================================================
 * ANCHOR | S E C T I O N    2
 *
 *		@sec2
 *================================================================
 */
.p-index_2 {
  background: #F2F2F2;
  padding: 32px 0 192px 0; }
  .p-index_2 .c-title {
    margin-bottom: 64px; }

/*
 *================================================================
 * ANCHOR | B L O G
 *
 *		@blog
 *================================================================
 */
.p-blog .l-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px; }

/*
 *================================================================
 * ANCHOR | S H O P
 *
 *		@shop
 *================================================================
 */
.p-shop .l-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px; }

/*
 *================================================================
 * ANCHOR | P A G E
 *
 *		@page
 *================================================================
 */
.p-page {
  padding-bottom: 128px; }

/*
 *================================================================
 * ANCHOR | S E C T I O N
 *
 *		@section
 *================================================================
 */
.p-page_1 .c-page {
  color: #959A8F;
  line-height: normal; }

/*
 *================================================================
 * ANCHOR | P O S T
 *
 *		@post
 *================================================================
 */
.p-post .c-misc_hr {
  width: 1000px; }

/*
 *================================================================
 * ANCHOR | S E C T I O N    P O S T    1
 *
 *		@sectionpost1
 *================================================================
 */
.p-post_1 .c-misc_hr {
  width: 100%; }

.p-post_1 .l-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.p-post_1 .l-container_side {
  margin: 0 0 192px 0; }

.p-post_1 .c-post {
  color: #959A8F;
  line-height: normal; }

.p-post_1 .l-comment .c-pagination {
  margin: 64px 0; }

.p-post_1 .l-comment .l-post_comment {
  margin-top: 64px; }

/*
 *================================================================
 * ANCHOR | P O S T    C O N T E N T
 *
 *		@postcontent
 *================================================================
 */
.c-post * {
  line-height: normal; }

.c-post img {
  max-width: 100%;
  margin: 16px 0; }

.c-post hr {
  margin: 16px 0; }

/*
 *================================================================
 * ANCHOR | P R O D U C T
 *
 *		@product
 *================================================================
 */
/*
 *================================================================
 * ANCHOR | S E C T I O N    1
 *
 *		@sec1
 *================================================================
 */
.p-product_1 {
  margin-bottom: 128px; }
  .p-product_1 .l-product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

/*
 *================================================================
 * ANCHOR | S E C T I O N    2
 *
 *		@sec2
 *================================================================
 */
.p-product_2 {
  background: #F2F2F2;
  padding: 64px 0 192px 0; }
  .p-product_2 .c-title {
    color: #ABADB0;
    margin-bottom: 64px; }

/*
 *================================================================
 * ANCHOR | C A R T
 *
 *		@cart
 *================================================================
 */
/*
 *================================================================
 * ANCHOR | S E C T I O N    1
 *
 *		@sec1
 *================================================================
 */
.p-cart_1 .c-table_1 {
  margin-top: 64px;
  margin-bottom: 64px; }

/*
 *================================================================
 * ANCHOR | S E C T I O N    2
 *
 *		@sec2
 *================================================================
 */
.p-cart_2 {
  margin-top: 128px;
  padding-bottom: 128px; }
  .p-cart_2 .c-table_2 {
    margin-top: 32px; }

/*
 *================================================================
 * ANCHOR | C H E C K O U T
 *
 *		@checkout
 *================================================================
 */
/*
 *================================================================
 * ANCHOR | S E C T I O N    1
 *
 *		@sec1
 *================================================================
 */
.p-checkout_1 {
  margin-bottom: 128px; }
  .p-checkout_1 .c-table_1 {
    margin-top: 64px;
    margin-bottom: 64px; }

/*
 *================================================================
 * ANCHOR | S E C T I O N    2
 *
 *		@sec2
 *================================================================
 */
.p-checkout_2 {
  margin-bottom: 128px; }
  .p-checkout_2 .c-form_input_address {
    margin-top: 32px; }

/*
 *================================================================
 * ANCHOR | S E C T I O N    3
 *
 *		@sec3
 *================================================================
 */
.p-checkout_3 {
  padding-bottom: 128px; }
  .p-checkout_3 .c-payment_method {
    margin-top: 32px;
    margin-bottom: 64px; }
    .p-checkout_3 .c-payment_method .c-block_submit {
      margin: 0; }
      .p-checkout_3 .c-payment_method .c-block_submit--content {
        display: none; }
      .p-checkout_3 .c-payment_method .c-block_submit:first-child .c-block_submit--content {
        display: block; }
  .p-checkout_3 .c-block_submit {
    margin-bottom: 64px; }

/*
 *================================================================
 * ANCHOR | B I L L
 *
 *		@bill
 *================================================================
 */
/*
 *================================================================
 * ANCHOR | S E C T I O N    1
 *
 *		@sec1
 *================================================================
 */
.p-bill_1 {
  margin-bottom: 128px; }
  .p-bill_1 .c-txt_thanks {
    margin-top: 32px;
    margin-bottom: 64px; }

/*
 *================================================================
 * ANCHOR | S E C T I O N    2
 *
 *		@sec2
 *================================================================
 */
.p-bill_2 {
  margin-bottom: 128px; }
  .p-bill_2 .c-table_1 {
    margin-top: 32px;
    margin-bottom: 64px; }

/*
 *================================================================
 * ANCHOR | S E C T I O N    3
 *
 *		@sec3
 *================================================================
 */
.p-bill_3 {
  padding-bottom: 128px; }
  .p-bill_3 .c-table_2 {
    margin-top: 32px;
    margin-bottom: 16px; }


/*
 *================================================================
 * animation for posts when scrolling
 *================================================================
 */    
.c-card-effect {
  animation: effect 2s ease;
}
  
/*Safari 4.0 - 8.0*/
@-webkit-keyframes effect {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@keyframes effect {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
  