@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/*------------------------------------------------------------
  Component eon page
------------------------------------------------------------*/
.c {
  &-nav {
    max-width:  1201px;
    display:  block;
    margin-bottom: 15px;

    ul {
      @extend %tb-flex-between;
    }
    li {
      border-left: 1px solid black;
      @extend %txt-center;
      a { display:  block; }
      &:last-child {border-right: 1px solid black;}
    }
  }

  //show on pc
  &-pc {
    display: block!important;
    @include respond-to(736) { display: none!important; }
    &--inline {
        display: inline-block!important;
        @include respond-to(736) { display: none!important; }
    }
  }
  
  //show on smartphone
  &-sp {
    display: none!important;
    @include respond-to(736) { display: block!important; }
    &--inline {
        display: none!important;
        @include respond-to(736) { display: inline-block!important; }
    }
  }

  // &-btn { display: block; }

  &-box {
    @extend %tb-flex;
    &--reverse { flex-direction: row-reverse; }
    @include respond-to(736) { display: block; }
  }

  &-eon1 {
    &-box1 {
      margin-left: 58px;
      text-align: left;
    }
    @include respond-to(736) {
      &-box1, &-box2 {
        width: 86%!important;
        max-width: 375px;
        margin: 0 auto;
      }
    }

    // text 1. Ex: 凄シェルダブルトレンチコート
    &__text1 {
      @include fs(3.2,2);
      font-weight: bold;
      letter-spacing: 1px;
      @include respond-to(736) {
        font-weight: 500;
        @include fs(2.8,2);
      }
    }

    // text 2. Ex: 撥水・透湿・防風のマルチ機能を備えた...
    &__text2 {
      font-size: 2.0rem;
      font-weight: bold;
      @include respond-to(736) {
        @include fs(3.2,2);
      }
    }

    //text3. Ex: TV149ST32R7
    &__text3 {
      font-size: 1.4rem;
      font-weight: bold;
      letter-spacing: 1px;
      @include respond-to(736) {
        @include fs(2.4,2);
        font-weight: 500;
      }
    }
  }
}
