@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
	transform: scale(1);
	background-size: cover;
	-webkit-background-size: cover;
	display: flex;
}

header {
  padding-bottom: 12px;
  padding-top: 4px;
  border-top: 5px solid #4e4e4e;
  @include respond-to(736) {
    padding: 0;
    border-top: 10px solid #3d3d3d;
    img.c-sp { width: 100%; }
  }
}

.wrap {
  display:  block;
  width: 1201px;
  height: auto;
  margin: 0 auto;
  z-index: 999;
  @extend %pos-relative;
  @include respond-to(736) {
      width: 100%;
  }
}

/*------------------------------------------------------------
	private element
------------------------------------------------------------*/
.p {
  //eon1
	&-eon1 {
    &-text1 {
    	margin: 39px auto 97px;
    	text-align:  center;
    	font-size: 1.6rem;
      line-height: 28px;
      font-weight: bold;
      letter-spacing: 1.6px;
      @include respond-to(736) {
        margin: 23px auto 42px;
        padding: 0 44px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2.1rem;
      }
    }
  }

  //eon2
  &-eon2 {
  	margin-bottom: 6px;
    @include respond-to(736) {
        margin-bottom: calc-size(80);
    }
    &-img1 {
        img {
          height: 600px;
          @include respond-to(736) {
            max-width: calc-size(750);
            height: auto!important;
          }
        }
        @include respond-to(736) { margin-bottom: 24px; }
    }
  	&-tit1 {
      margin-top: 2px;
      margin-bottom: 32px;
      margin-left: -1px;
      .img-col01 {
        img { display: block; }
        @include respond-to(736) {
          img:first-child {
            width: calc-size(292);
          }
          img:last-child {
            width: calc-size(342);
          }
        }
      }
      @include respond-to(736) {
        margin-bottom: calc-size(57);
      }
    }
  	&-text0 {
      margin-bottom: 35px;
      margin-left: 7px;
      line-height: 24px;
      @include respond-to(736) {
        margin: 0 0 13px;
        line-height: calc-size(4.2,rem);
      }
  	}
  	&-text1 {
  		margin: 28px 0 11px 8px;
      @include respond-to(736) {
        margin: 18px 0 9px 0;
      }
  	}
  	&-text2 {
      padding-left: 9px;
      line-height: 2.5rem;
      letter-spacing: 1px;
	    img {
	    	vertical-align:  bottom;
	      margin-right: 11px;
	    }
      @include respond-to(736) {
        padding-left: 0;
        img {width: calc-size(96); }
      }
  	}
  	&-text3 {
  		margin: 6px 0 11px 12px;
      font-size: 1.3rem;
      @include respond-to(736) {
        margin-left: 7px;
        margin-bottom: 15px;
        font-size: calc-size(2.2,rem);
      }
  	}
    &-btn1 {
      display: inline-block;
      margin: -2px 5px;
      @include respond-to(736) {
        margin: 0;
        img { width: 100%; }
      }
    }
  }

  //eon3
  &-eon3 {
  	margin-bottom: 41px;
  	background: #eef2f5;
    padding: 73px;
    justify-content: space-between;
    border-radius: 11px;
    @include respond-to(736) {
      box-sizing: border-box;
      margin: 0 auto calc-size(5.1,rem);
      padding: 17px 22px 22px;
    }
    &-box1 {
    	width: 422px;
	    padding-top: 18px;
        @include respond-to(736) {
          width: auto;
          padding-top: 0;
        }
	    h2 {
		    margin-bottom: 4.1rem;
        @include respond-to(736) {
          width: 135px;
          margin: 0 auto 3.3rem;
        }
        &>img {
          box-sizing: border-box;
          margin-left: -10px;
          @include respond-to(736) { width: 135px; }
        }
		  }
			p {
		    text-align: justify;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 33px;
        margin-bottom: 35px;
        letter-spacing: -1px;
        @include respond-to(736) {
          @include fs(2.8, 2);
          font-weight: 500;
          letter-spacing: 1px;
          line-height: calc-size(40);
          margin-bottom: calc-size(3.9,rem);
        }
			}
    }
    &-box2 {
      margin: 1px 2px 0 0;
      @include respond-to(736) {
        .img-img2 { width: 100%; }
      }
    }
    &-label1 {
	    margin-bottom: 92px;
      @include respond-to(736) {
        width: 86%;
        max-width: 375px;
        margin: 0 auto calc-size(9.2,rem);

      }
      .img-img3 {
        margin-left: -1px;
        @include respond-to(736) {
          margin-left: 0;
          width: 100%;
        }
      }
	  }
    &-btn1 {
      display: inline-block;
      margin-right: 19px;
      @include respond-to(736) {
        margin: calc-size(3.6,rem) auto calc-size(4.9,rem);
        img {width: 100%;}
      }
    }
    &--mb0 {margin-bottom: 0;}
  }

  //eon4
  &-eon4 {
  	margin-bottom: 62px;
    @extend %tb-flex-between;
    @include respond-to(736) {
      display: block;
      margin-bottom: calc-size(161);
      .l-list-btn--ml7 { margin: 0; }
    }
    &-img1 {
      img { height: 600px; }
      @include respond-to(736) {
        margin-bottom: calc-size(48);
        img {
            max-width: 375px;
            height: auto!important;
        }
      }
    }
  	&-box1 {
  		width: 523px;
	    text-align: left;
      margin-right: 58px;
      @include respond-to(736) {
        margin: 0 auto;
      }
  	}
  	&-tit1 {
      margin: 2px auto 33px -2px;
      .img-col01 {
        img { display: block; }
        @include respond-to(736) {
          img:first-child {
            width: calc-size(286);
          }
          img:last-child {
            width: calc-size(540);
          }
        }
      }
      @include respond-to(736) {
        margin: 0 auto calc-size(54) 0;
      }
    }
  	&-text0 { padding: 0 0 0 5px; }
  	
    &-text1 {
  		margin: 136px 0 4px 5px;
      @include respond-to(736) {
        margin-top: 21px;
      }
  	}

  	&-text2 {
      padding-left: 4px;
      letter-spacing: 0.7px;
	    @include respond-to(736) {
        margin-left: 4px;
        margin-bottom: 16px;
      }
      img {
	    	vertical-align:  bottom;
	      margin-right: 13px;
	    }
  	}

  	&-text3 {
  		margin: -4px 0 12px 11px;
      font-size: 1.2rem;
      @include respond-to(736) {
        margin-bottom: 15px;
        font-size: 1.1rem;
      }
  	}

  }

  //eon5
  &-eon5 {
  	margin-bottom: 44px;
    @include respond-to(736) { margin-bottom: calc-size(95); }
    &-img1 {
      img { height: 600px; }
      @include respond-to(736) {
        margin-bottom: calc-size(48);
        img {
          max-width: 375px;
          height: auto !important;
          margin: 0 auto;
        }
      }
    }
  	&-tit1 {
      margin: 4px auto 29px 0;
      .img-col01 {
        img { display: block; }
        @include respond-to(736) {
          img:first-child {
            width: calc-size(290);
          }
          img:last-child {
            width: calc-size(384);
          }
        }
      }
      @include respond-to(736) {
        .img-col01 {
            width: 100%;
            max-width: calc-size(384);
        }
      }
    }
  	
    &-text0 {
      margin-left: 10px;
      @include respond-to(736) {
        margin-left: 0;
      }
  	}
  	
    &-text1 {
  		margin: 115px 0 3px 9px;
      @include respond-to(736) {
        margin-top: 21px;
        margin-left: 0;
      }
  	}
  	
    &-text2 {
  		padding-left: 8px;
      letter-spacing: 1.5px;
      @include respond-to(736) {
        margin-bottom: 10px;
        padding-left: 1px;
      }
		    img {
		    	vertical-align:  bottom;
		      margin-right: 13px;
		    }
  	}
  	
    &-text3 {
  		margin: -1px 0 11px 14px;
		  font-size:  1.2rem;
      @include respond-to(736) {
        margin-left: 4px;
        font-size: 1.1rem;
      }
  	}
  }
}

/*------------------------------------------------------------
  footer
------------------------------------------------------------*/
footer {
  position: relative;
  margin-top: 73px;
  background: #f2f2f2;
  img {
    max-width: 100%;
    width: 1300px;
  }
}

// btn top
.btn-top {
    position:  absolute;
    right: 5%;
    top: -35px;
}
.btn-top img {
  width: 51px;
  height: 51px;
}

/*------------------------------------------------------------
  slider
------------------------------------------------------------*/
.bx-wrapper {
    width: 520px;
    border: none;
    background: none;
    @include respond-to(736) {
      width: 86%;
      max-width: 375px!important;
      margin: 0 auto 60px;
    }
}

.bx-viewport {
  height: auto !important;
}

.bx-wrapper .bx-controls-direction a {
  height: 80px;
}

.bx-wrapper .bx-prev {
  left: 21px;
  background: url(../img/arrow.png) no-repeat 0 2px;
  @include respond-to(736) {
    background: url(../img/sp-arrow.png) no-repeat 15px 24px;
    background-size: 41px 40px;
    left: 1px;
  }
}
.bx-wrapper .bx-next {
  right: 18px;
  background: url(../img/arrow.png) no-repeat -37px 1px;
  @include respond-to(736) {
    background: url(../img/sp-arrow.png) no-repeat -19px 24px;
    background-size: 41px 40px;
    right: 7px;
  }
}

.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
  background-position: 0 2px;
  @include respond-to(736) {
    background-position: 15px 24px;
  }
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
  background-position: -37px 1px;
  @include respond-to(736) {
    background-position: -19px 24px;
  }
}

.bx-wrapper .bx-controls-direction a { top: 46%; }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: -25px;
  left: -6px;
}