@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/
/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u-locate1 {
  margin-right: 10px;
}

.u-text--red {
  color: red;
}

.u-text1--blue {
  color: #4471c6;
}

.u-bg--red {
  background: rgba(225, 57, 57, 0.11) !important;
}

@media only screen and (max-width: 768px) {
  .u-imgtext1 {
    width: 220px;
  }
  .u-imgtext2 {
    width: 139px !important;
  }
  .u-imgtext3 {
    width: 77px !important;
  }
  .u-imgtext4 {
    width: 108px !important;
  }
  .u-imgtext5 {
    width: 92px !important;
  }
  .u-imgtext6 {
    width: 158px !important;
  }
  .u-imgtext7 {
    width: 95px !important;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1000px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: center;
  color: #333333;
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 100%;
  }
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l--hidden {
  overflow: hidden;
}

.l--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l--left {
  float: left;
}

.l--right {
  float: right;
}

.l--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  .l-spblock {
    display: block;
  }
}

/*------------------------------------------------
  grid
------------------------------------------------*/
.l-grid1 {
  display: grid;
  grid-template-columns: 229px 229px 229px 229px;
  grid-column-gap: 28px;
}

@media only screen and (max-width: 768px) {
  .l-grid1 {
    grid-template-columns: 135px 135px;
    grid-column-gap: 21px;
    grid-row-gap: 25px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-grid1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 768px), only screen and (-ms-high-contrast: none) and (max-width: 768px) {
  .l-grid1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-grid1--item1 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .l-grid1--item1 img {
    width: 135px;
  }
}

.l-grid1--item1 a {
  display: block;
}

.l-grid2 {
  display: grid;
  grid-template-columns: 312px 312px 312px;
  grid-column-gap: 30px;
  overflow: hidden;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .l-grid2 {
    grid-template-columns: auto;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-grid2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 768px), only screen and (-ms-high-contrast: none) and (max-width: 768px) {
  .l-grid2 {
    display: block;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-grid2--item1 {
    width: 315px;
  }
}

.l-grid2--item1 .c-mtitle__tit1 {
  margin-bottom: 4px;
}

@media only screen and (max-width: 768px) {
  .l-grid2--item1:nth-child(1) .c-mtitle__tit1 img {
    width: 94px;
  }
  .l-grid2--item1:nth-child(2) .c-mtitle__tit1 img {
    width: 122px;
  }
  .l-grid2--item1:nth-child(3) .c-mtitle__tit1 {
    margin-bottom: 0;
  }
  .l-grid2--item1:nth-child(3) .c-mtitle__tit1 img {
    width: 172px;
  }
  .l-grid2--item1 .c-mtitle__tit1 {
    margin-bottom: 9px;
  }
}

.l--mb112 {
  margin-bottom: 121px;
}

.l-content--mt17 {
  margin-top: 8px;
}

@media only screen and (max-width: 768px) {
  .l-content--mt17 {
    margin-top: -6px;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.c-wrap {
  display: block;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-wrap {
    width: 100%;
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*--------------------------------------------------
  Component index
----------------------------------------------------*/
.c {
  /*----------------------------
    c-sparrow1.menu's arrows(sp)
  ----------------------------*/
  /*----------------------------
    c-sphead.header(sp)
  ----------------------------*/
  /*----------------------------
    c-f.Footer component
  ----------------------------*/
  /*----------------------------
    c-ftable(sp)
  ----------------------------*/
  /*----------------------------
    c-copyright
  ----------------------------*/
  /*----------------------------
    c-contactbox
  ----------------------------*/
}

.c-pc {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc {
    display: none !important;
  }
}

.c-pc--inline {
  display: inline-block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc--inline {
    display: none !important;
  }
}

.c-sp {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp {
    display: block !important;
  }
}

.c-sp--inline {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp--inline {
    display: inline-block !important;
  }
}

.c-sp-listbtn {
  text-align: center;
}

.c-sp-listbtn a {
  display: inline-block !important;
  margin: 0 auto;
  padding-top: 0px !important;
  text-align: center;
}

.c-sp-listbtn a:first-child {
  padding-top: 30px !important;
  padding-bottom: 15px;
}

.c-sp-listbtn a:last-child {
  margin-bottom: 15px;
}

.c-sp-listbtn a img {
  width: 290px;
}

.c-menuSP {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 11px;
  right: 14px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  cursor: pointer;
  z-index: 9999;
  background: #4471c6;
  border-radius: 4px;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 15px;
  height: 2px;
  background: #fff;
  margin: 5px auto auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menulistSP {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  display: none;
  background: rgba(68, 113, 198, 0.65);
}

.c-menulistSP li {
  position: relative;
  border-top: 1px solid #7998ce;
}

.c-menulistSP a {
  text-decoration: none;
  display: block;
  text-align: left;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 19px 15px;
}

@media only screen and (max-width: 768px) {
  .c-menulistSP a {
    font-size: 1.5rem;
  }
}

.c--bordertop {
  border-top: 1px solid #ccc;
}

.c-textdeco1 {
  color: #4471c6;
}

.c-textdeco1:after {
  content: '';
  width: 55px;
  height: 1px;
  margin: 11px auto 0;
  background: #4471c6;
  display: block;
}

@media only screen and (max-width: 768px) {
  .c-textdeco1:after {
    width: 25px;
  }
}

.c-mbanner1 {
  height: 600px;
  background: url(../img/banner1.jpg) no-repeat;
  background-size: cover;
  position: relative;
  display: block;
}

@media only screen and (max-width: 768px) {
  .c-mbanner1 {
    height: auto;
    background: none;
  }
}

.c-mbanner1__textimg {
  position: absolute;
  top: 150px;
  background: rgba(68, 113, 198, 0.76);
}

@media only screen and (max-width: 768px) {
  .c-mbanner1__textimg {
    position: relative;
    top: -81px;
    margin: 0 auto;
    background: none;
    text-align: center;
    display: block;
  }
  .c-mbanner1__textimg img {
    width: 291px;
  }
}

.c-mbanner1__spbg {
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .c-mbanner2--padcent {
    padding: 0 20px;
  }
}

.c-mbanner2-tit1 h2 {
  margin-bottom: 6px;
}

@media only screen and (max-width: 768px) {
  .c-mbanner2-tit1 h2 {
    margin-bottom: 5px;
  }
}

.c-h {
  position: relative;
  display: block;
  height: auto;
  padding: 25px 0;
  z-index: 999;
}

.c-h:after {
  display: block;
  clear: both;
  content: "";
}

@media only screen and (max-width: 768px) {
  .c-h {
    padding: 16px 0;
  }
}

.c-h-list1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-h-list1 li {
  margin-right: 20px;
}

.c-h-list1 li:last-child {
  margin-right: 0;
}

.c-navi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../img/linemenu.png) no-repeat left;
}

.c-navi li {
  width: 165px;
  -webkit-box-sizing: boder-box;
          box-sizing: boder-box;
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/linemenu.png) no-repeat right;
}

.c-navi li:hover a {
  color: white;
  background: #4471c6;
}

.c-navi a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 23px 0;
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .c-sptext--left {
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .c-sptext--width290 {
    width: 290px;
    margin: 0 auto;
  }
}

.c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-list1--col3 .c-list1__card:nth-child(4n+1) {
  margin-left: 30px;
}

.c-list1--col3 .c-list1__card:nth-child(3n+1) {
  margin-left: 0;
}

.c-list1--col3 .c-list1__card:nth-child(4n+1) {
  margin-left: 0;
}

.c-list1__card {
  margin-left: 30px;
}

.c-list1__img1 {
  position: relative;
}

.c-list1__info {
  color: white;
  background: #4471c6;
}

.c-list1__text {
  padding: 19px 0 12px;
  line-height: 1.7;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-list1__text {
    padding: 13px 0 10px;
    line-height: unset;
  }
}

.c-list1__text h3 {
  margin-bottom: 7px;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .c-list1__text h3 {
    margin-bottom: 2px;
  }
  .c-list1__text h3 img {
    width: 98px;
  }
}

.c-list1--col4 .c-list1__card:nth-child(4n+1) {
  margin-left: 0px;
}

.c-list1--col4 .c-list1__card {
  margin-left: 29px;
}

.c-btn1 {
  display: inline-block;
}

.c-btn1 a {
  display: block;
}

@media only screen and (max-width: 768px) {
  .c-btn1 img {
    width: 290px;
  }
}

.c-sparrow1 {
  position: absolute;
  right: 14px;
  top: 23px;
}

.c-sparrow1 img {
  width: 15px;
}

.c-sphead__img1 {
  margin-top: 7px;
  margin-left: 15px;
}

.c-sphead__img1 img {
  width: 215px;
}

.c-sphead__text {
  font-size: 1.0rem;
  text-align: left;
  padding: 11px 16px 6px;
  border-bottom: 2px solid #e5e5e5;
}

.c-f {
  padding: 28px 0;
  background: #4471c6;
  color: #f6f8fc;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .c-f {
    padding: 0;
    border-top: 2px solid #4471c6;
    background: none;
    padding-bottom: 0;
  }
}

.c-f-listpc {
  margin-bottom: 14px;
}

.c-f-listpc .l--flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-f-listpc li {
  position: relative;
  border-left: 1px solid white;
}

.c-f-listpc li:first-child {
  border-left: none;
}

.c-f-listpc a {
  display: block;
  padding: 0 13px 0 10px;
  color: #f6f8fc;
  text-decoration: none;
}

.c-f-listpc a:hover {
  text-decoration: underline;
}

.c-f-listsp {
  margin-bottom: 14px;
}

@media only screen and (max-width: 768px) {
  .c-f-listsp {
    margin: 0 auto;
  }
}

.c-f-listsp .l--flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .c-f-listsp .l--flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.c-f-listsp li {
  position: relative;
  border-left: 1px solid white;
}

@media only screen and (max-width: 768px) {
  .c-f-listsp li {
    width: 130px;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
    margin-bottom: 33px;
  }
  .c-f-listsp li:nth-child(2n) {
    margin-left: 28px;
  }
}

.c-f-listsp li:first-child {
  border-left: none;
}

.c-f-listsp a {
  display: block;
  padding: 0 13px 0 10px;
  color: #f6f8fc;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .c-f-listsp a {
    padding: 0;
    color: #333333;
  }
}

.c-ftable table {
  width: 100%;
  height: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.c-ftable a {
  padding: 16px 15px 20px;
}

.c-ftable td {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.c-ftable td:first-child {
  border-right: 1px solid #dddddd;
}

.c-ftable tr {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.c-ftable .c-sparrow2 {
  position: absolute;
  right: 14px;
  top: 16px;
}

.c-ftable .c-sparrow2 img {
  width: 15px;
}

.c-ftable-btn1 {
  position: relative;
  text-align: center;
}

.c-ftable-btn1 img {
  width: 15px;
}

.c-copyright {
  margin-left: -5px;
  font-size: 1.0rem;
}

@media only screen and (max-width: 768px) {
  .c-copyright {
    padding: 7px 0;
    background: #4471c6;
  }
}

.c-contactbox {
  padding: 62px 0 60px;
  color: #585550;
  border-top: 1px solid #cccccc;
}

@media only screen and (max-width: 768px) {
  .c-contactbox {
    padding: 46px 0 36px;
  }
  .c-contactbox p {
    font-size: 1.3rem;
  }
}

.c-contactbox h2 {
  margin-bottom: 11px;
}

@media only screen and (max-width: 768px) {
  .c-contactbox h2 {
    margin-bottom: 6px;
  }
  .c-contactbox h2 img {
    width: 224px;
  }
}

.c-contactbox-box1 {
  margin-top: 38px;
}

@media only screen and (max-width: 768px) {
  .c-contactbox-box1 {
    margin-top: 27px;
  }
}

.c-contactbox-box1 h3 {
  font-size: 1.6rem;
  margin-bottom: 13px;
}

@media only screen and (max-width: 768px) {
  .c-contactbox-box1 h3 {
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
}

.c-contactbox-list1 a {
  position: relative;
  left: -11px;
  text-decoration: none;
}

.c-contactbox-list1 a:last-child {
  left: 6px;
}

@media only screen and (max-width: 768px) {
  .c-contactbox-list1 a {
    left: 0;
    margin: 0 auto;
  }
  .c-contactbox-list1 a:first-child img {
    width: 290px;
    margin: 0 auto 10px;
  }
  .c-contactbox-list1 a:last-child {
    left: 0;
  }
  .c-contactbox-list1 a:last-child img {
    width: 140px;
  }
}

.c-hr {
  width: 100%;
  height: 15px;
  margin: 31px 0;
  background: url(../img/company/sp-line1.png) repeat-x;
  background-size: 100% 100%;
}

.c-hr--mbt1 {
  margin: 28px 0 22px;
}

.c-hr--mbt2 {
  margin: 24px 0 28px;
}

/*-----------------------------
  company component
------------------------------*/
.c-spcomp3--mb1 {
  margin-bottom: 31px;
}

.c-company6-box1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 18px 13px;
  line-height: 1.6;
  height: 100%;
  background: #e9eff2;
}

/*-----------------------------------------------
  Table
-----------------------------------------------*/
.c-table1 {
  text-align: left;
}

.c-table1 table {
  width: 100%;
  height: auto;
  border-spacing: 0;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

.c-table1 table tr {
  width: 100%;
  vertical-align: text-top;
  border: 1px solid #d4d4d4;
}

.c-table1 table tr > th {
  width: 209px;
  background: #f6f6f6;
  font-weight: normal;
  border-right: 1px solid #d4d4d4;
}

.c-table1 table tr > th, .c-table1 table tr td {
  padding: 19px 20px 18px;
}

/*--------------------------------
  banner and breadcrumb
--------------------------------*/
.c-banner1 {
  display: block;
  height: 240px;
  background-size: cover !important;
}

@media only screen and (max-width: 768px) {
  .c-banner1 {
    height: 150px;
  }
}

.c-banner1__title {
  padding-top: 94px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .c-banner1__title {
    padding-top: 54px;
  }
  .c-banner1__title h2 {
    font-size: 1.4rem;
    font-weight: normal;
  }
  .c-banner1__title h2 img {
    width: 109px;
  }
}

.c-banner1--mt10 {
  display: block;
  margin-top: 8px;
}

.c-banner1 h2 {
  font-weight: normal;
}

.c-breadcrumb1 {
  padding: 30px 0 58px;
}

.c-breadcrumb1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-breadcrumb1 li {
  line-height: 1;
  font-size: 1.2rem;
}

.c-breadcrumb1 li:after {
  content: ">";
  display: inline-block;
  margin: 0 5px 0 2px;
}

.c-breadcrumb1 li:last-child:after {
  content: "";
}

.c-breadcrumb1 li a {
  color: #4471c6;
  text-decoration: none;
}

.c-breadcrumb1 li a:hover {
  text-decoration: underline;
}

/*----------------------------
  navi component
----------------------------*/
.c-navi1 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
  .c-navi1 {
    width: 291px;
    margin: 30px auto 0;
  }
  .c-navi1 a {
    padding: 6px 0 6px !important;
  }
  .c-navi1 li:last-child a {
    margin-left: 14px !important;
  }
}

.c-navi1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-navi1 li {
  position: relative;
}

.c-navi1 li:after {
  content: '';
  width: 1px;
  height: 20px;
  background: #ccc;
  display: inline-block;
  position: absolute;
  top: 19px;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .c-navi1 li:after {
    height: 19px;
    top: 6px;
    right: -8px;
  }
}

.c-navi1 li:first-child a {
  padding-left: 0;
}

.c-navi1 li:last-child:after {
  width: 0;
}

.c-navi1 a {
  display: block;
  color: #4471c6;
  padding: 19px 21px 15px 19px;
  text-decoration: none;
}

.c-navi1 a img {
  vertical-align: middle;
  margin-left: 5px;
}

/*----------------------------
  business component
----------------------------*/
.c-business1-box1 {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .c-business1-box1 {
    width: 291px;
    margin: 44px auto 0;
  }
  .c-business1-box1 .c-business1__img img {
    width: 291px;
  }
}

.c-business1__text1 {
  width: 448px;
  line-height: 1.6;
}

@media only screen and (max-width: 768px) {
  .c-business1__text1 {
    width: auto;
    margin-top: 14px;
  }
}

.c-business1__text1 h3 {
  color: #4471c6;
  font-size: 1.4rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #4471c6;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .c-business1__text1 h3 {
    padding-bottom: 5px;
    margin-bottom: 13px;
    font-weight: 500;
  }
}

.c-business1__text1 h4 {
  color: #4471c6;
  font-weight: 500;
}

.c-business1__text1 p {
  margin-bottom: 12px;
}

.c-business1-list1 li {
  text-indent: -8px;
  padding-left: 9px;
}

@media only screen and (max-width: 768px) {
  .c-business1-list1 li {
    padding-right: 10px;
  }
}

.c-business1-list1 li::before {
  content: url(../img/business/i-dot.png);
  margin-right: 4px;
  color: #4471c6;
}

.c-business1-list1 li:last-child {
  margin-bottom: 0;
}

.c-medallist {
  margin-top: 27px;
}

@media only screen and (max-width: 768px) {
  .c-medallist {
    margin-top: 11px;
  }
}

.c-medal {
  width: 227px;
  padding: 18px 0 20px;
  border: 1px solid #4471c6;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .c-medal {
    width: auto;
    padding: 9px 0;
    margin-bottom: 15px;
    border-radius: 2px;
  }
  .c-medal:last-child {
    margin-bottom: 0;
  }
  .c-medal__img img {
    width: 15px;
  }
}

.c-medal__img {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .c-medal__img {
    margin-right: 6px;
  }
}

/*-------------------------
  title component
-------------------------*/
.c-mtitle__tit1 {
  font-size: 1.8rem;
}

.c-mtitle__tit1 img {
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .c-mtitle__tit1 {
    margin-bottom: 12px !important;
    font-size: 1.4rem;
  }
}

.c-mtitle__tit1:before {
  content: url(../img/business/i-icon1.png);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 14px;
  height: 14px;
  margin-right: 2px;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-mtitle__tit2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.c-mtitle__tit2::before {
  content: url(../img/business/i-dot.png);
  margin-right: 4px;
  color: #4471c6;
}

.c-mtitle--mb1 {
  margin-bottom: 24px;
}

.c-mtitle--mb2 {
  margin-bottom: 14px;
}

.c-mtitle--mb3 {
  margin-bottom: 30px;
}

/*---------------------------
  equipment component
---------------------------*/
.c-equipment2__text {
  margin-top: 17px;
  line-height: 1.6;
}

.c-equipment2-box1 {
  width: 484px;
  display: block;
}

/*---------------------------
  strength component
---------------------------*/
.c-strength3__text1 {
  width: 445px;
  text-align: left;
}

.c-strength3-box1 {
  margin-bottom: 122px;
}

.c-strength3-box1:last-child {
  margin-bottom: 0;
}

/*-----------------------------------------------------
  form
-----------------------------------------------------*/
.c-form1 table {
  border-bottom: 1px solid #e5e5e5;
}

.c-form1 table tr {
  border-top: 1px solid #e5e5e5;
}

.c-form1 table tr > th {
  vertical-align: top;
  width: 249px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.c-form1 table td {
  padding: 18px 21px 20px 21px !important;
}

.c-form1 table td input[type="text"] {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 29px;
  padding: 9px 10px;
  font-size: 1.4rem;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
}

.c-form1 table td input[type="text"]:last-child {
  margin-bottom: 0;
}

.c-form1 table td select {
  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 29px;
  padding: 0 17px;
  font-size: 1.4rem;
  margin-bottom: 10px;
  border: none;
  background: url(../img/contact/arrow.png) no-repeat 134px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #a0a0a0;
  background-color: white;
  border: 1px solid #dddddd;
}

.c-form1 table td select::-ms-expand {
  display: none;
}

.c-form1 table textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  border: 1px solid #dddddd;
}

.c-btn2 {
  display: inline-block;
  background: #d66363;
  font-size: 11px;
  color: white;
  padding: 1px 5px;
  text-decoration: none;
}

.c-btn2--gray {
  background: #999999;
}

.c-btn3 {
  display: inline-block;
  text-align: center;
  margin: 50px auto 0;
}

/*--------------------------------
  contact.html
--------------------------------*/
.c-hrr {
  width: 100%;
  height: 1px;
  background: #bdbdbd;
  position: absolute;
  top: 18px;
  z-index: -1;
}

.c-contact--w1 {
  width: 150px !important;
}

.c-contact--w2 {
  display: block;
  width: 420px !important;
}

/*---------------------------
  menu responsive
---------------------------*/
.is-open {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
}

/*---------------------------
  active menu
---------------------------*/
.active a {
  background: #4471c6 !important;
  color: white !important;
}
