@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 780px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 1.4rem;
	text-align: center;
  background-color:#ffffff;
	@include respond-to(768) {
		min-width: 100%;
    font-size: 1.2rem;
	}
}
//-------------------------------
#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}
//-------------------------------
.l-main {
	font-size: 1.4rem;
  @include ie() { display: block; }
	@include cf;
}
//-------------------------------
button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a { margin-right: 5px; }
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}

/*-----------------------------------------------
  header
-----------------------------------------------*/
header {
  position: relative;
  display: block;
  padding: 10px 0;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  //----------------------------------
  header {
    background: none;
    height: auto;
    overflow: unset;
    .l--flex { align-items: center; }
  }
  //------------------------------------
}

/*-----------------------------------------------
  footer
-----------------------------------------------*/
footer {
  position: relative;
  color: white;
  font-size: 1.5rem;
  background: #49c8b2;
  padding:  65px 0 65px;
  //-------------------
  h2 {
    font-size: 2.0rem;
    color:  black;
    font-weight:  bold;
    @include respond-to(768) {
      font-size: 2.2rem;
    }
  }
  //-------------------
  .l--flex {
    align-items: center;
    @include respond-to(768) {
      display: block;
    }
  }
  @include respond-to(768) {
    padding: 42px 0;
    .c-listimgf2 { display: none; }
  }
}
/*------------------------------------------------
  layout
------------------------------------------------*/
.l {
  &--hidden { overflow: hidden; }
  //-----------------------------------------
  &--flex {
    display: flex;
    justify-content: space-between;
  }
  //--------------------------------------
  &--left {
    float: left;
  }
  //------------------------------
  &-main {
    // margin: 62px 0 58px;
    margin: 65px 0 65px;
    @include respond-to(768) {margin: 33px 0 0;  }
  }
  &--firstpace::first-letter { margin-left: 10px;}
  //------------------------
  &-rule--mt26 { margin-top: 26px!important; }
  &--mt69 { margin-top: 69px }
}
