/*
Theme Name: training task_5
Theme URI: http://wordpress.org/;
Author: tho dang hoang
Author URI: http://wordpress.org/
Description: Create wordpress template using html files
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: dangtho
*/

#container-async .btn__tab1 .active {
  color: #fff;
  background: #00aa9d;
  border-color: #00aa9d;
}

.c-list1__card1 .card1__box2 h3 {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

.c-list1__card1 .card1__box2 h4 {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

.c-list1__card1 .card1__box2 h5 {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

.c-list1__card1 .card1__box2 h6 {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

@media only screen and (max-width: 767px) {
  .c-list1__card1 .card1__box2 h3,
  .c-list1__card1 .card1__box2 h4,
  .c-list1__card1 .card1__box2 h5,
  .c-list1__card1 .card1__box2 h6 {
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.3;
  }
}


@media only screen and (max-width: 767px) {
.p-top2__list1 .list1__card1 .card1__img1 img {height: auto;
}

/*-------------------------------------------*/

.c-form1__list1 .wpcf7-checkbox label {
  display: block;
  position: relative;
}

.c-form1__list1 .wpcf7-checkbox input[type=checkbox] {
  position: relative;
  visibility: hidden;
}

.c-form1__list1 .wpcf7-checkbox input[type=checkbox] + span {}

.c-form1__list1 .wpcf7-checkbox input[type=checkbox] + span:before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 5px;
  height: 18px;
  width: 18px;
  top: 0px;
  border: 2px solid #222;
}

.c-form1__list1 .wpcf7-checkbox input[type=checkbox] + span:after {
  display: block;
  position: absolute;
  content: '\2713';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 2px;
  left: 5px;
  visibility: hidden;
  font-size: 16px;
}

.c-form1__list1 .wpcf7-checkbox input[type=checkbox]:checked + span:before {
  background: transparent;
}

.c-form1__list1 .wpcf7-checkbox input[type=checkbox]:checked + span:after {
  visibility: visible;
}

.c-btn1 input[type=submit] {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 450px;
  height: 60px;
  padding: 18px;
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  background: #00aa9d;
  border: none;
  z-index: 1;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

@media only screen and (max-width: 767px) {
  .c-btn1 input[type=submit] {
    width: auto;
    height: auto;
    padding: 10px 7px;
    font-size: 1.3rem;
  }
}

.c-btn1 input[type=submit]:hover {
  top: 4px;
  left: 4px;
}

.c-btn1 input[type=submit]:after {
  content: url(../img/icon.png);
  position: absolute;
  top: 33%;
  right: 16px;
}

@media only screen and (max-width: 767px) {
  .c-btn1 input[type=submit]:after {
    top: 35%;
    zoom: 65%;
    right: 50px;
  }
}

/*---------------------------------------*/
.c-form1__list1 .form1__checkbox1 br {
    display: none;
}