@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/*--------------------------------------------------
  Component show following divice size.
----------------------------------------------------*/
.c {
  //show on pc-------------------------------------
  &-pc {
    display: block!important;
    //---------------------------------------------
    @include respond-to(767) { display: none!important; }
    //---------------------------------------------
    &--inline {
        display: inline-block!important;
        @include respond-to(767) { display: none!important; }
    }
    //-----------------------------------
  }
  //show on smartphone-------
  &-sp {
    display: none!important;
    //-----------------------------------
    @include respond-to(767) { display: block!important; }
    //-----------------------------------
    &--inline {
        display: none!important;
        //-----------------------------------
        @include respond-to(767) { display: inline-block!important; }
    }
    //------------------------------------------
  }
  //-------------------------
  &-menuSP {
    position: absolute;
    box-sizing: border-box;
    top: 11px;
    right: 14px;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    cursor: pointer;
    z-index: 9999;
    background: #72bfd4;
    border-radius: 4px;
    //--------------------
    &__1, &__2, &__3 {
      width: 15px;
      height: 2px;
      background: #fff;
      margin: 5px auto auto;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
    //---------------------------
  }
  //-------------------------
  &-menulistSP {
    position: absolute;
    width: 100%;
    top: 68px;
    left: 0;
    box-sizing: border-box;
    z-index: 1;
    display: none;
    background: rgba(114, 191, 212, 0.87);
    overflow-x: hidden;
    //----------------------------
    li {
      position: relative;
      border-top: 1px solid #5c9f98;
    }
    //----------------------------
    a {
      text-decoration: none;
      display: block;
      text-align: left;
      color: #ffffff;
      font-size: 1.4rem;
      padding: 19px 15px;
      //---------------------------
      @include respond-to(768) {
        font-size: 1.5rem;
      }
      //---------------------------
    }
    //----------------------------
  }
  //-------------------------
  &-sphead {
    position: fixed;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    //-------------------------------
    &__img1 {
      text-align: left;
      //-----------------------------
      img { width: 181px; }
    }
    //-------------------------------
  }
  //---------------------------------
}

/*---------------------------
  menu responsive
---------------------------*/
.is-open {
  transition: all 0.5s;
  .c-menuSP__1 {transform: rotate(45deg) translate(6px, 6px);}
  .c-menuSP__2 {opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(4px, -4px);}
}

/*-------------------------------
*btn
-------------------------------*/
.c {
  //-----------------------------------
  &-btn1 {
    //---------------------------------
    display: inline-block;
    //---------------------------------
    a {
      color: #333;
      display: block;
      text-decoration: none;
    }
    //---------------------------------
    &__type1 {
      box-sizing: border-box;
      width: 221px;
      text-align: center;
      padding: 12px 0;
      border: 1px solid #50717a;
      border-radius: 3px;
      //-----------------------------
      @include respond-to(767) {
        width: 200px;
        padding: 9px 0;
      }
      //-----------------------------
    }
    //---------------------------------
  }
  //-----------------------------------
}

/*-------------------------------
*list
-------------------------------*/
.c {
  &-list2 {
    display: flex;
    justify-content: space-between;
    &__info { text-align: left; }
  }
}

/*-------------------------------
*navigation for PC
-------------------------------*/
.c-naviPC {
  //---------------------------------
  li:hover {
    //-------------------------------
    .c-naviPC-subMenu {
      display: block!important;
    }
    //-------------------------------
  }
  //---------------------------------
  &-subMenu {
    display: none!important;
    position: absolute;
    z-index: 1;
    background: #fff6f4;
    //-------------------------------
    li {
      margin-right: 0;
      text-align: left;
    }
    //-------------------------------
    a {
      padding: 10px;
      font-size: 1.3rem;
      //-----------------------------
      img {
        vertical-align: middle;
        margin-right: 8px;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
  &--size1 {
    box-sizing: border-box;
    width: 164px;
  }
}

/*-------------------------------
*img box
-------------------------------*/
.c-imgbox1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 180px;
  height: 174px;
  background: url(../img/i-frame1.png) no-repeat;
  background-size: cover;
  @include respond-to(768) {
    width: 183px;
    margin: 0 auto 10px;
  }
  //----------------------------------------
  &:hover {
    .c-imgbox1__child
    {
      transition: all .5s ease-in-out;
      transform: scale(1.1);
    }
  }
  //----------------------------------------
  &__child {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: all .5s ease-in-out;
    //--------------------------------------
    &--bg1 {
      background: url(../img/i-child1.jpg) no-repeat;
      background-size: cover;
    }
    //--------------------------------------
    &--bg2 {
      background: url(../img/i-food1.jpg) no-repeat;
      background-size: cover;
    }
    //--------------------------------------
  }
  //----------------------------------------
}

/*-------------------------------
*header
-------------------------------*/
.c {
  //-----------------------------
  &-h1 {
    position: relative;
    height: 501px;
    background: url(../img/h-banner1.jpg) no-repeat top left;
    background-size: cover;
    //---------------------------------
    @include respond-to(767) {
      height: 350px;
    }
    //---------------------------------
    &__text {
      position: absolute;
      top: 341px;
      left: 6px;
      @include respond-to(767) {
        position: relative;
        top: 0;
        left: 0;
        padding-top: 149px;
        img { width: 250px; }
      }
    }
    //---------------------------------
  }
  //-----------------------------
  &-h2 {
    padding: 30px 0 26px;
  }
  //-----------------------------
  &-banner1 {
    display: block;
    height: 250px;
    background-size: cover!important;
  }
  //-----------------------------
}

/*-------------------------------
*flower icon
-------------------------------*/
.c {
  &-flowers1 {
    position: fixed;
    right: 24px;
    top: 69px;
    z-index: 99;
    //---------------------------
    &--pos1 {
      top: 228px;
    }
    //---------------------------
    &__obj2 {
      position: relative;
      top: 65px;
      left: 4px;
    }
    //---------------------------
    &__obj1:hover, &__obj2:hover {
      img { animation: swinging 2.5s ease-in-out infinite; }
    }
    //---------------------------
  }
  //-----------------------------
}

/*-------------------------------
*contact
-------------------------------*/
.c {
  &-contact1 {
    position: absolute;
    right: 0;
    //----------------------------
    a {
      display: inline-block;
      text-align: left;
      font-size: 1.3rem;
      text-decoration: none;
      color: #333;
      font-weight: 600;
    }
    //----------------------------
    &--mTop {
      margin: -12px auto 81px;
    }
    //----------------------------
    &--pos1 {
      right: 27px;
      top: 34px;
    }
    //----------------------------
    &__link1, &__link2 {
      img {
        vertical-align: middle;
        margin-bottom: 2px;
        margin-right: 7px;
      }
    }
    //----------------------------
    &__link1 {
      font-size: 1.6rem!important;
      margin-right: 10px;
    }
    //----------------------------
  }
  //------------------------------
  &-contact2 {
    position: relative;
    //----------------------------
    @include respond-to(767) {
      &-box1>.l-flexbox { display: block; }
    }
    //----------------------------
    &-bgBox {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: -1;
      //----------------------------------
      .l-flexbox { height: 100%; }
      //----------------------------------
      &--bg1 {
        width: 50%;
        height: 100%;
        background: #68a3b3;
      }
      //----------------------------------
      &--bg2 {
        width: 50%;
        height: 100%;
        background: #46c4dc;
      }
      //----------------------------------
    }
    //----------------------------
    &-smbox1, &-smbox2 {
      width: 50%;
      text-align: left;
      box-sizing: border-box;
      color: #fff;
      line-height: 1.7;
      @include respond-to(767) {
        width: 100%;
      }
    }
    //------------------------------------
    &-smbox1{
      padding: 25px 5px;
      @include respond-to(767) {
        background: #68a3b3;
        padding: 18px 10px;
      }
    }
    &-smbox2 {
      padding: 31px 0 20px 46px;
      @include respond-to(767) {
        background: #46c4dc;
        padding: 15px 10px;
      }
      //----------------------------------
      h2 {
        position: relative;
        font-size: 1.6rem;
        letter-spacing: 2px;
        margin-bottom: 16px;
        //--------------------------------
        &:before {
          content: '';
          width: 5px;
          height: 25px;
          background: #fff;
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
        }
        //--------------------------------
      }
      //----------------------------------
      h3 { margin-bottom: 5px; }
      //----------------------------------
      p {
        font-size: 1.4rem;
        line-height: 1.8;
        //--------------------------------
        @include respond-to(767) {
          font-size: 1.3rem;
        }
        //--------------------------------
      }
      //----------------------------------
    }
    //------------------------------------
    &-telText {
      font-size: 2.6rem;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: -5px;
    }
    &__text {
      //----------------------------------
      &--mtb1 {
        margin: 25px 0 11px;
        //--------------------------------
        @include respond-to(767) { margin: 12px 0 5px; }
        //--------------------------------
      }
      //----------------------------------
    }
    //------------------------------------
    &__h3 {
      //----------------------------------
      &--mt1 {
        margin-top: 28px;
        //--------------------------------
        @include respond-to(767) { margin-top: 14px; }
        //--------------------------------
      }
      //----------------------------------
    }
    //------------------------------------
  }
  //------------------------------
  &-contact3 {
    padding: 38px 0;
    background: #65bdcc;
    //----------------------------
    @include respond-to(767) {
      padding: 19px 0 15px;
      &-box1>.l-flexbox {display: block;}
    }
    //----------------------------
    &-smbox1, &-smbox2 {
      width: 50%;
      box-sizing: border-box;
      text-align: center;
      padding: 16px 0;
      color: #fff;
      //----------------------------
      @include respond-to(767) {
        width: 100%;
        padding: 8px 0;
      }
      //----------------------------
    }
    //----------------------------
    &__title1 { letter-spacing: 2px; }
    //----------------------------
    &-smbox1 {
      h2 {
        font-size: 4.3rem;
        letter-spacing: 4px;
        //----------------------------
        @include respond-to(767) {
          font-size: 2.5rem;
          margin: 8px 0;
        }
        //----------------------------
      }
    }
    //----------------------------
    &-smbox2 {
      p {letter-spacing: 2px;}
    }
    //----------------------------
    &-btn1 {
      margin-top: 18px;
      margin-left: -9px;
      border-radius: 3px;
      background: #e74857;
      //--------------------------
      @include respond-to(767) {
        margin-top: 9px;
        margin-left: 0;
      }
      //--------------------------
      a {
        color: #fff!important;
        padding: 13px 26px;
        //--------------------------
        @include respond-to(767) {
          padding: 7px 16px;
        }
        //--------------------------
      }
      //--------------------------
    }
    //----------------------------
  }
  //------------------------------
}

/*-------------------------------
*navigation
-------------------------------*/
.c {
  &-naviPC {
    //----------------------------------
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }
    //----------------------------------
    a {
      display: block;
      text-decoration: none;
      color: #333;
      h2 { margin-bottom: 6px; }
      h3 { font-weight: 500; }
    }
    //----------------------------------
    li {
      position: relative;
      margin-bottom: 10px;
      margin-right: 53px;
      &:last-child { margin-right: 0; }
      //--------------------------------
      &:hover {
        .c-naviPC__bg-1 {
          background: url(../img/i-flowerbg1-hover.png) no-repeat;
          animation: rotate 1.5s linear infinite;
        }
        .c-naviPC__bg-2 {
          background: url(../img/i-flowerbg2-hover.png) no-repeat;
          animation: rotate 1.5s linear infinite;
        }
        .c-naviPC__bg-3 {
          background: url(../img/i-flowerbg3-hover.png) no-repeat;
          animation: rotate 1.5s linear infinite;
        }
        .c-naviPC__bg-4 {
          background: url(../img/i-flowerbg4-hover.png) no-repeat;
          animation: rotate 1.5s linear infinite;
        }
        .c-naviPC__bg-5 {
          background: url(../img/i-flowerbg5-hover.png) no-repeat;
          animation: rotate 1.5s linear infinite;
        }
        .c-naviPC__bg-6 {
          background: url(../img/i-flowerbg6-hover.png) no-repeat;
          animation: rotate 1.5s linear infinite;
        }
      }
      //--------------------------------
    }
    //----------------------------------
    &__bg {
      width: 51px;
      height: 51px;
      position: absolute;
      z-index: -1;
      transition: all .4s;
      //--------------------------------
      &-1 {
        background: url(../img/i-flowerbg1.png) no-repeat;
        top: -15%;
        left: 30%;
      }
      //--------------------------------
      &-2 {
        background: url(../img/i-flowerbg2.png) no-repeat;
        top: -15%;
        left: 11%;
      }
      //--------------------------------
      &-3 {
        background: url(../img/i-flowerbg3.png) no-repeat;
        top: -15%;
        left: 22%;
      }
      //--------------------------------
      &-4 {
        top: -15%;
        left: 27%;
        background: url(../img/i-flowerbg4.png) no-repeat;
      }
      //--------------------------------
      &-5 {
        top: -15%;
        left: 15%;
        background: url(../img/i-flowerbg5.png) no-repeat;
      }
      //--------------------------------
      &-6 {
        top: -22%;
        left: 26%;
        background: url(../img/i-flowerbg6.png) no-repeat;
      }
      //--------------------------------
    }
    //----------------------------------
  }
  //------------------------------------
}

/*-------------------------------
*main title
-------------------------------*/
.c {
  &-maintitle1 {
    font-size: 2.5rem;
    text-align: center;
    //---------------------------------
    @include respond-to(767) {
      font-size: 2.2rem;
    }
    //---------------------------------
    h3 {
      font-size: 1.5rem;
      color: #64c7e1;
      margin-top: 6px;
      letter-spacing: 2px;
    }
    //---------------------------------
    &--mb1 {
      margin-bottom: 46px;
      @include respond-to(767) { margin-bottom: 23px; }
    }
    //---------------------------------
    &--mb2 {
      margin-bottom: 54px;
      @include respond-to(767) { margin-bottom: 27px; }
    }
    //---------------------------------
  }
  //-----------------------------------
}

/*-------------------------------
*top component
-------------------------------*/
.c {
  //---------------------------------------
  &-top5 {
    //-------------------------------------
    &-dateBox {
      display: flex;
      align-items: center;
    }
    //-------------------------------------
    &__label1 {
      margin-right: 15px;
      color: #fff;
      background: #41c9e3;
      border-radius: 5px;
      padding: 3px 6px;
    }
    //-------------------------------------
    &__label2 {
      font-size: 1.3rem;
      color: #cccccc;
      vertical-align: middle;
    }
    //-------------------------------------
  }
  //---------------------------------------
}

/*-------------------------------
*breadcrumb
-------------------------------*/
.c {
  //------------------------------
  &-breadcrumb1 {
    padding: 61px 0 66px;
    //----------------------------
    ul { display: flex; }
    //----------------------------
    li {
      line-height: 1;
      font-size: 1.2rem;
      color: #878787;
      //--------------------------
      a { color: #46c4dc;}
      //--------------------------
      &:after {
        content: ">";
        display: inline-block;
        margin: 0 16px 0 24px;
      }
      //--------------------------
      &:last-child:after { content: ''; }
      //--------------------------
    }
    //----------------------------
  }
  //------------------------------
}

/*-------------------------------
*footer
-------------------------------*/
.c {
  //--------------------------------
  &-f {
    padding-bottom: 60px;
    @include respond-to(767) { padding-bottom: 30px; }
    //------------------------------
    &-list1 {
      //----------------------------
      @include respond-to(767) {
        .l-flexbox { justify-content: center; }
      }
      //----------------------------
      a {
        display: block;
        color: #333;
        text-decoration: none;
        padding: 17px 10px;
      }
      //----------------------------
      li {
        box-sizing: border-box;
        width: 159px;
        position: relative;
        //--------------------------
        @include respond-to(767) {
          width: 50%;
        }
        //--------------------------
        &:before {
          content: '';
          width: 5px;
          height: 25px;
          vertical-align: middle;
          background: #fff;
          position: absolute;
          left: 0;
          top: 15px;
          //------------------------
          @include respond-to(767) {
            width: 0;
          }
          //------------------------
        }
        //--------------------------
        &:last-child:after {
          content: '';
          width: 5px;
          height: 25px;
          vertical-align: middle;
          background: #fff;
          position: absolute;
          right: 0;
          top: 15px;
          //------------------------
          @include respond-to(767) {
            width: 0;
          }
          //------------------------
        }
        //--------------------------
      }
      //----------------------------
    }
    //------------------------------
    &-list2 {
      @include respond-to(767) {
        box-sizing: border-box;
        max-width: 402px;
        margin: 0 auto 15px;
        padding: 0 10px;
      }
      //----------------------------
      li {
        margin-right: 13px;
        //--------------------------
        a {
          display: block;
          color: #a0a0a0;
          text-decoration: none;
        }
        //--------------------------
      }
      //----------------------------
    }
    //------------------------------
    &-box1 { background: #ebf3f6; }
    //------------------------------
    &-box2 {
      padding: 42px 5px 36px;
      border-bottom: 1px solid #cccccc;
      //----------------------------
      @include respond-to(767) {
        padding: 21px 5px 18px;
        //--------------------------
        &>.l-flexbox { display: block; }
        //--------------------------
      }
      //----------------------------
      .l-flexbox { align-items: baseline; }
      //----------------------------
    }
    //------------------------------
    &-box3 {
      padding: 27px 0;
      font-size: 1.2rem;
      letter-spacing: 2px;
      color: #a0a0a0;
      //----------------------------
      @include respond-to(767) {
        padding: 13px 0;
        &>.l-flexbox { display: block; }
      }
      //----------------------------
    }
    //------------------------------
    &__logo1 {
      //----------------------------
      img {
        width: 205px;
      }
      //----------------------------
    }
    //------------------------------
    &__text1 {
      font-size: 1.4rem;
      text-align: left;
      line-height: 1.7;
      margin-left: 30px;
      //----------------------------
      @include respond-to(767) {
        margin: 20px 0 0 0;
        font-size: 1.2rem;
        text-align: center;
      }
      //----------------------------
    }
    //------------------------------
  }
  //--------------------------------
}

/*-------------------------------
*flag
-------------------------------*/
.c {
  //-----------------------------
  &-flatright {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
  }
  //-----------------------------
  &-flatleft {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }
  //-----------------------------
}
