@charset "UTF-8";

@mixin fs($fontSize, $baseFontSize:10){
	font-size: #{$fontSize / $baseFontSize}rem;
}
// example:
// @include fs(15);
// @include fs(20, 13);

%cf {
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
// example:
// @extend %cf;

@mixin cf{
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
// example:
// @extend cf;


//dang_tho
//extend class
%tb {
  //------------------------------------------
  &-flex { display: flex; }
  //------------------------------------------
}

//responsive
@mixin respond-to($media) {
  @media only screen and (max-width: $media + 'px') {
    @content;
  }
}

//responsive minwidth
@mixin respond-toSP($media) {
  @media only screen and (min-width: $media + 'px')
  and (orientation:landscape) {
    @content;
  }
}

//ie10->11
@mixin ie() {
  //----------------------------------------
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    @content;
  }
  //----------------------------------------
}

/*------------------------------------------
*@mixin
------------------------------------------*/
@mixin wrap() {
	display: block;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
