@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans JP', 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u-text__green {
  color: #00ada0;
}

.u-text__red {
  color: #fd0000;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1416px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 100%;
    font-size: 1.3rem;
  }
}

/*------------------------------------------------
  layout container
------------------------------------------------*/
.l-container {
  display: block;
  width: 1164px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .l-container {
    width: 100%;
  }
}

/*----------------------------------------------
  layout main header
----------------------------------------------*/
.l-header__main {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 51px;
}

@media only screen and (max-width: 767px) {
  .l-header__main {
    position: relative;
    top: 0;
  }
}

.l-header__main--news {
  position: relative;
  top: auto;
}

/*----------------------------------------------
  layout button
----------------------------------------------*/
.l-btn1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .l-btn1 {
    margin: 0 10px;
  }
}

/*----------------------------------------------
  layout banner
----------------------------------------------*/
.l-banner1 {
  display: block;
}

.l-banner1__top {
  position: absolute;
  top: 55%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .l-banner1__top {
    top: 51%;
  }
}

.l-banner1__company {
  position: absolute;
  top: 69%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .l-banner1__company {
    top: 51%;
  }
}

.l-banner1__interview {
  position: absolute;
  top: 69%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .l-banner1__interview {
    top: 43%;
  }
}

.l-banner1__about {
  position: absolute;
  top: 69%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .l-banner1__about {
    top: 43%;
  }
}

.l-banner1__contact {
  position: absolute;
  top: 69%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .l-banner1__contact {
    top: 43%;
  }
}

/*----------------------------------------------
  layout main
----------------------------------------------*/
.l-main {
  position: relative;
  display: block;
  z-index: 9999;
}

/*----------------------------------------------
  layout title
----------------------------------------------*/
.l-title1--mb1 {
  margin-bottom: 29px;
}

.l-title1 .l-mb1 {
  margin-bottom: 11px;
}

/*----------------------------------------------
  layout list
----------------------------------------------*/
.l-list1 {
  display: block;
}

.l-list1__company1 .c-list1__link1 {
  width: 332px;
  margin-left: 84px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 767px) {
  .l-list1__company1 .c-list1__link1 {
    width: 50%;
    min-width: 288px;
    padding: 10px;
    margin: 0 0;
  }
}

@media only screen and (max-width: 605px) {
  .l-list1__company1 .c-list1__link1 {
    margin: 0 auto 10px;
  }
}

.l-list1__company1 .c-list1__link1:nth-child(3n + 1) {
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .l-list1__company1 .c-list1__link1:nth-child(3n + 1) {
    margin-left: auto;
  }
}

.l-list1__comsingle1 .c-list1__link1 {
  width: 332px;
  margin-left: 84px;
}

@media only screen and (max-width: 767px) {
  .l-list1__comsingle1 .c-list1__link1 {
    width: 50%;
    min-width: 288px;
    padding: 0 10px;
    margin: 0 0 20px;
  }
}

@media only screen and (max-width: 605px) {
  .l-list1__comsingle1 .c-list1__link1 {
    margin: 0 auto 20px;
  }
}

.l-list1__comsingle1 .c-list1__link1:nth-child(3n + 1) {
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .l-list1__comsingle1 .c-list1__link1:nth-child(3n + 1) {
    margin-left: auto;
  }
}

.l-list2 {
  display: block;
}

.l-list2 .c-list2__link1 {
  width: 275px;
  margin-right: 21px;
}

@media only screen and (max-width: 767px) {
  .l-list2 .c-list2__link1 {
    width: 50%;
    min-width: 288px;
    margin: 0 0 20px;
  }
}

@media only screen and (max-width: 605px) {
  .l-list2 .c-list2__link1 {
    margin: 0 auto 20px;
  }
}

.l-list2 .c-list2__link1:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 767px) {
  .l-list2 .c-list2__link1:last-child {
    margin-right: auto;
  }
}

@media only screen and (max-width: 767px) {
  .l-list2 .c-list2__card1 {
    padding: 0 10px;
  }
}

/*----------------------------------------------------
	Headline
----------------------------------------------------*/
/*---------------------------------------------------
	Button
---------------------------------------------------*/
a, button {
  cursor: pointer;
}

/*------------------------------------------
  Component show following divice size.
------------------------------------------*/
@media only screen and (max-width: 768px) {
  .showPC {
    display: none;
  }
}

.showSP {
  display: none;
}

@media only screen and (max-width: 767px) {
  .showSP {
    display: block;
  }
}

.showSP--inline {
  display: none;
}

@media only screen and (max-width: 767px) {
  .showSP--inline {
    display: inline-block;
  }
}

/*-------------------------------------------
  menu Smartphone
-------------------------------------------*/
.c-menuSP {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 7px 15px 7px;
  cursor: pointer;
  background: #000;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 8px auto auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menuSP__title1 {
  margin-top: 6px;
  font-size: 1.0rem;
  font-weight: bold;
  color: #fff;
}

/*-------------------------------------------
  menu responsive
-------------------------------------------*/
.is-open {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(8px, -9px);
          transform: rotate(-45deg) translate(8px, -9px);
}

/*-------------------------------------------
@menu component
-------------------------------------------*/
.c-menu1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-menu1 {
    position: fixed;
    top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
    overflow-x: hidden;
    z-index: 99999;
    display: none;
    background: #00aa9d;
  }
}

.c-menu1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .c-menu1 ul {
    display: block;
  }
}

.c-menu1 li {
  position: relative;
}

.c-menu1 li:hover a {
  color: #fff;
  background: #00aa9d;
}

.c-menu1 .item1 {
  position: relative;
}

.c-menu1 .item1 a {
  margin-right: 20px;
  padding: 31px 25px 31px 33px;
}

@media only screen and (max-width: 767px) {
  .c-menu1 .item1 a {
    height: auto;
    margin-right: 0;
    padding: 0;
  }
}

.c-menu1 a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 91px;
  padding: 31px 19px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
  text-align: left;
  text-decoration: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

@media only screen and (max-width: 767px) {
  .c-menu1 a {
    display: block;
    height: auto;
    margin-bottom: 30px;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.8rem;
  }
}

.c-menu1 .btn1 {
  display: block;
  position: relative;
}

.c-menu1 .btn1 a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 91px;
  padding: 31px 40px;
  font-size: 1.6rem;
  font-weight: bold;
  background: #00ada0;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .c-menu1 .btn1 a {
    height: auto;
    padding: 0;
    font-size: 1.8rem;
    background: none;
  }
}

@media only screen and (max-width: 767px) {
  .c-menu1 .sp-mt1 {
    margin-top: 78px;
  }
}

.c-menu1 .c-menuSP {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 4px;
  background: #00aa9d;
}

.c-menu1 .menu1__boxSP1 {
  position: relative;
  padding: 25px 15px;
  border-top: 1px solid #91d6d1;
  border-bottom: 1px solid #91d6d1;
}

.c-menu1 .menu1__boxSP1 .box1__tel {
  position: relative;
  margin-bottom: 20px;
  color: #fff;
}

.c-menu1 .menu1__boxSP1 .box1__tel h2 {
  font-size: 3.0rem;
}

.c-menu1 .menu1__boxSP1 .box1__tel .sm-text1 {
  font-size: 1.8rem;
}

.c-menu1 .menu1__boxSP1 .box1__title1 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto;
  margin: 0 auto;
  padding: 4px 0;
  text-align: center;
  font-size: 1.6rem;
  color: #00aa9d;
  background: #fff;
}

.c-menu1 .menu1__btnSP1 {
  margin: 25px 15px 30px;
  position: relative;
}

.c-menu1 .menu1__btnSP1 .btn1__inner {
  position: relative;
}

.c-menu1 .menu1__btnSP1 .btn1__inner a {
  padding: 5px 5px;
  font-size: 1.6rem;
  border: 2px solid #fff;
}

.c-menu1 .closeMenu {
  position: relative;
}

.c-menu1 .closeMenu .fa-times {
  margin-right: 10px;
}

.c-menu1 .showSP {
  display: none;
}

@media only screen and (max-width: 767px) {
  .c-menu1 .showSP {
    display: block;
  }
}

/*-----------------------------------------------
  Table
-----------------------------------------------*/
.c-table1 table {
  width: 100%;
  height: auto;
  font-size: 1.6rem;
  border-spacing: 0;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

@media only screen and (max-width: 767px) {
  .c-table1 table {
    font-size: 1.3rem;
  }
}

.c-table1 table tr {
  width: 100%;
  vertical-align: text-top;
  text-align: left;
  line-height: 27px;
  border-top: 1px solid #d4d4d4;
}

.c-table1 table tr > th {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  font-weight: bold;
  padding: 25px 0;
}

@media only screen and (max-width: 767px) {
  .c-table1 table tr > th {
    width: 100px;
    padding: 15px 0;
  }
}

.c-table1 table tr td {
  padding: 25px 0;
}

@media only screen and (max-width: 767px) {
  .c-table1 table tr td {
    padding: 15px 0;
  }
}

.c-table1 table .tb-link1 {
  text-decoration: none;
}

.c-table1 table .tb-link1:hover {
  text-decoration: underline;
}

/*---------------------------------------------
*form
---------------------------------------------*/
.c-form1 table {
  border-bottom: 1px solid #c5c5c5;
}

.c-form1 table tr {
  border-top: 1px solid #c5c5c5;
}

.c-form1 table tr > th {
  vertical-align: top;
  width: 210px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 19px 0 38px;
  font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
  .c-form1 table tr > th {
    width: 100px;
    padding: 15px 0 15px 0;
    line-height: 1.4;
    font-size: 1.3rem;
  }
}

.c-form1 table td {
  padding: 21px 0 14px 37px !important;
}

@media only screen and (max-width: 767px) {
  .c-form1 table td {
    padding: 15px 0 15px 0 !important;
  }
}

.c-form1 table td input[type="text"] {
  width: 74%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 29px;
  padding: 22px 10px;
  font-size: 1.4rem;
  background: #f2f2f2;
  border: none;
}

@media only screen and (max-width: 767px) {
  .c-form1 table td input[type="text"] {
    width: 80%;
    height: 20px;
    padding: 18px 10px;
  }
}

.c-form1 table td select {
  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 29px;
  padding: 0 17px;
  font-size: 1.4rem;
  margin-bottom: 5px;
  border: none;
  background: url(../img/contact/arrow.png) no-repeat 134px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #a0a0a0;
  background-color: white;
  border: 1px solid #dddddd;
}

.c-form1 table td select::-ms-expand {
  display: none;
}

.c-form1 table textarea {
  width: 100%;
  height: 211px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  border: none;
  background: #f2f2f2;
}

@media only screen and (max-width: 767px) {
  .c-form1 table textarea {
    height: 140px;
    padding: 10px;
  }
}

.c-form1 .input__full {
  width: 100% !important;
}

.c-form1__list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-form1__list1 .form1__checkbox1 {
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 0 21px 12px 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 767px) {
  .c-form1__list1 .form1__checkbox1 {
    margin: 0 15px 10px 0;
    padding-left: 25px;
    font-size: 1.3rem;
  }
}

.c-form1__list1 .form1__checkbox1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.c-form1__list1 .form1__checkbox1:hover input ~ .checkmark {
  background-color: #fff;
}

.c-form1__list1 .form1__checkbox1 input:checked ~ .checkmark {
  background-color: #2196F3;
}

.c-form1__list1 .form1__checkbox1 input:checked ~ .checkmark:after {
  display: block;
}

.c-form1__list1 .form1__checkbox1 .checkmark:after {
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-form1__list1 .checkmark {
  position: absolute;
  top: 20%;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.c-form1__list1 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.c-form1__list1 .special__input {
  width: 84%;
}

.c-form1__list1 .special__input input[type="text"] {
  width: 100%;
}

/*---------------------------------------------
*Header for all pages
---------------------------------------------*/
.c-header {
  position: relative;
  z-index: 99999;
}

.c-header__top {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 16px;
}

.c-header__top .link1 {
  position: relative;
  text-align: right;
}

.c-header__top .link1 a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.c-header__top .link1 a:hover {
  text-decoration: underline;
}

.c-header__top .link1 .icon1 img {
  margin-left: 10px;
  vertical-align: middle;
}

.c-header__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 21px;
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .c-header__main {
    padding-left: 0;
  }
}

.c-header__main .logo1 {
  position: relative;
  display: block;
}

@media only screen and (max-width: 767px) {
  .c-header__main .logo1 {
    padding-left: 7px;
  }
}

@media only screen and (max-width: 767px) {
  .c-header__main .logo1 img {
    width: 165px;
  }
}

.c-header__main a:hover, .c-header__main button:hover {
  opacity: 0.8;
}

.c-header__main .listSP1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-header__main .listSP1 .contact__link1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  background: #00aa9d;
}

.c-header__main .listSP1 .contact__link1 .sp-title1 {
  margin-top: 8px;
  font-size: 1.0rem;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .c-header__main .listSP1 .contact__link1 .sp-img1 img {
    width: 30px;
  }
}

/*-------------------------------------------
@main Visual
-------------------------------------------*/
.c-mainVisual {
  position: relative;
}

/*-------------------------------------------
@Component mainVisual for page News
--------------------------------------------*/
.c-mainVisual--news {
  position: relative;
  padding: 50px 0;
  background: #edf9f8;
}

@media only screen and (max-width: 767px) {
  .c-mainVisual--news {
    padding: 35px 0;
  }
}

/*-------------------------------------------
@Component mainVisual for page Interview
--------------------------------------------*/
.c-mainVisual--interview {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 400px;
  background: url(../img/interview/bg.jpg) no-repeat left top;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .c-mainVisual--interview {
    height: 250px;
  }
}

/*-------------------------------------------
@Component mainVisual for page Company
--------------------------------------------*/
.c-mainVisual--company {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 400px;
  background: url(../img/company/banner1.jpg) no-repeat left top;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .c-mainVisual--company {
    height: 250px;
  }
}

/*-------------------------------------------
@Component mainVisual for page About
--------------------------------------------*/
.c-mainVisual--about {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 400px;
  background-size: cover;
  background: url(../img/about/Channel-Mixer-1.jpg) no-repeat left top;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .c-mainVisual--about {
    height: 250px;
  }
}

/*-------------------------------------------
@Component mainVisual for page Contact
--------------------------------------------*/
.c-mainVisual--contact {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 400px;
  background: url(../img/contact/Hue_Saturation-1.png) no-repeat left top;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .c-mainVisual--contact {
    height: 250px;
  }
}

/*-------------------------------------------
@footer component
-------------------------------------------*/
.c-footer {
  position: relative;
  display: block;
}

.c-footer__top {
  position: relative;
  display: block;
  padding: 30px 0;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .c-footer__top {
    padding: 15px 0;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__top img {
    width: 35px;
  }
}

.c-footer__box1 {
  position: relative;
  display: block;
  background: #00ada0;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 {
    padding: 35px 0;
  }
}

.c-footer__box1 .footer__inner1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__inner1 {
    display: block;
  }
}

.c-footer__box1 .footer__flexbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__flexbox {
    display: block;
  }
}

.c-footer__box1 .footer__box1 {
  padding: 20px 15px 0 0;
  text-align: left;
  border-right: 1px solid #80d6d0;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box1 {
    padding: 35px 15px 0;
    text-align: center;
    border-right: none;
  }
}

.c-footer__box1 .footer__box1 .box1__logo {
  display: block;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box1 .box1__logo {
    margin-bottom: 31px;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box1 .box1__logo img {
    width: 269px;
  }
}

.c-footer__box1 .footer__box1 .box1__text1 {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box1 .box1__text1 {
    font-size: 1.2rem;
  }
}

.c-footer__box1 .footer__box1 .box1__text1 h3 {
  font-weight: bold;
  margin-bottom: 6px;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box1 .box1__text1 h3 {
    margin-bottom: 4px;
  }
}

.c-footer__box1 .footer__box2 {
  padding: 15px 0 20px 20px;
  text-align: left;
  color: white;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box2 {
    padding: 0px 15px 20px;
    text-align: center;
  }
}

.c-footer__box1 .footer__box2 .box2__title1 {
  margin-bottom: 4px;
  font-size: 1.3rem;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box2 .box2__title1 {
    margin-bottom: 20px;
  }
}

.c-footer__box1 .footer__box2 .box2__tel {
  position: relative;
  margin-bottom: 20px;
}

.c-footer__box1 .footer__box2 .box2__tel h2 {
  font-size: 4.1rem;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box2 .box2__tel h2 {
    font-size: 1.8rem;
  }
}

.c-footer__box1 .footer__box2 .box2__tel .sm-text1 {
  font-size: 2.6rem;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box2 .box2__tel .sm-text1 {
    font-size: 1.4rem;
  }
}

.c-footer__box1 .footer__box2 .box2__title2 {
  position: relative;
}

.c-footer__box1 .footer__box2 .box2__title2 .title2__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 81%;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  color: #00aa9d;
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box2 .box2__title2 .title2__inner {
    width: auto;
    margin: 0 auto;
    padding: 3px 0;
  }
}

.c-footer__box1 .footer__box2 .box2__title2 .sm-text1 {
  margin-right: 18px;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box2 .box2__title2 .sm-text1 {
    margin-right: 11px;
  }
}

.c-footer__box1 .footer__box3 {
  position: relative;
  display: block;
  padding: 20px 0 21px;
  margin-left: 28px;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .footer__box3 {
    margin-left: 0;
    padding: 20px 15px 20px;
    border-top: 1px solid #91d6d1;
    border-bottom: 1px solid #91d6d1;
  }
}

.c-footer__box1 .footer__box3 .c-footer__btn1:first-child {
  margin-bottom: 17px;
}

.c-footer__btn1 {
  position: relative;
  display: block;
  border: 2px solid #fff;
}

.c-footer__btn1 a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 298px;
  height: 45px;
  padding: 11px 0;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

@media only screen and (max-width: 767px) {
  .c-footer__btn1 a {
    width: auto;
    height: auto;
    padding: 7px 0;
  }
}

.c-footer__btn1 a:hover {
  color: #00aa9d;
  background: #fff;
}

/*-------------------------------------------
@slider
-------------------------------------------*/
.c-slider1 {
  position: relative;
}

.c-slider1 img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .c-slider1__img1 .showPC {
    display: none !important;
  }
}

.c-slider1__img1 .showSP {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .c-slider1__img1 .showSP {
    display: block !important;
  }
}

.c-slider1 .slick-track {
  height: 700px;
}

@media only screen and (max-width: 767px) {
  .c-slider1 .slick-track {
    height: auto;
  }
}

/*-------------------------------------------
@banner component
-------------------------------------------*/
.c-banner1 {
  display: block;
}

.c-banner1__top {
  position: absolute;
  top: 55%;
  width: 100%;
  display: block;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .c-banner1__top {
    top: 51%;
  }
}

.c-banner1__top .banner__box1 {
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .c-banner1__top .banner__box1 {
    display: block;
    padding: 0 20px;
  }
}

.c-banner1__top .banner1__img1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-banner1__top .banner1__img1 {
    text-align: center;
    width: 96%;
    min-width: 279px;
  }
  .c-banner1__top .banner1__img1 img {
    width: 100%;
  }
}

.c-banner1__top .banner1__text1 {
  text-align: center;
  font-size: 2.0rem;
  font-weight: bold;
  margin-top: 30px;
  padding: 3px 0;
  color: #fff;
  background: rgba(182, 185, 173, 0.33);
}

@media only screen and (max-width: 767px) {
  .c-banner1__top .banner1__text1 {
    margin-top: 25px;
    padding: 4px;
    font-size: 1.6rem;
  }
}

.c-banner1__news {
  position: relative;
  display: block;
}

.c-banner1__news .banner__img1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-banner1__news .banner__img1 img {
    width: 52px;
  }
}

.c-banner1__company {
  position: relative;
  display: block;
  position: absolute;
  top: 69%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .c-banner1__company {
    top: 51%;
  }
}

.c-banner1__company .banner__img1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-banner1__company .banner__img1 img {
    width: 280px;
  }
}

.c-banner1__interview {
  display: block;
  position: absolute;
  top: 69%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .c-banner1__interview {
    top: 43%;
  }
}

.c-banner1__interview .banner__img1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-banner1__interview .banner__img1 img {
    width: 180px;
  }
}

.c-banner1__about {
  position: relative;
  display: block;
  position: absolute;
  top: 69%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .c-banner1__about {
    top: 43%;
  }
}

.c-banner1__about .banner__img1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-banner1__about .banner__img1 img {
    width: 130px;
  }
}

.c-banner1__contact {
  position: relative;
  display: block;
  position: absolute;
  top: 69%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .c-banner1__contact {
    top: 43%;
  }
}

.c-banner1__contact .banner__img1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-banner1__contact .banner__img1 img {
    width: 130px;
  }
}

/*-------------------------------------------
@card component
-------------------------------------------*/
.c-card1 {
  display: block;
  position: relative;
  background: #fff;
}

.c-card1__box1 {
  display: block;
  position: relative;
}

.c-card1__box1 .small-title1 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 6px;
  text-decoration: none;
  background: #fff;
  color: #42b9ae;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .c-card1__box1 .small-title1 {
    bottom: -1px;
    padding: 2px 10px;
    font-size: 1.2rem;
  }
}

.c-card1__box1 .small-title1:hover {
  text-decoration: underline;
}

.c-card1__img1 {
  display: block;
  position: relative;
}

.c-card1__img1 img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .c-card1__img1 img {
    height: auto;
  }
}

.c-card1__text1 {
  text-align: left;
  padding: 10px 10px 13px;
}

@media only screen and (max-width: 767px) {
  .c-card1__text1 {
    font-size: 1.1rem;
  }
}

.c-card1__text1 .card1__link1 {
  display: block;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  .c-card1__text1 .card1__link1 {
    margin-bottom: 9px;
    font-size: 1.2rem;
  }
}

.c-card1__text1 .card1__link1:hover {
  text-decoration: underline;
}

.c-card1__text1 .card1__title1 {
  position: relative;
  padding-right: 30px;
}

.c-card1__text1 .card1__title1 .img-icon1 {
  position: absolute;
  top: 27%;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .c-card1__text1 .card1__title1 .img-icon1 img {
    width: 15px;
  }
}

/*-------------------------------------------
@button component
-------------------------------------------*/
.c-btn1 {
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .c-btn1 {
    display: block;
  }
}

.c-btn1 a, .c-btn1 input[type=submit] {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 450px;
  height: 60px;
  padding: 18px;
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  background: #00aa9d;
  border: none;
  z-index: 1;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

@media only screen and (max-width: 767px) {
  .c-btn1 a, .c-btn1 input[type=submit] {
    width: auto;
    height: auto;
    padding: 10px 7px;
    font-size: 1.3rem;
  }
}

.c-btn1 a:hover, .c-btn1 input[type=submit]:hover {
  top: 4px;
  left: 4px;
}

.c-btn1 a:after, .c-btn1 input[type=submit]:after {
  content: url(../img/icon.png);
  position: absolute;
  top: 33%;
  right: 16px;
}

@media only screen and (max-width: 767px) {
  .c-btn1 a:after, .c-btn1 input[type=submit]:after {
    top: 35%;
    zoom: 65%;
    right: 50px;
  }
}

.c-btn1::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 0;
}

.c-btn1--prev {
  position: relative;
}

.c-btn1--prev a:before {
  content: url(../img/arow-prev.png);
  position: absolute;
  top: 33%;
  left: 16px;
}

@media only screen and (max-width: 767px) {
  .c-btn1--prev a:before {
    top: 35%;
    zoom: 65%;
    left: 50px;
  }
}

.c-btn1--prev a:after {
  content: "";
}

.c-btn2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .c-btn2 {
    display: block;
  }
}

.c-btn2 a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 450px;
  height: 60px;
  padding: 15px;
  font-weight: bold;
  font-size: 1.6rem;
  color: #00aa9d;
  text-decoration: none;
  background: #fff;
  border: 2px solid #fff;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 767px) {
  .c-btn2 a {
    width: auto;
    height: auto;
    padding: 7px 0;
    font-size: 1.4rem;
  }
}

.c-btn2 a:hover {
  border: 2px solid #00aa9d;
}

.c-btn2 a:after {
  content: url(../img/icon1.png);
  position: absolute;
  top: 33%;
  right: 16px;
}

@media only screen and (max-width: 767px) {
  .c-btn2 a:after {
    top: 27%;
    right: 39px;
    zoom: 78%;
  }
}

/*-------------------------------------------
@title component
-------------------------------------------*/
.c-title1 {
  position: relative;
  display: block;
}

.c-title1 h3 {
  font-size: 2.1rem;
  font-weight: bold;
  color: #00aa9d;
}

@media only screen and (max-width: 767px) {
  .c-title1 h3 {
    font-size: 1.4rem;
  }
}

.c-title1 h2 {
  font-size: 2.6rem;
}

@media only screen and (max-width: 767px) {
  .c-title1 h2 {
    font-size: 1.6rem;
  }
}

.c-title2 {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .c-title2 {
    width: 41%;
    min-width: 270px;
  }
}

.c-title2 h2 {
  font-size: 2.6rem;
}

@media only screen and (max-width: 767px) {
  .c-title2 h2 {
    font-size: 1.6rem;
  }
}

.c-title2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -35px;
  width: 100%;
  height: 31px;
  background: url(../img/about/quote.png) no-repeat;
  background-size: 100%;
}

@media only screen and (max-width: 767px) {
  .c-title2::before {
    top: -20px;
    height: 14px;
    background-size: 100% 100%;
  }
}

.c-title2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -47px;
  height: 31px;
  background: url(../img/about/line1.png) no-repeat;
  background-size: 100%;
}

@media only screen and (max-width: 767px) {
  .c-title2::after {
    bottom: -20px;
    height: 14px;
    background-size: 100% 100%;
  }
}

/*-------------------------------------------
@list post component
-------------------------------------------*/
.c-listpost {
  display: block;
  position: relative;
}

.c-listpost__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 0px;
  border-bottom: 1px solid #cccccc;
}

@media only screen and (max-width: 767px) {
  .c-listpost__item {
    display: block;
    text-align: left;
    padding: 15px 0;
  }
}

.c-listpost__item:first-child {
  border-top: 1px solid #cccccc;
}

.c-listpost__item .datepost {
  text-align: left;
  font-size: 1.4rem;
  color: #781111;
}

@media only screen and (max-width: 767px) {
  .c-listpost__item .datepost {
    font-size: 1.2rem;
  }
}

.c-listpost__title {
  margin-left: 28px;
  color: #0078d2;
}

@media only screen and (max-width: 767px) {
  .c-listpost__title {
    margin: 9px 0 0 0;
  }
}

.c-listpost__title a {
  text-align: left;
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .c-listpost__title a {
    line-height: 1.3;
    font-size: 1.3rem;
  }
}

.c-listpost__title a:hover {
  text-decoration: underline;
}

/*-------------------------------------------
@copyright component
-------------------------------------------*/
.c-copyright {
  padding: 17px 0;
  text-align: center;
  color: #fff;
  background: #33bdb3;
  font-size: 1.3rem;
}

@media only screen and (max-width: 767px) {
  .c-copyright {
    padding: 15px 0;
    font-size: 1.1rem;
  }
}

/*-------------------------------------------
@breadcrumb component
-------------------------------------------*/
.c-breadcrumb {
  padding: 25px 0 35px;
  text-align: left;
  font-size: 1.3rem;
  color: #000;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 767px) {
  .c-breadcrumb {
    padding: 8px 15px 12px;
    font-size: 1.1rem;
    line-height: 25px;
  }
}

.c-breadcrumb a {
  color: #00aa9d;
  text-decoration: none;
  padding-bottom: 3px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #00aa9d;
  margin-right: 40px;
}

@media only screen and (max-width: 767px) {
  .c-breadcrumb a {
    margin-right: 20px;
    padding-bottom: 1px;
  }
}

.c-breadcrumb a:last-child {
  margin-right: 0;
}

.c-breadcrumb a + a:before {
  content: ">";
  color: #000;
  font-weight: 400;
  padding: 0 10px;
  position: absolute;
  left: -36px;
}

@media only screen and (max-width: 767px) {
  .c-breadcrumb a + a:before {
    left: -24px;
  }
}

.c-breadcrumb span {
  position: relative;
}

.c-breadcrumb span:before {
  content: ">";
  position: absolute;
  left: -37px;
  padding: 0 10px;
}

@media only screen and (max-width: 767px) {
  .c-breadcrumb span:before {
    left: -24px;
  }
}

/*-------------------------------------------
  pagination component
-------------------------------------------*/
.c-pagination {
  text-align: center;
  padding: 47px 0 0;
  border-top: 1px solid #ccc;
}

@media only screen and (max-width: 767px) {
  .c-pagination {
    padding: 24px 0 0;
  }
}

.c-pagination a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 45px;
  line-height: 41px;
  margin: 0 4px;
  color: #000;
  text-decoration: none;
  background-color: #f8f8f8;
  border: 2px solid #000;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .c-pagination a {
    width: 31px;
    line-height: 27px;
  }
}

.c-pagination a:hover {
  color: #fff;
  opacity: 1;
  background-color: #000;
  border: 2px solid #000;
}

.c-pagination .active {
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
}

.c-pagination .current {
  display: inline-block;
  width: 45px;
  line-height: 41px;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
}

@media only screen and (max-width: 767px) {
  .c-pagination .current {
    display: inline-block;
    width: 27px;
    line-height: 27px;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
  }
}

.c-pagination .prev {
  background-color: #fff;
  border: 2px solid transparent;
}

@media only screen and (max-width: 767px) {
  .c-pagination .prev {
    font-size: 1.1rem;
  }
}

.c-pagination .next {
  background-color: #fff;
  border: 2px solid transparent;
}

@media only screen and (max-width: 767px) {
  .c-pagination .next {
    font-size: 1.1rem;
  }
}

/*-------------------------------------------
 list1 component
-------------------------------------------*/
.c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-list1__card1 {
  position: relative;
}

.c-list1__card1 .card1__box1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-list1__card1 .card1__box1 .card1__img1 {
    display: block;
  }
  .c-list1__card1 .card1__box1 .card1__img1 img {
    width: 100%;
  }
}

.c-list1__card1 .card1__box2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 19px 0 0;
}

@media only screen and (max-width: 767px) {
  .c-list1__card1 .card1__box2 {
    background: #fff;
    padding: 15px 10px 10px;
  }
}

.c-list1__card1 .card1__box2 h2 {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

@media only screen and (max-width: 767px) {
  .c-list1__card1 .card1__box2 h2 {
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.3;
  }
}

.c-list1__card1 .card1__box2 .small-text1 {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 9px;
}

@media only screen and (max-width: 767px) {
  .c-list1__card1 .card1__box2 .small-text1 {
    font-size: 1.1rem;
  }
}

.c-list1__card1 .card1__box2 .tag1 {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 2px 11px;
  font-size: 1.2rem;
  background: #ccc;
  border-radius: 19px;
  margin-top: 27px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .c-list1__card1 .card1__box2 .tag1 {
    margin-top: 15px;
    padding: 2px 8px 3px;
    font-size: 1.1rem;
  }
}

.c-list1__card1 .card1__text1 {
  position: relative;
  font-weight: bold;
  color: #00aa9d;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .c-list1__card1 .card1__text1 {
    font-size: 1.2rem;
  }
}

.c-list1__card1 .card1__text1 .text1__inner {
  padding-right: 40px;
}

.c-list1__card1 .card1__text1 .img-icon1 {
  position: absolute;
  top: 5px;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .c-list1__card1 .card1__text1 .img-icon1 img {
    width: 15px;
  }
}

.c-list1__link1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: left;
  background: #fff;
  text-decoration: none;
  color: #000;
}

.c-list1 a:hover, .c-list1 button:hover {
  opacity: 0.8;
}

/*-------------------------------------------
 list2 component
-------------------------------------------*/
.c-list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-list2__card1 {
  position: relative;
}

.c-list2__card1 .card1__box1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-list2__card1 .card1__box1 .card1__img1 {
    display: block;
  }
  .c-list2__card1 .card1__box1 .card1__img1 img {
    width: 100%;
    height: auto;
  }
}

.c-list2__card1 .card1__box2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 19px 0 0;
}

@media only screen and (max-width: 767px) {
  .c-list2__card1 .card1__box2 {
    background: #fff;
    padding: 15px 10px 10px;
  }
}

.c-list2__card1 .card1__box2 h2 {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

@media only screen and (max-width: 767px) {
  .c-list2__card1 .card1__box2 h2 {
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.3;
  }
}

.c-list2__card1 .card1__box2 .small-text1 {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 9px;
}

@media only screen and (max-width: 767px) {
  .c-list2__card1 .card1__box2 .small-text1 {
    font-size: 1.1rem;
  }
}

.c-list2__card1 .card1__box2 .tag1 {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 2px 11px;
  font-size: 1.2rem;
  background: #ccc;
  border-radius: 19px;
  margin-top: 27px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .c-list2__card1 .card1__box2 .tag1 {
    margin-top: 15px;
    padding: 2px 8px 3px;
    font-size: 1.1rem;
  }
}

.c-list2__card1 .card1__text1 {
  position: relative;
  font-weight: bold;
  color: #00aa9d;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .c-list2__card1 .card1__text1 {
    font-size: 1.2rem;
  }
}

.c-list2__card1 .card1__text1 .text1__inner {
  padding-right: 40px;
}

.c-list2__card1 .card1__text1 .img-icon1 {
  position: absolute;
  top: 5px;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .c-list2__card1 .card1__text1 .img-icon1 img {
    width: 15px;
  }
}

.c-list2__link1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.c-list2__img1 {
  position: relative;
  display: block;
}

.c-list2__img1 img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .c-list2__img1 img {
    height: auto;
  }
}

.c-list2__text1 {
  background: #fff;
  padding: 11px 12px 28px;
}

@media only screen and (max-width: 767px) {
  .c-list2__text1 {
    padding: 10px 9px;
  }
}

.c-list2__text1 h2 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 14px;
}

@media only screen and (max-width: 767px) {
  .c-list2__text1 h2 {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 767px) {
  .c-list2__text1 .company-name {
    font-size: 1.2rem;
  }
}

.c-list2 a:hover, .c-list2 button:hover {
  opacity: 0.8;
}
