@charset "UTF-8";

@mixin fs($fontSize, $baseFontSize:10){
	font-size: #{$fontSize / $baseFontSize}rem;
}
// example:
// @include fs(15);
// @include fs(20, 13);

%cf {
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
// example:
// @extend %cf;

@mixin cf{
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
// example:
// @extend cf;

//dang_tho
//extend class
%tb {
  //------------------------------------------
  &-flex {
    display: flex;
    //----------------------------------------
  }
  //------------------------------------------
}

//responsive
@mixin respond-to($media) {
  @media only screen and (max-width: $media + 'px') {
    @content;
  }
}
  
//responsive minwidth
@mixin respond-toSP($media) {
  @media only screen and (min-width: $media + 'px')
  and (orientation:landscape) {
  	@content;
}
}
  
//ie10->11
@mixin ie() {
//----------------------------------------
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
  	@content;
  }
//----------------------------------------
}

/*
*container
*/
@mixin wrap() {
  display: block;
  width: 1422px;
  height: auto;
  margin: 0 auto;
  position: relative;
  @include respond-to(767) { width: 100%; }
}

/*
*flex between css
*/
@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
*select-box
*/
@mixin selectBox1($right, $top, $border) {
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url(../img/bg-select1.png);
  background-repeat: no-repeat;
  background-position: right $right top $top;
  border: $border;
}

/*
*previous button and next button(Type One)
*/
@mixin prevNextBtnType1($top, $bg) {
  position: absolute;
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  margin: 0 auto;
  padding: 7px;
  background: $bg;
  top: $top;
  display: block;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/*
*Custom scrollbar
*/
@mixin customBoxCSSForScrollbar() {
  display: flex;
  height: 350px;
  overflow-y: scroll;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
