@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/*--------------------------------------------------
  Component show following divice size.
--------------------------------------------------*/
//show on pc-------------------------------------
.showPC {
  //-------------------------------------------
  @include respond-to(768) { display: none; }
  //-------------------------------------------
}

//show on smartphone---------------------------
.showSP {
  display: none;
  //---------------------------------------
  @include respond-to(768) { display: block; }
  //---------------------------------------
  &--inline {
    display: none;
    //-----------------------------------
    @include respond-to(768) { display: inline-block; }
  }
  //---------------------------------------
}

/*---------------------------
  menu Smartphone
---------------------------*/
.c {
  //---------------------------------------
  &-menuSP {
    box-sizing: border-box;
    position: relative;
    width: 70px;
    padding-top: 2px;
    cursor: pointer;
    background: #3b3737;
    border-right: 1px solid #9a9898;
    //-------------------------------------
    &__1, &__2, &__3 {
      width: 34px;
      height: 2px;
      background: #fff;
      margin: 11px auto auto;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
    //-------------------------------------
  }
  //---------------------------------------
  &-menulistSP {
    position: absolute;
    top: 58px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    display: none;
    background: rgb(142, 138, 138);
    //-------------------------------------
    li {
      position: relative;
      border-top: 1px solid #ccc;
      //-----------------------------------
      &:first-child { border-top: none; }
      //-----------------------------------
    }
    //-------------------------------------
    a {
      position: relative;
      text-decoration: none;
      display: block;
      text-align: left;
      color: #000;
      font-size: 1.4rem;
      padding: 15px 15px;
      //-----------------------------------
      .fa-chevron-down {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.1rem;
        color: $white;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
      }
      //------------------------------------
      .offSub { transform: rotate(-180deg); }
      //-----------------------------------
    }
    //-------------------------------------
    .c-sub__nav {
      li {
        //---------------------------------
        &:last-child { border-bottom: none;}
        //---------------------------------
        &:first-child { border-top: 1px solid #ccc;}
        //---------------------------------
      }
      //-----------------------------------
      a {
        position: relative;
        padding-left: 20px;
        //---------------------------------
        &::after {
          content: '';
          position: absolute;
          width: 7px;
          height: 1px;
          display: block;
          top: 50%;
          left: 7px;
          background: #000;
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    .select-box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0 35px;
      //---------------------------------
      .select1 {
        margin-right: 30px;
        //-------------------------------
        select {
          box-sizing: border-box;
          width: 95px;
          height: auto;
          padding: 4px 6px;
          font-size: 1.2rem;
          @include selectBox1(8px, 12px, 1px solid $brown);
          //-----------------------------
          @include respond-to(767) {
            width: 95px;
            height: auto;
            padding: 4px 6px;
            font-size: 1.2rem;
            background-position: right 5px top 6px;
          }
          //-----------------------------
        }
        //-------------------------------
      }
      //---------------------------------
      .select2 {
        //-------------------------------
        select {
          box-sizing: border-box;
          width: 131px;
          height: auto;
          padding: 4px 6px;
          font-size: 1.2rem;
          @include selectBox1(8px, 12px, 1px solid $brown);
          //-----------------------------
          @include respond-to(767) {
            background-position: right 5px top 6px;
          }
          //-----------------------------
        }
        //-------------------------------
      }
      //---------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
}

/*-----------------------------------------
  menu responsive
-----------------------------------------*/
.is-open {
  transition: all 0.5s;
  .c-menuSP__1 {transform: rotate(45deg) translate(10px, 10px);}
  .c-menuSP__2 {opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(8px, -8px);}
}

/*-----------------------------------------
* main navigation
-----------------------------------------*/
.c-navigation {
  display: block;
  position: relative;
  //---------------------------------------
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  //---------------------------------------
  a {
    position: relative;
    display: block;
    padding: 5px 20px 5px;
    text-align: left;
    text-decoration: none;
    color: #663333;
    font-weight: bold;
    font-size: 2.0rem;
    border-right: 1px solid #858271;
    //-------------------------------------
  }
  //---------------------------------------
  li {
    padding-bottom: 33px;
    //-------------------------------------
    &:first-child { a { padding-left: 0; } }
    //-------------------------------------
    &:hover {
      transition: all ease 1s;
      //-----------------------------------
      a:after {
        content: url(../img/triangle2.png);
        display: block;
        opacity: 1;
        position: absolute;
        left: 0;
        right: 0;
        width: 10px;
        height: 10px;
        margin: 0 auto;
        z-index: 999;
        animation: showNavmenu 1.2s ease;
      }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
}

/*-----------------------------------------
* main sub menu
-----------------------------------------*/
.c-navigation_sub {
  display: none;
	position: absolute;
	width: 100%;
  box-sizing: border-box;
  top: 55px;
  padding: 32px;
  z-index: 2;
	left: 0;
  right: 0;
	background: url(../img/bg-layout.jpg) repeat;
  box-shadow: 0px 14px 19px #544b4b;
  //-----------------------------------
	.c1-box1 {
    display: flex;
    justify-content: space-between;
	}
  //------------------------------------
  .c-sub__box1 {
    position: relative;
    width: 440px;
    height: 498px;
    //-----------------------------------
    .c-sub__inner { display: flex; }
    //-----------------------------------
    .c-sub__list1 {
      //---------------------------------
      h2 {
        text-align: left;
        font-size: 1.7rem;
        font-weight: bold;
        color: #663333;
      }
      //----------------------------------
      ul { display: block; }
      //----------------------------------
      li {
        border-right: 0;
        padding-bottom: 0;
        margin-bottom: 12px;
        a:after { content: ""; }
      }
      //----------------------------------
      a {
        font-weight: 500;
        padding: 1px 10px;
        font-size: 1.3rem;
        text-decoration: underline;
        border: none;
        //---------------------------------
        &:hover {
          color: $white;
          text-decoration: none;
          background: $brown;
          //-------------------------------
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    .c-sub__img1 {
      //-----------------------------------
      position: absolute;
      bottom: 0;
      width: 100%;
      transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
      //-----------------------------------
      img { width: 100%; }
      //-----------------------------------
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
    //-------------------------------------
  }
  //------------------------------------
  .c-sub__box2 {
    position: relative;
    width: 325px;
    text-align: left;
    //----------------------------------
    &__link {
      font-size: 1.3rem;
      color: #000;
      font-weight: 500;
      padding: 0;
      border-right: none;
      transition: all ease 1s;
      //--------------------------------
      &:after {
        content: ""!important;
        width: 0;
        height:0;
      }
      //--------------------------------
      &:hover { opacity: 0.6; }
      //--------------------------------
    }
    //----------------------------------
  }
  //------------------------------------
  .c-sub__title {
    //----------------------------------
    h2 {
      font-size: 1.7rem;
      font-weight: bold;
      color: #663333;
      line-height: 1.5;
    }
    //----------------------------------
  }
  //------------------------------------
  .c-sub__text {
    line-height: 1.7;
    text-align: justify;
    padding-right: 14px;
  }
  //------------------------------------
  //------------------------------------
  .l-many--mb1 {
		margin-bottom: 20px;
	}
	//------------------------------------
	.l-mr1 { margin-right: 40px; }
	//------------------------------------
	.l-mr2 { margin-right: 100px; }
	//------------------------------------
	.l-mr3 { margin-right: 140px; }
	//------------------------------------
  .l-sub__box2 {
    //----------------------------------
    .c-sub__img { margin: 15px 0; }
    //----------------------------------
  }
  //------------------------------------
}

/*-----------------------------------------
* Main Visual
-----------------------------------------*/
.mainVisual {
  display: block;
  position: relative;
  margin-top: -160px;
  z-index: 0;
  //---------------------------------------
  @include respond-to(767) {margin-top: -56px;}
  //---------------------------------------
  .c-slider {
    display: block;
    position: relative;
    //-------------------------------------
    .slick-track {
      height: 671px;
      //-----------------------------------
      @include respond-to(767) {height: 215px;}
      //-----------------------------------
    }
    //-------------------------------------
    &__img {
      img {
        width: 100%;
        height: 100%;
      }
    }
    //-------------------------------------
    .slick-prev {
      @include prevNextBtnType1(50%, rgba(120, 115, 115, 0.788235294117647));
      left: 90px;
      cursor: pointer;
      z-index: 1;
      //-----------------------------------
      @include respond-to(767) {
        width: 25px;
        height: 25px;
        left: 10%;
      }
      //-----------------------------------
    }
    //-------------------------------------
    .slick-next {
      @include prevNextBtnType1(50%, rgba(120, 115, 115, 0.788235294117647));
      right: 90px;
      cursor: pointer;
      //-----------------------------------
      @include respond-to(767) {
        width: 25px;
        height: 25px;
        right: 10%;
      }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
  .c-banner {
    display: block;
    position: absolute;
    top: 29%;
    right: 47%;
    margin: 0 auto;
    text-align: left;
    //-------------------------------------
    @include respond-to(767) {
      display: block;
      position: absolute;
      top: 26%;
      right: inherit;
      left: 16%;
    }
    //-------------------------------------
    &__img {
      width: 86%;
      max-width: 659px;
      //-----------------------------------
      @include respond-to(767) {
        width: 70%;
        max-width: 330px;
      }
      //-----------------------------------
      img {
        width: 100%;
      }
      //-----------------------------------
    }
    //-------------------------------------
    &__text1 {
      padding: 6px 14px 14px;
      text-align: left;
      font-size: 3.0rem;
      color: white;
      font-weight: 500;
      line-height: 1.2;
      background: linear-gradient(to right, rgba(255, 0, 134, 0.78), rgba(255, 85, 151, 0.6196078431372549));
      transform: rotate(-3deg);
      //-----------------------------------
      @include respond-to(767) {
        width: 251px;
        padding: 0 5px 3px;
        text-align: left;
        font-size: 0.95rem;
      }
      //-----------------------------------
      img {
        @include respond-to(767) {width: 100%;}
      }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
  .l-mb1 {
    margin: 30px 0 0 34px;
    //-------------------------------------
    @include respond-to(767) {margin: 12px 0 0 -6px;}
    //-------------------------------------
  }
  //---------------------------------------
}

/*-----------------------------------------
*list 
-----------------------------------------*/
.c-list1 {display: flex;}

/*-----------------------------------------
* main title
-----------------------------------------*/
.c-maintitle1 {
  position: relative;
  display: block;
  padding-bottom: 10px;
  font-family: Kozuka Gothic Pro;
  text-align: left;
  color: #663333;
  border-bottom: 7px solid $brown;
  //---------------------------------------
  @include respond-to(767) {
    padding-bottom: 5px;
    border-bottom: 4px solid $brown;
  }
  //---------------------------------------
  h2 {
    font-family: Kozuka Gothic Pro;
    font-size: 3.6rem;
    font-weight: bold;
    //-------------------------------------
    @include respond-to(767) {
      font-size: 1.8rem;
    }
    //-------------------------------------
  }
  //---------------------------------------
  span {
    font-size: 2.0rem;
    //--------------------------------------
    @include respond-to(767) {
      font-size: 1.5rem;
    }
    //--------------------------------------
  }
  //---------------------------------------
  &__img1 {
    img {@include respond-to(767) {width: 205px;}}
  }
  //---------------------------------------
  &__img2 {
    img {@include respond-to(767) {width: 195px;}}
  }
  //---------------------------------------
  &__img3 {
    img {@include respond-to(767) {width: 265px;}}
  }
  //---------------------------------------
}

/*-----------------------------------------
* button
-----------------------------------------*/
.c-btn1 {
  display: inline-block;
  cursor: pointer;
  //---------------------------------------
  a { display: block; }
  //---------------------------------------
}

/*-----------------------------------------
* Header
-----------------------------------------*/
.c-header {
  position: relative;
  display: block;
  padding-bottom: 77px;
  background: url(../img/bg-header.png) repeat-x left top;
  background-size: cover;
  z-index: 1;
  //---------------------------------------
  @include respond-to(767) { padding-bottom: 45px; }
  //---------------------------------------
  .box1 {
    @include flex-between;
    padding: 5px 0px;
    //-------------------------------------
    .small-title {
      text-align: left;
      font-size: 1.6rem;
      color: $brown;
      //-----------------------------------
    }
    //-------------------------------------
    &__child1 {
      @include flex-between;
      width: 33%;
      //-----------------------------------
      .select-box {
        @include flex-between;
        //---------------------------------
        .select1 {
          //-------------------------------
          select {
            box-sizing: border-box;
            width: 135px;
            height: 35px;
            padding: 6px 10px;
            font-size: 1.3rem;
            @include selectBox1(8px, 12px, 1px solid $brown);
            //-----------------------------
          }
          //-------------------------------
        }
        //---------------------------------
        .select2 {
          //-------------------------------
          select {
            box-sizing: border-box;
            width: 199px;
            height: 35px;
            padding: 6px 10px;
            font-size: 1.3rem;
            @include selectBox1(8px, 12px, 1px solid $brown);
            //-----------------------------
          }
          //-------------------------------
        }
        //---------------------------------
      }
      //-----------------------------------
      .basket {
        position: relative;
        //---------------------------------
        p {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          box-sizing: border-box;
          padding: 2px;
          width: 30px;
          height: 30px;
          margin: 0 auto 5px;
          text-align: center;
          font-weight: bold;
          font-size: 1.8rem;
          color: #fff;
          background: #434343;
          border-radius: 33px;
          //-------------------------------
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
  .box2 {
    @include flex-between;
    //-------------------------------------
    &__child1 {
      position: relative;
      top: 15px;
      //-----------------------------------
      .c-link1 {
        text-align: left;
        //---------------------------------
        ul {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        //---------------------------------
        li:not(:last-child) { margin-right: 30px; }
        //---------------------------------
        a {
          color: #000;
          text-align: left;
          text-decoration: none;
          display: block;
          &:hover {text-decoration: underline;}
          //-------------------------------
        }
        //---------------------------------
      }
      //-----------------------------------
      .c-search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        //---------------------------------
        input[type="text"] {
          box-sizing: border-box;
          width: 210px;
          padding: 15px 20px;
          height: 50px;
          border: 1px solid #ccc;
          //-------------------------------
        }
        //---------------------------------
        select {
          box-sizing: border-box;
          width: 210px;
          padding: 15px 20px;
          height: 50px;
          @include selectBox1(13px, 19px, 1px solid #ccc);
          //-------------------------------
        }
        //---------------------------------
        .btn-search {
          width: 50px;
          height: 50px;
          background: $green;
          box-sizing: border-box;
          cursor: pointer;
          transition: opacity 0.1s ease;
          //-------------------------------
          &:hover { opacity: 0.8; }
          //-------------------------------
          .fa-search {
            font-size: 1.7rem;
            color: $white;
            //-----------------------------
          }
          //-------------------------------
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    .logo1 {text-align: left;}
    //-------------------------------------
  }
  //---------------------------------------
  .plant {
    position: absolute;
    bottom: -36px;
    right: 0;
    z-index: 1;
  }
  //---------------------------------------
  .sp-header {
    //-------------------------------------
    .inner {
      display: flex;
      justify-content: space-between;
      background: #3b3737;
    }
    //-------------------------------------
    .list-action {
      display: flex;
      justify-content: flex-start;
      //-----------------------------------
      .basket {
        position: relative;
        //---------------------------------
        img {
          width: 40px;
          height: 40px;
        }
        //---------------------------------
        p {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          padding: 0px;
          font-size: 1.4rem;
          margin: 0 auto 13px;
          text-align: center;
          font-weight: bold;
          color: #fff;
          background: #434343;
          border-radius: 33px;
          //-------------------------------
        }
        //---------------------------------
      }
      //-----------------------------------
      .btn-search {
        background: #3b3737;
        box-sizing: border-box;
        cursor: pointer;
        transition: opacity 0.1s ease;
        background-position: right 10px top 10px;
        //-------------------------------
        &:hover { opacity: 0.8; }
        //-------------------------------
        .fa-search {
          font-size: 3.0rem;
          color: $white;
          //-----------------------------
        }
        //-------------------------------
      }
      //-----------------------------------
      .list-sub1 {
        padding: 9px 16px;
        border-left: 1px solid #9a9898;
        cursor: pointer;
      }
      //-----------------------------------
    }
    //-------------------------------------
    .logo1 {
      width: 73%;
      margin: 35px auto 20px;
      img {width: 100%;}
    }
    //-------------------------------------
    .form-search {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      display: none;
      margin-top: 12px;
      //-----------------------------------
      .form-inner {display: flex;}
      //-----------------------------------
      input {
        width: 90%;
        padding: 10px 5px;
        font-size: 1.3rem;
      }
      //-----------------------------------
      .btn-search {
        width: 10%;
        min-width: 50px;
        background: $green;
        color: #fff;
      }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
}

/*-----------------------------------------
* footer
-----------------------------------------*/
.c-footer {
  position: relative;
  display: block;
  padding: 60px 0 90px;
  //---------------------------------------
  @include respond-to(767) { padding: 30px 20px 45px; }
  //---------------------------------------
  &__inner {
    text-align: left;
    @include wrap;
  }
  //---------------------------------------
  &__box1 {
    display: flex;
    justify-content: flex-start;
    //-------------------------------------
    @include respond-to(767) {display: block;}
    //-------------------------------------
    .box1:not(:last-child) {
      position: relative;
      width: 20%;
      //-----------------------------------
      @include respond-to(767) {
        width: auto;
        margin-bottom: 20px;
      }
      //-----------------------------------
    }
    //-------------------------------------
    .box1:last-child {
      position: relative;
      width: 30%;
      @include respond-to(767) {width: auto}
    }
    //-------------------------------------
  }
  //---------------------------------------
  &__title1 {
    //-------------------------------------
    @include respond-to(767) {
      padding-bottom: 15px;
      border-bottom: 1px solid $brown;
      cursor: pointer;
    }
    //-------------------------------------
    .img-text1 {@include respond-to(767) {width: 230px;}}
    //-------------------------------------
    .img-text2 {@include respond-to(767) {width: 190px;}}
    //-------------------------------------
    .img-text3 {@include respond-to(767) {width: 166px;}}
    //-------------------------------------
  }
  //---------------------------------------
  &__list1 {
    display: inline-block;
    //-------------------------------------
    li { display: block; }
    //-------------------------------------
    a {
      display: block;
      text-align: left;
      text-decoration: none;
      color: #000;
      margin-bottom: 14px;
      //-----------------------------------
      &:hover { text-decoration: underline; }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
  &__contact {
    //-------------------------------------
    .c-phone__box1 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    //-------------------------------------
    .c-phone__img {
      margin-right: 10px;
    }
    //-------------------------------------
  }
  //---------------------------------------
  &__plus {
    width: 15px;
    height: 15px;
    top: 3px;
    right: 0;
    cursor: pointer;
    position: absolute;
    transition: all 0.5s;
    //------------------------------------
    .plus__1, .plus__2 {
      width: 100%;
      height: 2px;
      background: $brown;
      margin: 6px auto;
      backface-visibility: hidden;
      transition: all 0.5s;
    }
    //-------------------------------------
    .plus__1 {
      transform: rotate(90deg);
    }
    //-------------------------------------
    .plus__2 {
      margin-top: -49%;
    }
    //-------------------------------------
  }
  .is-open {
    //-------------------------------------
    .plus__1 {
      transform: rotate(0);
    }
    //-------------------------------------
    .plus__2 {
      width: 0;
    }
    //-------------------------------------
  }
  //---------------------------------------
  //---------------------------------------
  .l-mr1 {
		margin-right: 85px;
		//-------------------------------------
		@include respond-to(767) {margin-right: 0;}
		//-------------------------------------
  }
  //---------------------------------------
  .l-mr2 {
		margin-right: 160px;
		//-------------------------------------
		@include respond-to(767) {margin-right: 0;}
		//-------------------------------------
	}
	//---------------------------------------
	.copyright {
    margin-top: 40px;
    font-size: 1.1rem;
		//-------------------------------------
		@include respond-to(767) {
      margin-top: 50px;
      text-align: center;
    }
		//-------------------------------------
	}
  //---------------------------------------
  .l-many-title1 {
    margin-bottom: 21px;
  }
  //---------------------------------------
  .l-mb1 {
    margin-bottom: 24px;
	}
	//---------------------------------------
	&__contact {
		//---------------------------------------
		.c-phone__box1 {
			margin: 14px 0 18px;
			//-------------------------------------
			@include respond-to(767) {margin: 9px 0 9px;}
			//-------------------------------------
		}
		//---------------------------------------
		.c-phone__box2 {
			line-height: 1.7;
			//-------------------------------------
			p:not(:last-child) {
				margin-bottom: 25px;
				//-----------------------------------
				@include respond-to(767) {margin-bottom: 15px;}
				//-----------------------------------
			}
			//-------------------------------------
		}
		//---------------------------------------
	}
  //---------------------------------------
}

//////////////////////////////////////////
/*public main component*/
/////////////////////////////////////////

/*-----------------------------------------
* Product
-----------------------------------------*/
.c-product {
  position: relative;
  display: block;
  //---------------------------------------
  .c-list1 {
    justify-content: space-between;
    //-------------------------------------
    &__card {
      width: 345px;
      margin: 10px;
      text-align: left;
      //-----------------------------------
      @include respond-to(767) {
        width: 300px;
      }
      //-----------------------------------
      h3 {
        color: #663333;
        font-size: 1.4rem;
        text-align: left;
        margin-bottom: 20px;
        //---------------------------------
        @include respond-to(767) {
          margin-bottom: 10px;
          font-size: 1.2rem;
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    &__text {
      padding: 20px 0;
      text-align: left;
      //-----------------------------------
      @include respond-to(767) {
        margin-bottom: 10px;
      }
      //-----------------------------------
    }
    //-------------------------------------
    &_icons {
      text-align: left;
      //-----------------------------------
      .icon1 {
        margin-right: 10px;
        img {display: inline;}
      }
      //-----------------------------------
      a {text-decoration: none;}
      //-----------------------------------
    }
    //-------------------------------------
    &_tags {
      position: relative;
      text-align: left;
      display: flex;
      justify-content: flex-start;
      margin: 14px 0;
      //-----------------------------------
      .c-tag1{
        //---------------------------------
        a {
          margin-left: 4px;
          text-decoration: none;
          color: $brown;
          padding-bottom: 1px;
          border-bottom: 1px solid $brown;
        }
        //---------------------------------
        .fas, .far { color: $brown; }
        //---------------------------------
        &:not(:last-child) {
          position: relative;
          margin-right: 11px;
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    &__img { img { width: 100%; } }
    //-------------------------------------
  }
  //---------------------------------------
  &__btn1 {
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    text-align: center;
    background: $green;
    border-radius: 22px;
    cursor: pointer;
    transition: opacity 0.1s ease;
    //-------------------------------------
    &:hover { opacity: 0.8; }
    //-------------------------------------
    a {
      padding: 10px;
      text-decoration: none;
      color: #fff;
      font-size: 1.4rem;
      //-----------------------------------
    }
    //-------------------------------------
    .fa-arrow-right {
      margin-left: 6px;
      font-size: 1.5rem;
    }
    //-------------------------------------
  }
  //---------------------------------------
  .c-prev {
    @include prevNextBtnType1(-55px, $green);
    right: 40px;
    //-------------------------------------
    @include respond-to(767) {
      width: 25px;
      height: 25px;
      top: -28px;
      right: 30px;
    }
    //-------------------------------------
  }
  //---------------------------------------
  .c-next {
    @include prevNextBtnType1(-55px, $brown);
    right: 0;
    //-------------------------------------
    @include respond-to(767) {
      width: 25px;
      height: 25px;
      top: -28px;
    }
    //-------------------------------------
  }
  //---------------------------------------
}

/*-----------------------------------------
* Contact component
-----------------------------------------*/
.c-contact {
  padding: 17px 0;
  background: $brown;
  //---------------------------------------
  @include respond-to(767) {
    padding: 10px 20px;
  }
  //---------------------------------------
  .box1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //--------------------------------------
    @include respond-to(767) { display: block; }
    //--------------------------------------
  }
  //---------------------------------------
  .contact-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //-------------------------------------
    @include respond-to(767) { flex-wrap: wrap; }
    //-------------------------------------
    label {
      color: #fff;
      font-size: 1.8rem;
      margin-right: 18px;
      //---------------------------------------
      @include respond-to(767) {
        width: 100%;
        margin-right: 0;
        font-size: 1.4rem;
        text-align: left;
      }
      //---------------------------------------
    }
    //-----------------------------------------
    input {
      box-sizing: border-box;
      width: 374px;
      height: 35px;
      padding: 10px;
      font-size: 1.6rem;
      border: none;
      //---------------------------------------
      @include respond-to(767) {
        width: 88%;
        height: 30px;
        margin: 10px 0;
      }
      //---------------------------------------
    }
    //-----------------------------------------
    button {
      box-sizing: border-box;
      width: 57px;
      height: 35px;
      color: #fff;
      background: $green;
      //---------------------------------------
      @include respond-to(767) {
        width: 12%;
        height: 30px;
      }
      //---------------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
  .social-app {
    //-------------------------------------
    label {
      color: #fff;
      font-size: 1.8rem;
      margin-right: 35px;
      //-----------------------------------
      @include respond-to(767) {
        margin-right: 18px;
        text-align: left;
        font-size: 1.4rem;
      }
      //-----------------------------------
    }
    //-------------------------------------
    a {
      text-align: left;
      text-decoration: none;
      color: #fff;
      margin-right: 15px;
      font-size: 2.8rem;
      cursor: pointer;
      //-----------------------------------
      @include respond-to(767) { font-size: 2.0rem; }
      //-----------------------------------
      &:hover {color: $green;}
      //-----------------------------------
    }
    //-------------------------------------
    .wifi {
      //-----------------------------------
      .fa-wifi {
        position: relative;
        top: 3px;
        transform: rotate(45deg);
      }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
}
