@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  transform: scale(1);
  background-size: cover;
  display: flex;
}
//------------------------------------
.c-wrap {
  display: block;
  width: 1050px;
  height: 80px;
  margin: 0 auto;
  //position: relative;
  @include respond-to(768) {
    width: 100%;
    position: unset;
  }
  &__flex {
    display:  flex;
    justify-content:  space-between;
    align-items:  center;
  }
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p {
  //----------------------------------------
  &-service1 {
    background: #5D9CEC;
    color: #FFF;
    //----------------------------------------
    @include respond-to(767) {
      padding-top: 60px;
    }
    //----------------------------------------
  }
  //----------------------------------------
  &-service2 {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  //----------------------------------------
  &-service3 {
    margin-bottom: 40px;
    //----------------------------------------
    &--mb20 {margin-bottom: 20px;}
  }
  //----------------------------------------
  &-service4 {
    margin-bottom: 40px;
    //----------------------------------------
    .c-table1 {
      margin-bottom: 30px;
    }
    //----------------------------------------
    .l-btn1--center {
      margin-top: 30px;
    }
    //----------------------------------------
  }
  //----------------------------------------
  &-service5 {
    .c-boximg1 {
        margin-bottom: 30px;
    }
    .c-title5 { margin-bottom: 10px; }
    p { margin-bottom: 20px; }
  }
}

//company-----------------------------------
.p {
  //----------------------------------------
  &-company1 {
    //----------------------------------------
    @include respond-to(767) {
      padding-top: 60px;
    }
    //----------------------------------------
  }
  //----------------------------------------
  &-company2 {
    margin-bottom: 40px;
    //----------------------------------------
    p { margin-bottom: 20px; }
  }
  //----------------------------------------
  &-company3 {
    margin-bottom: 40px;
    .c-table1 { margin-bottom: 30px; }
  }
  //----------------------------------------
  &-company4 {
    //----------------------------------------
    p {margin-bottom: 10px;}
    //----------------------------------------
    .c-list4 {
      margin-bottom: 30px;
      li { font-size: 1.6rem; }
    }
    //----------------------------------------
    &__text1 {color: #8CC152;}
    //----------------------------------------
    &__text2 {
      color: #DA4453;
      font-size: 1.2rem;
    }
    //----------------------------------------
    .c-line1 {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    //----------------------------------------
  }
  //----------------------------------------
}
//component company layout------------------
.c {
  //---------------------------------
  &-company5 {
    display: flex;
    margin-top: 30px;
    //---------------------------------
    &__img1 {
      width: 180px;
      margin-right: 15px;
      //---------------------------------
      @include respond-to(767) {
        width: 100px;
        //---------------------------------
        img {
          max-width: 100%;
          height: auto;
        }
        //---------------------------------
      }
      //---------------------------------
    }
    //---------------------------------
    &__text1 { flex: 1; }
  }
  //---------------------------------
}
