.p-top1-boxinfo1:after, .p-top1-banner:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-wrap {
  display: block;
  width: 780px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-wrap {
    width: 100%;
  }
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .p-rule0 .c-titimg__1 {
    width: 120px !important;
  }
}

.p-rule1 {
  margin: 65px 0 54px;
}

@media only screen and (max-width: 768px) {
  .p-rule1 {
    margin: 33px 0 0 !important;
  }
}

.p-rule2 {
  display: block;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .p-rule2 {
    padding: 0 14px;
  }
}

.p-rule2-writer {
  margin-top: 28px;
  padding-top: 35px;
  text-align: right;
  line-height: 1.7;
  border-top: 1px solid #e5e5e5;
}

@media only screen and (max-width: 768px) {
  .p-rule2-writer {
    margin-bottom: 21px;
    padding-bottom: 21px;
    font-size: 1.2rem;
  }
}

.p-rule2__text1 {
  padding-bottom: 42px;
  margin-bottom: 34px;
  font-size: 1.6rem;
  line-height: 1.6;
  border-bottom: 1px solid #e5e5e5;
}

@media only screen and (max-width: 768px) {
  .p-rule2__text1 {
    margin-bottom: 21px;
    padding-bottom: 21px;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .p-qa1 .c-menuTab__1,
  .p-qa1 .c-menuTab__2 {
    background: #c9c9c9;
  }
}

.p-qa2 {
  margin-top: 70px;
}

@media only screen and (max-width: 768px) {
  .p-qa2 {
    margin-top: 40px;
  }
}

.p-qa2 .c-menuTab__1, .p-qa2 .c-menuTab__2 {
  background: #c9c9c9;
}

@media only screen and (max-width: 768px) {
  .p-qa1, .p-qa2 {
    padding: 0 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.p-qa3 {
  margin: 65px 0 83px;
}

@media only screen and (max-width: 768px) {
  .p-qa3 {
    margin: 33px 0 40px;
  }
}

.p-qa h1 {
  margin-left: -8px;
}

@media only screen and (max-width: 768px) {
  .p-qa h1 .c-titimg__1 {
    width: 63px !important;
  }
}

@media only screen and (max-width: 768px) {
  .p-topic {
    margin-bottom: 32px;
    padding: 0 14px;
  }
}

.p-topic-ban h1 {
  margin-left: -21px;
}

@media only screen and (max-width: 768px) {
  .p-topic-ban h1 {
    margin-left: 0;
  }
  .p-topic-ban h1 .c-titimg__1 {
    width: 106px !important;
  }
}

.p-topic1 {
  text-align: justify;
}

.p-topic1__text1 {
  padding-bottom: 74px;
  font-size: 1.6rem;
  line-height: 1.6;
  border-bottom: 1px solid #e5e5e5;
}

@media only screen and (max-width: 768px) {
  .p-topic1__text1 {
    padding-bottom: 52px;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .p-topic2 .c-menuTab__1, .p-topic2 .c-menuTab__2 {
    background: #c9c9c9;
  }
}

.p-topic2 .c-tab1-info1 {
  font-size: 1.6rem;
  color: black;
}

@media only screen and (max-width: 768px) {
  .p-topic2 .c-tab1-info1 {
    font-size: 1.4rem;
  }
}

.p-topic2 .c-tab1__tit1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.p-topic2 .c-tab1-childtit1 {
  margin-left: 45px;
}

@media only screen and (max-width: 768px) {
  .p-topic2 .c-tab1-childtit1 {
    margin-left: 7px;
  }
}

.p-topic2 .c-menuTab {
  top: 26px;
}

.p-topic2-list1 {
  margin-top: 20px;
}

.p-top1-boximg1 {
  position: absolute;
  top: -113px;
  left: 0px;
  float: left;
}

.p-top1-boxinfo1 {
  position: relative;
  left: 3px;
  top: 6px;
  float: right;
  color: white;
  display: block;
  width: 509px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .p-top1-boxinfo1 {
    width: 95%;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}

.p-top1-boxinfo1 h1 {
  margin: 17px  0 35px;
  font-size: 3.8rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .p-top1-boxinfo1 h1 {
    margin: 8px 0 22px;
    font-size: 2.7rem;
  }
  .p-top1-boxinfo1 h1 img {
    width: 306px;
  }
}

.p-top1-boxinfo1 h4 {
  font-size: 2.0rem;
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
  .p-top1-boxinfo1 h4 {
    font-size: 1.7rem;
  }
}

.p-top1-boxinfo1 .l--flex {
  width: 471px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .p-top1-boxinfo1 .l--flex {
    width: auto;
    max-width: 492px;
    margin: 0 auto;
  }
}

.p-top1-banner {
  padding: 45px 0 91px;
  background: #49c8b2;
  margin-bottom: 65px;
}

@media only screen and (max-width: 768px) {
  .p-top1-banner {
    padding: 20px 0;
    margin-bottom: 30px;
  }
}

.p-top2 {
  margin-bottom: 65px;
  text-align: left;
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .p-top2 {
    margin-bottom: 30px;
    font-size: 1.4rem;
  }
}

.p-top2 h2 {
  margin-bottom: 38px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-top2 h2 {
    margin-bottom: 30px;
  }
  .p-top2 h2 img {
    width: 300px;
  }
}

.p-top2 p {
  line-height: 1.7;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .p-top2 p {
    padding: 0 14px;
  }
}

.p-top2 iframe {
  width: 620px;
  height: 350px;
  text-align: center;
  margin: 61px auto 0;
  display: block;
}

@media only screen and (max-width: 768px) {
  .p-top2 iframe {
    width: 100%;
    margin-top: 30px;
    height: 211px;
  }
}

.p-top3 {
  background: #e5e5e5;
  padding: 65px 0;
  text-align: left;
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .p-top3 {
    padding: 30px 14px;
    font-size: 1.4rem;
  }
}

.p-top3 h2 {
  margin-bottom: 35px;
  margin-left: 12px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .p-top3 h2 {
    margin-bottom: 20px;
    font-size: 2.2rem;
  }
  .p-top3 h2 .c-titimg__1 {
    width: 108px !important;
  }
}

.p-top3 h2 img {
  width: 45px;
  height: 43px;
  vertical-align: middle;
  margin-right: 7px;
}

@media only screen and (max-width: 768px) {
  .p-top3 h2 img {
    width: 36px;
    height: auto;
  }
}

.p-top3__text1 {
  margin-bottom: 25px;
  line-height: 1.7;
  font-weight: bold;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .p-top3__text1 {
    margin-bottom: 30px;
  }
}

.p-top3-list1 p {
  padding: 16px 0;
  border-top: 2px solid white;
}

.p-top3-list1 p:last-child {
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 768px) {
  .p-top3-list1 p {
    font-weight: bold;
  }
}

.p-top3-writer {
  margin-top: 20px;
  text-align: right;
}

.p-top3-writer a {
  color: black;
}

.p-top3-top3--ml42 {
  margin-left: 42px;
}

@media only screen and (max-width: 768px) {
  .p-top3-top3--ml42 {
    margin-left: 12px;
  }
}

.p-top4 {
  padding: 65px 0;
}

@media only screen and (max-width: 768px) {
  .p-top4 {
    padding: 30px 14px 60px;
  }
}

.p-top4 h2 {
  font-size: 3.0rem;
  font-weight: bold;
  margin-bottom: 52px;
}

@media only screen and (max-width: 768px) {
  .p-top4 h2 {
    font-size: 2.0rem;
    text-align: center;
    margin-bottom: 30px;
  }
}

.p-top4 h2 img {
  vertical-align: bottom;
  margin-right: 13px;
  position: relative;
  bottom: -6px;
}

@media only screen and (max-width: 768px) {
  .p-top4 h2 img {
    width: 293px;
    display: block;
    text-align: center;
    margin: 0 auto 15px;
  }
}

.p-top4__titimg1 {
  margin-right: 0 !important;
  margin-left: 2px;
}

@media only screen and (max-width: 768px) {
  .p-top4__titimg1 {
    margin-right: auto !important;
  }
}

.p-top4 .c-box1--botline {
  margin-bottom: 45px;
  padding-bottom: 30px;
}

.p-top4 .c-box1--botline:last-child {
  margin-bottom: 0;
  padding-bottom: 11px;
  border-bottom: none;
}

@media only screen and (max-width: 768px) {
  .p-top4 .c-box1--botline {
    margin-bottom: 30px;
    padding-bottom: 60px;
  }
}

.p-top5 {
  padding: 65px 0;
  background: #e5e5e5;
}

@media only screen and (max-width: 768px) {
  .p-top5 .l--flex {
    display: block;
  }
  .p-top5 img {
    width: 316px;
  }
}

.p-top5 h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 47px;
}

@media only screen and (max-width: 768px) {
  .p-top5 h2 {
    font-size: 2.2rem;
  }
}

.p-top5 h2 img {
  width: 45px;
  height: 43px;
  vertical-align: middle;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .p-top5 h2 img {
    width: 36px;
    height: auto;
    margin-right: 5px;
  }
}

.p-top5 h2 .c-titimg__1 {
  margin-right: -7px;
  margin-left: 4px;
  margin-top: 4px;
}

@media only screen and (max-width: 768px) {
  .p-top5 h2 .c-titimg__1 {
    width: 260px !important;
  }
}

@media only screen and (max-width: 768px) {
  .p-top5-listimg img {
    display: block;
    margin: 0 auto;
  }
  .p-top5-listimg img:first-child {
    margin-bottom: 18px;
  }
}

.p-top6 .c-listimgf1 {
  padding: 20px 0 33px;
}

.is-opentab .c-menuTab__1 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.is-opentab .c-menuTab__2 {
  width: 100%;
  margin-top: -43%;
}

.active1 {
  border: 2px solid #069d8f !important;
}

.active2 {
  background: #069d8f !important;
}
