@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.btn-top {
  position: absolute;
  right: -11%;
  top: 76px;
  //----------------------------------
  @include respond-to(768) {
    right: 16px;
    top: 69px;
  }
  //----------------------------------
  img {
    width: 100px;
    height: 100px;
    //----------------------------------
    @include respond-to(768) {
      width: 50px;
      height: 50px;
    }
    //----------------------------------
  }
  //----------------------------------
}
//----------------------------------------------------
.is-open {
  //-----------------------------
  .c-menuSP__1 {
    transform: rotate(90deg);
  }
  //-----------------------------
  .c-menuSP__2 {
    width: 100%;
    margin-top: -25%;
  }
  //-----------------------------
}

/*--------------------------------------------------
  Component index
----------------------------------------------------*/
.c {
  //show on pc-------------------------------------
  &-pc {
    display: block!important;
    //---------------------------------------------
    @include respond-to(768) { display: none!important; }
    //---------------------------------------------
    &--inline {
        display: inline-block!important;
        @include respond-to(768) { display: none!important; }
    }
    //-----------------------------------
  }
  //show on smartphone---------------------------
  &-sp {
    display: none!important;
    //-----------------------------------
    @include respond-to(768) { display: block!important; }
    //-----------------------------------
    &--inline {
        display: none!important;
        //-----------------------------------
        @include respond-to(768) { display: inline-block!important; }
    }
    //------------------------------------------
  }
  //head------------------------------------------
  &-head {
    //-----------------------------------
    &__img1 {
      height: 1042px;
      position: absolute;
      left: -308px;
      top: -284px;
    }
    //-----------------------------------
    &__img2 {
      position: relative;
      width: 933px;
      height: 344px;
      margin: 200px 0 0 621px;
      right: 0;
      top: 29px;
    }
    //-----------------------------------
  }
  //menu-------------------------------------------
  &-menu {
    position: relative;
    //right: -278px;
    right: -228px;
    top: -11px;
    //-----------------------------------
    ul {
      //-----------------------------------------------
      li {
        float: right;
        padding: 46px 45px 46px 0;
      }
      //-----------------------------------------------
      a {
        text-align: left;
        text-decoration: none;
        color: #3c3c3c;
        font-size: 1.8rem;
      }
      //-----------------------------------------------
      .i-arrow {
        vertical-align: middle;
        margin-right: 10px;
      }
      //-----------------------------------------------
    }
    //-----------------------------------------------
  }
  //----------------------------------------------
  &-campaign1 {
    position: absolute;
    top: -210px;
    z-index: 1;
    left: -240px;
    //-----------------------------
    img { z-index: 0; }
    //-----------------------------
    @include respond-to(768) {
      top: 0;
      left: 0;
      width: 100%;
      position: relative;
      margin-top: 10%;
      //-----------------------------
      img { width: 100%; }
    }
    //-----------------------------
  }
  //button1------------------------------------------
  &-btn1 { display: inline-block; }
  //button2-----------------------------------------
  &-btn2 {
    text-decoration:  none;
    padding: 5px 18px;
    font-weight: bold;
    color: white;
    &--green { background: #33c49d; }
    &--blue { background: #0080ae; }
  }
  //title1-------------------------------------------
  &-title1 {
    font-size:  5.6rem;
    font-weight: 100;
    @include respond-to(768) {
      font-size: calc-size(5.6, rem);
      img { width: 101px; }
    }
    img { margin-right: 21px; }
  }
  //c-box1-----------------------------------------
  &-box1 {
    background:  white;
    h2 {
      background: #10222b;
      color:  #dbdedf;
      font-size: 2.0rem;
      padding: 14px 0;
      @include respond-to(768) {
        font-size: 1.6rem;
      }
    }
  }
  //arrow1----------------------------------------------
  &-arrow1 {
    width:  192px;
    display:  inline-block;
    font-size: 2.1rem;
    padding: 15px 0;
    color: #f5fbfa;
    text-align:  center;
    vertical-align: middle;
    background:  url(../img/i-arrow2.png) no-repeat;
  }
  //c-y1_2000--------------------------------------
  &-y1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //------------------------------------------
    @include respond-to(768) {
      display: block;
    }
    //------------------------------------------
    &__text1 {
      display: inline;
      margin-left: 5px;
      //----------------------------------------
      @include respond-to(768) {
        display: block;
      }
    }
    //------------------------------------------
  }
  //--------------------------------------------
  &-shin1-btn1 {
    font-size: 2.1rem;
    color: white;
    border: 1px solid white;
    background: url(../img/i-bgbtn1.png) repeat;
    border-radius: 100px;
  }
  //--------------------------------------
  &-list1 {
    display: flex;
    justify-content: space-between;
    //--------------------------------------
    &__card1 {
      position:  relative;
      //--------------------------------------
      &:hover {
        .c-list1__info { opacity: 1; }
      }
      //--------------------------------------
    }
    //--------------------------------------
    &__info {
      opacity: 0;
      position: absolute;
      width:  100%;
      height:  100%;
      top: 0;
      background: url(../img/i-bgpc.png) repeat;
      transition: all ease 0.4s;
      p {
        margin: 91px 0;
        color:  red;
      }
    }
    //------------------------------
  }
  //--------------------------------------
  &-contact2 {
    width: 780px;
    background: #10222b;
    box-sizing:  border-box;
    padding: 95px 0 95px 85px;
  }
  //----------------------------------
  &-farrows {
    //--------------------------------
    img {
      width: 489px;
      margin:  0 auto;
      //-----------------------------
      @include respond-to(768) { width: 245px; }
    }
    //--------------------------------
  }
  //----------------------------------
}
/*-----------------------------------------------
Table
-----------------------------------------------*/
.c {
  //--------------------------------------------
  &-table1 {
    //-------------------------------------------
    &-rowhead th {
      background: #dddddd;
      padding: 13px 0 !important;
      border:  none;
      text-align: center;
      //---------------------------------------
      &:nth-of-type(1) { width: 264px; }
      &:nth-of-type(2) { width: 323px; }
      &:nth-of-type(3) { width: 284px; }
      &:nth-of-type(5) { width: 285px; }
      //---------------------------------------
    }
    //-------------------------------------------
    table {
      width:  100%;
      height:  auto;
      color:  #3c3c3c;
      font-size: 1.5rem;
      font-weight:  bold;
      text-align:  left;
      border-spacing: 0;
      border-collapse:  collapse;
      //-----------------------------------------
      tr {
        width: 100%;
        border-collapse:  collapse;
        border-bottom: 1px solid #ccc;
        //-----------------------------------------
        th, td {
          padding: 12px 0 13px;
          line-height: 23px;
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4) {
            text-align: center;
          }
          //---------------------------------------
        }
        //-----------------------------------------
        td {
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4) {
            border-left: 1px solid #ccc;
          }
        }
        //----------------------------------------
        th {
          &:first-child { padding-left:  30px;}
        }
        //-------------------------------
      }
      //---------------------------------
    }
    //-----------------------------------------
  }
  //-------------------------------------------
}
//---------------------------------------
@include respond-to(768) {
  //---------------------------------------
  .c-campaign1-sp img {
      width: 100%;
      position:  relative;
      top: -28px;
  }
  //---------------------------------------
  .c-sphead__img3 {
    width: 100%;
    position: absolute;
    top: 0;
  }
  //---------------------------------------
  .c-sphead__img4 {
    width: 85%;
    margin: -54% auto 0;
    position: relative;
  }
  //---------------------------------------
  .c-sphead__img4 img {
    width: 100%;
  }
  //---------------------------------------
  .c-head__img1 {
    position:  relative;
    width: 80%;
    height: 961px;
    margin:  0 auto;
  }
  //---------------------------------------
  .c-hbg99 {
    width: 100%;
    position: relative;
  }
  //---------------------------------------
}
//tab1-----------------------------------
.c {
  //-------------------------------------------
  &-tab1 {
    //---------------------------------
    @include respond-to(768) {
      .wrap__inner1 {padding-top: 0;}
    }
    //---------------------------------
    &-btn1 {
      background:  white;
      text-align:  left;
      font-size:  1.8rem;
      padding: 22px 16px;
      position:  relative;
      border: 0.5px solid #c8c8c8;
    }
    //--------------------------------
    &-info1 {
      margin: 30px 0;
      &:last-child { margin-bottom: 0; }
      //----------------------------------
      table {
        width:  auto;
        margin:  0 auto;
        background: #ffffff;
        //------------------------------
        tr {
          border: 1px solid #ccc;
          th:first-child {
            padding-left: 0;
            width:  124px;
            font-size: 1.2rem;
            box-sizing:  border-box;
            padding: 10px 13px;
            border-right: 1px solid #ccc;
          }
          //---------------------------
          td {
              box-sizing:  border-box;
              padding: 10px 13px;
              width: 176px;
              font-size: 1.2rem;
              font-weight: 200;
          }
          //----------------------------
        }
      }
      //----------------------------------
    }
    //--------------------------------
    &__tit1 {
      font-size:  1.0rem;
      color: #ccc;
      vertical-align: middle;
      margin-left: 17px;
      width: 132px;
      display:  inline-block;
    }
  }
  //-------------------------------------------
  &-menuSP {
    width: 30px;
    height: 30px;
    top: 27px;
    right: 19px;
    cursor: pointer;
    position: absolute;
    transition: all 0.5s;
    //-----------------------------------------
    &__1, &__2 {
      width: 100%;
      height: 1px;
      background: #0080ae;
      margin: 6px auto;
      backface-visibility: hidden;
      transition: all 0.5s;
    }
    //-----------------------------------------
    &__2 {
      width: 0;
    }
    //-----------------------------------------
  }
  //-----------------------------------------
}
