@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 1000px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 1.4rem;
	text-align: center;
  @include respond-to(768) {
		min-width: 100%;
	}
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l {
  //------------------------------
  &-flexbox { @extend %tb-flex; }
  //------------------------------
}

/*------------------------------------------------
  layout main
------------------------------------------------*/
.l-main {
	display: block;
	position: relative;
	padding-bottom: 200px;
}
