@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: Meiryo, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1222px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 100%;
    font-size: 1.2rem;
  }
}

/*------------------------------------------------
  layout container
------------------------------------------------*/
.l-container {
  display: block;
  width: 1170px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .l-container {
    width: 100%;
  }
}

/*------------------------------------------------
  layout menu
------------------------------------------------*/
.l-menu {
  position: relative;
}

.l-menu__top {
  margin-top: 15px;
}

.l-menu__top li:first-child a {
  padding: 5px 34px;
}

.l-menu__top li a {
  padding: 5px 27px;
}

/*------------------------------------------------
  layout banner
------------------------------------------------*/
.l-banner1__top1 {
  position: absolute;
  top: 24%;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .l-banner1__top1 {
    top: 13%;
  }
}

.l-banner1 .c-banner1__img2 {
  margin-top: 31px;
}

@media only screen and (max-width: 767px) {
  .l-banner1 .c-banner1__img2 {
    margin-top: 12px;
  }
}

/*------------------------------------------------
  layout main
------------------------------------------------*/
.l-main {
  display: block;
  position: relative;
}

/*------------------------------------------------
  layout list1
------------------------------------------------*/
.l-list1__top .c-list1__card1 {
  margin-bottom: 37px;
}

@media only screen and (max-width: 767px) {
  .l-list1__top .c-list1__card1 {
    margin-bottom: 20px;
  }
}

/*------------------------------------------------
  layout sidebar
------------------------------------------------*/
.l-sidebar {
  position: relative;
}

.l-sidebar .c-sidebar__box2 {
  margin-top: 28px;
}

@-webkit-keyframes borderEffect {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes borderEffect {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.c-btn1 {
  position: relative;
  display: block;
}

.c-btn1 a {
  display: block;
}

/*--------------------------------------------------
  Component show following divice size.
--------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .showPC {
    display: none;
  }
}

.showSP {
  display: none;
}

@media only screen and (max-width: 768px) {
  .showSP {
    display: block;
  }
}

.showSP--inline {
  display: none;
}

@media only screen and (max-width: 768px) {
  .showSP--inline {
    display: inline-block;
  }
}

/*-----------------------------------------
  menu Smartphone
-----------------------------------------*/
.c-menuSP {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 64px;
  padding-top: 4px;
  cursor: pointer;
  background: #3b3737;
  border-right: 1px solid #9a9898;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 34px;
  height: 2px;
  background: #fff;
  margin: 9px auto auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menulistSP {
  top: 74px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  display: none;
  background: rgba(144, 140, 134, 0.94);
  z-index: 999;
}

.c-menulistSP li {
  position: relative;
  border-top: 1px solid #ccc;
}

.c-menulistSP li:first-child {
  border-top: none;
}

.c-menulistSP a {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 15px 0;
  text-align: left;
  color: #000;
  font-size: 1.4rem;
}

.c-menulistSP a .fa-chevron-down {
  position: absolute;
  top: 20px;
  right: 7px;
  font-size: 1.1rem;
  color: #fff;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.c-menulistSP a .offSub {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.c-menulistSP .form-box1 {
  position: relative;
}

.c-menulistSP .form-box1 .sub-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 8px;
}

.c-menulistSP .form-box1 .list-icon {
  display: block;
  position: relative;
}

.c-menulistSP .form-box1 .list-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-menulistSP .form-box1 .list-icon a {
  color: #ccc;
  font-size: 1.4rem;
  display: block;
  margin-right: 30px;
}

.c-menulistSP .form-box1 .list-icon li {
  border-top: none;
}

.c-menulistSP .form-box1 .list-icon li :last-child a {
  margin-right: 39px;
}

.c-menulistSP .form-box1 .list-icon .icon-gog img {
  vertical-align: middle;
}

/*-----------------------------------------
  menu responsive
-----------------------------------------*/
.is-open {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(8px, 9px);
          transform: rotate(45deg) translate(8px, 9px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(6px, -8px);
          transform: rotate(-45deg) translate(6px, -8px);
}

/*------------------------------------------
  header component
------------------------------------------*/
.c-header {
  position: relative;
  display: block;
}

.c-header__pastry1 {
  display: block;
  position: relative;
  background: #c7b299;
  font-size: 1.2rem;
  color: #867566;
}

.c-header__pastry1 .pastry__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header__pastry1 .pastry-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .c-header__pastry1 .pastry-box1 {
    padding: 5px 5px;
  }
}

.c-header__pastry1 .pastry-box1 .pastry-obj1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header__pastry1 .pastry-box1 .pastry-obj1 .pastry-link1 a {
  display: block;
  padding: 9px 2px 9px 15px;
  color: #928170;
  text-align: left;
  text-decoration: none;
}

.c-header__pastry1 .pastry-box1 .pastry-obj1 .pastry-link1 .fas {
  padding: 0 10px;
}

.c-header__pastry1 .pastry-box1 .pastry-title1 {
  margin-right: 21px;
}

@media only screen and (max-width: 767px) {
  .c-header__pastry1 .pastry-box1 .pastry-title1 {
    margin-right: 0;
    font-size: 1.1rem;
  }
}

.c-header__pastry2 {
  display: block;
  position: relative;
  padding: 7px 0 28px;
}

@media only screen and (max-width: 767px) {
  .c-header__pastry2 {
    padding: 10px 0 20px;
  }
}

.c-header__pastry2 .pastry2__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header__pastry2 .logo-box {
  display: block;
  position: relative;
  margin-left: 5px;
}

@media only screen and (max-width: 767px) {
  .c-header__pastry2 .logo-box {
    margin: 0 auto;
  }
}

.c-header__pastry2 .logo-box .logo-text {
  padding: 4px 0;
  color: #fff;
  font-weight: bold;
  background: #60cfc6;
  margin-top: 8px;
}

.c-header__pastry2 .logo-box .logo-img {
  display: block;
}

@media only screen and (max-width: 767px) {
  .c-header__pastry2 .logo-box .logo-img img {
    width: 250px;
  }
}

.c-header__pastry2 .pastry2-box1 {
  position: relative;
  width: 68%;
}

.c-header__pastry2 .pastry2-box1 .sub-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 29px;
  border-bottom: 1px solid #ebebeb;
}

.c-header__pastry2 .pastry2-box1 .list-icon {
  display: block;
  position: relative;
  top: 29px;
}

.c-header__pastry2 .pastry2-box1 .list-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header__pastry2 .pastry2-box1 .list-icon a {
  color: #ccc;
  font-size: 1.4rem;
  display: block;
  margin-right: 56px;
}

.c-header__pastry2 .pastry2-box1 .list-icon li:last-child a {
  margin-right: 39px;
}

.c-header__pastry2 .pastry2-box1 .list-icon .icon-gog img {
  vertical-align: middle;
}

.c-header__pastry2 .pastry2-box1 .search-box {
  position: relative;
  top: 15px;
}

.c-header__pastry2 .pastry2-box1 .search-box input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  height: 36px;
  padding: 8px 35px 8px 8px;
  border: 1px solid #ebebeb;
  color: #000;
  background: url(../img/search-icon.png) no-repeat right 13px top 9px;
}

.c-header__pastry2 .pastry2-box1 .search-box input[type="text"]::-webkit-input-placeholder {
  color: #dbdbdb;
}

.c-header__pastry2 .pastry2-box1 .search-box input[type="text"]:-ms-input-placeholder {
  color: #dbdbdb;
}

.c-header__pastry2 .pastry2-box1 .search-box input[type="text"]::-ms-input-placeholder {
  color: #dbdbdb;
}

.c-header__pastry2 .pastry2-box1 .search-box input[type="text"]::placeholder {
  color: #dbdbdb;
}

/*------------------------------------------
  items component
------------------------------------------*/
.c-pastry__items1 .pastry-title1 {
  position: relative;
  left: 6px;
}

@media only screen and (max-width: 768px) {
  .c-pastry__items1 .pastry-title1 {
    left: 0;
  }
}

.c-pastry__items1 .pastry-title1 .icon-basket {
  position: relative;
  top: -1px;
  margin-right: 3px;
}

@media only screen and (max-width: 767px) {
  .c-pastry__items1 .pastry-title1 .icon-basket {
    top: 1px;
  }
}

.c-pastry__items1 .pastry-title1 a {
  text-align: left;
  color: #806f61;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .c-pastry__items1 .pastry-title1 a {
    color: #603b1c;
  }
}

.c-pastry__items1 .pastry-title1 .item {
  position: relative;
  left: 15px;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .c-pastry__items1 .pastry-title1 .item {
    left: 0;
  }
}

.c-pastry__items1 .pastry-title1 .item .fas {
  margin-left: 10px;
  color: #736357;
}

/*------------------------------------------
  header component (show the section header in SP)
------------------------------------------*/
.c-headerSP .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #3b3737;
}

.c-headerSP .list-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-headerSP .list-action .basket {
  position: relative;
}

.c-headerSP .list-action .basket img {
  width: 40px;
  height: 40px;
}

.c-headerSP .list-action .basket p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0px;
  font-size: 1.4rem;
  margin: 0 auto 13px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #434343;
  border-radius: 33px;
}

.c-headerSP .list-action .btn-search {
  background: #3b3737;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  background-position: right 10px top 10px;
}

.c-headerSP .list-action .btn-search:hover {
  opacity: 0.8;
}

.c-headerSP .list-action .btn-search .fa-search {
  font-size: 3.0rem;
  color: #fff;
}

.c-headerSP .list-action .list-sub1 {
  padding: 10px 16px;
  border-left: 1px solid #9a9898;
  cursor: pointer;
}

.c-headerSP .logo1 {
  width: 73%;
  margin: 35px auto 20px;
}

.c-headerSP .logo1 img {
  width: 100%;
}

.c-headerSP .form-search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 20px 20px;
  display: none;
  z-index: 999;
  background: rgba(144, 140, 134, 0.94);
}

.c-headerSP .form-search .form-box1 {
  position: relative;
}

.c-headerSP .form-search .form-box1 .sub-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 8px;
}

.c-headerSP .form-search .form-box1 .list-icon {
  display: block;
  position: relative;
}

.c-headerSP .form-search .form-box1 .list-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-headerSP .form-search .form-box1 .list-icon a {
  color: #ccc;
  font-size: 1.4rem;
  display: block;
  margin-right: 30px;
}

.c-headerSP .form-search .form-box1 .list-icon li:last-child a {
  margin-right: 39px;
}

.c-headerSP .form-search .form-box1 .list-icon .icon-gog img {
  vertical-align: middle;
}

.c-headerSP .form-search .form-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-headerSP .form-search input {
  width: 90%;
  padding: 10px 5px;
  font-size: 1.3rem;
}

.c-headerSP .form-search .btn-search {
  width: 10%;
  min-width: 50px;
  background: #4e9574;
  color: #fff;
}

/*------------------------------------------
  Menu component
------------------------------------------*/
.c-menu {
  display: block;
  position: relative;
}

.c-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-menu li a {
  position: relative;
  display: block;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.c-menu li a:after {
  content: "";
  width: 1px;
  height: 8px;
  display: block;
  position: absolute;
  background: #ebebeb;
  top: 43%;
  right: 0;
}

.c-menu li:hover a {
  color: #c7b299;
}

.c-menu li:hover a:after {
  top: 0 !important;
  height: 100%;
  background: #c7b299 !important;
  -webkit-animation: borderEffect ease 1s;
          animation: borderEffect ease 1s;
}

.c-menu li:hover a:before {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  background: #c7b299;
  top: 0;
  left: -1px;
  -webkit-animation: borderEffect ease 1s;
          animation: borderEffect ease 1s;
}

.c-menu .active a {
  color: #c7b299;
}

.c-menu .active a:before {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  background: #c7b299;
  top: 0;
  left: 0;
}

.c-menu .active a:after {
  content: "";
  width: 1px;
  height: 100% !important;
  top: 0 !important;
  display: block;
  position: absolute;
  right: 0;
  background: #c7b299 !important;
}

/*------------------------------------------
  MainVisual component
------------------------------------------*/
.mainVisual {
  position: relative;
  display: block;
}

/*------------------------------------------
  slider component
------------------------------------------*/
.c-slider1 {
  display: block;
  position: relative;
}

.c-slider1__img1 img {
  width: 100%;
  height: 100%;
}

.c-slider1 .slick-prev {
  position: absolute;
  left: 8%;
  top: 50%;
  cursor: pointer;
  background: none;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .c-slider1 .slick-prev img {
    width: 12px;
  }
}

.c-slider1 .slick-next {
  position: absolute;
  right: 8%;
  top: 50%;
  cursor: pointer;
  background: none;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .c-slider1 .slick-next img {
    width: 12px;
  }
}

.c-slider1 .slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.c-slider1 .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.c-slider1 .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.c-slider1 .slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  content: '';
  background: none;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 25px;
}

.c-slider1 .slick-dots .slick-active button:before {
  font-family: "Font Awesome 5 Free";
  content: "\f118";
  font-size: 1.3rem;
  color: #fff;
  border: none;
  top: -6px;
}

.c-slider1 .slick-track {
  height: 410px;
}

@media only screen and (max-width: 767px) {
  .c-slider1 .slick-track {
    height: 165px;
  }
}

/*------------------------------------------
  banner component
------------------------------------------*/
.c-banner1 {
  display: block;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-banner1__img1 {
    width: 89%;
    max-width: 283px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .c-banner1__img1 img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .c-banner1__img2 {
    width: 66%;
    margin: 0 auto;
    max-width: 228px;
  }
}

@media only screen and (max-width: 767px) {
  .c-banner1__img2 img {
    width: 100%;
  }
}

/*------------------------------------------
  list1 component
------------------------------------------*/
/*-------------------------------------------
 list1
-------------------------------------------*/
.c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-list1__card1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 272px;
  height: auto;
  margin-left: 28px;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 767px) {
  .c-list1__card1 {
    width: 50%;
    min-width: 260px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
}

.c-list1__card1:nth-child(3n + 1) {
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .c-list1__card1:nth-child(3n + 1) {
    margin-left: auto;
  }
}

.c-list1__card1:hover {
  opacity: 0.7;
}

.c-list1__img1 {
  position: relative;
}

.c-list1__img1 img {
  width: 100%;
}

.c-list1__info1 {
  padding: 20px 0;
  text-align: center;
  line-height: 1.6;
}

@media only screen and (max-width: 767px) {
  .c-list1__info1 {
    padding: 12px 0;
    line-height: 1.5;
  }
}

.c-list1__info1 h1, .c-list1__info1 h2, .c-list1__info1 h3, .c-list1__info1 h4, .c-list1__info1 h5, .c-list1__info1 h6 {
  margin-top: 5px;
  color: #c7b299;
  font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
  .c-list1__info1 h1, .c-list1__info1 h2, .c-list1__info1 h3, .c-list1__info1 h4, .c-list1__info1 h5, .c-list1__info1 h6 {
    font-size: 1.4rem;
  }
}

.c-list1__info1 .line-text1 {
  font-weight: 500;
  text-decoration: line-through;
}

.c-list1__info1 .price-text1 {
  font-weight: 500;
  font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
  .c-list1__info1 .price-text1 {
    font-size: 1.0rem;
  }
}

.c-list1 .hidden {
  display: none;
}

/*-------------------------------------------
 list2
-------------------------------------------*/
.c-list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .c-list2 {
    display: block;
  }
}

.c-list2__card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .c-list2__card {
    width: auto;
  }
}

.c-list2__img1 {
  display: block;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.c-list2__img1:hover {
  opacity: 0.8;
}

.c-list2__img1 img {
  width: 100%;
}

.c-list2__info1 {
  display: block;
  position: relative;
  text-align: left;
  padding: 21px 0 15px;
}

@media only screen and (max-width: 767px) {
  .c-list2__info1 {
    padding: 14px 0 10px;
  }
}

.c-list2__info1 .title1 h1, .c-list2__info1 .title1 h2, .c-list2__info1 .title1 h3, .c-list2__info1 .title1 h4, .c-list2__info1 .title1 h5, .c-list2__info1 .title1 h6 {
  font-weight: 500;
}

.c-list2__info1 .text1 {
  padding: 7px 0 16px;
  color: #ded3c6;
  word-spacing: 2px;
}

.c-list2__info1 .text1 .img-icon1 {
  position: relative;
  top: 4px;
}

.c-list2__info1 .text1 .text1-mr1 {
  margin-left: 9px;
}

@media only screen and (max-width: 767px) {
  .c-list2__info1 .text1 .text1-mr1 {
    margin-left: 2px;
  }
}

.c-list2__info1 .text1 .text1-mr2 {
  margin-left: 9px;
}

.c-list2__info1 .text1 .text1-mr3 {
  margin-left: 15px;
}

@media only screen and (max-width: 767px) {
  .c-list2__info1 .text1 .text1-mr3 {
    margin-left: 2px;
  }
}

.c-list2__info1 .text1 span {
  color: #c4c4c4;
}

.c-list2__info1 .text2 {
  padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .c-list2__info1 .text2 {
    padding-bottom: 15px;
  }
}

.c-list2__info1 .read-more {
  display: inline-block;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.c-list2__info1 .read-more:hover {
  opacity: 0.6;
}

/*--------------------------------------------
  sidebar
--------------------------------------------*/
.c-sidebar {
  display: block;
  position: relative;
}

.c-sidebar__box1 {
  position: relative;
  display: block;
  text-align: left;
  border: 1px solid #ebebeb;
  border-bottom: none;
}

.c-sidebar__box1 .box1__title1 {
  display: block;
  padding: 26px 30px;
  background: #362f2d;
}

@media only screen and (max-width: 767px) {
  .c-sidebar__box1 .box1__title1 {
    padding: 15px 15px;
  }
}

.c-sidebar__box1 .box1__title1 h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .c-sidebar__box1 .box1__title1 h2 {
    font-size: 1.5rem;
  }
}

.c-sidebar__box1 .box1__content {
  display: block;
  position: relative;
}

.c-sidebar__box1 .box1__obj1 {
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.c-sidebar__box1 .box1__obj1 .title1 {
  position: relative;
  padding: 23px 30px 23px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .c-sidebar__box1 .box1__obj1 .title1 {
    padding: 14px 18px;
  }
}

.c-sidebar__box1 .box1__obj1 .title1 h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.c-sidebar__box1 .box1__obj1 .title1 .fa-chevron-down {
  position: absolute;
  right: 26px;
  top: 41%;
  font-size: 0.9rem;
}

.c-sidebar__box1 .box1__obj1 .list1 {
  position: relative;
  display: none;
  padding: 0 0 28px 50px;
}

@media only screen and (max-width: 767px) {
  .c-sidebar__box1 .box1__obj1 .list1 {
    padding: 0 0 18px 35px;
  }
}

.c-sidebar__box1 .box1__obj1 .list1 a {
  text-align: left;
  text-decoration: none;
  color: #c4c4c4;
  display: block;
}

.c-sidebar__box1 .box1__obj1 .list1 li:not(:last-child) {
  margin-bottom: 3px;
}

.c-sidebar__box1 .box1__obj1 .list1 li:hover a {
  color: #000;
}

.c-sidebar__box2 {
  display: block;
  position: relative;
}

.c-sidebar__box2 .img img {
  width: 100%;
}

.c-sidebar__box2 .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 38%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .c-sidebar__box2 .content__img1 img {
    width: 180px;
  }
}

.c-sidebar__box2 .content__btn1 {
  display: inline-block;
  cursor: pointer;
  margin-top: 12px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.c-sidebar__box2 .content__btn1:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .c-sidebar__box2 .content__btn1 img {
    width: 170px;
  }
}

/*--------------------------------------------
  footer
--------------------------------------------*/
.c-footer {
  position: relative;
  display: block;
}

.c-footer__list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 {
    display: block;
  }
}

.c-footer__list1 .list1__card1 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  text-align: left;
  color: #948171;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .list1__card1 {
    width: auto;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #948171;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .list1__card1:last-child {
    margin-bottom: 0;
  }
}

.c-footer__list1 .list1__card1 .sub__list1 li {
  margin-bottom: 8px;
}

.c-footer__list1 .list1__card1 .sub__list1 a {
  text-align: left;
  text-decoration: none;
  color: #948171;
}

.c-footer__list1 .list1__card1 .sub__list1 a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .list1__card1 .sub__list1 a {
    display: block;
  }
}

.c-footer__list1 .list1__title1 {
  position: relative;
  margin-bottom: 35px;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .list1__title1 {
    margin-bottom: 15px;
  }
}

.c-footer__list1 .list1__title1 h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 9px 14px 9px;
  border-left: 1px solid #c7b299;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .list1__title1 h2 {
    padding: 5px 10px 5px;
  }
}

.c-footer__list1 .list1__content1 {
  line-height: 1.7;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .list1__content1 {
    line-height: 1.5;
  }
}

.c-footer__list1 .list1__content1 p:not(:last-child) {
  margin-bottom: 19px;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .list1__content1 p:not(:last-child) {
    margin-bottom: 8px;
  }
}

.c-footer__list1 .content-pl1 {
  padding-right: 21px;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .content-pl1 {
    padding: 0 0 15px;
  }
}

.c-footer__list1 .card1-pl1 {
  padding-left: 7px;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .card1-pl1 {
    padding-left: 0;
  }
}

.c-footer__list1 .card1-pl2 {
  padding-left: 15px;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .card1-pl2 {
    padding-left: 0;
  }
}

.c-footer__list1 .card1-pl3 {
  padding-left: 22px;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .card1-pl3 {
    padding-left: 0;
  }
}

.c-footer__list1 .form-email {
  display: block;
  position: relative;
  margin-top: 22px;
}

@media only screen and (max-width: 767px) {
  .c-footer__list1 .form-email {
    margin-top: 18px;
  }
}

.c-footer__list1 .form-email button {
  width: 100%;
  height: 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  padding: 14px 23px;
  background: url(../img/icon.png) no-repeat top 12px right 15px;
  background-color: #534741;
  cursor: pointer;
}

.c-footer__list1 .form-email button:hover {
  opacity: 0.8;
}

.c-footer__box1 {
  position: relative;
  display: block;
  background: #362f2d;
  padding: 73px 0 106px;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 {
    padding: 40px 20px;
  }
}

.c-footer__box2 {
  position: relative;
  display: block;
  background: #534741;
}

.c-footer__plus {
  width: 10px;
  height: 10px;
  top: 2px;
  right: 0;
  cursor: pointer;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-footer__plus .plus__1, .c-footer__plus .plus__2 {
  width: 100%;
  height: 2px;
  background: #fff;
  margin: 6px auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.c-footer__plus .plus__1 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.c-footer__plus .plus__2 {
  margin-top: -79%;
}

.c-footer .is-open .plus__1 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.c-footer .is-open .plus__2 {
  width: 0;
}

/*--------------------------------------------
  copyright
--------------------------------------------*/
.c-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 67px 0 65px;
  color: #baa68f;
  font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
  .c-copyright {
    display: block;
    padding: 40px 20px;
    text-align: center;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 767px) {
  .c-copyright .icons {
    margin-top: 20px;
  }
}

.c-top2__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .c-top2__inner {
    display: block;
  }
}

.c-top2__box1 {
  position: relative;
  width: 873px;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .c-top2__box1 {
    width: auto;
  }
}

.c-top2__box2 {
  width: 270px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-top2__box2 {
    width: auto;
  }
}

.c-top2__show {
  position: relative;
  top: 13px;
  float: right;
}

@media only screen and (max-width: 767px) {
  .c-top2__show {
    float: none;
    display: inline-block;
    top: 0;
    margin: 0 auto;
  }
}

.c-top2__show a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 129px;
  height: 129px;
  padding: 18px;
  color: #c7b299;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #c7b299;
}

@media only screen and (max-width: 767px) {
  .c-top2__show a {
    width: 100px;
    height: 100px;
    padding: 17px;
    color: #c7b299;
  }
}

.c-top2__show .plus {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .c-top2__show .plus {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 767px) {
  .c-top2__show .plus img {
    width: 30px;
  }
}
