@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
	transform: scale(1);
	background-size: cover;
	-webkit-background-size: cover;
	display: flex;
}


header {@extend %cf;}
// btn top----------------------------------------------------
.btn-top {
  position:  absolute;
  right: 0;
  top: 0;
}
/*------------------------------------------------------------
	private element
------------------------------------------------------------*/

//index------------------------------
.p {
  &-index1 {
    display:  flex;
    //-------------------------
    &-news1 {
      padding:  14px 14px 9px 0;
      position: relative;
    }
    //---------------------------
    &-bg1 {
      position:  absolute;
      background: url(../img/i-bgnews.png) no-repeat;
      width: 453px;
      height: 100%;
      top: 0;
      left: -371px;
      z-index: -1;
    }
    //new2-----------------------
    &-news2 { padding: 11px 0 12px 44px; }
    //------------------------
    .l--flex {
      justify-content:  flex-start;
      margin-bottom: 0;
    }
    //------------------------
  }
  //index2--------------------
  &-index2 {
    padding: 51px 0 53px;
    background: url(../img/i-banner1.jpg) repeat top;
    //--------------------------------------
    &-ban1 h2 { margin-top: 11px; }
  }
  //index3----------------------------
  &-index3 {
    margin-bottom: 8px;
    padding: 39px 0 30px;
    background:  url(../img/i-bgabout.jpg) no-repeat;
    background-size: 100% 100%;
  }
  //------------------------------------
  &-index4 {
    height:  370px;
    overflow:  hidden;
    //---------------------------
    &-bg1 {
      height: 370px;
      background: url(../img/i-bgcross.png) no-repeat;
      position: absolute;
      width: 978px;
      z-index: -1;
      left: -128px;
    }
    //---------------------------
  }
  //index5------------------------------
  &-index5 {
    height: 370px;
    margin: 10px 0;
    overflow: hidden;
    box-sizing: border-box;
    background: none;
    .c-index-boxtext1 {left: 0;}
    .c-index__img {
      left: 413px;
      top: -152px;
    }
    //-----------------------------------
    &-bg1 {
      height: 370px;
      background: url(../img/i-flowbg.png) no-repeat;
      position: absolute;
      width: 978px;
      z-index: -1;
      left: -371px;
    }
    //-----------------------------
  }
  //-------------------------------
  &-index6 {
    margin-bottom: 9px;
    .c-index__img {
      left: -373px;
      top: -105px;
    }
  }
  //-------------------------------
}

/*---------------------------------
  profile.html
---------------------------------*/

.p {
  //--------------------------------
  &-profile1 {
    .c-banner {background:  url(../img/profile/i-banner1.jpg) no-repeat;}
  //---------------------------------
  .c-title1__img1 {margin-bottom: 15px;}
  //end c-title1---------------------
  }
  //end profile1---------------------
  &-profile2 {
    margin-bottom:  80px;
    .c-h2 { margin-bottom: 36px; }
    //---------------------------------
    .c-table1 {
      width:  700px;
      margin:  0 auto;
      text-align:  left;
    }
    //-------------------------------
    .c-btn1 {
      display:  inline-block;
      margin-top: 43px;
    }
    //-------------------------------
  }
  //end profile2-----------------------
  &-profile3 {
    margin-bottom: 77px;
    .c-h2 {margin-bottom:  35px;}
    //--------------------------
    iframe {
      width:  100%;
      height:  400px;
    }
    //---------------------------
    &-mapinfo {
      margin-top: 24px;
      text-align:  left;
      color: #333333;
      //-------------------------
      p {
        margin-bottom:  5px;
        &:last-child {margin-bottom: 0;}
        img {margin-right: 8px;}
      }
      //-------------------------
    }
    //end mapinfo---------------------------
  }
  //end profile3---------------------
}

/*---------------------------------
  business.html
---------------------------------*/

.p {
  &-business1 {
    .c-banner { background: url(../img/business/i-banner1.jpg) no-repeat; }
    .c-title1__img1 { margin-bottom: 17px; }
  }
  //end business1-------------------
  &-business2 {
    margin-bottom: 76px;
    //---------------------
    .c-h2 { margin-bottom: 37px; }
    //---------------------
    .c-imgtext1 {
      margin-bottom: 40px;
      :last-child { margin-bottom: 0; }
    }
    //---------------------
  }
}

/*---------------------------------
  work.html
---------------------------------*/

.p {
  &-work1 {
    .c-banner { background: url(../img/work/i-banner1.jpg) no-repeat; }
    .c-title1__img1 { margin-bottom: 17px; }
    .c-title1 { margin-left: -3px; }
  }
  //end work1----------------------
  &-work2 {
    margin-bottom: 50px;
    .c-h2 { margin-bottom: 35px; }
  }
  //-------------------------------
}

/*---------------------------------
  flow.html
---------------------------------*/

.p {
  &-flow1 {
    .c-banner { background: url(../img/flow/i-banner1.jpg) no-repeat; }
    .c-title1__img1 { margin-bottom: 17px; }
    .c-title1 { margin-left: -3px; }
  }
  //---------------------------
  &-flow2 {
    margin-bottom: 107px;
    color: #333333;
    //------------------------
    .c-h2 { margin-bottom: 37px; }
    //------------------------
    .c-boxflow1 {
      margin-bottom: 41px;
      //------------------------
      .l--flex {margin-bottom: 0;}
      //------------------------
      &:last-child {
        margin-bottom:  0;
        .c-boxflow1-tit1:after { content: ''; }
      }
      //--------------------
    }
    //--------------------
    &-boximg {
      background: #269eca;
      padding: 20px 19px 20px 20px;
      margin-top: 21px;
      a:first-child { margin-right: 6px;}
    //-------------------
    }
  }
  //end box-flow2--------------------
}

/*------------------------------
  commitment.html
-------------------------------*/

.p {
  //-------------------------
  &-commit1 {
    .c-banner { background: url(../img/commit/i-banner1.jpg) no-repeat; }
    .c-title1__img1 { margin-bottom: 17px; }
    .c-title1 { margin-left: -3px; }
    h2 { margin-left: 6px; }
  }
  //end commit1-------------------------
  &-commit2 {
    margin-bottom:  43px;
    .c-h2 { margin-bottom: 32px; }
    .c-boxtext1 p {
      margin-bottom: 28px;
      line-height: 1.7;
      &:last-child { margin-bottom: 0; }
      //---------------------
    }
    //end c-boxtext1 p---------------------
  }
  //end commit2---------------------
  &-commit3 {
    margin-bottom: 78px;
    //------------------------------
    .c-commit3 {
      margin-bottom: 59px;
      &:last-child { margin-bottom: 0; }
    }
  }
  //end commit3---------------------
}

/*------------------------------
  contact.html
-------------------------------*/

.p {
  //------------------------
  &-contact1 {
    .c-banner { background: url(../img/contact/i-banner1.jpg) no-repeat; }
    .c-title1__img1 { margin-bottom: 17px; }
    .c-title1 { margin-left: -3px; }
  }
  //end contact1-------------------------
  &-contact2 {
    margin-bottom:  42px;
    .c-h2 { margin-bottom: 32px; }
    .c-boxtext1 p {
      margin-bottom: 28px;
      line-height: 1.7;
      &:last-child { margin-bottom: 0; }
      //---------------------
    }
    //end c-boxtext1 p---------------------
  }
  //end commit2---------------------
  &-contact3 {
    display: block;
    margin-bottom: 80px;
    //-----------------------------
    .c-table1 {
      width: 700px;
      margin: 0 auto;
      text-align: left;
    }
    //-----------------------------
    .c-checkbox1 {
      display: inline-block;
      margin-right: 58px;
    }
    //-----------------------------
  }
  //end contact3-----------------------
}
